Repository tenzir/tenzir, pull requests merged in 2018-08, with the labels that each got.

#239 Add nondeterministic tests to importer
  libvast/test/system/importer.cpp
Labels: refactoring

#244 Fix deprecation warnings
  libvast/test/system/archive.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/index.cpp
  libvast/test/system/indexer.cpp
  libvast/test/system/indexer_stage_driver.cpp
  libvast/test/system/partition.cpp
  libvast/test/system/source.cpp
Labels: refactoring

#245 Create UDP source scaffold
  libvast/CMakeLists.txt
  libvast/src/format/bro.cpp
  libvast/test/fixtures/actor_system.hpp
  libvast/test/logs/bro/small_conn.log
  libvast/test/system/datagram_source.cpp
  libvast/vast/format/bro.hpp
  libvast/vast/format/reader.hpp
  libvast/vast/system/datagram_source.hpp
  libvast/vast/system/source.hpp
Labels: feature

#249 Add flag to make import command blocking
  libvast/src/system/importer.cpp
  libvast/src/system/reader_command_base.cpp
  libvast/vast/system/importer.hpp
  libvast/vast/system/reader_command_base.hpp
Labels: feature

#254 Enhance usage of user-defined literals
  libvast/src/defaults.cpp
  libvast/src/detail/compressedbuf.cpp
  libvast/src/format/mrt.cpp
  libvast/src/system/consensus.cpp
  libvast/src/system/spawn.cpp
  libvast/src/system/spawn_source.cpp
  libvast/test/compressedbuf.cpp
  libvast/test/mmapbuf.cpp
  libvast/test/parseable.cpp
  libvast/test/printable.cpp
  libvast/vast/concept/parseable/core/literal.hpp
  libvast/vast/concept/parseable/vast/address.hpp
  libvast/vast/concept/parseable/vast/base.hpp
  libvast/vast/concept/parseable/vast/data.hpp
  libvast/vast/concept/parseable/vast/endpoint.hpp
  libvast/vast/concept/parseable/vast/expression.hpp
  libvast/vast/concept/parseable/vast/http.hpp
  libvast/vast/concept/parseable/vast/json.hpp
  libvast/vast/concept/parseable/vast/port.hpp
  libvast/vast/concept/parseable/vast/time.hpp
  libvast/vast/concept/parseable/vast/uri.hpp
  libvast/vast/concept/printable/core/literal.hpp
  libvast/vast/concept/printable/vast/attribute.hpp
  libvast/vast/concept/printable/vast/type.hpp
  libvast/vast/detail/compressedbuf.hpp
  libvast/vast/si_literals.hpp
  libvast/vast/system/replicated_store.hpp
Labels: feature, refactoring

#257 Support custom table slice types
  libvast/src/table_slice.cpp
  libvast/test/default_table_slice.cpp
  libvast/vast/default_table_slice.hpp
Labels: feature

#258 Fix leaks in make_input_stream()
  libvast/src/detail/make_io_stream.cpp
  libvast/vast/detail/make_io_stream.hpp
Labels: bug

#259 Prune test data sets
  libvast/test/column_index.cpp
  libvast/test/fixtures/events.cpp
  libvast/test/format/bro.cpp
  libvast/test/format/writer.cpp
  libvast/test/logs/bgpdump/updates20180124.txt
  libvast/test/logs/bro/dns.log
  libvast/test/logs/bro/http.log
  libvast/test/system/archive.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/index.cpp
  libvast/test/system/indexer.cpp
  libvast/test/system/indexer_stage_driver.cpp
  libvast/test/system/partition.cpp
  libvast/test/system/source.cpp
  libvast/test/table_index.cpp
  libvast/test/value_index.cpp
Labels: performance, refactoring

#260 Change API of load()/store() to return errors instead of expected<void>
  libvast/src/column_index.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/consensus.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition.cpp
  libvast/test/bitmap_index.cpp
  libvast/test/bitvector.cpp
  libvast/test/cache.cpp
  libvast/test/chunk.cpp
  libvast/test/coder.cpp
  libvast/test/data.cpp
  libvast/test/event.cpp
  libvast/test/expression.cpp
  libvast/test/range_map.cpp
  libvast/test/save_load.cpp
  libvast/test/schema.cpp
  libvast/test/type.cpp
  libvast/test/value.cpp
  libvast/test/value_index.cpp
  libvast/vast/load.hpp
  libvast/vast/save.hpp
Labels: refactoring
