Repository tenzir/tenzir, pull requests merged in 2018-09, with the labels that each got.

#263 Fix "system:node queries" test
  libvast/CMakeLists.txt
  libvast/src/system/accountant.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn.cpp
  libvast/src/system/tracker.cpp
  libvast/src/table_slice.cpp
  libvast/test/fixtures/node.cpp
  libvast/test/fixtures/node.hpp
  libvast/test/system/queries.cpp
  libvast/vast/fwd.hpp
  libvast/vast/system/accountant.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/node.hpp
  libvast/vast/system/node_state.hpp
  libvast/vast/system/spawn.hpp
  libvast/vast/table_slice.hpp
Labels: bug, refactoring

#265 Remove dead code
  libvast/src/system/application.cpp
  libvast/src/system/start_command.cpp
Labels: refactoring

#268 Move -b up on level in the command hierarchy
  libvast/src/system/export_command.cpp
  libvast/src/system/import_command.cpp
  libvast/src/system/pcap_reader_command.cpp
  libvast/src/system/pcap_writer_command.cpp
  libvast/src/system/reader_command_base.cpp
  libvast/src/system/remote_command.cpp
  libvast/src/system/writer_command_base.cpp
  libvast/vast/system/reader_command_base.hpp
Labels: refactoring

#271 Detect build_config.hpp in build directories
  cmake/FindCAF.cmake
Labels: bug

#272 Fix column index to honor the skip attribute again
  libvast/src/column_index.cpp
  libvast/test/column_index.cpp
  libvast/vast/column_index.hpp
Labels: bug

#270 Improve logging
  CMakeLists.txt
  CONTRIBUTING.md
  libvast/src/column_index.cpp
  libvast/src/defaults.cpp
  libvast/src/format/bro.cpp
  libvast/src/format/pcap.cpp
  libvast/src/meta_index.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/application.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/export_command.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/import_command.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer_stage_driver.cpp
  libvast/src/system/node.cpp
  libvast/src/system/node_command.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/pcap_reader_command.cpp
  libvast/src/system/reader_command_base.cpp
  libvast/src/system/remote_command.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/writer_command_base.cpp
  libvast/src/table_index.cpp
  libvast/src/table_slice.cpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/type_traits.hpp
  libvast/vast/logger.hpp
  libvast/vast/save.hpp
  libvast/vast/system/indexer_manager.hpp
  libvast/vast/system/sink.hpp
  libvast/vast/system/source.hpp
Labels: refactoring, task

#275 Enhance bro-to-vast bridge
  tools/bro-to-vast/bro-to-vast.cpp
Labels: feature

#277 Fix parsing of CAF options
  libvast/src/system/configuration.cpp
Labels: bug
