Repository tenzir/tenzir, pull requests merged in 2018-05, with the labels that each got.

#180 Add an option_map that parses and stores CLI options
  libvast/CMakeLists.txt
  libvast/src/option_declaration_set.cpp
  libvast/src/option_map.cpp
  libvast/test/option_declaration_set.cpp
  libvast/test/option_map.cpp
  libvast/vast/option_declaration_set.hpp
  libvast/vast/option_map.hpp
Labels: feature

#183 Add missing unit-test to cmake build
  libvast/CMakeLists.txt
Labels: bug

#185 Add a few GSL utilities: byte, narrow, span
  libvast/CMakeLists.txt
  libvast/test/byte.cpp
  libvast/test/span.cpp
  libvast/vast/detail/byte.hpp
  libvast/vast/detail/narrow.hpp
  libvast/vast/detail/span.hpp
Labels: feature

#186 Use string_view in string utility header
  libvast/src/detail/string.cpp
  libvast/src/filesystem.cpp
  libvast/src/format/bro.cpp
  libvast/src/system/application.cpp
  libvast/src/system/tracker.cpp
  libvast/src/type.cpp
  libvast/test/format/writer.cpp
  libvast/test/string.cpp
  libvast/vast/command.hpp
  libvast/vast/detail/string.hpp
  libvast/vast/format/bro.hpp
Labels: refactoring

#194 Make set and map types aliases flat and steady
  libvast/test/data.cpp
  libvast/test/value.cpp
  libvast/vast/aliases.hpp
  libvast/vast/detail/vector_map.hpp
  libvast/vast/detail/vector_set.hpp
Labels: performance, refactoring

#187 Integrate option_map in command
  libvast/src/command.cpp
  libvast/src/option_declaration_set.cpp
  libvast/src/system/application.cpp
  libvast/src/system/export_command.cpp
  libvast/src/system/import_command.cpp
  libvast/src/system/pcap_reader_command.cpp
  libvast/src/system/pcap_writer_command.cpp
  libvast/src/system/reader_command_base.cpp
  libvast/src/system/remote_command.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/writer_command_base.cpp
  libvast/test/command.cpp
  libvast/test/option_declaration_set.cpp
  libvast/test/option_map.cpp
  libvast/vast/command.hpp
  libvast/vast/option_declaration_set.hpp
  libvast/vast/option_map.hpp
  libvast/vast/system/application.hpp
  libvast/vast/system/export_command.hpp
  libvast/vast/system/import_command.hpp
  libvast/vast/system/pcap_reader_command.hpp
  libvast/vast/system/pcap_writer_command.hpp
  libvast/vast/system/reader_command.hpp
  libvast/vast/system/reader_command_base.hpp
  libvast/vast/system/remote_command.hpp
  libvast/vast/system/start_command.hpp
  libvast/vast/system/writer_command.hpp
  libvast/vast/system/writer_command_base.hpp
Labels: refactoring

#198 Add flat_index_at utility function to record_type
  libvast/src/type.cpp
  libvast/test/type.cpp
  libvast/vast/type.hpp
Labels: feature
