Repository tenzir/tenzir, pull requests merged in 2018-12, with the labels that each got.

#340 Fix high latency exports
  libvast/src/segment_store.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/exporter.cpp
  libvast/test/system/archive.cpp
  libvast/vast/system/archive.hpp
Labels: performance :rocket:

#342 Create temporary files for saving
  libvast/vast/save.hpp
Labels: enhancement :sparkles:

#341 Exhume the EVALUATOR actor
  libvast/CMakeLists.txt
  libvast/src/column_index.cpp
  libvast/src/system/collector.cpp
  libvast/src/system/evaluator.cpp
  libvast/src/system/index.cpp
  libvast/test/system/collector.cpp
  libvast/test/system/evaluator.cpp
  libvast/vast/column_index.hpp
  libvast/vast/system/collector.hpp
  libvast/vast/system/evaluator.hpp
Labels: enhancement :sparkles:, task :memo:

#344 Fix build on FreeBSD
  CMakeLists.txt
  libvast/CMakeLists.txt
  libvast_test/CMakeLists.txt
Labels: bugfix :beetle:

#346 Disable consensus test suite
  libvast/test/system/consensus.cpp
  libvast/test/system/replicated_store.cpp
Labels: task :memo:

#347 Fix stream manager status inspection
  libvast/src/detail/fill_status_map.cpp
Labels: bugfix :beetle:

#348 Fix pesky reference-to-temporary bug
  libvast/test/meta_index.cpp
Labels: bugfix :beetle:

#349 Reintroduce stop command in node
  libvast/src/system/node.cpp
Labels: task :memo:

#345 Support meta index lookup via type attributes
  libvast/src/meta_index.cpp
  libvast/test/meta_index.cpp
Labels: feature :gift:

#351 Fix string splitting unit tests
  libvast/test/string.cpp
Labels: bugfix :beetle:

#343 Support piecemeal result extraction from the archive
  libvast/src/segment_store.cpp
  libvast/src/store.cpp
  libvast/src/system/archive.cpp
  libvast/test/segment_store.cpp
  libvast/vast/segment_store.hpp
  libvast/vast/store.hpp
Labels: enhancement :sparkles:, performance :rocket:

#350 Use simple_store as default for metastore
  libvast/src/system/spawn_metastore.cpp
Labels: enhancement :sparkles:

#352 Enable offset-based node access in expressions
  libvast/src/expression.cpp
  libvast/test/expression.cpp
  libvast/vast/expression.hpp
  libvast/vast/expression_visitors.hpp
Labels: feature :gift:

#358 Return archive lookup results incrementally
  libvast/src/detail/add_message_types.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/exporter.cpp
  libvast/test/system/archive.cpp
  libvast/vast/system/archive.hpp
  libvast/vast/system/exporter.hpp
  libvast/vast/system/fwd.hpp
  libvast/vast/system/query_status.hpp
  libvast/vast/system/sink.hpp
  libvast_test/src/node.cpp
  libvast_test/vast/test/fixtures/node.hpp
Labels: enhancement :sparkles:, refactoring :construction:

#354 Rename meta store to consensus
  doc/vast.1.md
  libvast/CMakeLists.txt
  libvast/src/system/consensus.cpp
  libvast/src/system/dummy_consensus.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_consensus.cpp
  libvast/src/system/spawn_node.cpp
  libvast/src/system/tracker.cpp
  libvast/test/system/consensus.cpp
  libvast/test/system/dummy_consensus.cpp
  libvast/test/system/exporter.cpp
  libvast/vast/system/consensus.hpp
  libvast/vast/system/dummy_consensus.hpp
  libvast/vast/system/importer.hpp
  libvast/vast/system/meta_store.hpp
  libvast/vast/system/raft.hpp
  libvast/vast/system/replicated_store.hpp
  libvast/vast/system/spawn_consensus.hpp
  libvast_test/src/node.cpp
  libvast_test/vast/test/fixtures/consensus.hpp
Labels: refactoring :construction:

#359 Add helper functions for constructing byte spans
  libvast/CMakeLists.txt
  libvast/test/detail/span.cpp
  libvast/vast/detail/span.hpp
Labels: enhancement :sparkles:

#357 Parallelize the table_index again
  libvast/CMakeLists.txt
  libvast/src/column_index.cpp
  libvast/src/defaults.cpp
  libvast/src/error.cpp
  libvast/src/expression.cpp
  libvast/src/meta_index.cpp
  libvast/src/system/evaluator.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/indexer_manager.cpp
  libvast/src/system/indexer_stage_driver.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/src/system/spawn_indexer.cpp
  libvast/src/system/table_indexer.cpp
  libvast/src/table_index.cpp
  libvast/test/column_index.cpp
  libvast/test/system/evaluator.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/indexer.cpp
  libvast/test/system/indexer_stage_driver.cpp
  libvast/test/system/partition.cpp
  libvast/test/system/query_supervisor.cpp
  libvast/test/system/table_indexer.cpp
  libvast/vast/aliases.hpp
  libvast/vast/column_index.hpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/spawn_container_source.hpp
  libvast/vast/error.hpp
  libvast/vast/expression.hpp
  libvast/vast/expression_visitors.hpp
  libvast/vast/fwd.hpp
  libvast/vast/system/evaluator.hpp
  libvast/vast/system/fwd.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/indexer.hpp
  libvast/vast/system/indexer_manager.hpp
  libvast/vast/system/indexer_stage_driver.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/system/query_supervisor.hpp
  libvast/vast/system/spawn_indexer.hpp
  libvast/vast/system/table_indexer.hpp
  libvast/vast/table_index.hpp
  libvast_test/CMakeLists.txt
  libvast_test/src/dummy_index.cpp
  libvast_test/src/events.cpp
  libvast_test/vast/test/fixtures/dummy_index.hpp
Labels: feature :gift:, performance :rocket:

#360 Add status message handler to consensus
  libvast/src/system/dummy_consensus.cpp
  libvast/vast/system/data_store.hpp
  libvast/vast/system/dummy_consensus.hpp
  libvast/vast/system/key_value_store.hpp
  libvast/vast/system/replicated_store.hpp
Labels: enhancement :sparkles:

#361 Fix parsing of empty containers
  libvast/test/parse_data.cpp
  libvast/vast/concept/parseable/vast/data.hpp
Labels: bugfix :beetle:
