Repository tenzir/tenzir, pull requests merged in 2019-08, with the labels that each got.

#551 Port VAST to lastet node_id API
  libvast/src/system/accountant.cpp
Labels: bugfix :beetle:

#552 Implement end-to-end support for the enum type
  CHANGELOG.md
  CMakeLists.txt
  integration/default_set.yaml
  integration/reference/node-argus-csv/step_02.ref
  libvast/src/column_index.cpp
  libvast/src/data.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/format/csv.cpp
  libvast/src/format/json.cpp
  libvast/src/value_index.cpp
  libvast/src/value_index_factory.cpp
  libvast/src/view.cpp
  libvast/vast/aliases.hpp
  libvast/vast/data.hpp
  libvast/vast/format/ostream_writer.hpp
  libvast/vast/value_index.hpp
  libvast/vast/view.hpp
  schema/argus.schema
  schema/suricata.schema
Labels: enhancement :sparkles:, feature :gift:

#553 Allow pattern query for type attribute extractors
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/node-suricata-alert/step_02.ref
  libvast/src/expression_visitors.cpp
  libvast/src/system/partition.cpp
Labels: bugfix :beetle:

#554 Restrict PCAP expressions to packet type
  CHANGELOG.md
  libvast/src/system/sink_command.cpp
  libvast/vast/concept/printable/vast/expression.hpp
Labels: enhancement :sparkles:

#555 Fix gcc9 warnings
  libvast/src/filesystem.cpp
  libvast/src/segment.cpp
  libvast/vast/bitvector.hpp
  libvast/vast/concept/support/unused_type.hpp
Labels: task :memo:

#557 Move test schema to a schema definition file
  libvast/src/format/test.cpp
  libvast/src/schema.cpp
  libvast/src/system/default_application.cpp
  libvast/vast/schema.hpp
  libvast/vast/system/generator_command.hpp
  libvast/vast/system/reader_command.hpp
  schema/test.schema
Labels: feature :gift:

#558 Fix deprecation warning by using new CAF API
  libvast/src/table_slice_factory.cpp
Labels: caf :cinema:, refactoring :hammer_and_wrench:

#561 Fix type names for the test source
  libvast/src/format/test.cpp
  libvast/test/table_slice.cpp
Labels: bugfix :beetle:

#563 Fix broker config header install destination
  aux/broker/CMakeLists.txt
Labels: bugfix :beetle:
