Repository tenzir/tenzir, pull requests merged in 2019-07, with the labels that each got.

#527 Properly deal with real input from Zeek logs
  CHANGELOG.md
  libvast/test/format/zeek.cpp
  libvast/vast/format/zeek.hpp
Labels: bugfix :beetle:

#522 Add support for new data predicates
  CHANGELOG.md
  libvast/CMakeLists.txt
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/expression.cpp
  libvast/test/expression_parseable.cpp
  libvast/vast/concept/parseable/vast/expression.hpp
  libvast/vast/expression.hpp
  scripts/integration/default_set.yaml
  scripts/integration/reference/expressions/step_00.ref
  scripts/integration/reference/expressions/step_01.ref
  scripts/integration/reference/expressions/step_02.ref
Labels: feature :gift:

#530 Drop boolean alias, rename bool{ean => }_synopsis
  libvast/CMakeLists.txt
  libvast/src/bool_synopsis.cpp
  libvast/src/command.cpp
  libvast/src/data.cpp
  libvast/src/format/json.cpp
  libvast/src/format/mrt.cpp
  libvast/src/format/test.cpp
  libvast/src/format/zeek.cpp
  libvast/src/synopsis.cpp
  libvast/src/synopsis_factory.cpp
  libvast/src/type.cpp
  libvast/src/value_index_factory.cpp
  libvast/test/bitmap_index.cpp
  libvast/test/data.cpp
  libvast/test/event.cpp
  libvast/test/expression.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/format/json.cpp
  libvast/test/format/zeek.cpp
  libvast/test/meta_index.cpp
  libvast/test/synopsis.cpp
  libvast/test/system/table_indexer.cpp
  libvast/test/type.cpp
  libvast/test/value_index.cpp
  libvast/test/view.cpp
  libvast/vast/aliases.hpp
  libvast/vast/bool_synopsis.hpp
  libvast/vast/concept/parseable/vast/expression.hpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast/vast/concept/printable/vast/operator.hpp
  libvast/vast/concept/printable/vast/type.hpp
  libvast/vast/data.hpp
  libvast/vast/format/zeek.hpp
  libvast/vast/fwd.hpp
  libvast/vast/operator.hpp
  libvast/vast/type.hpp
  libvast/vast/value_index.hpp
  libvast/vast/view.hpp
  libvast_test/src/table_slices.cpp
Labels: refactoring :hammer_and_wrench:

#531 Improve unit testing
  libvast/src/system/indexer.cpp
  libvast/src/system/table_indexer.cpp
  libvast/test/format/json.cpp
  libvast/test/system/partition.cpp
  libvast/test/system/table_indexer.cpp
  libvast/test/value_index.cpp
  libvast/vast/system/table_indexer.hpp
Labels: enhancement :sparkles:

#529 Re-enable working integration tests
  scripts/integration/default_set.yaml
  scripts/integration/reference/manual-1-node/step_00.ref
  scripts/integration/reference/manual-1-node/step_01.ref
  scripts/integration/reference/manual-1-node/step_02.ref
  scripts/integration/reference/manual-1/step_00.ref
  scripts/integration/reference/manual-1/step_01.ref
  scripts/integration/reference/manual-1/step_02.ref
  scripts/integration/reference/query-operators/step_00.ref
  scripts/integration/reference/query-operators/step_01.ref
  scripts/integration/reference/query-operators/step_02.ref
  scripts/integration/reference/query-operators/step_03.ref
  scripts/integration/reference/query-operators/step_04.ref
  scripts/integration/reference/query-operators/step_05.ref
  scripts/integration/reference/query-operators/step_06.ref
  scripts/integration/reference/query-operators/step_07.ref
  scripts/integration/reference/query-operators/step_08.ref
  scripts/integration/reference/server-basic-bgpdump/step_00.ref
  scripts/integration/reference/server-basic-bgpdump/step_01.ref
  scripts/integration/reference/server-basic-bgpdump/step_02.ref
Labels: refactoring :hammer_and_wrench:

#533 Add root command option to set verbosity
  CHANGELOG.md
  libvast/src/command.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/default_configuration.cpp
  libvast/vast/command.hpp
  libvast/vast/system/default_configuration.hpp
  vast/vast.cpp
Labels: feature :gift:, refactoring :hammer_and_wrench:

#535 Fix override of CMAKE_MODULE_PATH in VastConfig
  cmake/VASTConfig.cmake.in
Labels: bugfix :beetle:

#532 Implement rule_ref to allow breaking parser cycles
  CHANGELOG.md
  libvast/src/segment.cpp
  libvast/test/format/writer.cpp
  libvast/test/parseable.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/importer.cpp
  libvast/vast/concept/parseable/core/rule.hpp
  libvast/vast/concept/parseable/vast/json.hpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast_test/src/events.cpp
  libvast_test/src/node.cpp
  libvast_test/vast/test/fixtures/events.hpp
Labels: bugfix :beetle:

#534 Fix inequality operator for type queries
  CHANGELOG.md
  libvast/src/system/partition.cpp
  scripts/integration/default_set.yaml
  scripts/integration/reference/node-zeek-conn-log/step_04.ref
  scripts/integration/reference/node-zeek-conn-log/step_05.ref
  scripts/integration/reference/node-zeek-conn-log/step_06.ref
Labels: bugfix :beetle:

#536 Port PCAP and Zeek writer to the table slice API
  libvast/src/format/ostream_writer.cpp
  libvast/src/format/pcap.cpp
  libvast/src/format/writer.cpp
  libvast/src/format/zeek.cpp
  libvast/test/format/pcap.cpp
  libvast/test/format/zeek.cpp
  libvast/vast/format/ostream_writer.hpp
  libvast/vast/format/pcap.hpp
  libvast/vast/format/writer.hpp
  libvast/vast/format/zeek.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#521 Add and apply .cmake-format
  .cmake-format
  CMakeLists.txt
  CONTRIBUTING.md
  libvast/CMakeLists.txt
  libvast_test/CMakeLists.txt
  scripts/add_type
Labels: feature :gift:

#538 Fix deprecated-declarations warnings
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#537 Fix precision of printed timestamps
  CHANGELOG.md
  libvast/test/format/writer.cpp
  libvast/test/printable.cpp
  libvast/vast/concept/printable/std/chrono.hpp
  scripts/integration/reference/expressions/step_01.ref
  scripts/integration/reference/expressions/step_02.ref
  scripts/integration/reference/manual-1-node/step_01.ref
  scripts/integration/reference/manual-1/step_01.ref
  scripts/integration/reference/multi-addr-query/step_01.ref
  scripts/integration/reference/node-argus-csv/step_01.ref
  scripts/integration/reference/node-json-zeek-conn/step_01.ref
  scripts/integration/reference/node-json-zeek-conn/step_02.ref
  scripts/integration/reference/node-suricata-alert/step_01.ref
  scripts/integration/reference/node-type-query/step_01.ref
  scripts/integration/reference/node-zeek-conn-log/step_01.ref
  scripts/integration/reference/node-zeek-conn-log/step_02.ref
  scripts/integration/reference/node-zeek-conn-log/step_03.ref
  scripts/integration/reference/node-zeek-conn-log/step_04.ref
  scripts/integration/reference/node-zeek-conn-log/step_06.ref
  scripts/integration/reference/node-zeek-dns-log/step_01.ref
  scripts/integration/reference/node-zeek-http-log/step_01.ref
  scripts/integration/reference/node-zeek-multiple-imports/step_02.ref
  scripts/integration/reference/node-zeek-multiple-imports/step_03.ref
  scripts/integration/reference/node-zeek-snmp-log/step_01.ref
  scripts/integration/reference/query-operators/step_01.ref
  scripts/integration/reference/query-operators/step_02.ref
  scripts/integration/reference/query-operators/step_03.ref
  scripts/integration/reference/query-operators/step_04.ref
  scripts/integration/reference/query-operators/step_05.ref
  scripts/integration/reference/query-operators/step_06.ref
  scripts/integration/reference/server-basic-bgpdump/step_02.ref
  scripts/integration/reference/server-zeek-conn-log/step_01.ref
  scripts/integration/reference/type-query/step_01.ref
Labels: bugfix :beetle:

#539 Integrate Community ID into PCAP reader
  CHANGELOG.md
  libvast/src/format/pcap.cpp
  libvast/test/format/pcap.cpp
  libvast/vast/format/pcap.hpp
  scripts/integration/reference/manual-1-node/step_01.ref
  scripts/integration/reference/manual-1/step_01.ref
Labels: feature :gift:

#541 Make span standard-compliant, clean-up header
  libvast/test/chunk.cpp
  libvast/test/hash.cpp
  libvast/test/span.cpp
  libvast/vast/community_id.hpp
  libvast/vast/span.hpp
  libvast_test/src/table_slices.cpp
Labels: refactoring :hammer_and_wrench:

#540 Enable field-based access of table-slice columns
  libvast/src/table_slice.cpp
  libvast/test/format/pcap.cpp
  libvast/test/table_slice.cpp
  libvast/vast/table_slice.hpp
Labels: feature :gift:

#542 Support comments in schema language
  CHANGELOG.md
  libvast/test/parseable.cpp
  libvast/test/schema.cpp
  libvast/vast/concept/parseable/core/and.hpp
  libvast/vast/concept/parseable/core/as.hpp
  libvast/vast/concept/parseable/core/difference.hpp
  libvast/vast/concept/parseable/core/kleene.hpp
  libvast/vast/concept/parseable/core/literal.hpp
  libvast/vast/concept/parseable/core/maybe.hpp
  libvast/vast/concept/parseable/core/not.hpp
  libvast/vast/concept/parseable/core/operators.hpp
  libvast/vast/concept/parseable/core/optional.hpp
  libvast/vast/concept/parseable/core/plus.hpp
  libvast/vast/concept/parseable/core/sequence.hpp
  libvast/vast/concept/parseable/core/to_parser.hpp
  libvast/vast/concept/parseable/detail/container.hpp
  libvast/vast/concept/parseable/numeric/bool.hpp
  libvast/vast/concept/parseable/string.hpp
  libvast/vast/concept/parseable/string/any.hpp
  libvast/vast/concept/parseable/string/char.hpp
  libvast/vast/concept/parseable/string/literal.hpp
  libvast/vast/concept/parseable/string/quoted_string.hpp
  libvast/vast/concept/parseable/vast/data.hpp
  libvast/vast/concept/parseable/vast/json.hpp
  libvast/vast/concept/parseable/vast/schema.hpp
  libvast/vast/concept/parseable/vast/type.hpp
Labels: feature :gift:

#545 Fix SFINAE expression in vast::span constructor
  libvast/vast/span.hpp
Labels: bugfix :beetle:

#546 Allow whitespace before ',' in type parser
  libvast/vast/concept/parseable/vast/type.hpp
Labels: enhancement :sparkles:

#543 Add Argus schema
  CHANGELOG.md
  integration/data/csv/argus-M57-10k-pkts.csv.gz
  integration/data/csv/argus_sample.log.gz
  integration/default_set.yaml
  integration/reference/node-argus-csv/step_01.ref
  libvast/src/format/csv.cpp
  libvast/test/type.cpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast/vast/type.hpp
  schema/argus.schema
  scripts/extract-argus-labels
Labels: feature :gift:

#548 Fix PCAP export
  libvast/src/format/pcap.cpp
Labels: bugfix :beetle:

#547 Consolidate pcap::connection and community_id::flow
  libvast/CMakeLists.txt
  libvast/src/flow.cpp
  libvast/src/format/pcap.cpp
  libvast/test/community_id.cpp
  libvast/test/flow.cpp
  libvast/vast/community_id.hpp
  libvast/vast/flow.hpp
  libvast/vast/format/pcap.hpp
  libvast/vast/fwd.hpp
Labels: refactoring :hammer_and_wrench:

#550 Fix location of log directory current symlink
  libvast/src/command.cpp
Labels: bugfix :beetle:
