Repository tenzir/tenzir, pull requests merged in 2019-12, with the labels that each got.

#633 Add support for Apache Arrow
  .ci/scripts/generate-build-tree
  .ci/scripts/initialize-env
  .cirrus.yml
  .clang-format
  CHANGELOG.md
  CMakeLists.txt
  cmake/FindArrow.cmake
  cmake/FindBrotli.cmake
  cmake/FindDoubleConversion.cmake
  cmake/FindGLOG.cmake
  cmake/FindLz4.cmake
  cmake/FindPlasma.cmake
  cmake/FindSnappy.cmake
  cmake/FindSnappyAlt.cmake
  cmake/FindThrift.cmake
  cmake/FindZSTD.cmake
  cmake/Finduriparser.cmake
  cmake/FinduriparserAlt.cmake
  configure
  doc/cli/vast-export-arrow.md
  integration/default_set.yaml
  integration/integration.py
  integration/misc/scripts/print-arrow.py
  integration/reference/arrow/step_00.ref
  integration/reference/arrow/step_01.ref
  lgtm.yml
  libvast/CMakeLists.txt
  libvast/src/arrow_table_slice.cpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/format/arrow.cpp
  libvast/src/system/application.cpp
  libvast/src/system/configuration.cpp
  libvast/test/arrow_table_slice.cpp
  libvast/test/format/arrow.cpp
  libvast/vast/arrow_table_slice.hpp
  libvast/vast/arrow_table_slice_builder.hpp
  libvast/vast/config.hpp.in
  libvast/vast/defaults.hpp
  libvast/vast/format/arrow.hpp
  libvast/vast/fwd.hpp
  scripts/print-arrow.py
Labels: feature :gift:

#674 Support statically linking libpcap with snf
  cmake/FindPCAP.cmake
Labels: enhancement :sparkles:

#675 Update clang-format version used in CI
  .ci/debian/Dockerfile
Labels: maintenance :scissors:

#676 Export CMake build configuration
  cmake/VASTConfig.cmake.in
Labels: bugfix :beetle:, maintenance :scissors:

#677 Switch from Cirrus CI to GitHub Actions
  .ci/debian/Dockerfile
  .ci/debian/build-local
  .ci/freeBSD/build-local
  .ci/macOS/build-local
  .ci/scripts/build-target
  .ci/scripts/conditional-release
  .ci/scripts/generate-build-tree
  .ci/scripts/initialize-env
  .ci/scripts/run-all-targets
  .ci/scripts/submodule-update
  .ci/scripts/transfer-file
  .cirrus.yml
  .github/workflows/vast.yml
  configure
Labels: maintenance :scissors:, refactoring :hammer_and_wrench:

#679 Update CI badge for GitHub Actions
  README.md
Labels: maintenance :scissors:

#678 Run cmake-format / black in CI
  .github/workflows/vast.yml
  CMakeLists.txt
  aux/broker/CMakeLists.txt
  aux/lz4/contrib/cmake_unofficial/CMakeLists.txt
  aux/xxhash/cmake_unofficial/CMakeLists.txt
  cmake/FindArrow.cmake
  cmake/FindBROKER.cmake
  cmake/FindBrotli.cmake
  cmake/FindCAF.cmake
  cmake/FindDoubleConversion.cmake
  cmake/FindGCOV.cmake
  cmake/FindGCOVR.cmake
  cmake/FindGLOG.cmake
  cmake/FindGperftools.cmake
  cmake/FindLz4.cmake
  cmake/FindPCAP.cmake
  cmake/FindPandoc.cmake
  cmake/FindPlasma.cmake
  cmake/FindSnappy.cmake
  cmake/FindSnappyAlt.cmake
  cmake/FindThrift.cmake
  cmake/FindZSTD.cmake
  cmake/Finduriparser.cmake
  cmake/FinduriparserAlt.cmake
  cmake/GenerateGcov.cmake
  cmake/Helpers.cmake
  cmake/MacDependencyPaths.cmake
  doc/CMakeLists.txt
  libvast/CMakeLists.txt
  libvast_test/CMakeLists.txt
Labels: enhancement :sparkles:

#681 Ignore JSON files for Black
  .github/workflows/vast.yml
Labels: bugfix :beetle:

#682 Allow a relocatable installation of VAST
  .github/workflows/vast.yml
  CMakeLists.txt
  configure
Labels: maintenance :scissors:

#683 Change package name to lowercase
  .github/workflows/vast.yml
Labels: maintenance :scissors:

#684 Disable component blacklist in integration tests
  integration/default_set.yaml
  integration/integration.py
  integration/vast.conf
Labels: enhancement :sparkles:

#688 Fix Apache Arrow build summary
  CMakeLists.txt
Labels: bugfix :beetle:

#691 Fix clang-format step in style-check CI
  .github/workflows/vast.yml
Labels: bugfix :beetle:

#689 Add -c as shorthand for --config
  CHANGELOG.md
  libvast/src/system/application.cpp
Labels: enhancement :sparkles:

#673 Update LGTM badge in VAST readme
  README.md
Labels: maintenance :scissors:

#690 CMake fixes and tweaks
  .cmake-format
  CMakeLists.txt
  cmake/FindCAF.cmake
Labels: maintenance :scissors:
