Repository tenzir/tenzir, pull requests merged in 2019-05, with the labels that each got.

#486 Add support for JSON as import format
  CHANGELOG.md
  doc/vast.1.md
  libvast/CMakeLists.txt
  libvast/src/format/json.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/source_command.cpp
  libvast/test/format/json.cpp
  libvast/vast/concept/parseable/vast/time.hpp
  libvast/vast/defaults.hpp
  libvast/vast/format/json.hpp
  libvast/vast/system/reader_command.hpp
  libvast/vast/system/source.hpp
  scripts/integration/data/json/README.md
  scripts/integration/data/json/conn.log.json.gz
  scripts/integration/data/json/dns.log.json.gz
  scripts/integration/data/json/files.log.json.gz
  scripts/integration/data/json/http.log.json.gz
  scripts/integration/data/json/irc.log.json.gz
  scripts/integration/data/json/local.bro
  scripts/integration/data/json/packet_filter.log.json.gz
  scripts/integration/data/json/rdp.log.json.gz
  scripts/integration/data/json/sip.log.json.gz
  scripts/integration/data/json/snmp.log.json.gz
  scripts/integration/data/json/ssh.log.json.gz
  scripts/integration/data/json/weird.log.json.gz
  scripts/integration/default_set.yaml
  scripts/integration/integration.py
  scripts/integration/reference/node-basic-mrt/step_04.ref
  scripts/integration/reference/node-json-zeek-conn/step_00.ref
  scripts/integration/reference/node-json-zeek-conn/step_01.ref
  scripts/integration/reference/node-json-zeek-conn/step_02.ref
  scripts/integration/schema/zeek-conn.schema
Labels: feature :gift:

#490 Fix --read option in exporter commands
  libvast/src/system/sink_command.cpp
Labels: bugfix :beetle:

#491 Make node commands extensible
  libvast/src/system/node.cpp
  libvast/vast/system/node.hpp
Labels: refactoring :hammer_and_wrench:

#489 Polish integration test script
  CMakeLists.txt
  scripts/integration/integration.py
  scripts/integration/requirements.txt
Labels: enhancement :sparkles:

#488 Support SI literals in data parser
  CHANGELOG.md
  libvast/test/parse_data.cpp
  libvast/test/parseable.cpp
  libvast/vast/concept/parseable/vast/data.hpp
  libvast/vast/concept/parseable/vast/si.hpp
  scripts/integration/default_set.yaml
  scripts/integration/reference/node-zeek-conn-log/step_02.ref
Labels: feature :gift:

#493 Make data parser static
  libvast/vast/concept/parseable/vast/data.hpp
Labels: bugfix :beetle:

#494 Fix behavior of numeric parser for partial input
  libvast/test/parseable.cpp
  libvast/vast/concept/parseable/numeric/integral.hpp
Labels: bugfix :beetle:

#492 Add support for Suricata JSON input
  CHANGELOG.md
  libvast/src/format/json.cpp
  libvast/src/system/default_application.cpp
  libvast/test/format/json.cpp
  libvast/test/time.cpp
  libvast/vast/concept/parseable/vast/time.hpp
  libvast/vast/detail/vector_map.hpp
  libvast/vast/format/json.hpp
  libvast/vast/format/json/suricata.hpp
  libvast/vast/type.hpp
  scripts/integration/data/suricata/eve.json.gz
  scripts/integration/default_set.yaml
  scripts/integration/reference/node-suricata-alert/step_00.ref
  scripts/integration/reference/node-suricata-alert/step_01.ref
Labels: feature :gift:

#495 Add support for using variants of <typename>.<field_name> for data selection
  CHANGELOG.md
  libvast/src/expression.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/format/bgpdump.cpp
  libvast/src/format/mrt.cpp
  libvast/src/format/pcap.cpp
  libvast/src/system/partition.cpp
  libvast/src/type.cpp
  libvast/test/format/mrt.cpp
  libvast/test/format/pcap.cpp
  libvast/test/type.cpp
  libvast/vast/type.hpp
  scripts/integration/default_set.yaml
  scripts/integration/reference/node-zeek-multiple-imports/step_03.ref
Labels: enhancement :sparkles:

#497 Fix default for suricata command
  libvast/src/system/default_application.cpp
  libvast/vast/defaults.hpp
  scripts/integration/data/suricata/eve.json
  scripts/integration/data/suricata/eve.json.gz
  scripts/integration/default_set.yaml
Labels: bugfix :beetle:

#499 Add missing names to suricata layouts
  libvast/vast/format/json/suricata.hpp
Labels: bugfix :beetle:

#498 Fix type queries for persisted partitions
  libvast/src/system/indexer_stage_driver.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/table_indexer.cpp
  libvast/test/system/partition.cpp
  libvast/vast/system/partition.hpp
  libvast/vast/system/table_indexer.hpp
  scripts/integration/default_set.yaml
  scripts/integration/reference/node-type-query/step_00.ref
  scripts/integration/reference/node-type-query/step_01.ref
Labels: bugfix :beetle:

#500 Try timestamp before timespan in data parser
  libvast/vast/concept/parseable/vast/data.hpp
Labels: bugfix :beetle:

#501 Initialize value indexes at construction
  libvast/src/value_index.cpp
  libvast/vast/value_index.hpp
Labels: bugfix :beetle:

#503 Adjust default name of state directory
  CHANGELOG.md
  libvast/vast/defaults.hpp
Labels: enhancement :sparkles:
