Repository tenzir/tenzir, pull requests merged in 2019-11, with the labels that each got.

#629 Allow all remote commands to work with --node
  integration/default_set.yaml
  integration/reference/manual-1-node/step_03.ref
  libvast/src/system/remote_command.cpp
Labels: enhancement :sparkles:

#637 Use a while loop to retry rsync
  .cirrus.yml
Labels: maintenance :scissors:

#635 Replace VERSION file with git describe
  CMakeLists.txt
  VERSION
  libvast/vast/config.hpp.in
Labels: enhancement :sparkles:

#636 Remove pcap_reader_command in favor of reader_command
  libvast/CMakeLists.txt
  libvast/src/format/pcap.cpp
  libvast/src/system/application.cpp
  libvast/src/system/pcap_reader_command.cpp
  libvast/src/system/spawn_source.cpp
  libvast/test/format/pcap.cpp
  libvast/vast/format/pcap.hpp
  libvast/vast/system/pcap_reader_command.hpp
Labels: bugfix :beetle:, refactoring :hammer_and_wrench:

#639 Remove snappy support
  CMakeLists.txt
  cmake/FindSnappy.cmake
  configure
  libvast/CMakeLists.txt
  libvast/src/compression.cpp
  libvast/src/detail/compressedbuf.cpp
  libvast/test/compressedbuf.cpp
  libvast/vast/compression.hpp
  libvast/vast/concept/printable/vast/compression.hpp
  libvast/vast/config.hpp.in
Labels: maintenance :scissors:

#641 Add separate interface option for import pcap
  CHANGELOG.md
  libvast/src/format/pcap.cpp
  libvast/src/system/application.cpp
  libvast/vast/format/pcap.hpp
Labels: enhancement :sparkles:, refactoring :hammer_and_wrench:

#640 Use cirrus-ci for github releases
  .ci/conditional-release.sh
  .ci/debian/Dockerfile
  .cirrus.yml
Labels: maintenance :scissors:

#622 Add script for easier compilation/build performance analysis
  scripts/clang-build-analyzer
Labels: maintenance :scissors:, performance :rocket:

#642 Allow configuring pcap snapshot length
  CHANGELOG.md
  libvast/src/format/pcap.cpp
  libvast/src/system/application.cpp
  libvast/vast/defaults.hpp
  libvast/vast/format/pcap.hpp
Labels: feature :gift:

#643 Document new releasing workflow
  RELEASING.md
Labels: maintenance :scissors:

#645 Extract CI Build Steps to POSIX Scripts
  .ci/debian/build-local
  .ci/freeBSD/build-local
  .ci/macOS/build-local
  .ci/scripts/build-target
  .ci/scripts/conditional-release
  .ci/scripts/initialize-env
  .ci/scripts/run-all-targets
  .ci/scripts/submodule-update
  .ci/scripts/transfer-file
  .cirrus.yml
Labels: maintenance :scissors:

#648 Add continuous security analysis
  lgtm.yaml
Labels: maintenance :scissors:

#649 Rename lgtm.yaml to lgtm.yml
  lgtm.yml
Labels: maintenance :scissors:

#651 Exclude aux folder from LGTM analysis
  lgtm.yml
Labels: maintenance :scissors:

#650 Ignore VLAN tags in PCAP import
  CHANGELOG.md
  integration/data/pcap/vlan.pcap.gz
  integration/default_set.yaml
  integration/reference/importing-vlan-traffic/step_00.ref
  integration/reference/importing-vlan-traffic/step_01.ref
  libvast/CMakeLists.txt
  libvast/src/ether_type.cpp
  libvast/src/format/pcap.cpp
  libvast/vast/ether_type.hpp
Labels: bugfix :beetle:

#653 Clarify --listen option for import commands
  libvast/src/system/application.cpp
Labels: enhancement :sparkles:

#654 Fix pointless checks
  libvast/vast/bitvector.hpp
  libvast/vast/span.hpp
Labels: refactoring :hammer_and_wrench:

#655 Register the accountant for datagram sources
  CHANGELOG.md
  libvast/vast/system/datagram_source.hpp
Labels: bugfix :beetle:

#657 Make libbenchmark available in Debian CI
  .ci/debian/Dockerfile
Labels: maintenance :scissors:

#656 Add flat_map abstraction
  libvast/CMakeLists.txt
  libvast/test/detail/flat_map.cpp
  libvast/vast/detail/flat_map.hpp
Labels: enhancement :sparkles:

#658 Fix man and install targets
  doc/CMakeLists.txt
  libvast/src/command.cpp
Labels: bugfix :beetle:

#659 Disable server-basic-bgpdump integration test
  integration/default_set.yaml
Labels: maintenance :scissors:

#660 Fix embedded version string
  libvast/vast/config.hpp.in
Labels: bugfix :beetle:

#661 Rename share/vast/default.conf to share/vast/vast.conf.example
  CMakeLists.txt
Labels: maintenance :scissors:

#663 Fix CI / build-local script for macOS
  .ci/freeBSD/build-local
  .ci/macOS/build-local
  .ci/scripts/initialize-env
  .cirrus.yml
Labels: bugfix :beetle:

#662 Fix datagram source actor not running heartbeat
  CHANGELOG.md
  libvast/vast/system/datagram_source.hpp
Labels: bugfix :beetle:

#664 Install manpage only when built
  CMakeLists.txt
  doc/CMakeLists.txt
Labels: bugfix :beetle:

#666 Suppress a false positive warning
  libvast/src/default_table_slice.cpp
Labels: bugfix :beetle:

#668 Use pandoc over md2man-roff
  CMakeLists.txt
  README.md
  cmake/FindMd2man.cmake
  cmake/FindPandoc.cmake
  doc/CMakeLists.txt
Labels: enhancement :sparkles:

#665 Add bit_cast helper function
  libvast/vast/detail/bit_cast.hpp
Labels: enhancement :sparkles:

#667 Demote the severity of empty eval map to debug
  libvast/src/system/index.cpp
Labels: bugfix :beetle:

#669 Bump the xcode version in Cirrus CI to 10.3
  .cirrus.yml
Labels: maintenance :scissors:

#671 Exit with an error code if command parsing fails
  libvast/src/command.cpp
  libvast/src/error.cpp
  libvast/src/system/application.cpp
  libvast/vast/error.hpp
Labels: bugfix :beetle:

#672 Update README with current build workflow
  README.md
  scripts/docker-build
Labels: maintenance :scissors:

#670 Build the man page in Cirrus CI
  .ci/debian/Dockerfile
  .ci/scripts/build-target
  .ci/scripts/generate-build-tree
  .cirrus.yml
  doc/CMakeLists.txt
Labels: enhancement :sparkles:
