Repository tenzir/tenzir, pull requests merged in 2019-09, with the labels that each got.

#565 Improve identification of OpenSSL install root
  CMakeLists.txt
  configure
Labels: enhancement :sparkles:

#566 Use dummy_consensus in exporter unit tests
  libvast/test/system/exporter.cpp
Labels: bugfix :beetle:

#568 Fix formatting in contribution guidelines
  CONTRIBUTING.md
Labels: bugfix :beetle:

#564 Enable Cirrus CI
  .ci/debian/Dockerfile
  .cirrus.yml
  CMakeLists.txt
Labels: feature :gift:

#569 Fix build tree schema dir location
  .cirrus.yml
  CMakeLists.txt
Labels: bugfix :beetle:

#570 Set socket connection timeout
  integration/packages/wait/tcp.py
Labels: bugfix :beetle:, performance :rocket:

#571 Update CI references in README
  README.md
Labels: maintenance :scissors:

#573 Prettify README
  README.md
  doc/assets/vast.svg
Labels: maintenance :scissors:

#574 Make CAF targets visible to superprojects
  CMakeLists.txt
  cmake/FindBROKER.cmake
  cmake/FindCAF.cmake
  cmake/FindPCAP.cmake
  cmake/FindSnappy.cmake
  cmake/VASTConfig.cmake.in
Labels: maintenance :scissors:

#575 Don't expose private dependencies in shared builds
  CMakeLists.txt
Labels: bugfix :beetle:

#578 Remove matrix_table_slice
  libvast/CMakeLists.txt
  libvast/src/column_major_matrix_table_slice_builder.cpp
  libvast/test/table_slice.cpp
  libvast/vast/column_major_matrix_table_slice_builder.hpp
  libvast/vast/matrix_table_slice.hpp
  libvast/vast/policy/column_major.hpp
  libvast/vast/policy/row_major.hpp
  libvast/vast/row_major_matrix_table_slice_builder.hpp
Labels: refactoring :hammer_and_wrench:

#577 Generate tarballs in CI pipeline
  .cirrus.yml
  CMakeLists.txt
Labels: feature :gift:, maintenance :scissors:

#579 Fix UB from not using std::launder where necessary
  .ci/debian/Dockerfile
  libvast/src/address.cpp
  libvast/src/format/mrt.cpp
  libvast/src/format/pcap.cpp
  libvast/src/schema.cpp
  libvast/vast/chunk.hpp
  libvast/vast/detail/coded_deserializer.hpp
  libvast/vast/detail/order.hpp
  libvast/vast/detail/radix_tree.hpp
  libvast/vast/detail/short_alloc.hpp
  libvast/vast/span.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: bugfix :beetle:

#580 Improve clang-format options
  .clang-format
  CONTRIBUTING.md
Labels: maintenance :scissors:, refactoring :hammer_and_wrench:

#581 Change guidelines for quick fixes
  CONTRIBUTING.md
Labels: maintenance :scissors:

#582 Fix exported target from caf submodule
  CMakeLists.txt
Labels: bugfix :beetle:

#584 Remove unused Twitter account from README
  README.md
Labels: maintenance :scissors:

#586 Link compilation database to project root
  CMakeLists.txt
Labels: maintenance :scissors:

#585 Improve gitignore
  .gitignore
Labels: maintenance :scissors:

#589 Remove Jenkins script
  scripts/jenkins
Labels: maintenance :scissors:

#587 Remove unused Makefiles
  .Makefile.BSD
  .Makefile.GNU
  .gitignore
Labels: maintenance :scissors:

#590 Fix warnings in test TUs
  .clang-format
  libvast/test/format/json.cpp
  libvast/test/format/zeek.cpp
  libvast_test/vast/test/fixtures/actor_system.hpp
  libvast_test/vast/test/fixtures/events.hpp
  libvast_test/vast/test/fixtures/table_slices.hpp
Labels: maintenance :scissors:

#583 Store accounting data in VAST native format
  .ci/debian/Dockerfile
  .cirrus.yml
  integration/default_set.yaml
  integration/integration.py
  integration/reference/server-zeek-conn-log/step_02.ref
  integration/reference/server-zeek-conn-log/step_03.ref
  integration/reference/server-zeek-conn-log/step_04.ref
  integration/reference/server-zeek-conn-log/step_05.ref
  integration/reference/server-zeek-conn-log/step_06.ref
  integration/requirements.txt
  libvast/src/default_table_slice_builder.cpp
  libvast/src/format/json.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/node.cpp
  libvast/src/table_slice_builder.cpp
  libvast/test/meta_index.cpp
  libvast/test/system/datagram_source.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/source.cpp
  libvast/vast/default_table_slice_builder.hpp
  libvast/vast/fwd.hpp
  libvast/vast/system/accountant.hpp
  libvast/vast/system/datagram_source.hpp
  libvast/vast/system/instrumentation.hpp
  libvast/vast/system/reader_command.hpp
  libvast/vast/system/source.hpp
  libvast/vast/table_slice_builder.hpp
Labels: enhancement :sparkles:, feature :gift:

#591 Replace vast::expected with caf::expected
  libvast/src/detail/make_io_stream.cpp
  libvast/src/expression.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/filesystem.cpp
  libvast/src/format/json.cpp
  libvast/src/format/pcap.cpp
  libvast/src/format/test.cpp
  libvast/src/format/zeek.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/profiler.cpp
  libvast/src/system/raft.cpp
  libvast/src/system/spawn_node.cpp
  libvast/src/table_slice.cpp
  libvast/src/value_index.cpp
  libvast/vast/concept/convertible/to.hpp
  libvast/vast/concept/parseable/to.hpp
  libvast/vast/concept/printable/to.hpp
  libvast/vast/detail/make_io_stream.hpp
  libvast/vast/expected.hpp
  libvast/vast/expression.hpp
  libvast/vast/expression_visitors.hpp
  libvast/vast/filesystem.hpp
  libvast/vast/format/json.hpp
  libvast/vast/format/json/suricata.hpp
  libvast/vast/format/mrt.hpp
  libvast/vast/format/parser_reader.hpp
  libvast/vast/format/pcap.hpp
  libvast/vast/format/test.hpp
  libvast/vast/format/zeek.hpp
  libvast/vast/load.hpp
  libvast/vast/save.hpp
  libvast/vast/system/datagram_source.hpp
  libvast/vast/system/raft.hpp
  libvast/vast/system/source.hpp
  libvast/vast/table_slice.hpp
  libvast/vast/type.hpp
  libvast/vast/value_index.hpp
Labels: refactoring :hammer_and_wrench:
