Repository tenzir/tenzir, pull requests merged in 2019-04, with the labels that each got.

#476 Implement actor-based FSM for query processing
  libvast/CMakeLists.txt
  libvast/src/system/query_processor.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/system/query_processor.hpp
Labels: feature :gift:

#477 Port zeek-to-vast to latest Broker API
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: bugfix :beetle:

#478 Allow downstream code to extend start command
  libvast/src/system/start_command.cpp
  libvast/vast/system/start_command.hpp
Labels: refactoring :hammer_and_wrench:

#481 Make sure all queries receive a 'done' message
  libvast/src/system/index.cpp
Labels: bugfix :beetle:

#480 Resolve paths relative to test spec yaml
  scripts/integration/integration.py
Labels: enhancement :sparkles:

#479 Reorganize program options in a hierarchical way
  doc/vast.1.md
  libvast/CMakeLists.txt
  libvast/src/command.cpp
  libvast/src/defaults.cpp
  libvast/src/detail/make_io_stream.cpp
  libvast/src/endpoint.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/default_configuration.cpp
  libvast/src/system/node.cpp
  libvast/src/system/pcap_reader_command.cpp
  libvast/src/system/pcap_writer_command.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/source_command.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/system/spawn_importer.cpp
  libvast/src/system/spawn_node.cpp
  libvast/src/system/spawn_or_connect_to_node.cpp
  libvast/src/system/spawn_sink.cpp
  libvast/src/system/spawn_source.cpp
  libvast/src/system/start_command.cpp
  libvast/test/system/datagram_source.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/source.cpp
  libvast/vast/command.hpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/make_io_stream.hpp
  libvast/vast/endpoint.hpp
  libvast/vast/format/reader.hpp
  libvast/vast/system/application.hpp
  libvast/vast/system/default_application.hpp
  libvast/vast/system/default_configuration.hpp
  libvast/vast/system/generator_command.hpp
  libvast/vast/system/reader_command.hpp
  libvast/vast/system/source.hpp
  libvast/vast/system/spawn_or_connect_to_node.hpp
  libvast/vast/system/writer_command.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#482 Add hidden command for sending atoms to actors
  libvast/src/command.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/node.cpp
  libvast/vast/command.hpp
Labels: feature :gift:

#483 Patching Dockerfile to build properly
  Dockerfile
Labels: bugfix :beetle:

#484 Allow adding new components to the NODE
  libvast/src/command.cpp
  libvast/src/system/node.cpp
  libvast/vast/system/node.hpp
Labels: feature :gift:

#485 Remove obsolete id and ts from CSV writer
  CHANGELOG.md
  libvast/test/format/writer.cpp
  libvast/vast/format/csv.hpp
  libvast/vast/system/reader_command.hpp
Labels: task :memo:

#487 Allow query processors to block end-of-hits transition
  libvast/src/system/query_processor.cpp
  libvast/vast/system/query_processor.hpp
Labels: feature :gift:
