Repository tenzir/tenzir, pull requests merged in 2019-06, with the labels that each got.

#504 Implement 2-pass parsing of command line
  libvast/src/command.cpp
  libvast/src/system/default_configuration.cpp
  libvast/src/system/node.cpp
  libvast/test/command.cpp
  libvast/vast/command.hpp
  libvast/vast/system/default_configuration.hpp
  vast/vast.cpp
Labels: bugfix :beetle:, enhancement :sparkles:

#505 Add Suricata DHCP and TLS types
  libvast/vast/format/json/suricata.hpp
Labels: enhancement :sparkles:

#507 Fix quoted string parser for empty strings
  libvast/test/parseable.cpp
  libvast/vast/concept/parseable/string/quoted_string.hpp
Labels: bugfix :beetle:

#509 Switch from VAST_UNUSED to [[maybe_unused]]
  libvast/src/system/exporter.cpp
  libvast/src/system/node.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/source_command.cpp
  libvast/src/system/spawn_source.cpp
  libvast/test/system/indexer_stage_driver.cpp
  libvast/vast/logger.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#508 Add community_id to Suricata JSON
  libvast/test/format/json.cpp
  libvast/vast/format/json/suricata.hpp
  scripts/integration/reference/node-suricata-alert/step_01.ref
Labels: enhancement :sparkles:

#506 Report iterator position with command invocation
  libvast/src/command.cpp
  libvast/test/command.cpp
  libvast/vast/command.hpp
  vast/vast.cpp
Labels: enhancement :sparkles:

#502 Add --config option to root command
  libvast/src/system/configuration.cpp
  libvast/src/system/default_application.cpp
Labels: feature :gift:

#511 Port Jenkins pipeline to new shared library
  Jenkinsfile
Labels: enhancement :sparkles:

#513 Allow writers to consume batches of events
  libvast/src/format/writer.cpp
  libvast/test/system/sink.cpp
  libvast/vast/format/pcap.hpp
  libvast/vast/format/printer_writer.hpp
  libvast/vast/format/writer.hpp
  libvast/vast/format/zeek.hpp
  libvast/vast/system/sink.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#510 Externalize hard-coded C++ schemas
  CHANGELOG.md
  CMakeLists.txt
  cmake/Helpers.cmake
  libvast/CMakeLists.txt
  libvast/src/event_types.cpp
  libvast/src/filesystem.cpp
  libvast/src/schema.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/default_configuration.cpp
  libvast/test/format/json.cpp
  libvast/test/schema.cpp
  libvast/vast/concept/parseable/vast/schema.hpp
  libvast/vast/event_types.hpp
  libvast/vast/filesystem.hpp
  libvast/vast/format/json.hpp
  libvast/vast/format/json/suricata.hpp
  libvast/vast/schema.hpp
  libvast/vast/system/default_application.hpp
  libvast/vast/system/reader_command.hpp
  schema/suricata.schema
  scripts/integration/default_set.yaml
  scripts/integration/misc/schema/zeek-conn.schema
  scripts/integration/schema
  vast/vast.cpp
Labels: enhancement :sparkles:, feature :gift:

#514 Add write overload to the writer for table slices
  libvast/src/format/writer.cpp
  libvast/vast/format/writer.hpp
Labels: refactoring :hammer_and_wrench:

#515 Enhance status output
  CHANGELOG.md
  libvast/src/system/accountant.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer_stage_driver.cpp
  libvast/vast/system/index.hpp
Labels: enhancement :sparkles:

#516 Implement an evaluate function for table slices
  libvast/src/expression_visitors.cpp
  libvast/src/view.cpp
  libvast/test/expression_evaluation.cpp
  libvast/vast/expression_visitors.hpp
  libvast/vast/view.hpp
Labels: feature :gift:

#519 Implement minor build system improvements and fixes
  CMakeLists.txt
  cmake/VASTConfig.cmake.in
  libvast/CMakeLists.txt
  libvast/src/segment_store.cpp
  libvast_test/CMakeLists.txt
Labels: bugfix :beetle:

#518 Port SINK to the table slice API
  libvast/src/system/exporter.cpp
  libvast/src/table_slice.cpp
  libvast/src/to_events.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/sink.cpp
  libvast/test/table_slice.cpp
  libvast/vast/system/exporter.hpp
  libvast/vast/system/query_status.hpp
  libvast/vast/system/sink.hpp
  libvast/vast/table_slice.hpp
  libvast_test/src/node.cpp
Labels: performance :rocket:, refactoring :hammer_and_wrench:

#520 Fix schema loading for relocated installations
  CHANGELOG.md
  CMakeLists.txt
  libvast/CMakeLists.txt
  libvast/src/detail/process.cpp
  libvast/src/schema.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/default_configuration.cpp
  libvast/vast/detail/process.hpp
  libvast/vast/schema.hpp
  scripts/integration/default_set.yaml
  scripts/integration/integration.py
  scripts/integration/schema
  scripts/integration/vast.conf
  vast/vast.cpp
Labels: enhancement :sparkles:

#517 Update contribution guidelines to reflect our CI
  CONTRIBUTING.md
Labels: task :memo:

#523 Fix false positive results from the ARCHIVE
  CHANGELOG.md
  libvast/src/system/archive.cpp
  libvast/src/system/exporter.cpp
  scripts/integration/default_set.yaml
  scripts/integration/reference/node-zeek-conn-log/step_03.ref
Labels: bugfix :beetle:
