Repository tenzir/tenzir, pull requests merged in 2019-02, with the labels that each got.

#402 Don't pass empty values to synopsis
  libvast/src/boolean_synopsis.cpp
  libvast/src/meta_index.cpp
  libvast/test/meta_index.cpp
  libvast/vast/synopsis.hpp
Labels: bugfix :beetle:

#404 Fix log file initialization
  libvast/src/system/default_configuration.cpp
Labels: bugfix :beetle:

#405 Read root command options from vast.ini
  libvast/src/command.cpp
Labels: bugfix :beetle:

#407 Fix "cannot serialize message" error
  libvast/src/detail/add_message_types.cpp
  libvast/vast/expression.hpp
Labels: bugfix :beetle:

#406 Produce human-readable timestamps in log output
  libvast/src/system/exporter.cpp
Labels: enhancement :sparkles:

#408 Include last_replenish for status only after use
  libvast/src/system/importer.cpp
Labels: bugfix :beetle:

#409 Filter caf and caf_flow messages by default
  libvast/src/system/default_configuration.cpp
Labels: enhancement :sparkles:

#410 Move table slice arg from source to import command
  doc/vast.1.md
  libvast/src/system/default_application.cpp
  libvast/vast/system/default_application.hpp
Labels: enhancement :sparkles:

#412 Convert signal monitor into simple thread
  libvast/src/system/signal_monitor.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/source_command.cpp
  libvast/src/system/start_command.cpp
  libvast/vast/system/signal_monitor.hpp
Labels: enhancement :sparkles:

#414 Adapt Jenkinsfile to pipeline changes
  Jenkinsfile
Labels: enhancement :sparkles:

#413 Implement proper config file sourcing
  libvast/src/system/configuration.cpp
  libvast/vast/config.hpp.in
Labels: enhancement :sparkles:

#415 Fix use after scope in thread creation
  libvast/src/system/signal_monitor.cpp
  libvast/vast/system/signal_monitor.hpp
Labels: bugfix :beetle:

#416 Fix division by zero in accountant
  libvast/src/system/accountant.cpp
Labels: bugfix :beetle:

#421 Fix Zeek ASCII output
  libvast/src/format/zeek.cpp
  libvast/vast/format/zeek.hpp
Labels: bugfix :beetle:

#422 Use exactly 6 fractional digits for Zeek floating point values
  libvast/src/format/zeek.cpp
  libvast/test/printable.cpp
  libvast/vast/concept/printable/detail/print_numeric.hpp
  libvast/vast/concept/printable/numeric/integral.hpp
  libvast/vast/concept/printable/numeric/real.hpp
Labels: bugfix :beetle:, enhancement :sparkles:

#420 Support fractional timespans
  libvast/src/system/node.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/test/time.cpp
  libvast/vast/concept/parseable/vast/time.hpp
  libvast/vast/system/spawn_arguments.hpp
Labels: enhancement :sparkles:

#426 Fix and streamline README examples
  README.md
Labels: bugfix :beetle:

#424 Support compound timespans
  libvast/test/parseable.cpp
  libvast/test/time.cpp
  libvast/vast/concept/parseable/core.hpp
  libvast/vast/concept/parseable/core/end_of_input.hpp
  libvast/vast/concept/parseable/vast/time.hpp
Labels: feature :gift:

#425 Fix overly tight restriction on component instances
  libvast/src/system/tracker.cpp
Labels: bugfix :beetle:

#423 Add integration tests
  CMakeLists.txt
  scripts/integration/.gitignore
  scripts/integration/README.md
  scripts/integration/__init__.py
  scripts/integration/data/bgpdump/updates.20180530.bgpdump.gz
  scripts/integration/data/mrt/updates.20180530.0000.gz
  scripts/integration/data/pcap/example.pcap.gz
  scripts/integration/data/zeek/conn.log.gz
  scripts/integration/data/zeek/dns.log.gz
  scripts/integration/data/zeek/http.log.gz
  scripts/integration/data/zeek/snmp.log.gz
  scripts/integration/default_set.yaml
  scripts/integration/integration.py
  scripts/integration/packages/__init__.py
  scripts/integration/packages/wait/__init__.py
  scripts/integration/packages/wait/decorator.py
  scripts/integration/packages/wait/tcp.py
  scripts/integration/queries/multi_addr.txt
  scripts/integration/reference/conn_export_1.ascii
  scripts/integration/reference/dns_export_1.ascii
  scripts/integration/reference/empty.file
  scripts/integration/reference/example_pcap.ascii
  scripts/integration/reference/fail
  scripts/integration/reference/http_export_1.ascii
  scripts/integration/reference/in_subnet.ascii
  scripts/integration/reference/multi_addr.ascii
  scripts/integration/reference/peer0.ref
  scripts/integration/reference/zeek_logs.ascii
  scripts/integration/reference/zeek_missed.ascii
  scripts/integration/reference/zeek_smtp.ascii
  scripts/integration/reference/zeek_snmp.ascii
  scripts/integration/requirements.txt
  scripts/integration/setup.cfg
Labels: feature :gift:, task :memo:

#427 Support address-in-prefix queries
  libvast/src/system/evaluator.cpp
  libvast/src/value_index.cpp
  libvast/test/value_index.cpp
  libvast/vast/system/evaluator.hpp
Labels: feature :gift:

#419 Make synopsis lookup result optional
  libvast/src/boolean_synopsis.cpp
  libvast/src/meta_index.cpp
  libvast/test/synopsis.cpp
  libvast/vast/boolean_synopsis.hpp
  libvast/vast/min_max_synopsis.hpp
  libvast/vast/synopsis.hpp
  libvast_test/vast/test/synopsis.hpp
Labels: enhancement :sparkles:

#430 Remove baseline from spec and make it easy to update
  scripts/integration/README.md
  scripts/integration/default_set.yaml
  scripts/integration/integration.py
  scripts/integration/reference/example_pcap.ascii
  scripts/integration/reference/fail
  scripts/integration/reference/in_subnet.ascii
  scripts/integration/reference/multi-addr-query/step_00.ref
  scripts/integration/reference/multi-addr-query/step_01.ref
  scripts/integration/reference/node-zeek-conn-log/step_00.ref
  scripts/integration/reference/node-zeek-conn-log/step_01.ref
  scripts/integration/reference/node-zeek-dns-log/step_00.ref
  scripts/integration/reference/node-zeek-dns-log/step_01.ref
  scripts/integration/reference/node-zeek-http-log/step_00.ref
  scripts/integration/reference/node-zeek-http-log/step_01.ref
  scripts/integration/reference/node-zeek-multiple-imports/step_00.ref
  scripts/integration/reference/node-zeek-multiple-imports/step_01.ref
  scripts/integration/reference/node-zeek-multiple-imports/step_02.ref
  scripts/integration/reference/node-zeek-snmp-log/step_00.ref
  scripts/integration/reference/node-zeek-snmp-log/step_01.ref
  scripts/integration/reference/peer0.ref
  scripts/integration/reference/server-zeek-conn-log/step_00.ref
  scripts/integration/reference/server-zeek-conn-log/step_01.ref
  scripts/integration/reference/zeek_missed.ascii
  scripts/integration/reference/zeek_smtp.ascii
Labels: enhancement :sparkles:

#429 Fix bugs in table indexer
  libvast/src/ewah_bitmap.cpp
  libvast/src/system/table_indexer.cpp
  libvast/vast/ewah_bitmap.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/system/table_indexer.hpp
Labels: bugfix :beetle:

#428 Augment parsed port with proper type in zeek reader
  libvast/src/format/zeek.cpp
  libvast/test/format/writer.cpp
  libvast/vast/concept/parseable/vast/port.hpp
  libvast/vast/format/zeek.hpp
  scripts/integration/reference/multi-addr-query/step_01.ref
  scripts/integration/reference/node-zeek-conn-log/step_01.ref
  scripts/integration/reference/node-zeek-dns-log/step_01.ref
  scripts/integration/reference/node-zeek-http-log/step_01.ref
  scripts/integration/reference/node-zeek-multiple-imports/step_02.ref
  scripts/integration/reference/server-zeek-conn-log/step_01.ref
Labels: enhancement :sparkles:

#435 Port VAST to recent caf::binary_(de)serializer
  libvast/src/segment.cpp
  libvast/src/segment_builder.cpp
  libvast/src/table_slice.cpp
  libvast/src/table_slice_factory.cpp
  libvast/vast/segment.hpp
  libvast/vast/segment_builder.hpp
  libvast_test/src/table_slices.cpp
  libvast_test/vast/test/fixtures/table_slices.hpp
Labels: bugfix :beetle:

#431 Print user friendly error messages
  libvast/src/command.cpp
  libvast/src/error.cpp
  libvast/src/system/application.cpp
  libvast/test/error.cpp
  libvast/vast/command.hpp
  libvast/vast/error.hpp
  libvast/vast/system/application.hpp
  vast/vast.cpp
Labels: enhancement :sparkles:

#436 Add new help and version commands
  doc/vast.1.md
  libvast/CMakeLists.txt
  libvast/src/command.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/help_command.cpp
  libvast/src/system/version_command.cpp
  libvast/test/command.cpp
  libvast/vast/command.hpp
  libvast/vast/system/help_command.hpp
  libvast/vast/system/version_command.hpp
Labels: feature :gift:

#437 Remove unnecessary writer::cleanup function
  libvast/src/format/writer.cpp
  libvast/src/format/zeek.cpp
  libvast/vast/format/writer.hpp
  libvast/vast/format/zeek.hpp
  libvast/vast/system/sink.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#438 Hook integration tests into Jenkins
  Jenkinsfile
Labels: feature :gift:

#439 Bring back MRT integration tests
  scripts/integration/default_set.yaml
  scripts/integration/reference/node-basic-mrt/step_00.ref
  scripts/integration/reference/node-basic-mrt/step_01.ref
  scripts/integration/reference/node-basic-mrt/step_02.ref
  scripts/integration/reference/node-basic-mrt/step_03.ref
Labels: bugfix :beetle:

#440 Rename zeek::conn type to zeek.conn
  libvast/src/format/zeek.cpp
  libvast/test/expression.cpp
  libvast/test/format/writer.cpp
  libvast/test/format/zeek.cpp
  libvast/test/system/archive.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/sink.cpp
Labels: refactoring :hammer_and_wrench:

#434 Add CHANGELOG.md
  CHANGELOG.md
Labels: feature :gift:

#441 Switch to '#' as attribute token
  libvast/src/format/test.cpp
  libvast/test/expression.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/expression_parseable.cpp
  libvast/test/meta_index.cpp
  libvast/test/type.cpp
  libvast/vast/attribute.hpp
  libvast/vast/concept/parseable/vast/expression.hpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast/vast/concept/printable/vast/attribute.hpp
  libvast/vast/concept/printable/vast/expression.hpp
  scripts/integration/default_set.yaml
Labels: refactoring :hammer_and_wrench:

#442 Make '-h' and 'help' equivalent
  libvast/CMakeLists.txt
  libvast/src/command.cpp
  libvast/src/system/default_application.cpp
  libvast/src/system/help_command.cpp
  libvast/test/command.cpp
  libvast/vast/system/help_command.hpp
Labels: feature :gift:

#444 Improve UX for exporter info log
  libvast/src/system/exporter.cpp
Labels: enhancement :sparkles:

#443 Print periodic info line at 0.2 Hz
  Jenkinsfile
  libvast/src/system/accountant.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_node.cpp
  libvast/src/system/tracker.cpp
  libvast/vast/system/accountant.hpp
  libvast/vast/system/node.hpp
  libvast_test/src/node.cpp
  scripts/integration/integration.py
Labels: enhancement :sparkles:

#446 Fix request_more_hits in the EXPORTER
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/test/system/evaluator.cpp
Labels: bugfix :beetle:

#447 Insert accountant into actor registry
  libvast/src/system/node.cpp
Labels: bugfix :beetle:

#448 Fix merge_root_options
  libvast/src/system/default_configuration.cpp
Labels: bugfix :beetle:

#449 Use append_column_to_index over hand-rolled loop
  libvast/src/column_index.cpp
Labels: performance :rocket:

#450 Correctly restrain IMPORTER credit
  libvast/src/system/importer.cpp
  libvast/vast/system/importer.hpp
Labels: bugfix :beetle:

#452 Fix display of first ingestion report
  libvast/src/system/accountant.cpp
  libvast/src/system/importer.cpp
Labels: bugfix :beetle:

#454 Fix queries that span multiple partitions
  libvast/src/system/exporter.cpp
  libvast/vast/system/query_status.hpp
Labels: bugfix :beetle:

#445 Add script to add aliases and hooks to .git
  scripts/clang-format-diff.py
  scripts/git-setup.sh
Labels: feature :gift:

#453 Fix node option passing at creation
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/source_command.cpp
  libvast/src/system/spawn_node.cpp
  libvast/src/system/spawn_or_connect_to_node.cpp
  libvast/src/system/start_command.cpp
  libvast/vast/system/spawn_or_connect_to_node.hpp
Labels: bugfix :beetle:

#455 Fix bug in EXPORTER control flow
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  libvast/src/system/source_command.cpp
Labels: bugfix :beetle:

#456 Only check staged changes for style violations
  scripts/git-setup.sh
Labels: bugfix :beetle:

#432 Add example configuration file
  CMakeLists.txt
  libvast/src/system/configuration.cpp
  libvast/src/system/default_configuration.cpp
  vast.conf
Labels: feature :gift:
