Repository tenzir/tenzir, pull requests merged in 2019-03, with the labels that each got.

#459 Add support for static builds and IPO
  CMakeLists.txt
  cmake/FindBROKER.cmake
  cmake/FindCAF.cmake
  libvast/CMakeLists.txt
  libvast_test/CMakeLists.txt
  tools/dscat/CMakeLists.txt
  tools/zeek-to-vast/CMakeLists.txt
  tools/zeek-to-vast/zeek-to-vast.cpp
  vast/CMakeLists.txt
Labels: enhancement :sparkles:

#388 Update docker image
  CMakeLists.txt
  Dockerfile
  README.md
  docker_build.sh
Labels: task :memo:

#460 Fix type extraction with asymetric operators
  CHANGELOG.md
  libvast/src/expression_visitors.cpp
  libvast/test/expression.cpp
  libvast/vast/expression.hpp
Labels: bugfix :beetle:

#462 Fix warnings
  libvast/src/filesystem.cpp
  libvast/src/system/default_configuration.cpp
  libvast/vast/filesystem.hpp
  libvast/vast/logger.hpp
  libvast/vast/uri.hpp
Labels: bugfix :beetle:

#463 Make git format and pre-commit usable cross repo
  scripts/git-setup.sh
Labels: enhancement :sparkles:

#464 Remove assertions that trigger on user input
  libvast/src/system/partition.cpp
Labels: bugfix :beetle:

#466 Add scaffold for using test logs in unit tests without parsing them over and over again
  libvast_test/CMakeLists.txt
  libvast_test/src/events.cpp
  libvast_test/vast/test/fixtures/events.hpp
  tools/CMakeLists.txt
  tools/gen-vast-slices/CMakeLists.txt
  tools/gen-vast-slices/README.md
  tools/gen-vast-slices/gen-vast-slices.cpp
Labels: feature :gift:

#467 Add erase functionality to ARCHIVE and store
  libvast/src/segment_store.cpp
  libvast/src/system/archive.cpp
  libvast/vast/segment_store.hpp
  libvast/vast/store.hpp
  libvast/vast/system/archive.hpp
  libvast/vast/system/atoms.hpp
Labels: feature :gift:

#469 Add try-catch block around call to std::imbue()
  libvast/src/system/accountant.cpp
  libvast/vast/system/accountant.hpp
  libvast/vast/system/sink.hpp
Labels: bugfix :beetle:

#465 Allow filtering table slices based on IDs
  libvast/src/ids.cpp
  libvast/src/table_slice.cpp
  libvast/test/table_slice.cpp
  libvast/vast/ids.hpp
  libvast/vast/table_slice.hpp
  libvast_test/vast/test/fixtures/table_slices.hpp
Labels: feature :gift:

#470 Add --disable-accounting option to root command
  CHANGELOG.md
  libvast/src/system/default_application.cpp
  libvast/src/system/spawn_node.cpp
Labels: feature :gift:

#468 Add listen option to reader commands
  CHANGELOG.md
  doc/vast.1.md
  libvast/src/defaults.cpp
  libvast/src/endpoint.cpp
  libvast/src/format/mrt.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/node.cpp
  libvast/src/system/start_command.cpp
  libvast/test/endpoint.cpp
  libvast/vast/concept/parseable/vast/endpoint.hpp
  libvast/vast/defaults.hpp
  libvast/vast/endpoint.hpp
  libvast/vast/format/mrt.hpp
  libvast/vast/format/parser_reader.hpp
  libvast/vast/format/reader.hpp
  libvast/vast/system/default_application.hpp
  libvast/vast/system/reader_command.hpp
  libvast/vast/system/source.hpp
Labels: enhancement :sparkles:

#472 Fix build for listener type readers
  libvast/vast/system/reader_command.hpp
Labels: bugfix :beetle:

#473 Monitor importer from the source process
  CHANGELOG.md
  libvast/src/system/source_command.cpp
Labels: bugfix :beetle:

#474 Set artifact path at test executable build time
  libvast/test/format/mrt.cpp
  libvast/test/format/pcap.cpp
  libvast/test/system/datagram_source.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/source.cpp
  libvast_test/CMakeLists.txt
  libvast_test/src/events.cpp
  libvast_test/src/main.cpp
  libvast_test/vast/test/data.hpp
  libvast_test/vast/test/data.hpp.in
Labels: refactoring :hammer_and_wrench:

#475 Add import --num option and enable type query integration test
  libvast/src/system/default_application.cpp
  libvast/src/system/import_command.cpp
  libvast/test/system/datagram_source.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/source.cpp
  libvast/vast/system/datagram_source.hpp
  libvast/vast/system/import_command.hpp
  libvast/vast/system/reader_command.hpp
  libvast/vast/system/sink.hpp
  libvast/vast/system/source.hpp
  libvast/vast/system/writer_command.hpp
  scripts/integration/default_set.yaml
  scripts/integration/reference/type-query/step_00.ref
  scripts/integration/reference/type-query/step_01.ref
Labels: feature :gift:

#471 Implement segment_store::erase
  libvast/CMakeLists.txt
  libvast/src/segment.cpp
  libvast/src/segment_store.cpp
  libvast/test/bitmap_algorithms.cpp
  libvast/test/segment_store.cpp
  libvast/vast/bitmap_algorithms.hpp
  libvast/vast/chunk.hpp
  libvast/vast/detail/cache.hpp
  libvast/vast/detail/range_map.hpp
  libvast/vast/segment.hpp
  libvast/vast/segment_builder.hpp
  libvast/vast/segment_store.hpp
Labels: enhancement :sparkles:
