Repository tenzir/tenzir, pull requests merged in 2020-02, with the labels that each got.

#744 Refine Artifact Uploads in CI
  .github/workflows/vast.yml
Labels: maintenance :scissors:

#745 Clarify how to create a tag for a release
  RELEASING.md
Labels: enhancement :sparkles:

#743 Use short-circuiting in template metaprogramming
  libvast/vast/coder.hpp
  libvast/vast/concept/convertible/to.hpp
  libvast/vast/concept/hashable/type_erased_hasher.hpp
  libvast/vast/concept/parseable/core/parser.hpp
  libvast/vast/concept/parseable/core/rule.hpp
  libvast/vast/concept/parseable/core/sequence_choice.hpp
  libvast/vast/concept/parseable/core/to_parser.hpp
  libvast/vast/concept/printable/detail/as_printer.hpp
  libvast/vast/concept/printable/string/literal.hpp
  libvast/vast/concept/printable/vast/expression.hpp
  libvast/vast/detail/bit_cast.hpp
  libvast/vast/detail/operators.hpp
  libvast/vast/detail/type_traits.hpp
  libvast/vast/detail/varbyte.hpp
  libvast/vast/detail/zigzag.hpp
Labels: refactoring :hammer_and_wrench:

#747 Remove LGTM badge from README
  README.md
  lgtm.yml
Labels: maintenance :scissors:

#753 Improve error message for missing schema file
  libvast/src/filesystem.cpp
  libvast/src/schema.cpp
Labels: bug :beetle:

#754 Remove default option for historical queries
  CHANGELOG.md
  libvast/src/system/application.cpp
  libvast/src/system/spawn_exporter.cpp
Labels: bug :beetle:

#752 Let test target depend on the vast-test executable
  libvast/CMakeLists.txt
Labels: maintenance :scissors:

#756 Use a new build type tailored for CI
  .github/workflows/vast.yml
  configure
Labels: maintenance :scissors:

#759 Include PCAP header only when building with PCAP
  libvast/src/system/application.cpp
Labels: bug :beetle:

#750 Continuous import of Zeek logs in VAST is broken
  libvast/src/detail/fdinbuf.cpp
  libvast/src/detail/line_range.cpp
  libvast/src/error.cpp
  libvast/src/format/zeek.cpp
  libvast/test/format/zeek.cpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/fdinbuf.hpp
  libvast/vast/detail/line_range.hpp
  libvast/vast/system/source.hpp
Labels: bug :beetle:

#760 Do not use shallow commits when fetching tags
  .github/workflows/vast.yml
Labels: maintenance :scissors:

#761 Use correct string syntax for output referencing
  .github/workflows/vast.yml
Labels: maintenance :scissors:

#763 Fix resolution of system schema path
  libvast/src/detail/process.cpp
  libvast/src/schema.cpp
  libvast/vast/detail/process.hpp
Labels: bug :beetle:

#751 Update VAST for Apache Arrow 0.16
  .github/workflows/vast.yml
  CHANGELOG.md
  INSTALLATION.md
  libvast/src/arrow_table_slice.cpp
  libvast/test/format/arrow.cpp
Labels: maintenance :scissors:

#764 A potpourri of small tweaks
  libvast/src/chunk.cpp
  libvast/src/filesystem.cpp
  libvast/src/system/version_command.cpp
  libvast/src/uuid.cpp
  libvast/test/chunk.cpp
  libvast/test/format/zeek.cpp
  libvast/test/uuid.cpp
  libvast/vast/chunk.hpp
  libvast/vast/concept/parseable/vast/uuid.hpp
  libvast/vast/concept/printable/core/choice.hpp
  libvast/vast/concept/printable/core/operators.hpp
  libvast/vast/concept/printable/core/sequence.hpp
  libvast/vast/concept/printable/detail/as_printer.hpp
  libvast/vast/concept/printable/vast/uuid.hpp
  libvast/vast/detail/coding.hpp
  libvast/vast/filesystem.hpp
  libvast/vast/uuid.hpp
Labels: enhancement :sparkles:

#758 Allow for separating persistent state and log directories
  CHANGELOG.md
  libvast/src/command.cpp
  libvast/src/system/application.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/spawn_node.cpp
  libvast/vast/defaults.hpp
  vast.conf
Labels: feature :gift:

#765 Revert "Annotate schemas with #index=hash"
  CHANGELOG.md
  libvast/src/format/pcap.cpp
  libvast/src/format/zeek.cpp
  schema/argus.schema
  schema/suricata.schema
Labels: bug :beetle:, performance :rocket:

#767 Fail early on invalid regular expressions
  libvast/src/expression_visitors.cpp
Labels: bug :beetle:

#771 Exclude integration test references from Black
  .github/workflows/vast.yml
Labels: maintenance :scissors:

#768 Mention the continuous import fix in the changelog
  CHANGELOG.md
Labels: bug :beetle:

#772 Update changelog for release 2020.02.27
  CHANGELOG.md
Labels: maintenance :scissors:

#773 Use the dot as a separator in the version tags
  RELEASING.md
Labels: maintenance :scissors:
