Repository tenzir/tenzir, pull requests merged in 2020-12, with the labels that each got.

#1204 Avoid stream errors for short-lived commands
  libvast/src/system/archive.cpp
  libvast/src/system/index.cpp
Labels: bug :beetle:

#1185 Implement model substitution
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/taxonomies/step_00.ref
  integration/reference/taxonomies/step_01.ref
  integration/reference/taxonomies/step_02.ref
  integration/reference/taxonomies/step_03.ref
  integration/reference/taxonomies/step_04.ref
  libvast/src/system/node.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/taxonomies.cpp
  libvast/test/parse_data.cpp
  libvast/test/taxonomies.cpp
  libvast/vast/concept/parseable/vast/data.hpp
  libvast/vast/concept/parseable/vast/identifier.hpp
  libvast/vast/detail/vector_map.hpp
  libvast/vast/expression.hpp
  libvast/vast/taxonomies.hpp
  schema/taxonomy/vast/network.yaml
Labels: feature :gift:

#1206 Add support for USDT tracepoints in VAST
  CHANGELOG.md
  CMakeLists.txt
  configure
  libvast/src/chunk.cpp
  libvast/vast/detail/discard.hpp
  libvast/vast/detail/tracepoint.hpp
  libvast/vast/logger.hpp
Labels: feature :gift:

#1209 Send correct message to index when dropping further results
  libvast/src/system/exporter.cpp
Labels: bug :beetle:

#1210 Switch index behavior when running out of workers
  CHANGELOG.md
  libvast/src/system/index.cpp
Labels: bug :beetle:

#1213 Add missing changelog entry for #1209
  CHANGELOG.md
Labels: maintenance :scissors:

#1212 Ensure uniqueness of query ids
  libvast/src/system/index.cpp
Labels: bug :beetle:

#1207 Enforce better documentation for breaking changes
  libvast/src/db_version.cpp
  libvast/src/error.cpp
  libvast/src/system/spawn_node.cpp
  libvast/vast/db_version.hpp
  libvast/vast/error.hpp
Labels: enhancement :sparkles:

#1218 Use pinned nixpkgs for static binary script
  nix/static-binary.sh
Labels: maintenance :scissors:

#1205 Make Zeek writer work with all data types
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/node-suricata-alert/step_03.ref
  integration/vast.yaml
  libvast/src/format/zeek.cpp
  libvast/src/system/spawn_sink.cpp
  libvast/test/format/zeek.cpp
  libvast/test/system/sink.cpp
  libvast/vast/format/zeek.hpp
  vast.yaml.example
Labels: bug :beetle:

#1222 Check allowed size of segments/partitions on load
  libvast/src/segment.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/partition.cpp
Labels: bug :beetle:

#1216 Fix the bloom filter synopsis deserialization
  CHANGELOG.md
  libvast/test/address_synopsis.cpp
  libvast/vast/address_synopsis.hpp
  libvast/vast/bloom_filter.hpp
Labels: feature :gift:

#1225 Fix index worker depletion
  CHANGELOG.md
  libvast/src/system/index.cpp
  libvast/vast/system/index.hpp
Labels: bug :beetle:

#1231 Add Zeek's ssl.server_name to net.domain concept
  schema/concepts/zeek.yaml
Labels: enhancement :sparkles:

#1224 Improve tracing tools support in the static binary
  nix/overlay.nix
Labels: enhancement :sparkles:

#1229 Track individual sources at the importer
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/test/system/source.cpp
  libvast/vast/system/importer.hpp
  libvast/vast/system/source.hpp
Labels: enhancement :sparkles:

#1228 Introduce the #field meta extractor
  CHANGELOG.md
  integration/default_set.yaml
  integration/integration.py
  integration/reference/taxonomies/step_05.ref
  integration/reference/taxonomies/step_06.ref
  integration/reference/taxonomies/step_07.ref
  integration/reference/taxonomies/step_08.ref
  libvast/src/meta_index.cpp
  libvast/src/operator.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/spawn_counter.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/table_slice.cpp
  libvast/src/taxonomies.cpp
  libvast/test/table_slice.cpp
  libvast/test/taxonomies.cpp
  libvast/vast/fwd.hpp
  libvast/vast/operator.hpp
  libvast/vast/system/type_registry.hpp
Labels: enhancement :sparkles:, feature :gift:

#1234 Don't collect status from sources and sinks
  CHANGELOG.md
  libvast/src/system/importer.cpp
  libvast/src/system/node.cpp
Labels: bug :beetle:, maintenance :scissors:

#1236 Fix loading and dumping of composed concepts
  CHANGELOG.md
  libvast/src/system/node.cpp
  libvast/src/taxonomies.cpp
Labels: bug :beetle:

#1239 Fix metrics configuration
  libvast/src/system/accountant.cpp
Labels: bug :beetle:

#1233 Enhance dump command to show models
  .github/workflows/vast.yaml
  CHANGELOG.md
  doc/cli/vast-dump-models.md
  doc/cli/vast-dump.md
  libvast/src/data.cpp
  libvast/src/directory.cpp
  libvast/src/schema.cpp
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/vast/directory.hpp
  libvast/vast/taxonomies.hpp
  vast/integration/default_set.yaml
  vast/integration/integration.py
  vast/integration/reference/heterogenous-jsonl-import/step_01.ref
  vast/integration/reference/importing-vlan-traffic/step_01.ref
  vast/integration/reference/manual-1-node/step_03.ref
  vast/integration/reference/server-zeek-conn-log/step_06.ref
  vast/integration/reference/taxonomy-dump/step_00.ref
  vast/integration/reference/taxonomy-dump/step_01.ref
  vast/integration/reference/taxonomy-queries/step_00.ref
  vast/integration/reference/taxonomy-queries/step_01.ref
  vast/integration/reference/taxonomy-queries/step_02.ref
  vast/integration/reference/taxonomy-queries/step_03.ref
  vast/integration/reference/taxonomy-queries/step_04.ref
  vast/integration/reference/taxonomy-queries/step_05.ref
  vast/integration/reference/taxonomy-queries/step_06.ref
  vast/integration/reference/taxonomy-queries/step_07.ref
  vast/integration/reference/taxonomy-queries/step_08.ref
Labels: enhancement :sparkles:

#1240 Fix the upload of failed integration tests
  .github/workflows/vast.yaml
Labels: bug :beetle:

#1238 Prepare repository for December 2020 release
  CHANGELOG.md
  CMakeLists.txt
  README.md
  cmake/VASTCheckCompilerVersion.cmake
  pyvast/setup.py
Labels: maintenance :scissors:

#1241 Fix the -t option in the integration testing tool
  vast/integration/integration.py
Labels: bug :beetle:

#1242 Address 3 UBSAN Warnings
  libvast/vast/bitmap_algorithms.hpp
  libvast/vast/bits.hpp
  libvast/vast/system/source.hpp
Labels: bug :beetle:

#1243 Fix installations with relative prefixes
  .github/workflows/vast.yaml
  CMakeLists.txt
  configure
  libvast/CMakeLists.txt
  libvast_test/CMakeLists.txt
Labels: bug :beetle:

#1244 Support -v, -vv, -vvv, -q, -qq, -qqq for verbosity
  CHANGELOG.md
  libvast/src/system/application.cpp
  libvast/src/system/configuration.cpp
Labels: enhancement :sparkles:

#1245 Update nixpkgs to f42d6f8
  nix/pinned.nix
  shell.nix
Labels: maintenance :scissors:

#1248 Remove check whether config file is a regular file
  CHANGELOG.md
  libvast/src/system/configuration.cpp
Labels: bug :beetle:

#1247 Handle Arrow decoder errors gracefully
  CHANGELOG.md
  libvast/src/arrow_table_slice.cpp
Labels: bug :beetle:

#1250 Gracefully deal with JSON to data conversion errors
  CHANGELOG.md
  libvast/src/format/json.cpp
  libvast/vast/format/json.hpp
Labels: bug :beetle:

#1249 Follow up for the CMake refactoring
  CHANGELOG.md
  CMakeLists.txt
  cmake/FindCAF.cmake
  cmake/VASTConfig.cmake.in
  configure
  libvast/CMakeLists.txt
  libvast/src/arrow_table_slice.cpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/detail/process.cpp
  libvast/src/directory.cpp
  libvast/src/format/arrow.cpp
  libvast/src/format/pcap.cpp
  libvast/src/format/writer_factory.cpp
  libvast/src/path.cpp
  libvast/src/schema.cpp
  libvast/src/system/application.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/node.cpp
  libvast/src/system/pcap_writer_command.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/spawn_sink.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/version_command.cpp
  libvast/src/table_slice.cpp
  libvast/src/table_slice_builder_factory.cpp
  libvast/test/CMakeLists.txt
  libvast/test/arrow_table_slice.cpp
  libvast/test/format/arrow.cpp
  libvast/test/format/pcap.cpp
  libvast/test/vector_map.cpp
  libvast/vast/config.hpp.in
  libvast/vast/defaults.hpp
  libvast/vast/detail/assert.hpp
  libvast/vast/detail/endian.hpp
  libvast/vast/detail/narrow.hpp
  libvast/vast/directory.hpp
  libvast/vast/file.hpp
  libvast/vast/fwd.hpp
  libvast/vast/path.hpp
  libvast/vast/table_slice.hpp
  vast/vast.cpp
Labels: bug :beetle:, maintenance :scissors:

#1251 Fix installation scaffold
  cmake/VASTProvideFindModule.cmake
  libvast/CMakeLists.txt
  vast/CMakeLists.txt
Labels: bug :beetle:

#1252 Fix the package target
  CMakeLists.txt
  cmake/FindBROKER.cmake
  cmake/VASTGitVersion.cmake
  cmake/VASTProvideFindModule.cmake
  libvast/CMakeLists.txt
  libvast/test/CMakeLists.txt
  libvast_test/CMakeLists.txt
  tools/dscat/CMakeLists.txt
  tools/lsvast/CMakeLists.txt
  tools/zeek-to-vast/CMakeLists.txt
  tools/zeek-to-vast/aux/broker/CMakeLists.txt
  vast/CMakeLists.txt
Labels: bug :beetle:
