Repository tenzir/tenzir, pull requests merged in 2020-10, with the labels that each got.

#1087 Improve error handling in infer command
  libvast/src/system/infer_command.cpp
Labels: bug :beetle:

#1088 Render errors using vast::render(...)
  libvast/src/system/node.cpp
  libvast/test/format/zeek.cpp
  libvast_test/vast/test/fixtures/actor_system.hpp
  libvast_test/vast/test/fixtures/node.hpp
  tools/lsvast/lsvast.cpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: bug :beetle:

#1083 Use FlatBuffers unions for versioning
  libvast/src/fbs/utils.cpp
  libvast/src/meta_index.cpp
  libvast/src/segment.cpp
  libvast/src/segment_builder.cpp
  libvast/src/segment_store.cpp
  libvast/src/synopsis.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition.cpp
  libvast/src/table_slice.cpp
  libvast/src/uuid.cpp
  libvast/test/flatbuffers.cpp
  libvast/vast/fbs/index.fbs
  libvast/vast/fbs/layout.fbs
  libvast/vast/fbs/legacy/index_v0.fbs
  libvast/vast/fbs/legacy/meta_index_v0.fbs
  libvast/vast/fbs/legacy/partition_v0.fbs
  libvast/vast/fbs/partition.fbs
  libvast/vast/fbs/segment.fbs
  libvast/vast/fbs/synopsis.fbs
  libvast/vast/fbs/table_slice.fbs
  libvast/vast/fbs/type.fbs
  libvast/vast/fbs/utils.hpp
  libvast/vast/fbs/uuid.fbs
  libvast/vast/meta_index.hpp
  libvast/vast/segment_builder.hpp
  libvast/vast/synopsis.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/table_slice.hpp
  libvast/vast/uuid.hpp
  tools/lsvast/lsvast.cpp
Labels: enhancement :sparkles:

#1089 Improve the detail::overload visitor helper
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/data.cpp
  libvast/src/expression.cpp
  libvast/src/meta_index.cpp
  libvast/src/msgpack_table_slice.cpp
  libvast/src/msgpack_table_slice_builder.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/infer_command.cpp
  libvast/src/system/partition.cpp
  libvast/src/table_slice_builder.cpp
  libvast/src/type.cpp
  libvast/src/value_index.cpp
  libvast/src/view.cpp
  libvast/test/msgpack.cpp
  libvast/test/value_index.cpp
  libvast/vast/concept/printable/vast/data.hpp
  libvast/vast/concept/printable/vast/view.hpp
  libvast/vast/detail/overload.hpp
  libvast/vast/hash_index.hpp
  libvast/vast/json.hpp
  libvast/vast/msgpack.hpp
  libvast/vast/value_index.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#1092 Use GITHUB_ENV instead of set-env
  .github/workflows/vast.yaml
Labels: maintenance :scissors:

#1090 Remove '--disable-recoverability' option
  libvast/src/system/application.cpp
  libvast/src/system/index.cpp
  libvast/src/system/spawn_index.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/vast/system/index.hpp
Labels: maintenance :scissors:

#1093 Implement concepts and concept resolution
  libvast/CMakeLists.txt
  libvast/src/system/node.cpp
  libvast/src/system/spawn_arguments.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/taxonomies.cpp
  libvast/test/system/type_registry.cpp
  libvast/test/taxonomies.cpp
  libvast/vast/expression.hpp
  libvast/vast/fwd.hpp
  libvast/vast/system/spawn_arguments.hpp
  libvast/vast/system/type_registry.hpp
  libvast/vast/taxonomies.hpp
  libvast/vast/type_set.hpp
Labels: feature :gift:

#1091 Support native systemd startup notification from VAST
  CHANGELOG.md
  libvast/CMakeLists.txt
  libvast/src/detail/posix.cpp
  libvast/src/error.cpp
  libvast/src/system/start_command.cpp
  libvast/src/systemd.cpp
  libvast/vast/detail/posix.hpp
  libvast/vast/error.hpp
  libvast/vast/systemd.hpp
  systemd/vast.service
Labels: feature :gift:

#1095 Add a function to parse concepts from a data object
  libvast/src/taxonomies.cpp
  libvast/test/taxonomies.cpp
  libvast/vast/taxonomies.hpp
Labels: feature :gift:

#1099 Move index implementations into separate directory
  libvast/CMakeLists.txt
  libvast/src/index/address_index.cpp
  libvast/src/index/enumeration_index.cpp
  libvast/src/index/list_index.cpp
  libvast/src/index/port_index.cpp
  libvast/src/index/string_index.cpp
  libvast/src/index/subnet_index.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/indexer.cpp
  libvast/src/value_index.cpp
  libvast/src/value_index_factory.cpp
  libvast/test/index/address_index.cpp
  libvast/test/index/arithmetic_index.cpp
  libvast/test/index/enumeration_index.cpp
  libvast/test/index/hash_index.cpp
  libvast/test/index/list_index.cpp
  libvast/test/index/port_index.cpp
  libvast/test/index/string_index.cpp
  libvast/test/index/subnet_index.cpp
  libvast/test/value_index.cpp
  libvast/vast/index/address_index.hpp
  libvast/vast/index/arithmetic_index.hpp
  libvast/vast/index/container_lookup.hpp
  libvast/vast/index/enumeration_index.hpp
  libvast/vast/index/hash_index.hpp
  libvast/vast/index/list_index.hpp
  libvast/vast/index/port_index.hpp
  libvast/vast/index/string_index.hpp
  libvast/vast/index/subnet_index.hpp
  libvast/vast/value_index.hpp
  libvast_test/src/table_slices.cpp
Labels: refactoring :hammer_and_wrench:

#1097 Remove explicit default handler from node
  libvast/src/system/node.cpp
Labels: enhancement :sparkles:

#1098 Warn on client-server version mismatch
  CHANGELOG.md
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/node.cpp
  libvast/vast/fwd.hpp
Labels: enhancement :sparkles:

#1100 Fix the literal printer for string literals
  libvast/vast/concept/printable/core/literal.hpp
  libvast/vast/concept/printable/string/literal.hpp
Labels: bug :beetle:

#1101 Use maximum available compression level for Ccache
  .github/workflows/vast.yaml
Labels: maintenance :scissors:

#1104 Pin Apache Arrow version
  .github/workflows/jupyter.yaml
  .github/workflows/vast.yaml
  Dockerfile_prebuilt
Labels: maintenance :scissors:

#1096 Make the source actor more responsive
  CHANGELOG.md
  doc/cli/vast-import.md
  libvast/src/format/csv.cpp
  libvast/src/format/multi_layout_reader.cpp
  libvast/src/format/pcap.cpp
  libvast/src/format/reader.cpp
  libvast/src/format/single_layout_reader.cpp
  libvast/src/format/syslog.cpp
  libvast/src/format/test.cpp
  libvast/src/format/zeek.cpp
  libvast/src/system/application.cpp
  libvast/src/system/importer.cpp
  libvast/test/format/pcap.cpp
  libvast/test/format/zeek.cpp
  libvast/vast/defaults.hpp
  libvast/vast/format/csv.hpp
  libvast/vast/format/json.hpp
  libvast/vast/format/multi_layout_reader.hpp
  libvast/vast/format/reader.hpp
  libvast/vast/format/single_layout_reader.hpp
  libvast/vast/format/zeek.hpp
  libvast/vast/fwd.hpp
  libvast/vast/system/source.hpp
  libvast_test/src/events.cpp
  vast.yaml.example
Labels: bug :beetle:, caf :cinema:

#1106 Make use of Ccache 4.0 features
  .github/workflows/vast.yaml
Labels: enhancement :sparkles:

#1107 Make default log format less verbose
  CHANGELOG.md
  libvast/src/system/default_configuration.cpp
  libvast/vast/defaults.hpp
  vast.yaml.example
Labels: maintenance :scissors:

#1109 Fix merging of source status objects
  CHANGELOG.md
  libvast/src/detail/settings.cpp
  libvast/src/system/node.cpp
  libvast/vast/detail/settings.hpp
Labels: bug :beetle:

#1108 Add a PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance :scissors:

#1102 Enable loading of concepts from disk
  CHANGELOG.md
  CMakeLists.txt
  integration/default_set.yaml
  integration/reference/concepts/step_00.ref
  integration/reference/concepts/step_01.ref
  integration/reference/concepts/step_02.ref
  libvast/src/schema.cpp
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/src/system/pivoter.cpp
  libvast/src/system/spawn_arguments.cpp
  libvast/src/system/spawn_counter.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/system/spawn_pivoter.cpp
  libvast/src/system/spawn_type_registry.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/taxonomies.cpp
  libvast/vast/schema.hpp
  libvast/vast/system/spawn_arguments.hpp
  libvast/vast/system/type_registry.hpp
  schema/ecs.yaml
  vast/vast.cpp
Labels: feature :gift:

#1110 Don't enable automatic connections by default
  CHANGELOG.md
  libvast/src/system/default_configuration.cpp
Labels: bug :beetle:

#1112 Fix formatting of the bundled concepts
  libvast/src/system/spawn_type_registry.cpp
  schema/ecs.yaml
Labels: bug :beetle:

#1114 Allow for specifying objpath lookup addresses
  libvast/src/schema.cpp
  libvast/vast/schema.hpp
Labels: bug :beetle:

#1118 Make concepts work as documented
  libvast/src/system/type_registry.cpp
  libvast/src/taxonomies.cpp
  libvast/test/system/type_registry.cpp
  libvast/test/taxonomies.cpp
  libvast/vast/taxonomies.hpp
  schema/ecs.yaml
Labels: maintenance :scissors:

#1121 Add script to convert CIM to VAST taxonomy
  CHANGELOG.md
  scripts/splunk-to-vast
Labels: feature :gift:

#1120 List breaking changes explicitly in changelog
  CHANGELOG.md
Labels: enhancement :sparkles:

#1103 Age rotation for old data
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/disk-monitor/step_00.ref
  integration/reference/disk-monitor/step_01.ref
  integration/reference/disk-monitor/step_02.ref
  integration/reference/disk-monitor/step_03.ref
  integration/reference/disk-monitor/step_04.ref
  integration/reference/disk-monitor/step_05.ref
  libvast/CMakeLists.txt
  libvast/src/directory.cpp
  libvast/src/meta_index.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/application.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/spawn_archive.cpp
  libvast/src/system/spawn_disk_monitor.cpp
  libvast/src/system/spawn_node.cpp
  libvast/test/detail/flat_lru_cache.cpp
  libvast/test/detail/lru_cache.cpp
  libvast/test/flatbuffers.cpp
  libvast/vast/concept/parseable/vast/si.hpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/lru_cache.hpp
  libvast/vast/directory.hpp
  libvast/vast/fbs/synopsis.fbs
  libvast/vast/meta_index.hpp
  libvast/vast/system/archive.hpp
  libvast/vast/system/disk_monitor.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/spawn_disk_monitor.hpp
  vast.yaml.example
Labels: feature :gift:

#1126 Add status handling stub into disk monitor
  libvast/src/system/disk_monitor.cpp
  libvast/vast/system/disk_monitor.hpp
Labels: bug :beetle:

#1123 Fix file identifier check in lsvast
  CHANGELOG.md
  tools/lsvast/lsvast.cpp
Labels: bug :beetle:

#1117 Pass optional logger during construction
  pyvast/README.md
  pyvast/example/example.py
  pyvast/pyvast/test_vast.py
  pyvast/pyvast/vast.py
  pyvast/setup.py
Labels: enhancement :sparkles:

#1124 Remove duplicate schema entries
  schema/suricata.schema
Labels: bug :beetle:

#1116 Change /var/db to /var/lib on Linux deployments
  CHANGELOG.md
  Dockerfile
  Dockerfile_prebuilt
  INSTALLATION.md
  systemd/README.md
  systemd/vast.service
  systemd/vast.yaml
Labels: enhancement :sparkles:

#1125 Handle concept descriptions properly
  libvast/src/system/type_registry.cpp
  libvast/src/taxonomies.cpp
  libvast/test/system/type_registry.cpp
  libvast/test/taxonomies.cpp
  libvast/vast/taxonomies.hpp
  schema/ecs.yaml
Labels: bug :beetle:

#1122 Prepare October 2020 release
  CHANGELOG.md
  README.md
  pyvast/setup.py
Labels: maintenance :scissors:

#1128 Replace PID file if process does not exist
  CHANGELOG.md
  libvast/src/detail/pid_file.cpp
Labels: enhancement :sparkles:
