Repository tenzir/tenzir, pull requests merged in 2020-03, with the labels that each got.

#775 Fix Arrow dependencies for the static build
  CMakeLists.txt
  cmake/FindArrow.cmake
  cmake/FindDoubleConversion.cmake
  cmake/FindGLOG.cmake
  cmake/FindPlasma.cmake
  cmake/FindSnappy.cmake
  cmake/FindSnappyAlt.cmake
  cmake/FindThrift.cmake
  cmake/Finduriparser.cmake
  cmake/FinduriparserAlt.cmake
  cmake/VASTConfig.cmake.in
  nix/gitDescribe.nix
  nix/vast.nix
Labels: bug :beetle:

#774 Fix stack-use-after-scope in rep and skip parsers
  libvast/vast/concept/parseable/core/repeat.hpp
  libvast/vast/concept/parseable/core/skip.hpp
Labels: bug :beetle:

#776 Enable pivoting for NetFlow records
  libvast/src/system/pivoter.cpp
Labels: enhancement :sparkles:

#777 Allow disabling Community ID computation for PCAPs
  CHANGELOG.md
  doc/cli/vast-import-pcap.md
  libvast/src/format/pcap.cpp
  libvast/src/system/application.cpp
  libvast/vast/format/pcap.hpp
Labels: enhancement :sparkles:

#778 Disable macOS in CI
  .github/workflows/vast.yml
Labels: maintenance :scissors:

#779 Fix user shutdown handling for continuous exports
  CHANGELOG.md
  libvast/src/system/exporter.cpp
  libvast/src/system/sink_command.cpp
Labels: bug :beetle:

#780 Fix the shared linking build in nix
  nix/gitDescribe.nix
  nix/vast.nix
Labels: bug :beetle:

#781 Remove -c short option for setting config file
  CHANGELOG.md
  libvast/src/system/application.cpp
  libvast/src/system/configuration.cpp
Labels: bug :beetle:

#783 Persist the index on each new partition
  libvast/src/system/index.cpp
  libvast/vast/system/index.hpp
Labels: enhancement :sparkles:

#785 Add vast-unit-test dir to gitignore
  .gitignore
Labels: maintenance :scissors:

#790 Fail integration tests early if jq is not in PATH
  CMakeLists.txt
Labels: bug :beetle:

#789 Rename vast.account event type to vast.statistics
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/server-zeek-conn-log/step_06.ref
  libvast/src/system/accountant.cpp
  scripts/vast-du
Labels: enhancement :sparkles:

#791 Require expressions to be parsed to end-of-input
  CHANGELOG.md
  libvast/test/expression.cpp
  libvast/test/expression_parseable.cpp
  libvast/vast/concept/parseable/vast/expression.hpp
Labels: bug :beetle:

#792 Fix recently introduced bug in eoi check for expression parser
  integration/default_set.yaml
  libvast/vast/concept/parseable/vast/expression.hpp
Labels: bug :beetle:

#793 Fix malformatted YAML in integration test
  integration/default_set.yaml
Labels: bug :beetle:

#795 Show required = for long opts in helptexts
  libvast/src/command.cpp
Labels: enhancement :sparkles:

#797 Replace 'caf#' prefix for CAF options with 'caf.'
  CHANGELOG.md
  libvast/src/system/configuration.cpp
  libvast/vast/system/configuration.hpp
Labels: enhancement :sparkles:

#794 Remove unused source file const_table_slice_handle.cpp
  libvast/src/const_table_slice_handle.cpp
Labels: maintenance :scissors:

#799 Reflect CAF config options in example vast.conf
  vast.conf
Labels: enhancement :sparkles:

#766 Port segment store to flatbuffers
  libvast/src/fbs/utils.cpp
  libvast/src/segment.cpp
  libvast/src/segment_builder.cpp
  libvast/src/segment_store.cpp
  libvast/vast/fbs/segment.fbs
  libvast/vast/fbs/utils.hpp
  libvast/vast/segment_builder.hpp
  libvast/vast/segment_store.hpp
Labels: enhancement :sparkles:

#787 Introduce the VERBOSE log level
  CHANGELOG.md
  CMakeLists.txt
  configure
  libvast/CMakeLists.txt
  libvast/src/command.cpp
  libvast/src/logger.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/index.cpp
  libvast/src/system/sink_command.cpp
  libvast/vast/config.hpp.in
  libvast/vast/defaults.hpp
  libvast/vast/logger.hpp
  libvast/vast/system/sink.hpp
  libvast/vast/system/source.hpp
  vast.conf
  vast/vast.cpp
Labels: enhancement :sparkles:

#788 Print index/archive event handling rates for VERBOSE log level
  libvast/src/system/archive.cpp
  libvast/src/system/index.cpp
Labels: enhancement :sparkles:

#770 Implement reader for Syslog RFC5424
  CHANGELOG.md
  doc/cli/vast-import-syslog.md
  integration/data/syslog/syslog.log
  integration/data/syslog/syslog.log.gz
  integration/default_set.yaml
  integration/reference/import-syslog/step_00.ref
  integration/reference/import-syslog/step_01.ref
  libvast/CMakeLists.txt
  libvast/src/format/syslog.cpp
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_source.cpp
  libvast/test/format/syslog.cpp
  libvast/vast/concept/parseable/core/repeat.hpp
  libvast/vast/defaults.hpp
  libvast/vast/format/syslog.hpp
  libvast/vast/system/spawn_source.hpp
  libvast_test/artifacts/logs/syslog/syslog-test.txt
  libvast_test/src/main.cpp
  libvast_test/vast/test/data.hpp
Labels: feature :gift:

#800 Include robin-map targets in VAST targets file
  CMakeLists.txt
  cmake/VASTConfig.cmake.in
Labels: bug :beetle:

#801 Install tsl-robin-mapTargets.cmake file
  CMakeLists.txt
  aux/robin-map/CMakeLists.txt
Labels: bug :beetle:

#804 Use consistent working directory
  Dockerfile
  Dockerfile_prebuilt
Labels: maintenance :scissors:

#803 Restrict log file creation to 'vast start'
  CHANGELOG.md
  libvast/src/command.cpp
  libvast/src/logger.cpp
  libvast/src/system/application.cpp
  libvast/src/system/default_configuration.cpp
  libvast/vast/defaults.hpp
  libvast/vast/logger.hpp
  vast.conf
Labels: enhancement :sparkles:

#805 Handle no-default-schema option
  vast/vast.cpp
Labels: bug :beetle:

#806 Add timestamp attribute to statistics ts field
  libvast/src/system/accountant.cpp
Labels: bug :beetle:, maintenance :scissors:

#807 Make the release build more introspectable
  CMakeLists.txt
  nix/vast.nix
Labels: maintenance :scissors:

#808 Require end-of-input to be reached for range-based parser invocations
  CHANGELOG.md
  doc/cli/vast-import-bgpdump.md
  doc/cli/vast-import-mrt.md
  integration/data/bgpdump/updates.20180530.bgpdump.gz
  integration/data/mrt/updates.20180530.0000.gz
  integration/default_set.yaml
  integration/reference/node-basic-mrt/step_00.ref
  integration/reference/node-basic-mrt/step_01.ref
  integration/reference/node-basic-mrt/step_02.ref
  integration/reference/node-basic-mrt/step_03.ref
  integration/reference/node-basic-mrt/step_04.ref
  integration/reference/server-basic-bgpdump/step_00.ref
  integration/reference/server-basic-bgpdump/step_01.ref
  integration/reference/server-basic-bgpdump/step_02.ref
  libvast/CMakeLists.txt
  libvast/src/format/bgpdump.cpp
  libvast/src/format/mrt.cpp
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_source.cpp
  libvast/test/format/csv.cpp
  libvast/test/format/mrt.cpp
  libvast/test/format/writer.cpp
  libvast/test/parseable.cpp
  libvast/test/system/archive.cpp
  libvast/vast/concept/parseable/core/parser.hpp
  libvast/vast/concept/parseable/to.hpp
  libvast/vast/defaults.hpp
  libvast/vast/format/bgpdump.hpp
  libvast/vast/format/mrt.hpp
  libvast/vast/system/spawn_source.hpp
  libvast_test/artifacts/logs/bgpdump/updates20140821.txt
  libvast_test/artifacts/logs/bgpdump/updates20180124.txt
  libvast_test/artifacts/logs/mrt/bview.20161024.0800
  libvast_test/artifacts/logs/mrt/updates20150505.0
  libvast_test/src/events.cpp
  libvast_test/src/main.cpp
  libvast_test/vast/test/data.hpp
  libvast_test/vast/test/fixtures/events.hpp
Labels: bug :beetle:

#809 Prepare changelog for March 2020 release
  CHANGELOG.md
Labels: maintenance :scissors:

#810 Fix links to PRs in changelog
  CHANGELOG.md
Labels: maintenance :scissors:

#811 Add Nix specific installation instructions
  INSTALLATION.md
Labels: maintenance :scissors:

#812 Add retry support for timed out integration tests
  integration/integration.py
Labels: enhancement :sparkles:

#802 Set a default request timeout
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/node.cpp
  libvast/vast/defaults.hpp
Labels: bug :beetle:

#815 Print a message when expecting input
  libvast/vast/system/reader_command.hpp
Labels: enhancement :sparkles:
