Repository tenzir/tenzir, pull requests merged in 2020-04, with the labels that each got.

#814 List all VAST options in example vast.conf
  vast.conf
Labels: enhancement :sparkles:

#816 Extend PyVAST for fluent command chaining
  examples/ipython/demo.md
  examples/ipython/requirements.txt
  examples/ipython/vast-connections.ipynb
  examples/ipython/vast-example-1.ipynb
  pyvast/README.md
  pyvast/example/README.md
  pyvast/example/example.py
  pyvast/example/requirements.txt
  pyvast/pyvast/__init__.py
  pyvast/pyvast/test_vast.py
  pyvast/pyvast/vast.py
  pyvast/requirements.txt
  pyvast/setup.py
  pyvast/vast.py
Labels: feature :gift:

#818 Add missing comments to vast.conf
  vast.conf
Labels: bug :beetle:

#817 Reduce noise from evaluator hits debug log
  libvast/src/system/evaluator.cpp
Labels: bug :beetle:

#819 Improve helptext formatting for boolean options
  libvast/src/command.cpp
Labels: bug :beetle:

#820 Add new error code for "out of memory"
  libvast/src/error.cpp
  libvast/test/error.cpp
  libvast/vast/error.hpp
Labels: enhancement :sparkles:

#822 Print schema load path at verbose log level
  libvast/src/schema.cpp
Labels: enhancement :sparkles:

#823 Use a timeout when collecting a components status
  libvast/src/system/node.cpp
Labels: bug :beetle:

#825 Make archive session extraction interruptible
  CHANGELOG.md
  libvast/src/system/archive.cpp
  libvast/vast/system/archive.hpp
Labels: bug :beetle:

#824 Enable continuous queries in PyVAST
  .github/workflows/vast.yml
  .gitignore
  examples/ipython/pyvast
  examples/ipython/requirements.txt
  examples/ipython/vast-connections.ipynb
  examples/ipython/vast-example-1.ipynb
  pyvast/README.md
  pyvast/example/README.md
  pyvast/example/example.py
  pyvast/pyvast/vast.py
Labels: enhancement :sparkles:

#826 Use Homebrew to locate OpenSSL on macOS
  CMakeLists.txt
Labels: bug :beetle:

#829 Rename steady_{map,set} to stable_{map,set}
  libvast/test/expression.cpp
  libvast/test/vector_map.cpp
  libvast/test/vector_set.cpp
  libvast/vast/aliases.hpp
  libvast/vast/detail/stable_map.hpp
  libvast/vast/detail/stable_set.hpp
  libvast/vast/hash_index.hpp
  libvast/vast/json.hpp
Labels: refactoring :hammer_and_wrench:

#831 Fix connecting to the Node on IPv6
  libvast/src/system/connect_to_node.cpp
Labels: bug :beetle:

#833 Add Bash autocompletion for VAST
  CHANGELOG.md
  scripts/vast-completions.bash
Labels: feature :gift:

#834 Fix inequality port lookups
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/conn-log-counting/step_03.ref
  integration/reference/conn-log-counting/step_04.ref
  libvast/src/value_index.cpp
  libvast/test/value_index.cpp
Labels: bug :beetle:

#836 Fix ankle-biting compiler warnings
  libvast/src/column_index.cpp
  libvast/src/system/spawn_type_registry.cpp
  libvast/test/parseable.cpp
  libvast/test/system/partition.cpp
  libvast/test/system/type_registry.cpp
  libvast/vast/aliases.hpp
  libvast/vast/system/indexer_downstream_manager.hpp
  libvast/vast/system/indexer_stage_driver.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/table_slice_column.hpp
Labels: maintenance :scissors:

#835 Use line reader timeout
  CHANGELOG.md
  libvast/src/format/csv.cpp
  libvast/src/format/syslog.cpp
  libvast/src/format/zeek.cpp
  libvast/vast/defaults.hpp
  libvast/vast/format/json.hpp
  libvast/vast/system/source.hpp
Labels: bug :beetle:

#837 Allow for passing parameters to integration tests
  CMakeLists.txt
Labels: enhancement :sparkles:

#830 Remove assertion from expression tailoring
  CHANGELOG.md
  libvast/src/expression.cpp
  libvast/src/system/counter.cpp
  libvast/src/system/exporter.cpp
  libvast/test/system/exporter.cpp
Labels: bug :beetle:

#841 Fix comparison warning
  libvast/test/system/type_registry.cpp
Labels: maintenance :scissors:

#839 Fix spelling in recent changelog entry
  CHANGELOG.md
Labels: bug :beetle:

#840 Inspect #timestamp queries during type resolution
  integration/default_set.yaml
  integration/reference/node-zeek-multiple-imports/step_04.ref
  integration/reference/node-zeek-multiple-imports/step_05.ref
  integration/reference/server-zeek-multiple-imports/step_00.ref
  integration/reference/server-zeek-multiple-imports/step_01.ref
  integration/reference/server-zeek-multiple-imports/step_02.ref
  integration/reference/server-zeek-multiple-imports/step_03.ref
  integration/reference/server-zeek-multiple-imports/step_04.ref
  integration/reference/server-zeek-multiple-imports/step_05.ref
  libvast/src/expression_visitors.cpp
  libvast/src/system/partition.cpp
  libvast/vast/expression_visitors.hpp
Labels: bug :beetle:

#842 Fix meta index nondeterminism
  CHANGELOG.md
  libvast/src/meta_index.cpp
Labels: bug :beetle:

#843 Rename count.skip-candidate-checks to count.estimate
  CHANGELOG.md
  integration/default_set.yaml
  libvast/src/system/application.cpp
  libvast/src/system/spawn_counter.cpp
  vast.conf
Labels: enhancement :sparkles:

#845 Log errors in JSON reader to accountant
  libvast/vast/format/json.hpp
Labels: enhancement :sparkles:

#844 Keep track of discarded packets
  CHANGELOG.md
  libvast/src/format/pcap.cpp
  libvast/vast/format/pcap.hpp
Labels: enhancement :sparkles:

#846 Add importer to node state
  libvast/src/system/spawn_importer.cpp
  libvast/src/system/tracker.cpp
  libvast/vast/system/node.hpp
Labels: enhancement :sparkles:

#849 Make stop command blocking and return properly
  CHANGELOG.md
  libvast/CMakeLists.txt
  libvast/src/system/application.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/node.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/stop_command.cpp
  libvast/vast/system/stop_command.hpp
Labels: bug :beetle:

#851 Fix build failure when using mutex workaround
  libvast/vast/system/instrumentation.hpp
Labels: bug :beetle:

#850 Prepare changelog for 2020.04.29 release
  CHANGELOG.md
Labels: enhancement :sparkles:
