Repository tenzir/tenzir, pull requests merged in 2020-05, with the labels that each got.

#847 Correct check for user schema in zeek reader
  CHANGELOG.md
  libvast/src/format/zeek.cpp
  libvast/test/format/zeek.cpp
  libvast/vast/system/tracker.hpp
  schema/zeek.schema
  shell.nix
Labels: bug :beetle:

#853 Minor build fixes for uncommon configurations
  CMakeLists.txt
  cmake/FindPCAP.cmake
  libvast/CMakeLists.txt
  libvast/src/system/application.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/vast/concept/parseable/vast/si.hpp
Labels: bug :beetle:

#855 Fix event check in fdinbuf
  libvast/src/detail/fdinbuf.cpp
Labels: bug :beetle:

#854 Add a script to inspect the index disk utilization
  scripts/index-du
Labels: feature :gift:

#858 Make index-du script work on FreeBSD and macOS
  scripts/index-du
Labels: bug :beetle:

#859 Print tagged version in build summary
  CMakeLists.txt
Labels: enhancement :sparkles:

#857 Improve setup instructions for venv
  examples/ipython/demo.md
  examples/ipython/requirements.txt
  examples/ipython/vast-connections.ipynb
Labels: enhancement :sparkles:

#861 Fix pivot_command.cpp build failure without pcap
  libvast/src/system/pivot_command.cpp
Labels: bug :beetle:

#864 Fix alignment in paramaters helptext
  libvast/src/command.cpp
Labels: bug :beetle:

#867 Use direct link to docs
  README.md
Labels: enhancement :sparkles:

#862 Refactor meta index
  libvast/src/meta_index.cpp
  libvast/src/qualified_record_field.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer_downstream_manager.cpp
  libvast/src/system/partition.cpp
  libvast/test/meta_index.cpp
  libvast/vast/meta_index.hpp
  libvast/vast/qualified_record_field.hpp
  libvast_test/src/table_slices.cpp
Labels: refactoring :hammer_and_wrench:

#866 Various config and default setting fixes
  CHANGELOG.md
  libvast/src/command.cpp
  libvast/src/detail/add_message_types.cpp
  libvast/src/format/zeek.cpp
  libvast/src/system/application.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/default_configuration.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/profiler.cpp
  libvast/src/system/spawn_profiler.cpp
  libvast/src/system/spawn_sink.cpp
  libvast/src/system/spawn_source.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/version_command.cpp
  libvast/src/table_slice_builder_factory.cpp
  libvast/src/table_slice_factory.cpp
  libvast/test/vector_map.cpp
  libvast/vast/config.hpp.in
  libvast/vast/defaults.hpp
  libvast/vast/detail/assert.hpp
  libvast/vast/detail/narrow.hpp
  libvast/vast/detail/range.hpp
  libvast/vast/system/default_configuration.hpp
  libvast/vast/system/fwd.hpp
  libvast/vast/system/instrumentation.hpp
  libvast/vast/system/reader_command.hpp
  vast.conf
  vast/vast.cpp
Labels: bug :beetle:

#860 Add systemd unit for vast
  systemd/README.md
  systemd/vast.conf
  systemd/vast.service
Labels: feature :gift:

#868 Remove duplicate option from help text
  libvast/src/system/application.cpp
Labels: bug :beetle:

#865 Support \r\n-style newlines in VAST
  CHANGELOG.md
  libvast/src/detail/line_range.cpp
  libvast/test/format/csv.cpp
  libvast/vast/detail/getline_generic.hpp
Labels: enhancement :sparkles:

#870 Rename statistics event to metrics
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/server-zeek-conn-log/step_06.ref
  libvast/src/system/accountant.cpp
  libvast/src/system/application.cpp
  libvast/src/system/spawn_node.cpp
  scripts/vast-du
  vast.conf
Labels: enhancement :sparkles:

#871 Show types on verbose output when first registered
  libvast/src/system/type_registry.cpp
Labels: enhancement :sparkles:

#872 Allow spaces as timestamp separators
  libvast/test/time.cpp
  libvast/vast/concept/parseable/vast/time.hpp
Labels: bug :beetle:

#876 Fix typo in vast explore samples
  doc/cli/vast-explore.md
Labels: bug :beetle:

#878 UX improvements for `read_query()`
  CHANGELOG.md
  libvast/src/system/read_query.cpp
Labels: enhancement :sparkles:

#879 Warn only when spreading query over multiple args
  libvast/src/system/read_query.cpp
Labels: bug :beetle:

#880 Re-enable macOS in CI
  .github/workflows/vast.yml
  integration/default_set.yaml
  integration/reference/explore-suricata-with-overlap/step_01.ref
  integration/reference/manual-1-node/step_03.ref
  integration/reference/server-zeek-conn-log/step_06.ref
Labels: enhancement :sparkles:

#877 Add '--by' option to 'vast explore'
  CHANGELOG.md
  integration/default_set.yaml
  integration/reference/explore-zeek-by-field/step_00.ref
  integration/reference/explore-zeek-by-field/step_01.ref
  integration/reference/explore-zeek-by-field/step_02.ref
  libvast/CMakeLists.txt
  libvast/src/error.cpp
  libvast/src/system/application.cpp
  libvast/src/system/explore_command.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/spawn_explorer.cpp
  libvast/test/system/explorer.cpp
  libvast/vast/error.hpp
  libvast/vast/optional.hpp
  libvast/vast/system/explorer.hpp
  libvast/vast/system/spawn_explorer.hpp
Labels: feature :gift:

#883 Dont overwrite default options when running a command
  libvast/src/command.cpp
Labels: bug :beetle:

#875 Deduce types for heterogenous JSONL import
  CHANGELOG.md
  doc/cli/vast-import-json.md
  doc/cli/vast-import.md
  integration/default_set.yaml
  integration/misc/schema/zeek-conn.schema
  integration/reference/type-registry/step_00.ref
  integration/reference/type-registry/step_01.ref
  libvast/CMakeLists.txt
  libvast/src/detail/add_message_types.cpp
  libvast/src/error.cpp
  libvast/src/system/application.cpp
  libvast/src/system/source_command.cpp
  libvast/src/system/tracker.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/error.cpp
  libvast/test/format/json.cpp
  libvast/test/system/datagram_source.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/source.cpp
  libvast/test/system/type_registry.cpp
  libvast/vast/error.hpp
  libvast/vast/format/json.hpp
  libvast/vast/json.hpp
  libvast/vast/system/datagram_source.hpp
  libvast/vast/system/fwd.hpp
  libvast/vast/system/generator_command.hpp
  libvast/vast/system/import_command.hpp
  libvast/vast/system/reader_command.hpp
  libvast/vast/system/source.hpp
  libvast/vast/system/source_command.hpp
  libvast/vast/system/type_registry.hpp
Labels: feature :gift:

#885 Tweak changelog style
  CHANGELOG.md
Labels: enhancement :sparkles:

#886 Publish Sysmon schema
  CHANGELOG.md
  aux/broker/CMakeLists.txt
  integration/data/json/sysmon.json
  integration/default_set.yaml
  integration/reference/heterogenous-jsonl-import/step_00.ref
  integration/reference/heterogenous-jsonl-import/step_01.ref
  integration/reference/server-zeek-conn-log/step_06.ref
  libvast/src/system/explore_command.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/format/json.cpp
  libvast/test/system/explorer.cpp
  libvast/vast/format/json.hpp
  libvast/vast/system/source.hpp
  schema/sysmon.schema
  scripts/generate-sysmon-schema.py
Labels: enhancement :sparkles:

#887 Prepare changelog for May 2020 release
  CHANGELOG.md
Labels: maintenance :scissors:

#890 Fix macOS action for annotated tags
  .github/workflows/vast.yml
Labels: bug :beetle:

#892 Fix stream error state handling in getline_generic
  libvast/vast/detail/getline_generic.hpp
Labels: bug :beetle:
