Repository tenzir/tenzir, pull requests merged in 2020-01, with the labels that each got.

#693 Add FreeBSD rc.d script
  CHANGELOG.md
  CMakeLists.txt
  scripts/freebsd-rc-vast
Labels: feature :gift:

#694 Add script to demultiplex Corelight sensor data
  CMakeLists.txt
  scripts/corelight-cat
Labels: feature :gift:

#692 Polish README
  .github/workflows/vast.yml
  INSTALLATION.md
  README.md
Labels: enhancement :sparkles:

#696 Allow passing the version as a cmake argument
  CMakeLists.txt
Labels: maintenance :scissors:

#697 Relocate debug information to a common prefix
  CMakeLists.txt
Labels: enhancement :sparkles:

#695 Perform pass over build config defaults
  .github/workflows/vast.yml
  CHANGELOG.md
  CMakeLists.txt
  INSTALLATION.md
  configure
Labels: enhancement :sparkles:

#701 Fix Docker Build
  Dockerfile
  INSTALLATION.md
  scripts/docker-build
Labels: bugfix :beetle:, maintenance :scissors:

#702 Group configuration in CI matrix
  .github/workflows/vast.yml
Labels: bugfix :beetle:, refactoring :hammer_and_wrench:

#698 Add FreeBSD install instructions
  INSTALLATION.md
Labels: maintenance :scissors:

#703 Fix race in index lookup
  CHANGELOG.md
  libvast/src/system/index.cpp
  libvast/vast/system/index.hpp
Labels: bugfix :beetle:

#700 Provide a graceful fallback from pkg-config
  CMakeLists.txt
  cmake/FindArrow.cmake
  cmake/FindBrotli.cmake
  cmake/FindPlasma.cmake
  cmake/FindZSTD.cmake
  cmake/Finduriparser.cmake
  cmake/FinduriparserAlt.cmake
Labels: bugfix :beetle:

#699 Document installation on macOS
  INSTALLATION.md
Labels: enhancement :sparkles:, maintenance :scissors:

#704 Add link to installation instructions to header
  README.md
Labels: enhancement :sparkles:

#705 Fix configuration file option parsing
  integration/integration.py
  libvast/src/command.cpp
  libvast/src/system/configuration.cpp
  libvast/vast/config.hpp.in
  vast.conf
Labels: bugfix :beetle:

#632 Add optimized implementation for string indexes
  CHANGELOG.md
  integration/reference/node-zeek-dns-log/step_02.ref
  libvast/CMakeLists.txt
  libvast/src/expression_visitors.cpp
  libvast/src/format/zeek.cpp
  libvast/src/value_index.cpp
  libvast/src/value_index_factory.cpp
  libvast/src/view.cpp
  libvast/test/hash_index.cpp
  libvast/test/value_index.cpp
  libvast/test/view.cpp
  libvast/vast/attribute.hpp
  libvast/vast/bitmap_algorithms.hpp
  libvast/vast/concept/hashable/hash_append.hpp
  libvast/vast/detail/vector_map.hpp
  libvast/vast/hash_index.hpp
  libvast/vast/value_index.hpp
  libvast/vast/view.hpp
Labels: feature :gift:, performance :rocket:

#707 Fix CMake project scaffold
  CMakeLists.txt
  configure
  libvast/vast/config.hpp.in
Labels: bugfix :beetle:, maintenance :scissors:

#708 Fix a memory leak in the arrow table slice
  libvast/src/arrow_table_slice.cpp
Labels: bugfix :beetle:

#709 Avoid CMake warning because of policy 48
  CMakeLists.txt
Labels: bugfix :beetle:, maintenance :scissors:

#706 Minor parser changes
  CHANGELOG.md
  libvast/vast/concept/parseable/vast/data.hpp
  libvast/vast/concept/parseable/vast/schema.hpp
  libvast/vast/concept/parseable/vast/type.hpp
Labels: maintenance :scissors:

#710 Use a more precise error code for type selection
  libvast/src/error.cpp
  libvast/test/error.cpp
  libvast/vast/error.hpp
  libvast/vast/system/reader_command.hpp
Labels: maintenance :scissors:

#713 Properly show the max allowed log level when exceeding it
  CMakeLists.txt
  libvast/src/command.cpp
Labels: bugfix :beetle:

#712 Silence warnings from included Arrow headers
  libvast/CMakeLists.txt
Labels: maintenance :scissors:

#714 Merge invocation options
  libvast/src/command.cpp
Labels: bugfix :beetle:

#715 Allow different integral types in repeat parser
  libvast/vast/concept/parseable/core/repeat.hpp
Labels: refactoring :hammer_and_wrench:

#716 Refactor hard-coded constant for signal monitor.
  libvast/src/system/count_command.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/source_command.cpp
  libvast/src/system/start_command.cpp
  libvast/vast/defaults.hpp
  libvast/vast/system/signal_monitor.hpp
Labels: refactoring :hammer_and_wrench:

#717 Fix links to PRs in changelog
  CHANGELOG.md
Labels: bugfix :beetle:

#718 Avoid unnecessary man page regenerations
  .github/workflows/vast.yml
  doc/CMakeLists.txt
Labels: maintenance :scissors:

#719 Build the man page as part of the all target
  CMakeLists.txt
  doc/CMakeLists.txt
  vast/CMakeLists.txt
Labels: bugfix :beetle:

#720 Add basic information to Linux section of install guide
  INSTALLATION.md
Labels: enhancement :sparkles:

#721 Refactor interface of system::get_node_component
  libvast/src/system/pivot_command.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/source_command.cpp
  libvast/vast/system/node_control.hpp
  libvast/vast/system/tracker.hpp
Labels: refactoring :hammer_and_wrench:

#722 Fix warnings from Clang 10
  aux/broker/CMakeLists.txt
  libvast/src/segment.cpp
Labels: bugfix :beetle:

#685 Add Python module for submitting queries to VAST
  .clang-format
  .github/workflows/vast.yml
  .gitignore
  CHANGELOG.md
  examples/ipython/demo.md
  examples/ipython/pyvast
  examples/ipython/vast-connections.ipynb
  examples/ipython/vast-example-1.ipynb
  libvast/test/parseable.cpp
  libvast/test/string.cpp
  libvast/test/type.cpp
  libvast/vast/concept/parseable/string/quoted_string.hpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast/vast/format/json.hpp
  pyvast/__init__.py
  pyvast/vast.py
Labels: feature :gift:

#711 Support runtime options in value index factory
  libvast/src/column_index.cpp
  libvast/src/meta_index.cpp
  libvast/src/synopsis.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/spawn_indexer.cpp
  libvast/src/value_index.cpp
  libvast/src/value_index_factory.cpp
  libvast/test/column_index.cpp
  libvast/test/hash_index.cpp
  libvast/test/synopsis.cpp
  libvast/test/system/indexer.cpp
  libvast/test/system/indexer_stage_driver.cpp
  libvast/test/value_index.cpp
  libvast/vast/aliases.hpp
  libvast/vast/column_index.hpp
  libvast/vast/concept/parseable/vast/base.hpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/bit.hpp
  libvast/vast/hash_index.hpp
  libvast/vast/meta_index.hpp
  libvast/vast/synopsis_factory.hpp
  libvast/vast/system/indexer.hpp
  libvast/vast/system/spawn_indexer.hpp
  libvast/vast/value_index.hpp
  libvast/vast/value_index_factory.hpp
  libvast_test/src/dummy_index.cpp
  libvast_test/src/table_slices.cpp
Labels: enhancement :sparkles:

#725 Silence Broker warning only when available
  aux/broker/CMakeLists.txt
Labels: maintenance :scissors:

#726 Generalize hash indexes to all data types
  CHANGELOG.md
  libvast/src/value_index_factory.cpp
  libvast/test/hash_index.cpp
Labels: enhancement :sparkles:

#724 Fix ADL issue for unused_type
  libvast/src/expression_visitors.cpp
  libvast/src/format/csv.cpp
  libvast/src/format/json.cpp
  libvast/src/meta_index.cpp
  libvast/test/expression.cpp
  libvast/test/expression_parseable.cpp
  libvast/test/format/csv.cpp
  libvast/test/format/json.cpp
  libvast/test/format/mrt.cpp
  libvast/test/meta_index.cpp
  libvast/test/schema.cpp
  libvast/test/segment_store.cpp
  libvast/test/system/indexer_stage_driver.cpp
  libvast/test/time.cpp
  libvast/test/value_index.cpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast/vast/concept/support/unused_type.hpp
  libvast/vast/data.hpp
  libvast/vast/detail/range_map.hpp
  libvast/vast/json.hpp
  libvast/vast/meta_index.hpp
  libvast/vast/synopsis.hpp
  libvast/vast/view.hpp
Labels: bugfix :beetle:

#729 Fix check whether expected<T> holds a value
  libvast/vast/value_index.hpp
Labels: bugfix :beetle:

#732 Fix option handling in arithmetic_index
  libvast/vast/value_index.hpp
Labels: bugfix :beetle:

#730 Migrate to Google Cloud
  .github/workflows/vast.yml
Labels: maintenance :scissors:

#733 Auto-Publish to DockerHub
  .dockerignore
  .github/workflows/vast.yml
  Dockerfile_prebuilt
Labels: maintenance :scissors:

#734 Switch to manual release workflow
  .github/workflows/vast.yml
  RELEASING.md
Labels: maintenance :scissors:

#736 Extend the output of vast version
  libvast/src/json.cpp
  libvast/src/system/version_command.cpp
  libvast/test/json.cpp
  libvast/vast/json.hpp
  libvast/vast/system/version_command.hpp
Labels: enhancement :sparkles:

#735 Dont discard backslash characters from qqstr
  libvast/test/parseable.cpp
  libvast/vast/concept/parseable/string/quoted_string.hpp
Labels: bugfix :beetle:

#737 Fix warnings in CSV tests
  libvast/src/format/csv.cpp
  libvast/test/span.cpp
Labels: bugfix :beetle:, enhancement :sparkles:

#738 Annotate schemas with #index=hash attribute
  libvast/src/format/pcap.cpp
  schema/argus.schema
  schema/suricata.schema
Labels: enhancement :sparkles:

#739 Switch to a calendar-based versioning scheme
  CHANGELOG.md
  CMakeLists.txt
  libvast/CMakeLists.txt
  libvast_test/CMakeLists.txt
Labels: maintenance :scissors:

#741 Fix version string parsing in CMake
  CMakeLists.txt
Labels: bug :beetle:
