Repository tenzir/tenzir, pull requests merged in 2021-02, with the labels that each got.

#1324 Get VAST to compile under gcc11-20210124
  libvast/vast/directory.hpp
Labels: maintenance :scissors:

#1321 Make expressions print nicely in log messages
  libvast/src/bool_synopsis.cpp
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/data.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/index/address_index.cpp
  libvast/src/index/enumeration_index.cpp
  libvast/src/index/list_index.cpp
  libvast/src/index/string_index.cpp
  libvast/src/index/subnet_index.cpp
  libvast/src/operator.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/pivoter.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/taxonomies.cpp
  libvast/src/type.cpp
  libvast/src/value_index.cpp
  libvast/src/view.cpp
  libvast/test/address_synopsis.cpp
  libvast/test/bitmap_index.cpp
  libvast/test/coder.cpp
  libvast/test/data.cpp
  libvast/test/expression.cpp
  libvast/test/expression_parseable.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/index/address_index.cpp
  libvast/test/index/arithmetic_index.cpp
  libvast/test/index/enumeration_index.cpp
  libvast/test/index/hash_index.cpp
  libvast/test/index/list_index.cpp
  libvast/test/index/string_index.cpp
  libvast/test/index/subnet_index.cpp
  libvast/test/system/evaluator.cpp
  libvast/test/type.cpp
  libvast/test/value_index.cpp
  libvast/vast/bitmap_index.hpp
  libvast/vast/bloom_filter_synopsis.hpp
  libvast/vast/buffered_synopsis.hpp
  libvast/vast/coder.hpp
  libvast/vast/concept/printable/to_string.hpp
  libvast/vast/concept/printable/vast/operator.hpp
  libvast/vast/expression_visitors.hpp
  libvast/vast/fwd.hpp
  libvast/vast/index/container_lookup.hpp
  libvast/vast/index/hash_index.hpp
  libvast/vast/min_max_synopsis.hpp
  libvast/vast/operator.hpp
  libvast_test/vast/test/synopsis.hpp
Labels: bug :beetle:

#1326 Fix keyserver receive error
  .github/workflows/vast.yaml
  Dockerfile
Labels: bug :beetle:

#1329 Bump nixpkgs to 449b698
  nix/pinned.nix
Labels: maintenance :scissors:

#1330 Require fmt to be installed separately from spdlog
  .clang-format
  .github/workflows/vast.yaml
  CHANGELOG.md
  CMakeLists.txt
  Dockerfile
  configure
  libvast/CMakeLists.txt
  libvast/src/logger.cpp
  libvast/vast/detail/logger.hpp
  libvast/vast/detail/logger_formatters.hpp
  libvast/vast/logger.hpp
  libvast/vast/system/make_source.hpp
Labels: enhancement :sparkles:

#1332 Delete assets before uploading new ones
  .github/workflows/static-binary.yaml
  .github/workflows/vast.yaml
Labels: bug :beetle:

#1334 Merge CLI options before initializing logger
  CHANGELOG.md
  vast/vast.cpp
Labels: bug :beetle:

#1336 Capture 'self' explicitly in actor behaviors
  libvast/src/system/accountant.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/evaluator.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/posix_filesystem.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/type_registry.cpp
  libvast/vast/system/datagram_source.hpp
  libvast/vast/system/disk_monitor.hpp
  libvast/vast/system/evaluator.hpp
  libvast/vast/system/posix_filesystem.hpp
  libvast/vast/system/query_supervisor.hpp
  libvast/vast/system/source.hpp
Labels: refactoring :hammer_and_wrench:

#1338 Make the node handle available to analyzer plugins
  examples/plugins/example/example.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/spawn_importer.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/importer.cpp
  libvast/vast/plugin.hpp
  libvast/vast/system/importer.hpp
Labels: enhancement :sparkles:

#1339 Make the analyzer plugin actor a status client actor
  examples/plugins/example/example.cpp
  examples/plugins/example/integration/reference/example/step_01.ref
  examples/plugins/example/integration/tests.yaml
  libvast/src/system/importer.cpp
  libvast/vast/plugin.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/importer.hpp
Labels: feature :gift:

#1340 Add mechanism for plugins to install schema files
  examples/plugins/example/CMakeLists.txt
  examples/plugins/example/schema/types/plugin.example.schema
  vast/CMakeLists.txt
Labels: feature :gift:

#1346 Logging adjustments
  examples/plugins/example/example.cpp
  libvast/src/command.cpp
  libvast/src/directory.cpp
  libvast/src/format/csv.cpp
  libvast/src/format/single_layout_reader.cpp
  libvast/src/format/test.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/eraser.cpp
  libvast/src/system/evaluator.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/get_command.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/infer_command.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/pcap_writer_command.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/pivoter.cpp
  libvast/src/system/read_query.cpp
  libvast/src/system/remote_command.cpp
  libvast/src/system/spawn_counter.cpp
  libvast/src/system/spawn_disk_monitor.cpp
  libvast/src/system/spawn_eraser.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/system/spawn_or_connect_to_node.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/stop_command.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/system/version_command.cpp
  libvast/src/system/writer_command.cpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/tracepoint.hpp
  libvast/vast/format/json.hpp
  libvast/vast/format/simdjson.hpp
  libvast/vast/logger.hpp
  libvast/vast/system/import_command.hpp
  libvast/vast/system/source.hpp
  libvast/vast/system/spawn_source.hpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1347 Fix misbehavior of queries returning no results
  libvast/src/system/node.cpp
Labels: bug :beetle:

#1341 Allow for plugins to assign additional type IDs
  examples/plugins/example/example.cpp
  libvast/src/plugin.cpp
  libvast/vast/plugin.hpp
  vast/vast.cpp
Labels: feature :gift:

#1349 Add test for a query that returns no results
  vast/integration/default_set.yaml
  vast/integration/reference/conn-log-counting/step_05.ref
  vast/integration/vast.yaml
  vast/vast.cpp
Labels: bug :beetle:

#1348 Simplify select overloads for words
  libvast/vast/word.hpp
Labels: refactoring :hammer_and_wrench:

#1351 Prefer std::bool_constant over vast::bool_constant
  libvast/vast/bitmap_index.hpp
  libvast/vast/concept/hashable/hash_append.hpp
  libvast/vast/concept/printable/detail/as_printer.hpp
  libvast/vast/detail/function.hpp
  libvast/vast/detail/narrow.hpp
  libvast/vast/detail/type_traits.hpp
  libvast/vast/span.hpp
Labels: refactoring :hammer_and_wrench:

#1353 Factor out logic from main function
  libvast/src/detail/load_plugin.cpp
  libvast/src/system/application.cpp
  libvast/vast/detail/load_plugin.hpp
  vast/vast.cpp
Labels: refactoring :hammer_and_wrench:

#1355 Disable the "node queries" unit test
  libvast/test/system/queries.cpp
Labels: bug :beetle:

#1344 Avoid flattening the layout in partition_selector
  libvast/src/arrow_table_slice.cpp
  libvast/src/detail/add_message_types.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/format/csv.cpp
  libvast/src/format/pcap.cpp
  libvast/src/msgpack_table_slice.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/partition.cpp
  libvast/src/table_slice_column.cpp
  libvast/src/type.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/format/csv.cpp
  libvast/test/schema.cpp
  libvast/test/system/archive.cpp
  libvast/test/table_slice.cpp
  libvast/test/type.cpp
  libvast/test/type_test.hpp
  libvast/vast/fwd.hpp
  libvast/vast/qualified_record_field.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/table_slice_column.hpp
  libvast/vast/type.hpp
Labels: enhancement :sparkles:

#1358 Remove contains type trait
  libvast/vast/detail/type_traits.hpp
Labels: refactoring :hammer_and_wrench:

#1357 Speed up compile time computation of sum
  libvast/test/detail/type_traits.cpp
  libvast/vast/concept/hashable/hash_append.hpp
  libvast/vast/detail/type_traits.hpp
Labels: refactoring :hammer_and_wrench:

#1354 Move options from format to the import subcommand
  CHANGELOG.md
  doc/cli/vast-import-csv.md
  libvast/src/command.cpp
  libvast/src/defaults.cpp
  libvast/src/format/pcap.cpp
  libvast/src/format/writer_factory.cpp
  libvast/src/format/zeek.cpp
  libvast/src/schema.cpp
  libvast/src/system/application.cpp
  libvast/src/system/infer_command.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_sink.cpp
  libvast/test/format/pcap.cpp
  libvast/test/format/zeek.cpp
  libvast/test/system/sink.cpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/make_io_stream.hpp
  libvast/vast/format/arrow.hpp
  libvast/vast/format/ascii.hpp
  libvast/vast/format/json.hpp
  libvast/vast/format/null.hpp
  libvast/vast/format/reader.hpp
  libvast/vast/format/zeek.hpp
  libvast/vast/schema.hpp
  libvast/vast/system/import_command.hpp
  libvast/vast/system/make_source.hpp
  libvast/vast/system/spawn_source.hpp
  vast/integration/default_set.yaml
Labels: maintenance :scissors:

#1359 Expose -ftime-{trace,report} build options
  CMakeLists.txt
  configure
Labels: bug :beetle:, enhancement :sparkles:

#1360 Remove some unnecessary command.hpp includes
  libvast/src/system/infer_command.cpp
  libvast/src/system/pcap_writer_command.cpp
  libvast/src/system/remote_command.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/stop_command.cpp
  libvast/vast/system/count_command.hpp
  libvast/vast/system/explore_command.hpp
  libvast/vast/system/get_command.hpp
  libvast/vast/system/infer_command.hpp
  libvast/vast/system/pcap_writer_command.hpp
  libvast/vast/system/pivot_command.hpp
  libvast/vast/system/remote_command.hpp
  libvast/vast/system/sink_command.hpp
  libvast/vast/system/start_command.hpp
  libvast/vast/system/stop_command.hpp
  libvast/vast/system/version_command.hpp
  tools/zeek-to-vast/zeek-to-vast.cpp
Labels: refactoring :hammer_and_wrench:

#1327 Store partition synopses in separate files
  CHANGELOG.md
  libvast/src/system/index.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/spawn_index.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/vast/fbs/synopsis.fbs
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/partition.hpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1363 Turn the accountant into a named source
  libvast/src/system/accountant.cpp
Labels: enhancement :sparkles:

#1365 Use IPv4 for integration tests
  vast/integration/default_set.yaml
  vast/integration/vast.yaml
Labels: maintenance :scissors:

#1364 Fix the embedded version string for static
  cmake/VASTGitVersion.cmake
Labels: bug :beetle:

#1366 Introduce atom::internal as first argument for private behaviors
  libvast/src/system/archive.cpp
  libvast/src/system/partition.cpp
  libvast/test/system/eraser.cpp
  libvast/vast/atoms.hpp
  libvast/vast/system/actors.hpp
Labels: enhancement :sparkles:

#1367 Add a 'static binary' button to CI
  .github/workflows/static-binary.yaml
Labels: enhancement :sparkles:

#1362 Make log rotation configurable
  CHANGELOG.md
  libvast/src/detail/settings.cpp
  libvast/src/logger.cpp
  libvast/src/system/spawn_disk_monitor.cpp
  libvast/vast/defaults.hpp
  libvast/vast/detail/settings.hpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1369 Allow plugins to define up to two type ID blocks
  examples/plugins/example/example.cpp
  libvast/vast/plugin.hpp
Labels: enhancement :sparkles:

#1371 Fix formatting of recent changelog entries
  CHANGELOG.md
Labels: maintenance :scissors:

#1372 Read user-supplied schema files from config dirs
  CHANGELOG.md
  libvast/src/schema.cpp
Labels: bug :beetle:

#1374 Remove long-deprecated code
  CHANGELOG.md
  libvast/src/schema.cpp
  libvast/src/system/application.cpp
  libvast/src/system/read_query.cpp
Labels: bug :beetle:, maintenance :scissors:

#1376 Rename vast.meta-index-path to vast.meta-index-dir
  CHANGELOG.md
  libvast/src/system/spawn_index.cpp
  vast.yaml.example
Labels: bug :beetle:

#1375 Add a build-time option to always load all plugins
  configure
  vast/CMakeLists.txt
  vast/vast.cpp
Labels: enhancement :sparkles:

#1373 Expand subnet value predicates
  CHANGELOG.md
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/test/expression.cpp
  libvast/test/expression_parseable.cpp
  libvast/vast/expression.hpp
Labels: enhancement :sparkles:

#1377 Use detection idiom from standard library
  libvast/vast/concept/support/detail/sequence.hpp
  libvast/vast/detail/type_traits.hpp
  libvast/vast/factory.hpp
Labels: refactoring :hammer_and_wrench:

#1378 Fix log message formatting in sink command
  libvast/src/system/sink_command.cpp
Labels: bug :beetle:

#1331 Make it easier to reference user defined types in the schema language
  CHANGELOG.md
  libvast/src/concept/parseable/vast/type.cpp
  libvast/src/schema.cpp
  libvast/src/type.cpp
  libvast/test/expression_parseable.cpp
  libvast/test/parseable.cpp
  libvast/test/schema.cpp
  libvast/test/type.cpp
  libvast/vast/attribute.hpp
  libvast/vast/concept/parseable/string.hpp
  libvast/vast/concept/parseable/string/literal.hpp
  libvast/vast/concept/parseable/string/symbol_table.hpp
  libvast/vast/concept/parseable/vast/schema.hpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast/vast/type.hpp
  schema/types/argus.schema
  schema/types/base.schema
  schema/types/suricata.schema
  schema/types/sysmon.schema
  schema/types/zeek.schema
Labels: feature :gift:

#1368 Enable real-time metrics reporting
  CHANGELOG.md
  libvast/src/accountant/config.cpp
  libvast/src/system/accountant.cpp
  libvast/vast/accountant/config.hpp
  vast.yaml.example
Labels: feature :gift:

#1380 Add #ioc attributes to bundled Suricata schema
  schema/types/suricata.schema
Labels: enhancement :sparkles:

#1385 Render help and documentation on stdout
  CHANGELOG.md
  libvast/src/command.cpp
  scripts/vast-completions.bash
Labels: enhancement :sparkles:

#1384 Fix misalignment of configure and CMake options
  configure
Labels: maintenance :scissors:

#1386 Let the JSON reader recover from unexpected inputs
  CHANGELOG.md
  libvast/src/format/json.cpp
  libvast/vast/format/json.hpp
Labels: bug :beetle:

#1389 Exclude tests from sources for build tree hash
  CMakeLists.txt
Labels: enhancement :sparkles:

#1390 Add vast.log-queue-size option
  CHANGELOG.md
  libvast/src/logger.cpp
  libvast/vast/defaults.hpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1391 Change default vast.log-queue-size to 1M
  libvast/vast/defaults.hpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1382 Enable type extractors to support user defined types
  CHANGELOG.md
  libvast/src/expression_visitors.cpp
  libvast/src/meta_index.cpp
  libvast/test/expression.cpp
  libvast/test/type.cpp
  libvast/vast/type.hpp
  vast/integration/default_set.yaml
  vast/integration/reference/node-zeek-dns-log/step_03.ref
  vast/integration/reference/node-zeek-dns-log/step_04.ref
Labels: enhancement :sparkles:

#1394 Improve API for copying expression utilities
  libvast/src/detail/sigma.cpp
  libvast/src/expression.cpp
  libvast/src/system/eraser.cpp
  libvast/src/system/spawn_arguments.cpp
  libvast/vast/expression.hpp
  libvast/vast/system/make_source.hpp
Labels: refactoring :hammer_and_wrench:

#1388 Introduce and make use of the timestamp type
  CHANGELOG.md
  README.md
  doc/cli/vast-explore.md
  doc/cli/vast-export.md
  doc/cli/vast-import-json.md
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/concept/parseable/vast/type.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/format/pcap.cpp
  libvast/src/format/syslog.cpp
  libvast/src/format/zeek.cpp
  libvast/src/meta_index.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/explorer.cpp
  libvast/src/table_slice.cpp
  libvast/src/type.cpp
  libvast/test/expression.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/expression_parseable.cpp
  libvast/test/format/zeek.cpp
  libvast/test/meta_index.cpp
  libvast/test/schema.cpp
  libvast/test/type.cpp
  libvast/vast/concept/parseable/vast/identifier.hpp
  libvast/vast/expression_visitors.hpp
  libvast/vast/type.hpp
  pyvast/pyvast/test_vast.py
  schema/types/argus.schema
  schema/types/base.schema
  schema/types/suricata.schema
  schema/types/sysmon.schema
  schema/types/zeek.schema
  scripts/generate-sysmon-schema.py
  vast/integration/default_set.yaml
  vast/integration/misc/schema/argus.schema
  vast/integration/misc/schema/zeek-conn.schema
Labels: enhancement :sparkles:

#1395 Clarify log messages when connecting to node
  libvast/src/system/connect_to_node.cpp
Labels: bug :beetle:

#1398 Remove dependency on 3rd party function for vast::directory
  libvast/src/directory.cpp
  libvast/vast/directory.hpp
Labels: refactoring :hammer_and_wrench:

#1400 Prepare February 2021 release
  CHANGELOG.md
  CMakeLists.txt
  README.md
  libvast/src/format/json.cpp
  pyvast/setup.py
Labels: maintenance :scissors:

#1403 Fix static binary CI for release triggers
  .github/workflows/static-binary.yaml
Labels: bug :beetle:

#1401 Add recursion limit for calls to flatten()
  libvast/src/data.cpp
  libvast/test/data.cpp
  libvast/vast/data.hpp
Labels: refactoring :hammer_and_wrench:

#1404 Print assertion message to stderr
  libvast/vast/detail/assert.hpp
Labels: bug :beetle:

#1399 Rename the attribute_extractor to meta_extractor
  CHANGELOG.md
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/expression.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/meta_index.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/pivoter.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/table_slice.cpp
  libvast/src/taxonomies.cpp
  libvast/test/expression.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/expression_parseable.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/meta_index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/concept/printable/vast/expression.hpp
  libvast/vast/expression.hpp
  libvast/vast/expression_visitors.hpp
  libvast/vast/fwd.hpp
Labels: maintenance :scissors:

#1313 Move the meta index into a separate actor
  libvast/src/partition_synopsis.cpp
  libvast/src/system/default_configuration.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/system/partition.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/meta_index.cpp
  libvast/vast/atoms.hpp
  libvast/vast/detail/logger_formatters.hpp
  libvast/vast/detail/notifying_stream_manager.hpp
  libvast/vast/fwd.hpp
  libvast/vast/partition_synopsis.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/meta_index.hpp
  libvast/vast/system/partition.hpp
  vast.yaml.example
Labels: performance :rocket:, refactoring :hammer_and_wrench:
