Repository tenzir/tenzir, pull requests merged in 2021-12, with the labels that each got.

#1981 Make use of `<concepts>`
  libvast/test/concepts.cpp
  libvast/vast/chunk.hpp
  libvast/vast/concept/convertible/data.hpp
  libvast/vast/concept/convertible/to.hpp
  libvast/vast/concept/printable/detail/as_printer.hpp
  libvast/vast/concept/printable/vast/bits.hpp
  libvast/vast/concepts.hpp
  libvast/vast/data.hpp
  libvast/vast/detail/logger_formatters.hpp
  libvast/vast/detail/operators.hpp
  libvast/vast/hash/concepts.hpp
  libvast/vast/msgpack_builder.hpp
  libvast/vast/type.hpp
Labels: refactoring :hammer_and_wrench:

#1935 Add worm hashing Bloom filter
  LICENSE.3rdparty
  cmake/VASTRegisterPlugin.cmake
  libvast/src/sketch/bloom_filter.cpp
  libvast/src/sketch/bloom_filter_config.cpp
  libvast/test/sketch/bloom_filter.cpp
  libvast/vast/config.hpp.in
  libvast/vast/detail/worm.hpp
  libvast/vast/fbs/bloom_filter.fbs
  libvast/vast/sketch/bloom_filter.hpp
  libvast/vast/sketch/bloom_filter_config.hpp
  libvast/vast/sketch/bloom_filter_view.hpp
Labels: performance :rocket:

#1993 Remove query-based aging
  changelog/unreleased/changes/1993--erase-eraser.md
  libvast/src/system/application.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/eraser.cpp
  libvast/src/system/index.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_eraser.cpp
  libvast/src/system/spawn_node.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/meta_index.cpp
  libvast/vast/defaults.hpp
  libvast/vast/query.hpp
  libvast/vast/system/eraser.hpp
  libvast/vast/system/local_segment_store.hpp
  libvast/vast/system/spawn_disk_monitor.hpp
  libvast/vast/system/spawn_eraser.hpp
  vast.yaml.example
  vast/integration/reference/zeek-conn-log-aging/step_00.ref
  vast/integration/reference/zeek-conn-log-aging/step_01.ref
  vast/integration/reference/zeek-conn-log-aging/step_02.ref
  vast/integration/reference/zeek-conn-log-aging/step_03.ref
  vast/integration/vast_integration_suite.yaml
Labels: maintenance :scissors:

#1972 Implement a wrapper for FlatBuffers table pointers
  cmake/VASTRegisterPlugin.cmake
  libvast/src/segment.cpp
  libvast/src/segment_builder.cpp
  libvast/test/flatbuffer.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/segment.cpp
  libvast/vast/flatbuffer.hpp
  libvast/vast/fwd.hpp
  libvast/vast/segment.hpp
Labels: refactoring :hammer_and_wrench:

#1988 Fix JSON default selector for nested records
  changelog/unreleased/bug-fixes/1988--default-selector-nested-records.md
  libvast/vast/format/json/default_selector.hpp
Labels: bug :beetle:

#1980 Add a coroutine-based generator type
  CMakeLists.txt
  LICENSE.3rdparty
  libvast/src/partition_synopsis.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/pivoter.cpp
  libvast/src/type.cpp
  libvast/src/view.cpp
  libvast/test/type.cpp
  libvast/vast/concept/convertible/data.hpp
  libvast/vast/detail/generator.hpp
  libvast/vast/project.hpp
  libvast/vast/type.hpp
Labels: performance :rocket:, enhancement :sparkles:

#1989 Add support for xxHash >= 0.8.1
  libvast/CMakeLists.txt
  libvast/vast/hash/xxhash.hpp
Labels: maintenance :scissors:

#1987 Add metadata elements to the metrics events
  changelog/unreleased/features/1987--metrics-metatdata
  libvast/src/format/csv.cpp
  libvast/src/format/json.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/source.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/meta_index.cpp
  libvast/test/system/partition.cpp
  libvast/vast/fwd.hpp
  libvast/vast/system/active_partition.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/meta_index.hpp
  libvast/vast/system/passive_partition.hpp
  libvast/vast/system/report.hpp
  plugins/pcap/main.cpp
Labels: enhancement :sparkles:

#1997 Remove the erroneous warning about exceeded merge recursion limit
  libvast/src/data.cpp
Labels: bug :beetle:

#1983 Optimize `record_type::{num_leaves,flat_index}`
  libvast/src/type.cpp
  libvast/test/type.cpp
Labels: performance :rocket:

#1992 Emit fine grained metrics for every part of the query pipeline
  changelog/unreleased/features/1987--metrics-metatdata
  changelog/unreleased/features/1987-1992--metrics-metatdata.md
  libvast/src/system/accountant.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/system/spawn_index.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/local_segment_store.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/vast/plugin.hpp
  libvast/vast/system/exporter.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/local_segment_store.hpp
  libvast/vast/system/partition_transformer.hpp
Labels: feature :gift:

#1996 Capture the ingest time for new table slices
  libvast/src/arrow_table_slice.cpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/msgpack_table_slice.cpp
  libvast/src/msgpack_table_slice_builder.cpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/table_slice.cpp
  libvast/test/system/exporter.cpp
  libvast/vast/arrow_table_slice.hpp
  libvast/vast/concept/printable/vast/expression.hpp
  libvast/vast/detail/partition_common.hpp
  libvast/vast/detail/spawn_container_source.hpp
  libvast/vast/expression.hpp
  libvast/vast/fbs/synopsis.fbs
  libvast/vast/fbs/table_slice.fbs
  libvast/vast/msgpack_table_slice.hpp
  libvast/vast/partition_synopsis.hpp
  libvast/vast/table_slice.hpp
Labels: feature :gift:

#1998 Prepare repository for VAST 2021.12.16-rc1
  CHANGELOG.md
  changelog/2021.12.16-rc1/bug-fixes/1988.md
  changelog/2021.12.16-rc1/changes/1888.md
  changelog/2021.12.16-rc1/changes/1993.md
  changelog/2021.12.16-rc1/features/1973.md
  changelog/2021.12.16-rc1/features/1974.md
  changelog/2021.12.16-rc1/features/1987-1992.md
  cmake/VASTVersionFallback.cmake
Labels: bug :beetle:

#2003 Fix minimum import time in partition synopses
  libvast/src/system/meta_index.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/meta_index.cpp
  libvast/vast/detail/partition_common.hpp
  libvast/vast/partition_synopsis.hpp
Labels: bug :beetle:

#1999 Improve the wording about where to download latest (stable) vast release
  README.md
Labels: enhancement :sparkles:

#2010 Prepare repository for VAST 2021.12.16
  CHANGELOG.md
  changelog/2021.12.16/bug-fixes/1988.md
  changelog/2021.12.16/changes/1888.md
  changelog/2021.12.16/features/1973.md
  changelog/2021.12.16/features/1974.md
  changelog/2021.12.16/features/1987-1992.md
  cmake/VASTVersionFallback.cmake
  pyvast/setup.py
Labels: maintenance :scissors:

#2009 Make use of `table_slice::append_column_to_index`
  libvast/src/system/indexer.cpp
Labels: performance :rocket:

#2008 Introduce an experimental Arrow table slice encoding
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/src/table_slice.cpp
  libvast/src/table_slice_builder_factory.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/vast/concept/parseable/vast/table_slice_encoding.hpp
  libvast/vast/experimental_table_slice.hpp
  libvast/vast/experimental_table_slice_builder.hpp
  libvast/vast/fbs/table_slice.fbs
  libvast/vast/fwd.hpp
  libvast/vast/table_slice.hpp
  libvast/vast/table_slice_encoding.hpp
Labels: enhancement :sparkles:
