Repository tenzir/tenzir, pull requests merged in 2021-06, with the labels that each got.

#1700 Fix syntax error in unit test macros
  libvast_test/vast/test/test.hpp
Labels: bug :beetle:

#1699 Add option for configurable post-start hooks
  changelog/unreleased/features/1699--post-start-commands.md
  libvast/src/system/application.cpp
  libvast/src/system/start_command.cpp
  vast.yaml.example
Labels: feature :gift:

#1704 Simplify Slack URL
  README.md
Labels: maintenance :scissors:

#1705 Fixup repository-internal symlinks in Dockerfile
  Dockerfile
  changelog/unreleased/changes/1705--pcap-plugin-docker.md
Labels: bug :beetle:

#1706 Change Slack URL in changelog
  changelog/unreleased/changes/1696--slack-community-chat.md
Labels: maintenance :scissors:

#1689 Add support for different sink types
  cmake/Findsystemd.cmake
  libvast/CMakeLists.txt
  libvast/src/logger.cpp
  libvast/src/systemd.cpp
  libvast/vast/systemd.hpp
  vast.yaml.example
Labels: feature :gift:

#1709 Fix log rotation threshold option
  changelog/unreleased/bug-fixes/1709--log-rotation-threshold.md
  libvast/src/logger.cpp
Labels: bug :beetle:

#1707 Use libunwind for the backtrace if available
  .github/workflows/vast.yaml
  CMakeLists.txt
  Dockerfile
  cmake/Findlibunwind.cmake
  cmake/VASTMacDependencyPaths.cmake
  libvast/CMakeLists.txt
  libvast/src/detail/backtrace.cpp
  libvast/vast/config.hpp.in
  libvast/vast/detail/backtrace.hpp
  nix/vast/default.nix
Labels: maintenance :scissors:

#1703 Rework the plugin loading logic
  changelog/unreleased/breaking-changes/1703--flexible-plugin-loading.md
  changelog/unreleased/features/1703--flexible-plugin-loading.md
  libvast/src/detail/load_plugin.cpp
  libvast/src/plugin.cpp
  libvast/src/system/application.cpp
  libvast/src/system/configuration.cpp
  libvast/vast/detail/load_plugin.hpp
  libvast/vast/plugin.hpp
  libvast_test/src/main.cpp
  systemd/vast.yaml
  vast.yaml.example
  vast/CMakeLists.txt
  vast/vast.cpp
Labels: feature :gift:

#1702 Make unix dgram metrics sink connectionless
  changelog/unreleased/bug-fixes/1702--reconnect-uds-dgram-metrics.md
  libvast/src/detail/posix.cpp
  libvast/src/system/accountant.cpp
  libvast/vast/accountant/config.hpp
  libvast/vast/detail/posix.hpp
Labels: bug :beetle:

#1654 Fix plugin support for multi-config generators
  CMakeLists.txt
  cmake/VASTConfig.cmake.in
  cmake/VASTRegisterPlugin.cmake
  libvast/src/detail/installdirs.cpp.in
Labels: bug :beetle:

#1711 Remove dead condition and fix Docker release tags
  .github/workflows/vast.yaml
  changelog/unreleased/bug-fixes/1711--remove-dead-condition-and-fix-docker-release-tags.md
Labels: enhancement :sparkles:

#1713 Relax requirements for stream sink in make_source
  libvast/src/system/make_source.cpp
  libvast/vast/system/make_source.hpp
Labels: refactoring :hammer_and_wrench:

#1712 Handle quoted strings in CSV parser
  changelog/unreleased/bug-fixes/1712--quoted-strings-csv-parser.md
  libvast/src/format/csv.cpp
  libvast/test/format/csv.cpp
Labels: bug :beetle:

#1714 Optionally read environment variable for VAST endpoint
  changelog/unreleased/features/1714--vast-endpoint-from-environment.md
  libvast/src/system/configuration.cpp
Labels: enhancement :sparkles:

#1716 Still consider install plugindir in bare mode
  libvast/src/plugin.cpp
  libvast/src/system/configuration.cpp
Labels: bug :beetle:

#1717 Avoid setting vast.plugin-dirs from empty env
  libvast/src/system/configuration.cpp
Labels: bug :beetle:

#1710 Add utility for for compiling FlatBuffers schemas
  .cmake-format
  cmake/VASTRegisterPlugin.cmake
  libvast/CMakeLists.txt
Labels: feature :gift:

#1718 Fix shutdown hang in sources on SIGTERM/SIGINT
  changelog/unreleased/bug-fixes/1718--source-shutdown-hang.md
  libvast/src/system/datagram_source.cpp
  libvast/src/system/source.cpp
Labels: bug :beetle:

#1723 Fix libexecinfo fallback for VAST_ENABLE_BACKTRACE
  libvast/CMakeLists.txt
  libvast/src/detail/backtrace.cpp
  libvast/vast/config.hpp.in
Labels: bug :beetle:

#1722 Fix integration tests for external plugins
  .github/workflows/vast.yaml
  libvast/src/plugin.cpp
Labels: bug :beetle:

#1721 Merge lists from configuration and CLI
  changelog/unreleased/changes/1721--merge-config-lists.md
  libvast/src/command.cpp
  libvast/src/data.cpp
  libvast/src/detail/process.cpp
  libvast/src/detail/settings.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/start_command.cpp
  libvast/test/data.cpp
  libvast/vast/data.hpp
  libvast/vast/detail/settings.hpp
  libvast/vast/policy/merge_lists.hpp
  vast/vast.cpp
Labels: bug :beetle:

#1724 Add support for per-plugin configuration files
  changelog/unreleased/features/1724--per-plugin-config-files.md
  libvast/src/plugin.cpp
  libvast/src/system/configuration.cpp
  libvast/vast/system/configuration.hpp
Labels: feature :gift:

#1729 Expose make_import_command to plugins
  libvast/src/system/application.cpp
  libvast/vast/system/application.hpp
Labels: refactoring :hammer_and_wrench:

#1728 Fix dependency graph for VASTTargets exports set
  cmake/VASTRegisterPlugin.cmake
  libvast/CMakeLists.txt
  vast/integration/integration.py
Labels: bug :beetle:

#1730 Prepare repository for VAST 2021.06.24-rc2
  CHANGELOG.md
  changelog/2021.06.24-rc2/breaking-changes/1683.md
  changelog/2021.06.24-rc2/breaking-changes/1703.md
  changelog/2021.06.24-rc2/bug-fixes/1685.md
  changelog/2021.06.24-rc2/bug-fixes/1697.md
  changelog/2021.06.24-rc2/bug-fixes/1702.md
  changelog/2021.06.24-rc2/bug-fixes/1709.md
  changelog/2021.06.24-rc2/bug-fixes/1711.md
  changelog/2021.06.24-rc2/bug-fixes/1712.md
  changelog/2021.06.24-rc2/bug-fixes/1718.md
  changelog/2021.06.24-rc2/changes/1696.md
  changelog/2021.06.24-rc2/changes/1705.md
  changelog/2021.06.24-rc2/changes/1721.md
  changelog/2021.06.24-rc2/features/1699.md
  changelog/2021.06.24-rc2/features/1703.md
  changelog/2021.06.24-rc2/features/1714.md
  changelog/2021.06.24-rc2/features/1724.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance :scissors:

#1732 Fix race condition in release uploads
  .github/workflows/vast.yaml
Labels: bug :beetle:

#1733 Bundle plugin schemas with the plugin build target
  cmake/VASTRegisterPlugin.cmake
Labels: bug :beetle:

#1734 Fix duplication of lists in client command options
  changelog/unreleased/changes/1721-1734--merge-config-lists.md
  libvast/src/command.cpp
Labels: bug :beetle:

#1735 Prepare repository for VAST 2021.06.24-rc3
  CHANGELOG.md
  changelog/2021.06.24-rc3/breaking-changes/1683.md
  changelog/2021.06.24-rc3/breaking-changes/1703.md
  changelog/2021.06.24-rc3/bug-fixes/1685.md
  changelog/2021.06.24-rc3/bug-fixes/1697.md
  changelog/2021.06.24-rc3/bug-fixes/1702.md
  changelog/2021.06.24-rc3/bug-fixes/1709.md
  changelog/2021.06.24-rc3/bug-fixes/1711.md
  changelog/2021.06.24-rc3/bug-fixes/1712.md
  changelog/2021.06.24-rc3/bug-fixes/1718.md
  changelog/2021.06.24-rc3/changes/1696.md
  changelog/2021.06.24-rc3/changes/1705.md
  changelog/2021.06.24-rc3/changes/1721-1734.md
  changelog/2021.06.24-rc3/features/1699.md
  changelog/2021.06.24-rc3/features/1703.md
  changelog/2021.06.24-rc3/features/1714.md
  changelog/2021.06.24-rc3/features/1724.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance :scissors:

#1738 Prepare repository for VAST 2021.06.24-rc5
  .github/workflows/vast.yaml
  CHANGELOG.md
  changelog/2021.06.24-rc5/breaking-changes/1683.md
  changelog/2021.06.24-rc5/breaking-changes/1703.md
  changelog/2021.06.24-rc5/bug-fixes/1685.md
  changelog/2021.06.24-rc5/bug-fixes/1697.md
  changelog/2021.06.24-rc5/bug-fixes/1702.md
  changelog/2021.06.24-rc5/bug-fixes/1709.md
  changelog/2021.06.24-rc5/bug-fixes/1711.md
  changelog/2021.06.24-rc5/bug-fixes/1712.md
  changelog/2021.06.24-rc5/bug-fixes/1718.md
  changelog/2021.06.24-rc5/changes/1696.md
  changelog/2021.06.24-rc5/changes/1705.md
  changelog/2021.06.24-rc5/changes/1721-1734.md
  changelog/2021.06.24-rc5/features/1699.md
  changelog/2021.06.24-rc5/features/1703.md
  changelog/2021.06.24-rc5/features/1714.md
  changelog/2021.06.24-rc5/features/1724.md
  cmake/VASTVersionFallback.cmake
Labels: bug :beetle:, maintenance :scissors:

#1741 Prepare repositoy for VAST 2021.06.24-rc6
  .github/workflows/vast.yaml
  CHANGELOG.md
  changelog/2021.06.24-rc6/breaking-changes/1683.md
  changelog/2021.06.24-rc6/breaking-changes/1703.md
  changelog/2021.06.24-rc6/bug-fixes/1685.md
  changelog/2021.06.24-rc6/bug-fixes/1697.md
  changelog/2021.06.24-rc6/bug-fixes/1702.md
  changelog/2021.06.24-rc6/bug-fixes/1709.md
  changelog/2021.06.24-rc6/bug-fixes/1711.md
  changelog/2021.06.24-rc6/bug-fixes/1712.md
  changelog/2021.06.24-rc6/bug-fixes/1718.md
  changelog/2021.06.24-rc6/changes/1696.md
  changelog/2021.06.24-rc6/changes/1705.md
  changelog/2021.06.24-rc6/changes/1721-1734.md
  changelog/2021.06.24-rc6/features/1699.md
  changelog/2021.06.24-rc6/features/1703.md
  changelog/2021.06.24-rc6/features/1714.md
  changelog/2021.06.24-rc6/features/1724.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance :scissors:

#1743 Prepare repository for VAST 2021.06.24
  CHANGELOG.md
  README.md
  changelog/2021.06.24/breaking-changes/1683.md
  changelog/2021.06.24/breaking-changes/1703.md
  changelog/2021.06.24/bug-fixes/1685.md
  changelog/2021.06.24/bug-fixes/1697.md
  changelog/2021.06.24/bug-fixes/1702.md
  changelog/2021.06.24/bug-fixes/1709.md
  changelog/2021.06.24/bug-fixes/1711.md
  changelog/2021.06.24/bug-fixes/1712.md
  changelog/2021.06.24/bug-fixes/1718.md
  changelog/2021.06.24/changes/1696.md
  changelog/2021.06.24/changes/1705.md
  changelog/2021.06.24/changes/1721-1734.md
  changelog/2021.06.24/features/1699.md
  changelog/2021.06.24/features/1703.md
  changelog/2021.06.24/features/1714.md
  changelog/2021.06.24/features/1724.md
  cmake/VASTVersionFallback.cmake
  pyvast/setup.py
Labels: maintenance :scissors:

#1746 Fix workflow trigger for docker build
  .github/workflows/vast.yaml
Labels: bug :beetle:

#1745 Remove dummy index
  libvast_test/src/dummy_index.cpp
Labels: refactoring :hammer_and_wrench:

#1747 Fix byproduct listing for update-changelog target
  CMakeLists.txt
Labels: bug :beetle:

#1749 Publish a tenzir/vast-dev Docker image
  .dockerignore
  .github/workflows/vast.yaml
  Dockerfile
  changelog/unreleased/features/1749--vast-dev-docker-image.md
  scripts/docker-build
Labels: feature :gift:

#1720 Implement partition-local stores
  .github/workflows/vast.yaml
  changelog/unreleased/features/1720--partition-local-stores.md
  libvast/src/chunk.cpp
  libvast/src/segment.cpp
  libvast/src/segment_builder.cpp
  libvast/src/system/application.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/index.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/spawn_importer.cpp
  libvast/src/system/spawn_index.cpp
  libvast/src/system/spawn_node.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/segment.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/local_segment_store.cpp
  libvast/vast/atoms.hpp
  libvast/vast/chunk.hpp
  libvast/vast/defaults.hpp
  libvast/vast/plugin.hpp
  libvast/vast/segment.hpp
  libvast/vast/segment_builder.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/local_segment_store.hpp
  libvast/vast/system/partition.hpp
  vast.yaml.example
  vast/integration/reference/partition-local-stores/step_00.ref
  vast/integration/reference/partition-local-stores/step_01.ref
  vast/integration/vast-local-stores.yaml
  vast/integration/vast_integration_suite.yaml
Labels: feature :gift:
