Repository tenzir/tenzir, pull requests merged in 2021-01, with the labels that each got.

#1254 Trigger static binary workflow for CMake changes
  .github/workflows/static-binary.yaml
Labels: maintenance :scissors:

#1255 Remove regex include from directory.hpp
  libvast/src/data.cpp
  libvast/src/directory.cpp
  libvast/src/schema.cpp
  libvast/vast/config.hpp.in
  libvast/vast/detail/function.hpp
  libvast/vast/directory.hpp
Labels: refactoring :hammer_and_wrench:

#1256 Add back human-readable build summary
  CMakeLists.txt
  cmake/VASTUtilities.cmake
  libvast/CMakeLists.txt
  tools/zeek-to-vast/CMakeLists.txt
Labels: enhancement :sparkles:

#1208 Prototype plugin architecture
  .github/workflows/vast.yaml
  CHANGELOG.md
  CMakeLists.txt
  Dockerfile
  configure
  libvast/src/data.cpp
  libvast/src/plugin.cpp
  libvast/src/system/importer.cpp
  libvast/vast/config.hpp.in
  libvast/vast/data.hpp
  libvast/vast/fwd.hpp
  libvast/vast/plugin.hpp
  plugins/CMakeLists.txt
  plugins/example/CMakeLists.txt
  plugins/example/example.cpp
  vast.yaml.example
  vast/vast.cpp
Labels: feature :gift:

#1261 Fix the vast-docker workflow
  .github/workflows/vast-docker.yaml
  vast.yaml.example
Labels: bug :beetle:, enhancement :sparkles:

#1259 Add the import zeek-json command
  CHANGELOG.md
  doc/cli/vast-import-zeek.md
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/test/format/json.cpp
  libvast/vast/format/json.hpp
  libvast/vast/format/json/default_selector.hpp
  libvast/vast/format/json/field_selector.hpp
  libvast/vast/format/json/suricata_selector.hpp
  libvast/vast/format/json/zeek_selector.hpp
  vast/integration/data/zeek/zeek.json
  vast/integration/default_set.yaml
  vast/integration/reference/malformed-query/step_00.ref
  vast/integration/reference/node-zeek-json/step_00.ref
  vast/integration/reference/node-zeek-json/step_01.ref
Labels: feature :gift:

#1262 Require plugin major versions to be identical
  libvast/src/plugin.cpp
Labels: bug :beetle:

#1265 Make duration units abbreviations consistent
  CHANGELOG.md
  libvast/test/time.cpp
  libvast/vast/concept/parseable/vast/time.hpp
Labels: enhancement :sparkles:

#1267 Fix broken link to 2020.12.16 release in changelog
  CHANGELOG.md
Labels: bug :beetle:

#1258 Fix Address Sanitizer issues in vast-test
  .github/workflows/vast.yaml
  libvast/test/CMakeLists.txt
Labels: bug :beetle:

#1260 Make the exporter component a typed actor
  libvast/src/system/explore_command.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/pivoter.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/type_registry.cpp
  libvast/vast/system/explorer.hpp
  libvast/vast/system/exporter.hpp
  libvast/vast/system/exporter_actor.hpp
Labels: refactoring :hammer_and_wrench:

#1264 Print plugin versions
  CHANGELOG.md
  libvast/src/plugin.cpp
  libvast/src/system/version_command.cpp
  libvast/vast/plugin.hpp
Labels: enhancement :sparkles:

#1268 Use the ServerTester fixture for testing dump
  vast/integration/default_set.yaml
Labels: bug :beetle:

#1273 Replace radix trie with simpler approach
  libvast/test/parseable.cpp
  libvast/vast/concept/parseable/string/symbol_table.hpp
  libvast/vast/concept/parseable/vast/schema.hpp
  libvast/vast/concept/parseable/vast/type.hpp
  libvast/vast/detail/radix_tree.hpp
Labels: refactoring :hammer_and_wrench:

#1275 Use libvast tree hash for plugin API/ABI checks
  CHANGELOG.md
  CMakeLists.txt
  libvast/src/plugin.cpp
  libvast/src/system/version_command.cpp
  libvast/vast/config.hpp.in
  libvast/vast/plugin.hpp
  vast/vast.cpp
Labels: enhancement :sparkles:

#1269 Only update the release tarball in an actual release build
  .github/workflows/static-binary.yaml
Labels: bug :beetle:

#1277 Be clear about breaking CLI change
  CHANGELOG.md
Labels: maintenance :scissors:

#1279 Fix the style check CI workflow
  .github/workflows/style-check.yaml
Labels: bug :beetle:

#1271 Make the start command print the endpoint on stdout
  CHANGELOG.md
  doc/cli/vast-start.md
  libvast/src/system/application.cpp
  libvast/src/system/start_command.cpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1280 Add simdjson to build summary
  CMakeLists.txt
  cmake/VASTUtilities.cmake
  libvast/CMakeLists.txt
Labels: enhancement :sparkles:

#1281 Add simdjson support to zeek-json import
  CHANGELOG.md
  libvast/src/system/application.cpp
  libvast/vast/defaults.hpp
  libvast/vast/format/json/field_selector.hpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1276 Don't overwrite line content after a read timeout
  CHANGELOG.md
  libvast/src/detail/line_range.cpp
  libvast/test/format/zeek.cpp
  libvast/vast/detail/absorb_line.hpp
  libvast/vast/detail/line_range.hpp
Labels: bug :beetle:

#1283 Add vast.export.json.flatten to example config
  vast.yaml.example
Labels: bug :beetle:

#1284 Fix exporting of nested records
  libvast/vast/format/ostream_writer.hpp
  vast/integration/reference/explore-suricata-with-overlap-simdjson/step_01.ref
  vast/integration/reference/explore-suricata-with-overlap/step_01.ref
  vast/integration/reference/heterogenous-jsonl-import/step_04.ref
  vast/integration/reference/node-zeek-json/step_01.ref
Labels: bug :beetle:

#1282 Allow for adding plugin source trees into the build process
  .dockerignore
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  Dockerfile
  configure
  examples/plugins/example/CMakeLists.txt
  examples/plugins/example/example.cpp
  examples/plugins/example/integration/reference/example/step_00.ref
  examples/plugins/example/integration/tests.yaml
  examples/plugins/example/tests/CMakeLists.txt
  examples/plugins/example/tests/tests.cpp
  libvast/vast/plugin.hpp
  plugins/CMakeLists.txt
  plugins/example/CMakeLists.txt
  vast/CMakeLists.txt
  vast/integration/reference/node-suricata-alert-simdjson/step_02.ref
  vast/vast.cpp
Labels: bug :beetle:, feature :gift:

#1285 Load only explicitly specified plugins
  CHANGELOG.md
  examples/plugins/example/integration/tests.yaml
  examples/plugins/example/integration/vast.yaml
  libvast/src/system/application.cpp
  vast.yaml.example
  vast/vast.cpp
Labels: enhancement :sparkles:

#1286 Remove port type from export arrow docs
  doc/cli/vast-export-arrow.md
Labels: bug :beetle:

#1288 Expose install root hint variables as options
  libvast/CMakeLists.txt
Labels: enhancement :sparkles:

#1287 Rename *-paths to *-dirs options
  CHANGELOG.md
  libvast/src/schema.cpp
  libvast/src/system/application.cpp
  vast.yaml.example
  vast/vast.cpp
Labels: enhancement :sparkles:

#1289 Fix Arrow export for nested records
  CHANGELOG.md
  libvast/src/format/arrow.cpp
  libvast/src/system/sink.cpp
  vast/integration/default_set.yaml
  vast/integration/reference/arrow/step_02.ref
  vast/integration/reference/arrow/step_03.ref
Labels: bug :beetle:

#1291 Update GCP setup step in GitHub workflows
  .github/workflows/static-binary.yaml
  .github/workflows/vast.yaml
Labels: maintenance :scissors:

#1298 Improve diagnostics for misuse of VAST_PLUGINS
  configure
  vast/CMakeLists.txt
Labels: enhancement :sparkles:

#1302 Fix printing of plugin minor versions
  CHANGELOG.md
  examples/plugins/example/integration/reference/example/step_00.ref
  libvast/src/plugin.cpp
Labels: bug :beetle:

#1303 Remove unnecessary virtual keyword
  examples/plugins/example/example.cpp
Labels: refactoring :hammer_and_wrench:

#1304 Restrict file selection for buld tree hash
  CMakeLists.txt
Labels: bug :beetle:

#1295 Fix potential race condition between evaluator and partition
  CHANGELOG.md
  libvast/src/system/evaluator.cpp
  libvast/src/system/partition.cpp
  libvast/test/system/evaluator.cpp
  libvast/vast/system/evaluator.hpp
Labels: bug :beetle:

#1305 Rename "fully_qualified_field" flatbuffer field
  libvast/src/system/partition.cpp
  libvast/vast/fbs/partition.fbs
Labels: refactoring :hammer_and_wrench:

#1308 Disable CAF build summary for bundled CAF builds
  libvast/CMakeLists.txt
Labels: enhancement :sparkles:

#1306 Add third-party licenses for embedded dependencies
  CHANGELOG.md
  CMakeLists.txt
  Dockerfile
  LICENSE.3rdparty
Labels: maintenance :scissors:

#1310 Speed up simdjson build in CI and Dockerfile
  .github/workflows/vast.yaml
  Dockerfile_prebuilt
Labels: enhancement :sparkles:

#1296 Dont create parallel meta index inside the index
  libvast/src/detail/add_message_types.cpp
  libvast/src/meta_index.cpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/src/system/spawn_importer.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/meta_index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/meta_index.hpp
  libvast/vast/partition_synopsis.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/system/query_supervisor.hpp
Labels: performance :rocket:

#1311 Cleanup active partition rotation
  libvast/src/system/index.cpp
  libvast/vast/system/index.hpp
Labels: refactoring :hammer_and_wrench:

#1312 Move synopsis options from meta index to index
  libvast/src/meta_index.cpp
  libvast/src/system/index.cpp
  libvast/test/meta_index.cpp
  libvast/vast/meta_index.hpp
  libvast/vast/system/index.hpp
Labels: refactoring :hammer_and_wrench:

#1300 Make the importer a typed actor
  libvast/src/detail/add_message_types.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/spawn_importer.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/importer.cpp
  libvast/vast/fwd.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/importer.hpp
Labels: refactoring :hammer_and_wrench:

#1314 Adapt build config to work with simdjson 0.8.0
  CHANGELOG.md
  libvast/CMakeLists.txt
Labels: maintenance :scissors:

#1315 Fix usage of simdjson::simdjson_result<T>
  CHANGELOG.md
  libvast/src/format/simdjson.cpp
  libvast/test/format/simdjson.cpp
  libvast/vast/format/simdjson.hpp
Labels: bug :beetle:

#1309 Improve wiring of importer and exporter
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/source.cpp
  libvast/vast/detail/tuple_map.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/import_command.hpp
  libvast/vast/system/make_source.hpp
  libvast/vast/system/node_control.hpp
  libvast/vast/system/source.hpp
  libvast/vast/system/spawn_source.hpp
Labels: enhancement :sparkles:

#1297 Add per partition memory usage information to vast status
  CHANGELOG.md
  libvast/src/base.cpp
  libvast/src/bitmap.cpp
  libvast/src/bool_synopsis.cpp
  libvast/src/chunk.cpp
  libvast/src/ewah_bitmap.cpp
  libvast/src/index/address_index.cpp
  libvast/src/index/enumeration_index.cpp
  libvast/src/index/list_index.cpp
  libvast/src/index/string_index.cpp
  libvast/src/index/subnet_index.cpp
  libvast/src/meta_index.cpp
  libvast/src/null_bitmap.cpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/partition.cpp
  libvast/src/value_index.cpp
  libvast/src/wah_bitmap.cpp
  libvast/test/system/query_supervisor.cpp
  libvast/vast/address_synopsis.hpp
  libvast/vast/base.hpp
  libvast/vast/bitmap.hpp
  libvast/vast/bitmap_index.hpp
  libvast/vast/bloom_filter.hpp
  libvast/vast/bloom_filter_synopsis.hpp
  libvast/vast/bool_synopsis.hpp
  libvast/vast/buffered_synopsis.hpp
  libvast/vast/chunk.hpp
  libvast/vast/coder.hpp
  libvast/vast/ewah_bitmap.hpp
  libvast/vast/index/address_index.hpp
  libvast/vast/index/arithmetic_index.hpp
  libvast/vast/index/enumeration_index.hpp
  libvast/vast/index/hash_index.hpp
  libvast/vast/index/list_index.hpp
  libvast/vast/index/string_index.hpp
  libvast/vast/index/subnet_index.hpp
  libvast/vast/meta_index.hpp
  libvast/vast/min_max_synopsis.hpp
  libvast/vast/null_bitmap.hpp
  libvast/vast/partition_synopsis.hpp
  libvast/vast/span.hpp
  libvast/vast/string_synopsis.hpp
  libvast/vast/synopsis.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/value_index.hpp
  libvast/vast/wah_bitmap.hpp
Labels: enhancement :sparkles:

#1316 Adjust naming in example plugin
  CHANGELOG.md
  examples/plugins/example/example.cpp
Labels: enhancement :sparkles:

#1294 Consolidate Dockerfiles
  .github/workflows/vast-docker.yaml
  .github/workflows/vast.yaml
  CHANGELOG.md
  Dockerfile
  Dockerfile_prebuilt
  scripts/docker-build
Labels: enhancement :sparkles:, maintenance :scissors:

#1317 Enable compile-time type ID checks in dev mode
  CMakeLists.txt
  configure
  libvast/src/detail/add_message_types.cpp
  libvast/src/flow.cpp
  libvast/src/format/pcap.cpp
  libvast/src/port.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/start_command.cpp
  libvast/test/community_id.cpp
  libvast/test/endpoint.cpp
  libvast/test/flow.cpp
  libvast/test/port.cpp
  libvast/vast/community_id.hpp
  libvast/vast/concept/parseable/vast/port.hpp
  libvast/vast/concept/printable/vast/port.hpp
  libvast/vast/detail/stable_map.hpp
  libvast/vast/flow.hpp
  libvast/vast/fwd.hpp
  libvast/vast/port.hpp
  libvast/vast/system/make_source.hpp
Labels: caf :cinema:, enhancement :sparkles:

#1319 Make sure the parent dir for the test link exists
  vast/CMakeLists.txt
Labels: bug :beetle:

#1318 Prepare repository for January 2021 release
  CHANGELOG.md
  CMakeLists.txt
  README.md
  pyvast/setup.py
Labels: maintenance :scissors:
