Repository tenzir/tenzir, pull requests merged in 2021-09, with the labels that each got.

#1874 Bump PyVAST version
  pyvast/setup.py
Labels: bug :beetle:

#1876 Make partition-local stores the default
  changelog/unreleased/changes/1876--local-stores-default.md
  libvast/src/system/evaluator.cpp
  libvast/test/system/counter.cpp
  libvast/vast/defaults.hpp
  vast.yaml.example
  vast/integration/reference/basiccommand/step_00.ref
Labels: enhancement :sparkles:

#1878 Refactor active partition
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/passive_partition.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/system/partition.cpp
  libvast/vast/detail/partition_common.hpp
  libvast/vast/system/active_partition.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/passive_partition.hpp
Labels: refactoring :hammer_and_wrench:

#1875 Use vast::record for the status response
  examples/plugins/analyzer/example_analyzer.cpp
  libvast/src/data.cpp
  libvast/src/detail/fill_status_map.cpp
  libvast/src/detail/process.cpp
  libvast/src/detail/settings.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/node.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/system/posix_filesystem.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/source.cpp
  libvast/src/system/transformer.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/table_slice.cpp
  libvast/test/data.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/filesystem.cpp
  libvast/test/system/local_segment_store.cpp
  libvast/test/system/partition.cpp
  libvast/test/system/query_processor.cpp
  libvast/test/system/query_supervisor.cpp
  libvast/vast/data.hpp
  libvast/vast/detail/fill_status_map.hpp
  libvast/vast/detail/process.hpp
  libvast/vast/detail/settings.hpp
  libvast/vast/segment_store.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/importer.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/status.hpp
  libvast/vast/system/transformer.hpp
  libvast/vast/system/type_registry.hpp
  libvast/vast/table_slice.hpp
  vast/integration/reference/server-zeek-conn-log/step_07.ref
  vast/integration/vast_integration_suite.yaml
Labels: maintenance :scissors:

#1882 Fix a typo in the unreleased changlog
  changelog/unreleased/features/1863--broker-writer.md
Labels: bug :beetle:

#1866 Add tool to regenerate .mdx files
  .github/workflows/style-check.yaml
  .github/workflows/vast.yaml
  changelog/unreleased/features/1866--mdx-regenerate.md
  libvast/src/system/index.cpp
  libvast/vast/system/index.hpp
  nix/vast/default.nix
  tools/CMakeLists.txt
  tools/mdx-regenerate/CMakeLists.txt
  tools/mdx-regenerate/README.md
  tools/mdx-regenerate/main.cpp
Labels: feature :gift:

#1879 Let empty queries export everything
  changelog/unreleased/features/1879--empty-queries.md
  doc/cli/vast-count.md
  doc/cli/vast-explore.md
  doc/cli/vast-export.md
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/system/count_command.cpp
  libvast/src/system/explore_command.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/read_query.cpp
  libvast/src/system/sink_command.cpp
  libvast/vast/query.hpp
  libvast/vast/system/read_query.hpp
  vast/integration/reference/multi-addr-query/step_01.ref
  vast/integration/vast_integration_suite.yaml
Labels: feature :gift:

#1881 Add the streaming and query info to the index status
  changelog/unreleased/features/1881--pending-query-status.md
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/meta_index.cpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  vast/integration/reference/server-zeek-conn-log/step_07.ref
Labels: enhancement :sparkles:

#1883 Add tracepoints for query pipeline introspection
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/src/uuid.cpp
  libvast/test/system/query_supervisor.cpp
  libvast/vast/atoms.hpp
  libvast/vast/detail/tracepoint.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/uuid.hpp
  scripts/query-tracing.bcc
Labels: enhancement :sparkles:

#1884 Fix possible desync in pending queries map
  changelog/unreleased/bug-fixes/1884--pending-query-map-mismatch.md
  libvast/src/system/index.cpp
  libvast/vast/system/index.hpp
Labels: bug :beetle:

#1885 Tailor expressions in filter operation
  changelog/unreleased/bug-fixes/1885--segfault-import-filter.md
  libvast/src/system/source.cpp
  libvast/src/table_slice.cpp
  libvast/vast/table_slice.hpp
  vast/integration/reference/node-suricata-alert/step_01.ref
  vast/integration/reference/node-suricata-alert/step_02.ref
  vast/integration/vast_integration_suite.yaml
Labels: bug :beetle:

#1886 Disallow unsupported field meta extractor predicates
  changelog/unreleased/bug-fixes/1886--bail-on-unsupported-exprs.md
  libvast/src/expression_visitors.cpp
  libvast/test/expression.cpp
Labels: bug :beetle:

#1889 Prepare repository for VAST 2021.09.30-rc1
  CHANGELOG.md
  changelog/2021.09.30-rc1/bug-fixes/1872.md
  changelog/2021.09.30-rc1/bug-fixes/1873.md
  changelog/2021.09.30-rc1/bug-fixes/1884.md
  changelog/2021.09.30-rc1/bug-fixes/1885.md
  changelog/2021.09.30-rc1/bug-fixes/1886.md
  changelog/2021.09.30-rc1/changes/1876.md
  changelog/2021.09.30-rc1/changes/1880.md
  changelog/2021.09.30-rc1/features/1860.md
  changelog/2021.09.30-rc1/features/1863.md
  changelog/2021.09.30-rc1/features/1866.md
  changelog/2021.09.30-rc1/features/1871.md
  changelog/2021.09.30-rc1/features/1879.md
  changelog/2021.09.30-rc1/features/1881.md
  changelog/unreleased/changes/1876--local-stores-default.md
  changelog/unreleased/features/1866--mdx-regenerate.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance :scissors:

#1890 Autovectorize beyond CI builds
  CMakeLists.txt
Labels: bug :beetle:

#1892 Fix response promises for disk monitor deletion
  CHANGELOG.md
  changelog/2021.09.30-rc2/bug-fixes/1872.md
  changelog/2021.09.30-rc2/bug-fixes/1873.md
  changelog/2021.09.30-rc2/bug-fixes/1884.md
  changelog/2021.09.30-rc2/bug-fixes/1885.md
  changelog/2021.09.30-rc2/bug-fixes/1886.md
  changelog/2021.09.30-rc2/bug-fixes/1892.md
  changelog/2021.09.30-rc2/changes/1876.md
  changelog/2021.09.30-rc2/changes/1880.md
  changelog/2021.09.30-rc2/features/1860.md
  changelog/2021.09.30-rc2/features/1863.md
  changelog/2021.09.30-rc2/features/1866.md
  changelog/2021.09.30-rc2/features/1871.md
  changelog/2021.09.30-rc2/features/1879.md
  changelog/2021.09.30-rc2/features/1881.md
  cmake/VASTVersionFallback.cmake
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/index.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/passive_partition.cpp
  libvast/vast/query.hpp
  libvast/vast/system/disk_monitor.hpp
Labels: bug :beetle:

#1893 Prepare repository for VAST 2021.09.30
  CHANGELOG.md
  changelog/2021.09.30/bug-fixes/1872.md
  changelog/2021.09.30/bug-fixes/1873.md
  changelog/2021.09.30/bug-fixes/1884.md
  changelog/2021.09.30/bug-fixes/1885.md
  changelog/2021.09.30/bug-fixes/1886.md
  changelog/2021.09.30/bug-fixes/1892.md
  changelog/2021.09.30/changes/1876.md
  changelog/2021.09.30/changes/1880.md
  changelog/2021.09.30/features/1860.md
  changelog/2021.09.30/features/1863.md
  changelog/2021.09.30/features/1866.md
  changelog/2021.09.30/features/1871.md
  changelog/2021.09.30/features/1879.md
  changelog/2021.09.30/features/1881.md
  cmake/VASTVersionFallback.cmake
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  pyvast/setup.py
Labels: maintenance :scissors:
