Repository tenzir/tenzir, pull requests merged in 2021-11, with the labels that each got.

#1938 Don't warn for every layout field with type list<record{..}>
  libvast/vast/concept/parseable/vast/schema.hpp
Labels: bug :beetle:

#1939 Move bloom filter log message to level trace
  libvast/src/system/index.cpp
  libvast/vast/bloom_filter.hpp
Labels: maintenance :scissors:

#1917 Prefer reading query from stdin if available
  .github/workflows/vast.yaml
  changelog/unreleased/changes/1917--prefer-stdin-for-queries.md
  libvast/src/system/read_query.cpp
  libvast/vast/detail/logger_formatters.hpp
  vast/integration/integration.py
  vast/integration/reference/multi-addr-query/step_01.ref
  vast/integration/vast_integration_suite.yaml
Labels: enhancement :sparkles:

#1941 Prepare repository for VAST 2021.10.35-rc2
  CHANGELOG.md
  changelog/2021.10.35-rc2/1930.md
  changelog/2021.10.35-rc2/bug-fixes/1897.md
  changelog/2021.10.35-rc2/bug-fixes/1905.md
  changelog/2021.10.35-rc2/bug-fixes/1912.md
  changelog/2021.10.35-rc2/bug-fixes/1915.md
  changelog/2021.10.35-rc2/bug-fixes/1919.md
  changelog/2021.10.35-rc2/bug-fixes/1933.md
  changelog/2021.10.35-rc2/changes/1896.md
  changelog/2021.10.35-rc2/changes/1905.md
  changelog/2021.10.35-rc2/changes/1914.md
  changelog/2021.10.35-rc2/changes/1917.md
  changelog/2021.10.35-rc2/features/1887.md
  changelog/2021.10.35-rc2/features/1929.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance :scissors:

#1944 Be more lenient with empty queries on stdin
  doc/cli/vast-export.md
  libvast/src/system/read_query.cpp
Labels: bug :beetle:

#1940 Remove insert_record and insert_list
  libvast/src/data.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/node.cpp
  libvast/src/system/posix_filesystem.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/source.cpp
  libvast/src/system/transformer.cpp
  libvast/src/system/type_registry.cpp
  libvast/vast/data.hpp
Labels: refactoring :hammer_and_wrench:

#1949 Upload artifacts for gcs when publishing a release
  .github/workflows/vast.yaml
Labels: bug :beetle:

#1947 Fix deadlock for queries with no candidate partitions
  changelog/2021.10.35-rc3/features/1929-1947.md
  libvast/src/system/index.cpp
Labels: bug :beetle:

#1942 Add metrics to the index
  changelog/unreleased/features/1942--query-backlog-metrics.md
  libvast/src/system/index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  vast.yaml.example
Labels: enhancement :sparkles:

#1946 Remove usage of caf::atom_value for logger configuration
  libvast/src/logger.cpp
  libvast/src/system/application.cpp
  libvast/src/system/shutdown.cpp
  libvast/test/system/terminate.cpp
  libvast/vast/atoms.hpp
  libvast/vast/defaults.hpp
  libvast/vast/logger.hpp
Labels: enhancement :sparkles:

#1948 Refactor the send_command to work without caf::atom_value
  libvast/src/system/node.cpp
Labels: enhancement :sparkles:

#1951 Fix build with libc++ from LLVM 13
  libvast/vast/detail/narrow.hpp
Labels: bug :beetle:

#1954 Add metrics about the index workers
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
Labels: enhancement :sparkles:, bug :beetle:

#1950 Disable precompiled headers
  libvast/CMakeLists.txt
  libvast/vast/detail/byte_swap.hpp
  libvast/vast/hash/uniquely_represented.hpp
Labels: maintenance :scissors:

#1953 Add progress display for index startup
  libvast/src/system/index.cpp
Labels: enhancement :sparkles:

#1959 Load static plugins only when enabled
  changelog/unreleased/bug-fixes/1959--load-static-plugins.md
  libvast/src/plugin.cpp
Labels: bug :beetle:

#1962 Log the version string with the startup message
  libvast/src/system/index.cpp
  libvast/src/system/start_command.cpp
Labels: bug :beetle:

#1965 Enable PCAP plugin in Jupyter Notebook workflow
  .github/workflows/jupyter.yaml
  .github/workflows/vast.yaml
Labels: maintenance :scissors:

#1966 Avoid evaluating calls when assertions are disabled
  libvast/vast/detail/assert.hpp
Labels: performance :rocket:

#1961 Bump nixpkgs to 4789953e5c
  nix/overlay.nix
  nix/pinned.nix
  nix/static-binary.sh
  nix/vast/default.nix
Labels: maintenance :scissors:

#1955 Fix the native plugins library name
  libvast/CMakeLists.txt
Labels: bug :beetle:, blocked 🚧

#1952 Make use of LLVM 13 in macOS CI
  .github/workflows/vast.yaml
Labels: maintenance :scissors:

#1968 Install gsutil when doing release builds
  .github/workflows/vast.yaml
Labels: bug :beetle:

#1956 Implement legacy_deserialize
  libvast/src/bool_synopsis.cpp
  libvast/src/chunk.cpp
  libvast/src/index/address_index.cpp
  libvast/src/index/enumeration_index.cpp
  libvast/src/index/list_index.cpp
  libvast/src/index/string_index.cpp
  libvast/src/index/subnet_index.cpp
  libvast/src/schema.cpp
  libvast/src/segment.cpp
  libvast/src/synopsis.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/value_index.cpp
  libvast/test/arrow_table_slice.cpp
  libvast/test/bitmap_index.cpp
  libvast/test/bitvector.cpp
  libvast/test/bloom_filter.cpp
  libvast/test/cache.cpp
  libvast/test/chunk.cpp
  libvast/test/coder.cpp
  libvast/test/data.cpp
  libvast/test/detail/legacy_deserialize.cpp
  libvast/test/expression.cpp
  libvast/test/index/address_index.cpp
  libvast/test/index/arithmetic_index.cpp
  libvast/test/index/hash_index.cpp
  libvast/test/index/list_index.cpp
  libvast/test/index/string_index.cpp
  libvast/test/index/subnet_index.cpp
  libvast/test/range_map.cpp
  libvast/test/schema.cpp
  libvast/test/segment.cpp
  libvast/test/synopsis.cpp
  libvast/test/table_slice.cpp
  libvast/test/value_index.cpp
  libvast/vast/bloom_filter_synopsis.hpp
  libvast/vast/bool_synopsis.hpp
  libvast/vast/buffered_synopsis.hpp
  libvast/vast/chunk.hpp
  libvast/vast/detail/deserialize.hpp
  libvast/vast/detail/legacy_deserialize.hpp
  libvast/vast/fbs/utils.hpp
  libvast/vast/fwd.hpp
  libvast/vast/index/address_index.hpp
  libvast/vast/index/arithmetic_index.hpp
  libvast/vast/index/enumeration_index.hpp
  libvast/vast/index/hash_index.hpp
  libvast/vast/index/list_index.hpp
  libvast/vast/index/string_index.hpp
  libvast/vast/index/subnet_index.hpp
  libvast/vast/legacy_type.hpp
  libvast/vast/min_max_synopsis.hpp
  libvast/vast/schema.hpp
  libvast/vast/synopsis.hpp
  libvast/vast/value_index.hpp
  libvast_test/src/events.cpp
  libvast_test/src/table_slices.cpp
  libvast_test/vast/test/fixtures/actor_system.hpp
  libvast_test/vast/test/fixtures/table_slices.hpp
  tools/lsvast/src/print_partition.cpp
Labels: enhancement :sparkles:

#1970 Make use of CMake 3.22 policies
  CMakeLists.txt
  cmake/Findxxhash.cmake
  cmake/VASTChangelog.cmake.in
  cmake/VASTRegisterPlugin.cmake
  examples/plugins/analyzer/CMakeLists.txt
  examples/plugins/transform/CMakeLists.txt
  plugins/broker/CMakeLists.txt
  plugins/pcap/CMakeLists.txt
Labels: maintenance :scissors:

#1969 Remove Arrow .deb after installing in Dockerfile
  Dockerfile
Labels: bug :beetle:

#1975 Partition Transforms Refactoring
  libvast/src/system/index.cpp
  libvast/src/system/make_transforms.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/vast/system/make_transforms.hpp
Labels: refactoring :hammer_and_wrench:, enhancement :sparkles:

#1971 Remove type name hashing
  libvast/vast/hash/hash_append.hpp
Labels: enhancement :sparkles:

#1974 Make JSON field selectors configurable
  changelog/unreleased/features/1974--import-selector-json.md
  doc/cli/vast-import-json.md
  libvast/src/format/json.cpp
  libvast/src/format/reader_factory.cpp
  libvast/src/system/application.cpp
  libvast/vast/format/json.hpp
  libvast/vast/format/json/default_selector.hpp
  libvast/vast/format/json/field_selector.hpp
  libvast/vast/format/json/selector.hpp
  libvast/vast/format/json/suricata_selector.hpp
  libvast/vast/format/json/zeek_selector.hpp
  vast.yaml.example
  vast/integration/vast_integration_suite.yaml
Labels: feature :gift:

#1973 Emit version column along with metrics
  changelog/unreleased/features/1973--version-metrics.md
  libvast/src/system/accountant.cpp
  vast/CMakeLists.txt
Labels: feature :gift:

#1977 Improve caching behavior in CI
  .github/workflows/vast.yaml
Labels: maintenance :scissors:

#1957 Straighten the index actor signature
  libvast/src/detail/add_message_types.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  libvast/src/system/query_processor.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/index.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/fwd.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/query_cursor.hpp
Labels: enhancement :sparkles:

#1984 Fix bug creating invalid table slices in the JSON reader
  libvast/src/format/json.cpp
  vast/integration/data/zeek/zeek.json
  vast/integration/reference/node-zeek-json/step_01.ref
Labels: bug :beetle:

#1982 Silence bugprone-* clang-tidy warnings for assertions
  libvast/vast/detail/assert.hpp
Labels: enhancement :sparkles:
