Repository tenzir/tenzir, pull requests merged in 2021-07, with the labels that each got.

#1751 Remove unused forward declarations and atoms
  libvast/vast/atoms.hpp
  libvast/vast/concept/printable/vast/json.hpp
  libvast/vast/data.hpp
  libvast/vast/fwd.hpp
Labels: maintenance :scissors:

#1752 Shutdown the filesystem only when no longer used
  libvast/src/system/node.cpp
Labels: bug :beetle:

#1756 Fix sorting of plugins by name
  changelog/unreleased/bug-fixes/1756--sort-plugins-by-name.md
  libvast/src/plugin.cpp
Labels: bug :beetle:

#1753 Add new tracepoints for passive partitions
  libvast/src/system/partition.cpp
  libvast/vast/detail/tracepoint.hpp
Labels: enhancement :sparkles:

#1757 Move dev-facing log message to debug logs
  libvast/src/system/local_segment_store.cpp
Labels: enhancement :sparkles:

#1754 Fix error message about /dev/null-backend on startup
  changelog/unreleased/bug-fixes/1754--log-startup-error-message.md
  libvast/src/systemd.cpp
Labels: bug :beetle:

#1755 Fix bug in bitmap offset computation
  changelog/unreleased/bug-fixes/1755--bitmap-index-offset.md
  changelog/unreleased/features/1755--lsvast-indexers.md
  libvast/src/system/index.cpp
  libvast/test/bitmap_algorithms.cpp
  libvast/vast/bitmap_algorithms.hpp
  libvast/vast/index/hash_index.hpp
  tools/lsvast/lsvast.cpp
  vast/integration/lsvast_integration_suite.yaml
Labels: bug :beetle:

#1760 Split 'lsvast' source code into separate files
  tools/lsvast/CMakeLists.txt
  tools/lsvast/lsvast.cpp
  tools/lsvast/src/lsvast.cpp
  tools/lsvast/src/lsvast.hpp
  tools/lsvast/src/print_index.cpp
  tools/lsvast/src/print_partition.cpp
  tools/lsvast/src/print_segment.cpp
  tools/lsvast/src/util.hpp
Labels: refactoring :hammer_and_wrench:

#1763 Reword some changelog entries to active voice
  changelog/unreleased/bug-fixes/1755--bitmap-index-offset.md
  changelog/unreleased/features/1755--lsvast-indexers.md
Labels: maintenance :scissors:

#1740 Fix loading of the optional OpenSSL module
  changelog/unreleased/bug-fixes/1740--load-openssl-module.md
  libvast/src/system/configuration.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/start_command.cpp
Labels: bug :beetle:

#1765 Bump minimum Debian requirement to Bullseye
  .dockerignore
  .github/workflows/vast.yaml
  Dockerfile
  changelog/unreleased/changes/1765--drop-debian-buster-support.md
Labels: maintenance :scissors:

#1766 Publish a vast-deps Docker image
  .github/workflows/vast.yaml
  Dockerfile
Labels: enhancement :sparkles:

#1758 Add Zeek Broker reader plugin
  .github/workflows/vast.yaml
  Dockerfile
  changelog/unreleased/features/1758--broker-plugin.md
  cmake/VASTConfig.cmake.in
  libvast/src/detail/zeekify.cpp
  libvast/src/format/multi_layout_reader.cpp
  libvast/src/format/zeek.cpp
  libvast/vast/detail/logger_formatters.hpp
  libvast/vast/detail/zeekify.hpp
  libvast/vast/fwd.hpp
  plugins/broker/CMakeLists.txt
  plugins/broker/cmake/FindBroker.cmake
  plugins/broker/include/broker/reader.hpp
  plugins/broker/include/broker/zeek.hpp
  plugins/broker/src/plugin.cpp
  plugins/broker/src/reader.cpp
  plugins/broker/src/zeek.cpp
  plugins/broker/zeek/remote-logging.zeek
Labels: feature :gift:

#1742 Support import filter expressions
  changelog/unreleased/features/1742--import-filter-expressions.md
  libvast/src/system/datagram_source.cpp
  libvast/src/system/source.cpp
  libvast/src/table_slice.cpp
  libvast/vast/system/source.hpp
  vast/integration/reference/node-suricata-alert/step_02.ref
  vast/integration/vast_integration_suite.yaml
Labels: feature :gift:

#1767 Fix Broker plugin build in CI
  .github/workflows/vast.yaml
  cmake/VASTConfig.cmake.in
  libvast/CMakeLists.txt
  nix/overlay.nix
  nix/vast/default.nix
  nix/zeek-broker/default.nix
  plugins/broker/CMakeLists.txt
  plugins/broker/src/zeek.cpp
  plugins/pcap/CMakeLists.txt
Labels: bug :beetle:

#1764 Use a unique version for plugins
  changelog/unreleased/features/1764--unique-plugin-versions.md
  cmake/VASTRegisterPlugin.cmake
  examples/plugins/analyzer/CMakeLists.txt
  examples/plugins/analyzer/example_analyzer.cpp
  examples/plugins/analyzer/integration/reference/example/step_00.ref
  examples/plugins/analyzer/integration/reference/example/step_01.ref
  examples/plugins/analyzer/integration/tests.yaml
  examples/plugins/transform/CMakeLists.txt
  examples/plugins/transform/transform_plugin.cpp
  libvast/src/plugin.cpp
  libvast/src/system/version_command.cpp
  libvast/vast/fwd.hpp
  libvast/vast/plugin.hpp
Labels: feature :gift:

#1748 Print the import transformer status
  changelog/unreleased/bug-fixes/1748--transformer-status
  examples/plugins/analyzer/example_analyzer.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/posix_filesystem.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/source.cpp
  libvast/src/system/transformer.cpp
  libvast/src/system/type_registry.cpp
  libvast/src/transform.cpp
  libvast/test/system/filesystem.cpp
  libvast/vast/defaults.hpp
  libvast/vast/system/importer.hpp
  libvast/vast/system/source.hpp
  libvast/vast/system/status.hpp
  libvast/vast/system/status_verbosity.hpp
  libvast/vast/transform.hpp
Labels: bug :beetle:

#1762 Add disk-monitor support for partition-local stores
  changelog/unreleased/1720-1762--partition-local-stores.md
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/index.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/partition.cpp
  libvast/src/system/spawn_disk_monitor.cpp
  libvast/test/detail/lru_cache.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
  libvast/test/system/query_supervisor.cpp
  libvast/vast/detail/lru_cache.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/disk_monitor.hpp
  libvast/vast/system/partition.hpp
  vast.yaml.example
  vast/integration/vast_integration_suite.yaml
Labels: feature :gift:

#1770 Skip empty config files
  libvast/src/system/configuration.cpp
Labels: bug :beetle:

#1772 Fix rendering of table slice encoding
  libvast/src/table_slice_encoding.cpp
  libvast/vast/table_slice_encoding.hpp
Labels: bug :beetle:

#1773 Fix Docker image builds for arm64
  CMakeLists.txt
  changelog/unreleased/features/1773--docker-arm64.md
  cmake/FindSSE.cmake
  libvast/vast/detail/base64.hpp
  libvast/vast/detail/discard.hpp
Labels: enhancement :sparkles:

#1768 Compile with C++20
  .github/workflows/vast.yaml
  CMakeLists.txt
  changelog/unreleased/changes/1768--C++20.md
  libvast/CMakeLists.txt
  libvast/src/chunk.cpp
  libvast/src/system/counter.cpp
  libvast/src/system/eraser.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/query_processor.cpp
  libvast/src/system/source.cpp
  libvast/test/CMakeLists.txt
  libvast/test/index/enumeration_index.cpp
  libvast/test/time.cpp
  libvast/vast/query.hpp
  libvast/vast/system/component_registry.hpp
  libvast/vast/system/exporter.hpp
  libvast/vast/system/local_segment_store.hpp
  libvast/vast/system/meta_index.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/system/source.hpp
  libvast_test/vast/test/test.hpp
Labels: dependencies, enhancement :sparkles:

#1774 Fix the indexer status timeout
  libvast/src/system/partition.cpp
Labels: bug :beetle:

#1771 Make the source shutdown instantaneous
  changelog/unreleased/bug-fixes/1771--dummy-transformer-sink.md
  libvast/src/system/datagram_source.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/source.cpp
  libvast/src/system/transformer.cpp
  libvast/test/system/importer.cpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/transformer.hpp
Labels: bug :beetle:

#1778 Disable auto-vectorization in prebuilt Docker images
  .github/workflows/vast.yaml
  CMakeLists.txt
  Dockerfile
  changelog/unreleased/changes/1778--disabled-auto-vectorization-docker.md
Labels: enhancement :sparkles:

#1777 Remove /etc as hardcoded sysconfdir from Nix build
  .github/workflows/style-check.yaml
  CMakeLists.txt
  changelog/unreleased/bug-fixes/1777--nix-etcdir.md
  changelog/unreleased/features/1777--example-config.md
  libvast/src/system/configuration.cpp
  nix/vast/default.nix
  vast.yaml.example
  vast/CMakeLists.txt
Labels: bug :beetle:, enhancement :sparkles:

#1782 Fix changelog entry for partition-local stores
  changelog/unreleased/features/1720-1762--partition-local-stores.md
Labels: bug :beetle:

#1780 Propagate VAST_ENABLE_JOURNALD_LOGGING setting to config header
  changelog/unreleased/bug-fixes/1780--journald-sink.md
  libvast/src/logger.cpp
  libvast/vast/config.hpp.in
Labels: bug :beetle:

#1783 Remove duplicate branch in CMakeLists.txt
  CMakeLists.txt
Labels: refactoring :hammer_and_wrench:

#1775 Strip installations in Dockerfile
  Dockerfile
Labels: enhancement :sparkles:

#1788 Install vast.yaml in Dockerfile later
  Dockerfile
Labels: bug :beetle:

#1785 Remove vast::span in favor of std::span
  LICENSE.3rdparty
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/chunk.cpp
  libvast/src/detail/posix.cpp
  libvast/src/ether_type.cpp
  libvast/src/fbs/utils.cpp
  libvast/src/format/csv.cpp
  libvast/src/io/read.cpp
  libvast/src/io/save.cpp
  libvast/src/io/write.cpp
  libvast/src/msgpack.cpp
  libvast/src/msgpack_table_slice_builder.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/index.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/partition.cpp
  libvast/src/table_slice.cpp
  libvast/src/uuid.cpp
  libvast/test/arrow_table_slice.cpp
  libvast/test/chunk.cpp
  libvast/test/flatbuffers.cpp
  libvast/test/hash.cpp
  libvast/test/msgpack.cpp
  libvast/test/span.cpp
  libvast/test/system/filesystem.cpp
  libvast/test/uuid.cpp
  libvast/vast/arrow_table_slice_builder.hpp
  libvast/vast/as_bytes.hpp
  libvast/vast/chunk.hpp
  libvast/vast/community_id.hpp
  libvast/vast/detail/coding.hpp
  libvast/vast/detail/deserialize.hpp
  libvast/vast/detail/logger_formatters.hpp
  libvast/vast/detail/posix.hpp
  libvast/vast/ether_type.hpp
  libvast/vast/fbs/utils.hpp
  libvast/vast/fwd.hpp
  libvast/vast/io/read.hpp
  libvast/vast/io/save.hpp
  libvast/vast/io/write.hpp
  libvast/vast/msgpack.hpp
  libvast/vast/msgpack_builder.hpp
  libvast/vast/msgpack_table_slice_builder.hpp
  libvast/vast/plugin.hpp
  libvast/vast/project.hpp
  libvast/vast/span.hpp
  libvast/vast/system/partition.hpp
  libvast/vast/table_slice.hpp
  libvast/vast/table_slice_builder.hpp
  libvast/vast/uuid.hpp
  libvast_test/src/table_slices.cpp
  libvast_test/vast/test/test.hpp
  plugins/broker/include/broker/zeek.hpp
  plugins/broker/src/zeek.cpp
  plugins/pcap/main.cpp
Labels: refactoring :hammer_and_wrench:

#1791 Make has_is_transparent a concept
  libvast/test/detail/concepts.cpp
  libvast/vast/detail/concepts.hpp
  libvast/vast/detail/type_traits.hpp
  libvast/vast/index/hash_index.hpp
Labels: refactoring :hammer_and_wrench:

#1792 Remove unused compile options/link libraries for older compilers
  CMakeLists.txt
  libvast/CMakeLists.txt
Labels: refactoring :hammer_and_wrench:

#1787 Use bundled CAF by default if submodule is initialized
  .github/workflows/vast.yaml
  libvast/CMakeLists.txt
Labels: enhancement :sparkles:

#1793 Make is_container a concept
  libvast/test/detail/concepts.cpp
  libvast/vast/as_bytes.hpp
  libvast/vast/concept/parseable/core/kleene.hpp
  libvast/vast/concept/parseable/core/list.hpp
  libvast/vast/concept/parseable/core/plus.hpp
  libvast/vast/concept/parseable/core/repeat.hpp
  libvast/vast/concept/parseable/detail/container.hpp
  libvast/vast/detail/concepts.hpp
  libvast/vast/detail/deserialize.hpp
  libvast/vast/detail/type_traits.hpp
  libvast/vast/format/syslog.hpp
Labels: refactoring :hammer_and_wrench:

#1776 Silence warnings in generated FlatBuffers headers
  .cmake-format
  CMakeLists.txt
  cmake/VASTRegisterPlugin.cmake
  libvast/CMakeLists.txt
  libvast/test/CMakeLists.txt
  libvast_test/CMakeLists.txt
  tools/dscat/CMakeLists.txt
  tools/lsvast/CMakeLists.txt
  vast/CMakeLists.txt
Labels: refactoring :hammer_and_wrench:

#1790 Disable SSE for vast-ci Nix build (again)
  .github/workflows/vast.yaml
Labels: bug :beetle:

#1789 Enable Broker plugin by default for Nix
  changelog/unreleased/features/1789--broker-plugin-nix-build.md
  nix/static-binary.sh
Labels: enhancement :sparkles:

#1786 Normalize GNUInstallDirs for external plugins
  .cmake-format
  CMakeLists.txt
  changelog/unreleased/bug-fixes/1786--relative-libdir.md
  cmake/VASTRegisterPlugin.cmake
Labels: enhancement :sparkles:

#1794 Minor build scaffold fixups
  .cmake-format
  cmake/VASTRegisterPlugin.cmake
  libvast/CMakeLists.txt
Labels: bug :beetle:

#1795 Integral concepts to clean up SFINAE
  .github/workflows/style-check.yaml
  libvast/vast/concept/parseable/core/repeat.hpp
  libvast/vast/concept/parseable/numeric/integral.hpp
  libvast/vast/concept/parseable/vast/si.hpp
  libvast/vast/concept/printable/detail/print_numeric.hpp
  libvast/vast/concept/printable/numeric/integral.hpp
  libvast/vast/detail/concepts.hpp
  libvast/vast/detail/math.hpp
  libvast/vast/detail/varbyte.hpp
  libvast/vast/msgpack_builder.hpp
  libvast/vast/word.hpp
Labels: refactoring :hammer_and_wrench:

#1796 Prepare repository for VAST 2021.07.29-rc1
  CHANGELOG.md
  changelog/2021.07.29-rc1/bug-fixes/1740.md
  changelog/2021.07.29-rc1/bug-fixes/1748--transformer-status
  changelog/2021.07.29-rc1/bug-fixes/1754.md
  changelog/2021.07.29-rc1/bug-fixes/1755.md
  changelog/2021.07.29-rc1/bug-fixes/1756.md
  changelog/2021.07.29-rc1/bug-fixes/1759.md
  changelog/2021.07.29-rc1/bug-fixes/1771.md
  changelog/2021.07.29-rc1/bug-fixes/1777.md
  changelog/2021.07.29-rc1/bug-fixes/1780.md
  changelog/2021.07.29-rc1/bug-fixes/1786.md
  changelog/2021.07.29-rc1/changes/1765.md
  changelog/2021.07.29-rc1/changes/1768.md
  changelog/2021.07.29-rc1/changes/1778.md
  changelog/2021.07.29-rc1/features/1720-1762.md
  changelog/2021.07.29-rc1/features/1742.md
  changelog/2021.07.29-rc1/features/1749.md
  changelog/2021.07.29-rc1/features/1755.md
  changelog/2021.07.29-rc1/features/1758.md
  changelog/2021.07.29-rc1/features/1764.md
  changelog/2021.07.29-rc1/features/1773.md
  changelog/2021.07.29-rc1/features/1777.md
  changelog/2021.07.29-rc1/features/1781.md
  changelog/2021.07.29-rc1/features/1789.md
  changelog/unreleased/bug-fixes/1754--log-startup-error-message.md
  changelog/unreleased/bug-fixes/1755--bitmap-index-offset.md
  changelog/unreleased/bug-fixes/1759--json-import-abort.md
  changelog/unreleased/bug-fixes/1777--nix-etcdir.md
  changelog/unreleased/features/1720-1762--partition-local-stores.md
  changelog/unreleased/features/1742--import-filter-expressions.md
  changelog/unreleased/features/1749--vast-dev-docker-image.md
  changelog/unreleased/features/1755--lsvast-indexers.md
  changelog/unreleased/features/1764--unique-plugin-versions.md
  changelog/unreleased/features/1777--example-config.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance :scissors:

#1802 Don't warn for every erased partition
  changelog/2021.07.29-rc1/features/1720-1762-1802.md
  libvast/src/system/partition.cpp
Labels: bug :beetle:

#1799 Support unique plugin versions for Nix and Docker
  .github/workflows/vast.yaml
  changelog/unreleased/bug-fixes/1799.md
  cmake/VASTRegisterPlugin.cmake
  nix/static-binary.sh
Labels: bug :beetle:

#1803 Normalize static binary artifact name
  nix/static-binary.sh
Labels: maintenance :scissors:

#1804 Block requests to partially initialized partitions
  changelog/unreleased/bug-fixes/1804.md
  libvast/src/system/partition.cpp
  libvast/test/system/partition.cpp
Labels: bug :beetle:

#1806 Prepare repository for VAST 2021.07.29-rc2
  CHANGELOG.md
  changelog/2021.07.29-rc2/bug-fixes/1740.md
  changelog/2021.07.29-rc2/bug-fixes/1748--transformer-status
  changelog/2021.07.29-rc2/bug-fixes/1754.md
  changelog/2021.07.29-rc2/bug-fixes/1755.md
  changelog/2021.07.29-rc2/bug-fixes/1756.md
  changelog/2021.07.29-rc2/bug-fixes/1759.md
  changelog/2021.07.29-rc2/bug-fixes/1771.md
  changelog/2021.07.29-rc2/bug-fixes/1777.md
  changelog/2021.07.29-rc2/bug-fixes/1780.md
  changelog/2021.07.29-rc2/bug-fixes/1786.md
  changelog/2021.07.29-rc2/bug-fixes/1799.md
  changelog/2021.07.29-rc2/bug-fixes/1804.md
  changelog/2021.07.29-rc2/changes/1765.md
  changelog/2021.07.29-rc2/changes/1768.md
  changelog/2021.07.29-rc2/changes/1778.md
  changelog/2021.07.29-rc2/features/1720-1762-1802.md
  changelog/2021.07.29-rc2/features/1742.md
  changelog/2021.07.29-rc2/features/1749.md
  changelog/2021.07.29-rc2/features/1755.md
  changelog/2021.07.29-rc2/features/1758.md
  changelog/2021.07.29-rc2/features/1764.md
  changelog/2021.07.29-rc2/features/1773.md
  changelog/2021.07.29-rc2/features/1777.md
  changelog/2021.07.29-rc2/features/1781.md
  changelog/2021.07.29-rc2/features/1789.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance :scissors:

#1807 Fix the release preparation script
  scripts/prepare-release
Labels: bug :beetle:

#1809 Fix another segfault in the partition deletion logic
  changelog/2021.07.29-rc2/bug-fixes/1804-1809.md
  libvast/src/chunk.cpp
  libvast/src/system/index.cpp
  libvast/src/system/posix_filesystem.cpp
Labels: bug :beetle:

#1814 Make Bloom filter parameters equality-comparable
  libvast/src/bloom_filter_parameters.cpp
  libvast/vast/bloom_filter_parameters.hpp
Labels: enhancement :sparkles:

#1798 Add missing concepts for Suricata events
  changelog/unreleased/bug-fixes/1798--suricata-concepts.md
  schema/concepts/suricata.yaml
  vast/integration/reference/taxonomy-dump/step_00.ref
  vast/integration/vast_integration_suite.yaml
Labels: maintenance :scissors:

#1797 Keep layer-2 framing when reading PCAP payload
  changelog/unreleased/1797.md
  plugins/pcap/integration/reference/manual-1-node/step_01.ref
  plugins/pcap/integration/reference/manual-1/step_01.ref
  plugins/pcap/main.cpp
Labels: feature :gift:

#1811 Fix compilation with Arrow 5.0
  .github/workflows/vast.yaml
  Dockerfile
  examples/jupyter/requirements.txt
  libvast/src/format/arrow.cpp
  pyvast/example/requirements.txt
  vast/integration/requirements.txt
Labels: maintenance :scissors:
