Repository tenzir/tenzir, pull requests merged in 2022-04, with the labels that each got.

#2162 Support environment variables as alternate config mechanism
  changelog/unreleased/features/2162--environment-variables-as-config.md
  libvast/include/vast/detail/env.hpp
  libvast/include/vast/system/configuration.hpp
  libvast/src/detail/env.cpp
  libvast/src/logger.cpp
  libvast/src/module.cpp
  libvast/src/plugin.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/index.cpp
  libvast/src/systemd.cpp
  libvast/test/system/configuration.cpp
Labels: feature

#2181 Bump CMake policy opt-in version to 3.23
  CMakeLists.txt
  cmake/VASTChangelog.cmake.in
  cmake/VASTRegisterPlugin.cmake
  examples/plugins/analyzer/CMakeLists.txt
  examples/plugins/transform/CMakeLists.txt
  plugins/aggregate/CMakeLists.txt
  plugins/broker/CMakeLists.txt
  plugins/pcap/CMakeLists.txt
  plugins/sigma/CMakeLists.txt
Labels: maintenance

#2178 Fix CLI verbosity shorthands
  changelog/unreleased/breaking-changes/2178--console-verbosity.md
  libvast/src/system/application.cpp
Labels: bug

#2180 Improve robustness of the Check Labels CI workflow
  .github/workflows/blocked.yaml
Labels: enhancement

#2185 Make `#import_time` integration test more robust
  vast/integration/vast_integration_suite.yaml
Labels: bug

#2179 Add VLAN tags to PCAP meta data
  libvast/include/vast/ether_type.hpp
  libvast/include/vast/frame_type.hpp
  plugins/pcap/CHANGELOG.md
  plugins/pcap/CMakeLists.txt
  plugins/pcap/integration/data/pcap/vlan-double-tagging.pcap
  plugins/pcap/integration/data/pcap/vlan-single-tagging.pcap
  plugins/pcap/integration/data/pcap/vlan.pcap.gz
  plugins/pcap/integration/reference/importing-vlan-traffic/step_01.ref
  plugins/pcap/integration/reference/importing-vlan-traffic/step_02.ref
  plugins/pcap/integration/reference/importing-vlan-traffic/step_03.ref
  plugins/pcap/integration/reference/importing-vlan-traffic/step_04.ref
  plugins/pcap/integration/reference/manual-1-node/step_01.ref
  plugins/pcap/integration/reference/manual-1/step_01.ref
  plugins/pcap/integration/tests.yaml
  plugins/pcap/main.cpp
Labels: feature

#2189 Fix disk monitor partition blacklist
  libvast/src/system/disk_monitor.cpp
Labels: bug

#2171 Add CI job for terraform (trial 2)
  .github/workflows/style-check.yaml
  .github/workflows/terraform.yaml
Labels: maintenance

#2184 Add support for reals in CSV without dot
  changelog/unreleased/bug-fixes/2184--csv-real-opt-dot.md
  libvast/src/format/csv.cpp
  libvast/test/format/csv.cpp
Labels: bug

#2188 Add a new integration test for timed-out exporters
  vast/integration/integration.py
  vast/integration/reference/exporter-timeout/step_00.ref
  vast/integration/reference/exporter-timeout/step_01.ref
  vast/integration/reference/exporter-timeout/step_02.ref
  vast/integration/reference/exporter-timeout/step_03.ref
  vast/integration/reference/exporter-timeout/step_04.ref
  vast/integration/reference/exporter-timeout/step_05.ref
  vast/integration/reference/exporter-timeout/step_06.ref
  vast/integration/reference/exporter-timeout/step_07.ref
  vast/integration/reference/exporter-timeout/step_08.ref
  vast/integration/reference/exporter-timeout/step_09.ref
  vast/integration/reference/exporter-timeout/step_10.ref
  vast/integration/vast_integration_suite.yaml
Labels: enhancement

#2177 Add Terragrunt to the stack
  .github/workflows/terraform.yaml
  cloud/aws/.gitignore
  cloud/aws/cli.py
  cloud/aws/docker/cli.Dockerfile
  cloud/aws/step-1/backend.tf
  cloud/aws/step-1/main.tf
  cloud/aws/step-1/terragrunt.hcl
  cloud/aws/step-2/backend.tf
  cloud/aws/step-2/main.tf
  cloud/aws/step-2/terragrunt.hcl
  cloud/aws/terragrunt.hcl
  cloud/aws/vast-cloud
  cloud/aws/versions.hcl
Labels: refactoring, enhancement

#2194 Fix sigterm not received by server on Fargate
  cloud/aws/step-2/modules.tf
Labels: bug

#2192 Also look at type synopses when computing partition synopsis size
  libvast/include/vast/partition_synopsis.hpp
  libvast/include/vast/system/eraser.hpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/catalog.cpp
  libvast/test/system/catalog.cpp
Labels: bug

#2202 Experiment with a simpler cache action config
  .github/workflows/vast.yaml
Labels: maintenance

#2193 Minimize the threadpool for client commands
  changelog/unreleased/changes/2193--client-command-threads.md
  libvast/src/system/application.cpp
  libvast/src/type.cpp
  vast.yaml.example
  vast/vast.cpp
Labels: maintenance, performance

#2186 Implement support for transforms that apply to every type and use compaction for aging
  changelog/unreleased/features/2186--aging-revival.md
  libvast/CMakeLists.txt
  libvast/include/vast/query.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/eraser.hpp
  libvast/include/vast/system/local_segment_store.hpp
  libvast/include/vast/transform.hpp
  libvast/include/vast/transform_steps/filter.hpp
  libvast/include/vast/transform_steps/select.hpp
  libvast/src/system/archive.cpp
  libvast/src/system/eraser.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/spawn_eraser.cpp
  libvast/src/transform.cpp
  libvast/src/transform_steps/filter.cpp
  libvast/src/transform_steps/select.cpp
  libvast/test/system/catalog.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/transformer.cpp
  libvast/test/transform.cpp
  vast/integration/reference/zeek-conn-log-aging/step_04.ref
  vast/integration/reference/zeek-conn-log-aging/step_05.ref
  vast/integration/vast_integration_suite.yaml
Labels: feature, refactoring

#2205 Fix the import test subcommand
  libvast/src/format/reader_factory.cpp
  libvast/src/system/make_source.cpp
  vast/integration/vast_integration_suite.yaml
Labels: bug

#2204 Prepare repository for VAST v2.0.0-rc1
  CHANGELOG.md
  changelog/unreleased/breaking-changes/2121--remove-vast-get.md
  changelog/unreleased/bug-fixes/2146--count-estimate.md
  changelog/unreleased/bug-fixes/2167--exporter-race.md
  changelog/unreleased/bug-fixes/2176--tune-log-queue-size.md
  changelog/unreleased/bug-fixes/2184--csv-real-opt-dot.md
  changelog/unreleased/changes/2108--vast-lambda-fargate.md
  changelog/unreleased/changes/2117--scheduler-metrics.md
  changelog/unreleased/changes/2122--require-arrow-7.md
  changelog/unreleased/changes/2159--arrow-v2.md
  changelog/unreleased/features/2065--fine-grained-catalog-configuration.md
  changelog/unreleased/features/2096--partition-timeout.md
  changelog/unreleased/features/2133--status-grand-total.md
  changelog/unreleased/features/2160--disk-monitor-blacklist.md
  changelog/unreleased/features/2186--aging-revival.md
  changelog/v2.0.0-rc1/breaking-changes/2121.md
  changelog/v2.0.0-rc1/breaking-changes/2128.md
  changelog/v2.0.0-rc1/breaking-changes/2178.md
  changelog/v2.0.0-rc1/bug-fixes/2120.md
  changelog/v2.0.0-rc1/bug-fixes/2146.md
  changelog/v2.0.0-rc1/bug-fixes/2155.md
  changelog/v2.0.0-rc1/bug-fixes/2160.md
  changelog/v2.0.0-rc1/bug-fixes/2167.md
  changelog/v2.0.0-rc1/bug-fixes/2176.md
  changelog/v2.0.0-rc1/bug-fixes/2184.md
  changelog/v2.0.0-rc1/bug-fixes/2190.md
  changelog/v2.0.0-rc1/changes/2108.md
  changelog/v2.0.0-rc1/changes/2117.md
  changelog/v2.0.0-rc1/changes/2122.md
  changelog/v2.0.0-rc1/changes/2159.md
  changelog/v2.0.0-rc1/changes/2193.md
  changelog/v2.0.0-rc1/features/2065.md
  changelog/v2.0.0-rc1/features/2096.md
  changelog/v2.0.0-rc1/features/2133.md
  changelog/v2.0.0-rc1/features/2160.md
  changelog/v2.0.0-rc1/features/2162.md
  changelog/v2.0.0-rc1/features/2186.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2207 Use `:addr` over `:address` for index config
  libvast/src/partition_synopsis.cpp
  libvast/test/partition_synopsis.cpp
Labels: bug

#2209 Add a convertible overload from data to string
  libvast/include/vast/concept/convertible/data.hpp
Labels: bug

#2212 Fix infinite loop in query removal
  libvast/src/query_queue.cpp
Labels: bug

#2208 Add unit tests for the bytesize parser
  libvast/include/vast/concept/convertible/data.hpp
  libvast/test/parseable.cpp
Labels: enhancement

#2213 Assert that expressions must not be empty connectives
  libvast/include/vast/expression.hpp
Labels: bug

#2215 Stop accepting new queries after initiating shutdown
  changelog/unreleased/bug-fixes/2215--new-queries-after-stop.md
  libvast/src/system/index.cpp
  libvast/src/system/legacy_index.cpp
  libvast/src/system/signal_monitor.cpp
  libvast/src/system/sink_command.cpp
Labels: bug

#2218 Fix heap-use-after-free in aggregate group-by keys
  plugins/aggregate/aggregate.cpp
Labels: bug

#2225 Use `maintenance` label for Dependabot PRs
  .github/dependabot.yml
Labels: maintenance

#2226 Fix a false assertion failure on client shutdown
  libvast/src/system/sink_command.cpp
Labels: bug

#2227 Don't send null pointers when erasing whole partitions
  changelog/unreleased/bug-fixes/2227--partition-erasure.md
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/posix_filesystem.cpp
  libvast_test/vast/test/memory_filesystem.hpp
Labels: bug

#2221 Fix CI triggers for hotfix releases
  .github/workflows/jupyter.yaml
  .github/workflows/pyvast.yaml
  .github/workflows/vast.yaml
Labels: enhancement, bug

#2229 Run `markdownlint` in CI
  .github/workflows/style-check.yaml
  .github/workflows/vast.yaml
  .markdownlint.yaml
  CHANGELOG.md
  README.md
  changelog/2020.04.29/features/827-844.md
  changelog/2021.01.28/bug-fixes/1276.md
  changelog/2021.01.28/changes/1257-1289.md
  changelog/2021.02.24/features/1330-1376.md
  changelog/2021.02.24/features/1368.md
  changelog/2021.02.24/features/1382.md
  changelog/2021.03.25/bug-fixes/1473-1485.md
  changelog/2021.04.29/bug-fixes/1549.md
  changelog/2021.07.29/features/1742.md
  changelog/2021.08.26/bug-fixes/1862.md
  changelog/2021.11.18/changes/1896.md
  changelog/2021.12.16/features/1987-1992.md
  changelog/legacy.md
  cloud/aws/README.md
  cmake/VASTChangelog.cmake.in
  docs/README.md
  docs/cli/vast-count.md
  docs/cli/vast-export.md
  plugins/broker/README.md
  plugins/pcap/CHANGELOG.md
Labels: maintenance

#2219 Prepare repository for VAST v2.0.0-rc2
  CHANGELOG.md
  changelog/unreleased/bug-fixes/2227--partition-erasure.md
  changelog/v2.0.0-rc2/breaking-changes/2121.md
  changelog/v2.0.0-rc2/breaking-changes/2128.md
  changelog/v2.0.0-rc2/breaking-changes/2178.md
  changelog/v2.0.0-rc2/breaking-changes/2228.md
  changelog/v2.0.0-rc2/bug-fixes/2120.md
  changelog/v2.0.0-rc2/bug-fixes/2146.md
  changelog/v2.0.0-rc2/bug-fixes/2155.md
  changelog/v2.0.0-rc2/bug-fixes/2167.md
  changelog/v2.0.0-rc2/bug-fixes/2176.md
  changelog/v2.0.0-rc2/bug-fixes/2184.md
  changelog/v2.0.0-rc2/bug-fixes/2190.md
  changelog/v2.0.0-rc2/bug-fixes/2215.md
  changelog/v2.0.0-rc2/bug-fixes/2227.md
  changelog/v2.0.0-rc2/changes/2108.md
  changelog/v2.0.0-rc2/changes/2117.md
  changelog/v2.0.0-rc2/changes/2122.md
  changelog/v2.0.0-rc2/changes/2159.md
  changelog/v2.0.0-rc2/changes/2193.md
  changelog/v2.0.0-rc2/features/2065.md
  changelog/v2.0.0-rc2/features/2096.md
  changelog/v2.0.0-rc2/features/2133.md
  changelog/v2.0.0-rc2/features/2160.md
  changelog/v2.0.0-rc2/features/2162.md
  changelog/v2.0.0-rc2/features/2186.md
  changelog/v2.0.0-rc2/features/2228.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2235 Add missing newline to changelog template
  CHANGELOG.md
  cmake/VASTChangelog.cmake.in
Labels: bug

#2236 Treat list options in env variables consistently
  changelog/unreleased/bug-fixes/2236--env-lists.md
  cmake/VASTRegisterPlugin.cmake
  libvast/src/module.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/start_command.cpp
Labels: bug

#2240 Fix `vast.active-partition-timeout` option
  libvast/include/vast/defaults.hpp
  libvast/src/system/application.cpp
  libvast/src/system/spawn_index.cpp
Labels: bug

#2237 Add missing query queue unit test
  libvast/test/query_queue.cpp
Labels: maintenance

#2239 Handle indefinite hang when evaluating queries on irrelevant partitions
  changelog/unreleased/2239--indefinite-hang.md
  libvast/include/vast/defaults.hpp
  libvast/src/system/index.cpp
  libvast/src/system/passive_partition.cpp
  libvast/test/partition_roundtrip.cpp
Labels: bug

#2234 Add a name for the partition-transformer and improve unit test coverage
  libvast/include/vast/system/partition_transformer.hpp
  libvast/test/transform.cpp
Labels: bug

#2233 Remove the "catalog" and "catalog-bytes" keys from the index status
  changelog/unreleased/changes/2233--duplicate-catalog-status.md
  libvast/include/vast/system/index.hpp
  libvast/include/vast/system/legacy_index.hpp
  libvast/src/system/index.cpp
  libvast/src/system/legacy_index.cpp
  vast/integration/reference/server-zeek-conn-log/step_07.ref
Labels: refactoring

#2238 Adjust count when skipping partitions
  libvast/include/vast/fbs/utils.hpp
  libvast/src/query_queue.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/system/filesystem.cpp
Labels: bug

#2241 Prepare repository for VAST v2.0.0-rc3
  .github/workflows/pyvast.yaml
  .github/workflows/vast.yaml
  CHANGELOG.md
  changelog/v2.0.0-rc3/2239.md
  changelog/v2.0.0-rc3/breaking-changes/2121.md
  changelog/v2.0.0-rc3/breaking-changes/2128.md
  changelog/v2.0.0-rc3/breaking-changes/2178.md
  changelog/v2.0.0-rc3/breaking-changes/2228.md
  changelog/v2.0.0-rc3/bug-fixes/2120.md
  changelog/v2.0.0-rc3/bug-fixes/2146.md
  changelog/v2.0.0-rc3/bug-fixes/2155.md
  changelog/v2.0.0-rc3/bug-fixes/2167.md
  changelog/v2.0.0-rc3/bug-fixes/2176.md
  changelog/v2.0.0-rc3/bug-fixes/2184.md
  changelog/v2.0.0-rc3/bug-fixes/2190.md
  changelog/v2.0.0-rc3/bug-fixes/2215.md
  changelog/v2.0.0-rc3/bug-fixes/2227.md
  changelog/v2.0.0-rc3/bug-fixes/2236.md
  changelog/v2.0.0-rc3/changes/2108.md
  changelog/v2.0.0-rc3/changes/2117.md
  changelog/v2.0.0-rc3/changes/2122.md
  changelog/v2.0.0-rc3/changes/2159.md
  changelog/v2.0.0-rc3/changes/2193.md
  changelog/v2.0.0-rc3/changes/2233.md
  changelog/v2.0.0-rc3/features/2065.md
  changelog/v2.0.0-rc3/features/2096.md
  changelog/v2.0.0-rc3/features/2133.md
  changelog/v2.0.0-rc3/features/2160.md
  changelog/v2.0.0-rc3/features/2162.md
  changelog/v2.0.0-rc3/features/2186.md
  changelog/v2.0.0-rc3/features/2228.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2244 Remove dead options from example configuration
  vast.yaml.example
Labels: bug

#2242 Add changelog to new docs page
  .github/workflows/docs.yaml
  .github/workflows/vast.yaml
  .gitignore
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: enhancement

#2246 Fix incorrect handling of duration in v1 -> v2 arrow conversion
  libvast/src/arrow_table_slice.cpp
  libvast/test/arrow_table_slice.cpp
  libvast_test/artifacts/table_slices/arrow-v1_all-types.bytes
Labels: bug

#2245 Perform cosmetics fixups to changelog template
  CHANGELOG.md
  changelog/legacy.md
  cmake/VASTChangelog.cmake.in
  plugins/pcap/CHANGELOG.md
  plugins/summarize/CHANGELOG.md
Labels: bug

#2232 Migrate docs: Setup VAST
  cloud/aws/README.md
  docs/docs/get-started/README.md
  docs/docs/setup-vast/README.md
  docs/docs/setup-vast/build-from-source.md
  docs/docs/setup-vast/build.md
  docs/docs/setup-vast/configure.md
  docs/docs/setup-vast/deploy/README.md
  docs/docs/setup-vast/deploy/_category_.yml
  docs/docs/setup-vast/deploy/aws.md
  docs/docs/setup-vast/deploy/docker.md
  docs/docs/setup-vast/download.md
  docs/docs/setup-vast/install/README.md
  docs/docs/setup-vast/install/_category_.yml
  docs/docs/setup-vast/install/linux.md
  docs/docs/setup-vast/install/macos.md
  docs/docs/setup-vast/tune.md
  docs/docs/understand-vast/actor-model.md
  docs/docs/understand-vast/aws.md
  docs/docusaurus.config.js
  docs/package.json
  docs/static/img/actor-model-architecture.png
  docs/static/img/actor-model-distribution.png
  docs/static/img/actor-model-messaging.png
  docs/static/img/actor-model-workstealing.png
  docs/yarn.lock
Labels: enhancement

#2248 Add a configuration option to toggle manpage generation
  .github/workflows/vast.yaml
  CMakeLists.txt
  Dockerfile
  nix/vast/default.nix
  tools/lsvast/CMakeLists.txt
  vast/CMakeLists.txt
Labels: maintenance

#2247 Print segment contents with lsvast
  changelog/unreleased/features/lsvast-segmetns--2247.md
  tools/lsvast/src/lsvast.cpp
  tools/lsvast/src/lsvast.hpp
  tools/lsvast/src/print_partition.cpp
  tools/lsvast/src/print_segment.cpp
  tools/lsvast/src/util.hpp
  vast/integration/reference/basiccommand/step_00.ref
Labels: feature

#2250 Fix Clang 14 incompatibilities
  libvast/src/io/read.cpp
  libvast/src/system/accountant.cpp
  libvast/test/msgpack.cpp
  libvast/test/system/filesystem.cpp
Labels: maintenance

#2251 Fix up changelog
  changelog/unreleased/features/2247--lsvast-segments.md
  changelog/unreleased/features/lsvast-segmetns--2247.md
Labels: maintenance, bug
