Repository tenzir/tenzir, pull requests merged in 2022-11, with the labels that each got.

#2682 Add "-total" metric keys for schema-dependent metrics
  changelog/unreleased/bug-fixes/2642--uncache-failed-partitions.md
  changelog/unreleased/features/2623.md
  changelog/unreleased/features/2682--total-metric-keys.md
  libvast/include/vast/system/importer.hpp
  libvast/src/system/catalog.cpp
  libvast/src/system/importer.cpp
  web/docs/setup/monitor.md
Labels: feature

#2683 Refactor synopsis inspection API for easier maintenance
  libvast/include/vast/bloom_filter_synopsis.hpp
  libvast/include/vast/bool_synopsis.hpp
  libvast/include/vast/buffered_synopsis.hpp
  libvast/include/vast/min_max_synopsis.hpp
  libvast/include/vast/synopsis.hpp
  libvast/src/bool_synopsis.cpp
  libvast/src/synopsis.cpp
Labels: refactoring, caf

#2687 MISP Compose scripts
  cloud/aws/docker/misp/docker-compose.yml
  cloud/aws/docker/misp/misp.Dockerfile
  cloud/aws/docker/misp/misp_proxy.Dockerfile
  docker/misp/Dockerfile
  docker/misp/README.md
  docker/misp/docker-compose.proxy.yaml
  docker/misp/docker-compose.yaml
  docker/misp/misp-config.yaml
  docker/misp/misp-init.conf
  docker/misp/misp-init.py
  docker/misp/proxy/502.html
  docker/misp/proxy/Dockerfile
  docker/misp/proxy/nginx.conf.template
Labels: feature

#2652 TheHive and Cortex Compose scripts
  .github/workflows/vast.yaml
  changelog/unreleased/features/2652--thehive-compose.md
  docker/thehive/README.md
  docker/thehive/cortex/Dockerfile
  docker/thehive/cortex/application.conf.template
  docker/thehive/cortex/entrypoint.sh
  docker/thehive/cortex/local-analyzers.json
  docker/thehive/docker-compose.vast.yaml
  docker/thehive/docker-compose.yaml
  docker/thehive/thehive/Dockerfile
  docker/thehive/thehive/application.conf.template
  docker/thehive/thehive/entrypoint.py
  docker/thehive/vast-cortex-neuron/Dockerfile
  docker/thehive/vast-cortex-neuron/README.md
  docker/thehive/vast-cortex-neuron/VAST-Search.json
  docker/thehive/vast-cortex-neuron/requirements.txt
  docker/thehive/vast-cortex-neuron/search.py
  docker/thehive/vast-cortex-neuron/tests/input/host.json
  docker/thehive/vast-cortex-neuron/tests/input/service.json
  docker/thehive/vast-cortex-neuron/tests/output/.gitignore
  docker/thehive/vast-cortex-neuron/tests/run
  docker/vast/docker-compose.yaml
Labels: feature

#2688 MISP app scaffolging
  docker/misp/README.md
  docker/misp/app/app.py
  docker/misp/app/pyproject.toml
  docker/misp/docker-compose.app.yaml
  docker/poetry/Dockerfile
  docker/poetry/docker-compose.yaml
Labels: feature

#2685 Arrow 10.0.0 support
  .github/workflows/analysis.yaml
  .github/workflows/vast.yaml
  Dockerfile
  changelog/unreleased/changes/2685--update-arrow-to-10.0.0.md
  flake.lock
  flake.nix
  libvast/CMakeLists.txt
  libvast/include/vast/arrow_compat.hpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/chunk.cpp
  libvast/src/type.cpp
  nix/overlay.nix
  plugins/parquet/CMakeLists.txt
  plugins/parquet/parquet.cpp
  vast/integration/requirements.txt
Labels: maintenance

#2655 Modernize CI
  .github/workflows/vast.yaml
  Dockerfile
  scripts/debian/install-dev-dependencies.sh
  scripts/macOS/install-dev-dependencies.sh
Labels: refactoring

#2684 Run integration tests on the Nix Static binary
  .github/workflows/vast.yaml
Labels: enhancement

#2686 Rename `vast dump` to `vast show`
  changelog/unreleased/changes/2686--dump-to-show.md
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  vast/integration/vast_integration_suite.yaml
  web/docs/use/detect/match-threat-intel.md
Labels: enhancement

#2696 Fix CI on master
  .github/workflows/vast.yaml
Labels: bug

#2694 Fix syntax error in prepare-release script
  scripts/prepare-release
Labels: bug

#2697 Run build vast jobs when only plugins are required to be rebuilt, but the build artifact from master is not yet available
  .github/workflows/vast.yaml
Labels: enhancement

#2638 Add a basic frontend to the web plugin
  .github/workflows/analysis.yaml
  .github/workflows/style-check.yaml
  VAST.spdx
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/vast/default.nix
  plugins/web/CMakeLists.txt
  plugins/web/include/web/configuration.hpp
  plugins/web/include/web/mime.hpp
  plugins/web/src/configuration.cpp
  plugins/web/src/plugin.cpp
  plugins/web/src/server_command.cpp
  plugins/web/ui/.env.example
  plugins/web/ui/.eslintignore
  plugins/web/ui/.eslintrc.cjs
  plugins/web/ui/.gitignore
  plugins/web/ui/.npmrc
  plugins/web/ui/.prettierignore
  plugins/web/ui/.prettierrc
  plugins/web/ui/package.json
  plugins/web/ui/src/app.d.ts
  plugins/web/ui/src/app.html
  plugins/web/ui/src/lib/components/Expandable.svelte
  plugins/web/ui/src/lib/components/Table.svelte
  plugins/web/ui/src/lib/components/Tooltip.svelte
  plugins/web/ui/src/lib/util/formatBytes.ts
  plugins/web/ui/src/routes/+layout.svelte
  plugins/web/ui/src/routes/+layout.ts
  plugins/web/ui/src/routes/+page.svelte
  plugins/web/ui/src/routes/+page.ts
  plugins/web/ui/src/routes/status/+page.svelte
  plugins/web/ui/src/routes/styles.css
  plugins/web/ui/static/vast.svg
  plugins/web/ui/svelte.config.js
  plugins/web/ui/tsconfig.json
  plugins/web/ui/vite.config.ts
  plugins/web/ui/yarn.lock
  scripts/debian/install-dev-dependencies.sh
  scripts/git-setup.sh
  scripts/macOS/install-dev-dependencies.sh
  vast/integration/reference/show-taxonomies/step_00.ref
  vast/integration/reference/show-taxonomies/step_01.ref
  web/docs/setup/build.md
Labels: feature

#2699 Add changelog entry for bundled frontend
  changelog/unreleased/features/2567-2614-2638-3681--web-plugin.md
Labels: enhancement

#2700 Prepare repository for VAST v2.4.0-rc1
  CHANGELOG.md
  changelog/unreleased/bug-fixes/2530--heterogeneous-rebuild-hang.md
  changelog/unreleased/bug-fixes/2635--fix-blocking-uds-metrics.md
  changelog/unreleased/bug-fixes/2642--uncache-failed-partitions.md
  changelog/unreleased/changes/2471--memory-usage-metrics-for-catalog-and-index.md
  changelog/unreleased/changes/2512--default-endpoint.md
  changelog/unreleased/changes/2619--rebuilder-log-message.md
  changelog/unreleased/changes/2685--update-arrow-to-10.0.0.md
  changelog/unreleased/changes/2686--dump-to-show.md
  changelog/unreleased/features/2513--debian-package.md
  changelog/unreleased/features/2567-2614-2638-3681--web-plugin.md
  changelog/unreleased/features/2574--docker-compose.md
  changelog/unreleased/features/2583--rebatch.md
  changelog/unreleased/features/2652--thehive-compose.md
  changelog/unreleased/features/2682--total-metric-keys.md
  changelog/v2.4.0-rc1/bug-fixes/2515.md
  changelog/v2.4.0-rc1/bug-fixes/2530.md
  changelog/v2.4.0-rc1/bug-fixes/2568.md
  changelog/v2.4.0-rc1/bug-fixes/2609.md
  changelog/v2.4.0-rc1/bug-fixes/2635.md
  changelog/v2.4.0-rc1/bug-fixes/2642.md
  changelog/v2.4.0-rc1/changes/2471.md
  changelog/v2.4.0-rc1/changes/2512.md
  changelog/v2.4.0-rc1/changes/2582.md
  changelog/v2.4.0-rc1/changes/2587.md
  changelog/v2.4.0-rc1/changes/2674.md
  changelog/v2.4.0-rc1/changes/2685.md
  changelog/v2.4.0-rc1/changes/2686.md
  changelog/v2.4.0-rc1/features/2513.md
  changelog/v2.4.0-rc1/features/2548.md
  changelog/v2.4.0-rc1/features/2567-2614-2638-3681.md
  changelog/v2.4.0-rc1/features/2572.md
  changelog/v2.4.0-rc1/features/2574-2652.md
  changelog/v2.4.0-rc1/features/2578.md
  changelog/v2.4.0-rc1/features/2583.md
  changelog/v2.4.0-rc1/features/2623.md
  changelog/v2.4.0-rc1/features/2682.md
  python/pyproject.toml
  version.json
Labels: maintenance

#2705 TheHive Alert POC Integration
  .github/workflows/vast.yaml
  docker/README.md
  docker/poetry/Dockerfile
  docker/thehive/README.md
  docker/thehive/app/app.py
  docker/thehive/app/poetry.lock
  docker/thehive/app/pyproject.toml
  docker/thehive/docker-compose.app.yaml
  docker/thehive/docker-compose.yaml
  docker/thehive/env.example
  docker/thehive/test
  docker/thehive/thehive/application.conf.template
  docker/thehive/thehive/entrypoint.py
  python/vast/__init__.py
  python/vast/utils/logging.py
  python/vast/vast/__init__.py
  python/vast/vast/cli.py
  python/vast/vast/vast.py
Labels: feature

#2711 Fix branch protections enforcement for VAST workflow
  .github/workflows/vast.yaml
Labels: bug

#2706 Rename "native plugins" to "builtins"
  cmake/VASTRegisterPlugin.cmake
  libvast/CMakeLists.txt
  libvast/builtins/commands/flush.cpp
  libvast/builtins/commands/rebuild.cpp
  libvast/builtins/commands/show.cpp
  libvast/builtins/endpoints/export.cpp
  libvast/builtins/endpoints/status.cpp
  libvast/builtins/operators/all.cpp
  libvast/builtins/operators/any.cpp
  libvast/builtins/operators/count.cpp
  libvast/builtins/operators/distinct.cpp
  libvast/builtins/operators/drop.cpp
  libvast/builtins/operators/extend.cpp
  libvast/builtins/operators/hash.cpp
  libvast/builtins/operators/identity.cpp
  libvast/builtins/operators/max.cpp
  libvast/builtins/operators/min.cpp
  libvast/builtins/operators/rename.cpp
  libvast/builtins/operators/replace.cpp
  libvast/builtins/operators/sample.cpp
  libvast/builtins/operators/select.cpp
  libvast/builtins/operators/sum.cpp
  libvast/builtins/operators/summarize.cpp
  libvast/builtins/operators/where.cpp
  libvast/builtins/stores/feather.cpp
  libvast/builtins/stores/segment_store.cpp
  libvast/include/vast/plugin.hpp
  libvast/src/plugin.cpp
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/src/system/version_command.cpp
  libvast/test/CMakeLists.txt
  vast/CMakeLists.txt
  web/docs/understand/architecture/plugins.md
Labels: refactoring

#2715 Simplify the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance

#2689 Load "all" plugins by default & allow "empty" values
  Dockerfile
  changelog/unreleased/changes/2689--load-all-plugins-by-default.md
  libvast/src/command.cpp
  libvast/src/plugin.cpp
  libvast/src/system/configuration.cpp
  libvast/test/system/configuration.cpp
  web/docs/develop/guides/write-a-plugin.md
  web/docs/setup/configure.md
Labels: feature

#2714 Enable clangd IWYU integration
  .clangd
  libvast/include/vast/bitmap_algorithms.hpp
  libvast/include/vast/chunk.hpp
  libvast/include/vast/concept/parseable/core.hpp
  libvast/include/vast/data.hpp
  libvast/include/vast/event_types.hpp
  libvast/include/vast/fwd.hpp
  libvast/include/vast/plugin.hpp
  libvast/include/vast/type.hpp
  libvast/include/vast/view.hpp
  libvast/test/unbox.hpp
  vast/vast.cpp
Labels: refactoring

#2716 Catch exception when encountering invalid query parameters
  plugins/web/integration/reference/status-endpoint/step_03.ref
  plugins/web/integration/tests.yaml
  plugins/web/src/server_command.cpp
Labels: bug

#2718 Prepare repository for VAST v2.4.0-rc2
  CHANGELOG.md
  changelog/v2.4.0-rc2/bug-fixes/2515.md
  changelog/v2.4.0-rc2/bug-fixes/2530.md
  changelog/v2.4.0-rc2/bug-fixes/2568.md
  changelog/v2.4.0-rc2/bug-fixes/2609.md
  changelog/v2.4.0-rc2/bug-fixes/2635.md
  changelog/v2.4.0-rc2/bug-fixes/2642.md
  changelog/v2.4.0-rc2/changes/2471.md
  changelog/v2.4.0-rc2/changes/2512.md
  changelog/v2.4.0-rc2/changes/2582.md
  changelog/v2.4.0-rc2/changes/2587.md
  changelog/v2.4.0-rc2/changes/2674.md
  changelog/v2.4.0-rc2/changes/2685.md
  changelog/v2.4.0-rc2/changes/2686.md
  changelog/v2.4.0-rc2/changes/2689.md
  changelog/v2.4.0-rc2/features/2513.md
  changelog/v2.4.0-rc2/features/2548.md
  changelog/v2.4.0-rc2/features/2567-2614-2638-3681.md
  changelog/v2.4.0-rc2/features/2572.md
  changelog/v2.4.0-rc2/features/2574-2652.md
  changelog/v2.4.0-rc2/features/2578.md
  changelog/v2.4.0-rc2/features/2583.md
  changelog/v2.4.0-rc2/features/2623.md
  changelog/v2.4.0-rc2/features/2682.md
  plugins/web/integration/reference/status-endpoint/step_03.ref
  plugins/web/integration/tests.yaml
  python/pyproject.toml
  version.json
  web/blog/vast-v2.4/index.md
  web/docs/setup/deploy/docker-compose.md
Labels: maintenance

#2680 Add SBOM for VAST python package
  VAST.spdx
Labels: maintenance

#2722 Temporarily disable publishing on PyPI in CI
  .github/workflows/vast.yaml
Labels: bug

#2720 Remove the generated changelog from the repository
  .dockerignore
  .github/workflows/vast.yaml
  BANNER
  CHANGELOG.md
  CMakeLists.txt
  Dockerfile
  README.md
  nix/overlay.nix
  scripts/prepare-release
  version.json
  web/.gitignore
  web/Makefile
  web/docs/contribute/changelog.md
  web/src/pages/changelog.md
Labels: maintenance, refactoring

#2732 Fix analysis CI workflow
  .github/workflows/analysis.yaml
Labels: bug

#2726 Add readme for the Frontend UI
  plugins/web/README.md
  plugins/web/ui/README.md
Labels: enhancement

#2736 Upload Docker images tagged with commit SHA on release
  .github/workflows/vast.yaml
Labels: bug

#2737 Disable the Parquet plugin in CI for macOS
  .github/workflows/vast.yaml
Labels: maintenance

#2733 Re-enable ASan in macOS CI
  .github/workflows/vast.yaml
Labels: maintenance

#2710 Fix TheHive compose tests
  .github/workflows/vast.yaml
  docker/dev/README.md
  docker/dev/app.Dockerfile
  docker/misp/app/pyproject.toml
  docker/misp/docker-compose.app.yaml
  docker/poetry/Dockerfile
  docker/poetry/docker-compose.yaml
  docker/thehive/README.md
  docker/thehive/app/app.py
  docker/thehive/app/pyproject.toml
  docker/thehive/docker-compose.app.yaml
  docker/thehive/docker-compose.yaml
  docker/thehive/test
  docker/thehive/thehive/entrypoint.py
Labels: bug

#2725 Fix exit code check in Docker Compose tests
  docker/test
  docker/vast/docker-compose.yaml
Labels: bug

#2738 Avoid old CalVer-based Debian packages overriding new SemVer-based packages
  .github/workflows/vast.yaml
  changelog/v2.4.0-rc2/features/2513-2738.md
  changelog/v2.4.0-rc2/features/2513.md
  cmake/VASTPackage.cmake
  web/docs/setup/download.md
Labels: bug

#2734 Allow read access to user home dir in the systemd unit
  changelog/unreleased/bug-fixes/2734--relax-systemd-service-sandbox.md
  vast/services/systemd/vast.service.in
Labels: bug

#2735 Add documentation for REST API
  plugins/web/README.md
  plugins/web/ui/README.md
  web/docs/use/integrate/rest-api/README.md
  web/docs/use/integrate/rest-api/rest-api-deployment-multiple.dark.png
  web/docs/use/integrate/rest-api/rest-api-deployment-multiple.light.png
  web/docs/use/integrate/rest-api/rest-api-deployment-single.dark.png
  web/docs/use/integrate/rest-api/rest-api-deployment-single.light.png
  web/docs/use/integrate/rest-api/rest-api-developer-mode.dark.png
  web/docs/use/integrate/rest-api/rest-api-developer-mode.light.png
  web/docs/use/integrate/rest-api/rest-api-mutual-tls-mode.dark.png
  web/docs/use/integrate/rest-api/rest-api-mutual-tls-mode.light.png
  web/docs/use/integrate/rest-api/rest-api-server-mode.dark.png
  web/docs/use/integrate/rest-api/rest-api-server-mode.light.png
  web/docs/use/integrate/rest-api/rest-api-tls-upstream-mode.dark.png
  web/docs/use/integrate/rest-api/rest-api-tls-upstream-mode.light.png
  web/openapi/openapi.yaml
  web/poetry.lock
  web/pyproject.toml
Labels: enhancement

#2562 RFC-002: Fault Tolerance
  rfc/002-fault-tolerance/README.md
  rfc/002-fault-tolerance/distributed-deployment-dark.png
  rfc/002-fault-tolerance/distributed-deployment-light.png
  rfc/002-fault-tolerance/single-deployment-dark.png
  rfc/002-fault-tolerance/single-deployment-light.png
Labels: rfc

#2741 Fix a typo in RFC 002
  rfc/002-fault-tolerance/README.md
Labels: bug

#2739 Integrate early feedback for new Docker Compose code
  docker/misp/README.md
  docker/test
  docker/thehive/README.md
  docker/vast/docker-compose.web.yaml
  docker/vast/docker-compose.yaml
  web/docs/setup/deploy/docker-compose.md
Labels: enhancement

#2744 Use std::filesystem::exists(path, err) call instead of std::filesystem::exists(path) call
  libvast/src/system/index.cpp
Labels: enhancement

#2743 Skip null indexers when creating status response
  changelog/unreleased/2743--status-invalid-argument.md
  libvast/src/system/active_partition.cpp
Labels: bug

#2746 Improve Suricata X TheHive alert translation
  docker/thehive/README.md
  docker/thehive/app/app.py
Labels: bug

#2753 Refactor compose files into separate directory
  docker/.gitignore
  docker/compose/README.md
  docker/compose/misp-env.example
  docker/compose/misp.proxy.yaml
  docker/compose/misp.yaml
  docker/compose/quarto-env.example
  docker/compose/quarto.bind.yaml
  docker/compose/quarto.vast.yaml
  docker/compose/quarto.yaml
  docker/compose/thehive-env.example
  docker/compose/thehive.app.yaml
  docker/compose/thehive.vast.yaml
  docker/compose/thehive.yaml
  docker/compose/vast-env.example
  docker/compose/vast.build.yaml
  docker/compose/vast.volume.yaml
  docker/compose/vast.yaml
  docker/misp/README.md
  docker/misp/app/app.py
  docker/misp/app/poetry.lock
  docker/misp/app/pyproject.toml
  docker/misp/docker-compose.app.yaml
  docker/quarto/README.md
  docker/test
  docker/thehive/README.md
  docker/thehive/test
  docker/thehive/vast-cortex-neuron/tests/run
  examples/notebooks/Makefile
  web/Makefile
  web/docs/setup/deploy/docker-compose.md
Labels: refactoring
