Repository tenzir/tenzir, pull requests merged in 2022-09, with the labels that each got.

#2551 Prepare repository for VAST v2.3.0
  CHANGELOG.md
  changelog/v2.3.0/bug-fixes/2430.md
  changelog/v2.3.0/bug-fixes/2449.md
  changelog/v2.3.0/bug-fixes/2500.md
  changelog/v2.3.0/bug-fixes/2503.md
  changelog/v2.3.0/bug-fixes/2507.md
  changelog/v2.3.0/bug-fixes/2510.md
  changelog/v2.3.0/bug-fixes/2515.md
  changelog/v2.3.0/bug-fixes/2543.md
  changelog/v2.3.0/changes/2484.md
  changelog/v2.3.0/changes/2493.md
  changelog/v2.3.0/features/2430.md
  changelog/v2.3.0/features/2473.md
  changelog/v2.3.0/features/2493.md
  changelog/v2.3.0/features/2499.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
  pyvast/setup.py
  web/blog/vast-v2.3/index.md
Labels: maintenance

#2481 Use atoms for all CAF message handlers
  libvast/include/vast/atoms.hpp
  libvast/include/vast/detail/partition_common.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/query_processor.hpp
  libvast/include/vast/system/source.hpp
  libvast/native-plugins/rebuild.cpp
  libvast/native-plugins/segment_store.cpp
  libvast/src/store.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/catalog.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/evaluator.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/make_source.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/system/query_processor.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/source.cpp
  libvast/src/system/spawn_archive.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/system/spawn_type_registry.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/feather.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/evaluator.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/query_processor.cpp
Labels: refactoring

#2512 Change default endpoint to 127.0.0.1
  changelog/unreleased/changes/2512--default-endpoint.md
  libvast/include/vast/defaults.hpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/start_command.cpp
Labels: maintenance

#2520 Bump CMake policy opt-in version to 3.24
  CMakeLists.txt
  cmake/VASTChangelog.cmake.in
  cmake/VASTRegisterPlugin.cmake
  examples/plugins/analyzer/CMakeLists.txt
  examples/plugins/pipeline_operator/CMakeLists.txt
  plugins/broker/CMakeLists.txt
  plugins/parquet/CMakeLists.txt
  plugins/pcap/CMakeLists.txt
  plugins/sigma/CMakeLists.txt
Labels: maintenance

#2552 Replace CAF 18.6 deprecated methods in favour of supported free function
  libvast/include/vast/detail/spawn_container_source.hpp
  libvast/include/vast/detail/spawn_generator_source.hpp
  libvast/native-plugins/segment_store.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/import_command.cpp
  libvast/src/system/source.cpp
  libvast/test/system/datagram_source.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/source.cpp
  libvast/test/system/transformer.cpp
Labels: refactoring

#2534 Fix wording to match DB-native speak
  tools/lsvast/src/print_partition.cpp
Labels: enhancement

#2526 Improve PID file handling after reboot
  libvast/src/detail/pid_file.cpp
Labels: bug

#2553 Upgrade mdx-mermaid to 1.3.2
  web/yarn.lock
Labels: maintenance

#2536 Streamline image build in vast-cloud
  cloud/aws/cli/common.py
  cloud/aws/cli/core.py
  cloud/aws/cli/plugins/tests.py
  cloud/aws/docker/README.md
  cloud/aws/docker/cli.Dockerfile
  cloud/aws/docker/core-2/docker-compose.yml
  cloud/aws/docker/core-2/lambda_client.Dockerfile
  cloud/aws/docker/core-2/server.Dockerfile
  cloud/aws/docker/matcher/docker-compose.yml
  cloud/aws/docker/matcher/matcher_client.Dockerfile
  cloud/aws/docker/vast_server.Dockerfile
  cloud/aws/resources/configs/vast/fargate.yaml
  cloud/aws/resources/configs/vast/lambda.yaml
  cloud/aws/resources/scripts/bucket-notif.sh
  cloud/aws/resources/scripts/deploy-images.sh
  cloud/aws/terraform/cloudtrail/terragrunt.hcl
  cloud/aws/terraform/core-2/terragrunt.hcl
  cloud/aws/terraform/flowlogs/terragrunt.hcl
  cloud/aws/terraform/matcher/terragrunt.hcl
  web/docs/setup-vast/deploy/aws.md
Labels: maintenance

#2513 Build a Debian package around the static binary
  .github/workflows/vast.yaml
  CMakeLists.txt
  changelog/unreleased/features/2513--debian-package.md
  cmake/VASTChangelog.cmake.in
  cmake/VASTPackage.cmake
  cmake/VASTVersion.cmake
  libvast/CMakeLists.txt
  nix/overlay.nix
  nix/static-binary.sh
  nix/vast/default.nix
  scripts/debian/postinst
  scripts/debian/postrm
  scripts/debian/prerm
  scripts/vast-df-percent.sh
  vast.yaml.example
  vast/CMakeLists.txt
  vast/services/systemd/vast.service.in
  web/docs/setup-vast/download.md
  web/docs/setup-vast/install/linux.md
Labels: feature

#2530 Remove caf::skip usages
  changelog/unreleased/bug-fixes/2530--heterogeneous-rebuild-hang.md
  libvast/include/vast/config.hpp.in
  libvast/include/vast/detail/collect.hpp
  libvast/include/vast/query_context.hpp
  libvast/include/vast/system/index.hpp
  libvast/include/vast/system/passive_partition.hpp
  libvast/include/vast/system/query_processor.hpp
  libvast/native-plugins/rebuild.cpp
  libvast/src/system/index.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/system/query_processor.cpp
  libvast/test/system/partition.cpp
  vast/integration/reference/rebuild-undersized-partitions/step_00.ref
  vast/integration/reference/rebuild-undersized-partitions/step_01.ref
  vast/integration/reference/rebuild-undersized-partitions/step_02.ref
  vast/integration/reference/rebuild-undersized-partitions/step_03.ref
  vast/integration/reference/rebuild-undersized-partitions/step_04.ref
  vast/integration/reference/rebuild-undersized-partitions/step_05.ref
  vast/integration/reference/rebuild-undersized-partitions/step_06.ref
  vast/integration/reference/rebuild-undersized-partitions/step_07.ref
  vast/integration/vast_integration_suite.yaml
Labels: refactoring, bug

#2555 Fix artifact uploads to GCS
  .github/workflows/vast.yaml
Labels: bug

#2556 Upgrade to Docusaurus 2.1.0
  web/docs/about-vast/use-cases/README.md
  web/docs/develop-vast/README.md
  web/docs/develop-vast/contributing/README.md
  web/docs/develop-vast/guides/README.md
  web/docs/try-vast/README.md
  web/docs/understand-vast/README.md
  web/docs/understand-vast/query-language/frontends/README.md
  web/docs/understand-vast/query-language/operators/README.md
  web/docs/use-vast/README.md
  web/package.json
  web/yarn.lock
Labels: maintenance

#2541 Remove the top-level systemd directory
  Dockerfile
  systemd/README.md
  systemd/vast.service
  systemd/vast.yaml
Labels: enhancement

#2557 Adjust code to CAF 18.6 config/settings API restrictions
  libvast/include/vast/expression.hpp
  libvast/src/defaults.cpp
  libvast/src/detail/load_contents.cpp
  libvast/src/detail/settings.cpp
  libvast/src/system/make_source.cpp
  libvast/src/system/node.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/type_registry.cpp
  vast/vast.cpp
Labels: refactoring

#2471 Add memory-usage to index and catalog telemetry reports
  changelog/unreleased/changes/2471--memory-usage-metrics-for-catalog-and-index.md
  libvast/include/vast/query_context.hpp
  libvast/include/vast/query_queue.hpp
  libvast/include/vast/system/index.hpp
  libvast/src/query_queue.cpp
  libvast/src/system/catalog.cpp
  libvast/src/system/index.cpp
  web/docs/setup-vast/monitor.md
Labels: feature

#2528 Improve the responsiveness and performance of the default store impl
  libvast/include/vast/arrow_table_slice.hpp
  libvast/include/vast/arrow_table_slice_builder.hpp
  libvast/include/vast/atoms.hpp
  libvast/include/vast/msgpack_table_slice.hpp
  libvast/include/vast/store.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/table_slice.hpp
  libvast/include/vast/type.hpp
  libvast/native-plugins/feather.cpp
  libvast/native-plugins/segment_store.cpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/msgpack_table_slice.cpp
  libvast/src/segment_builder.cpp
  libvast/src/store.cpp
  libvast/src/table_slice.cpp
  libvast/src/type.cpp
  libvast/test/arrow_table_slice.cpp
  libvast/test/feather.cpp
  libvast/test/type.cpp
  plugins/parquet/parquet.cpp
  plugins/parquet/tests/parquet.cpp
Labels: performance, enhancement

#2559 Add missing documentation for passive store initialization time
  web/docs/setup-vast/monitor.md
Labels: maintenance

#2560 Fix Parquet plugin build on macOS
  plugins/parquet/parquet.cpp
Labels: bug

#2554 Add code coverage infrastructure
  .cmake-format
  .github/workflows/vast.yaml
  .gitignore
  CMakeLists.txt
  VAST.spdx
  cmake/CodeCoverage.cmake
  cmake/VASTRegisterPlugin.cmake
  cmake/all_tests.c.in
  libvast/test/CMakeLists.txt
Labels: feature

#2563 Move RFCs into a dedicated directory
  rfc/000-template/README.md
  rfc/README.md
Labels: enhancement

#2561 Set package name for macOS CI job
  .github/workflows/vast.yaml
Labels: bug

#2540 Add blog post about public roadmap
  web/blog/public-roadmap-and-open-rfcs/index.md
  web/blog/public-roadmap-and-open-rfcs/roadmap-board.jpg
  web/blog/public-roadmap-and-open-rfcs/roadmap-milestones.jpg
  web/docusaurus.config.js
  web/package.json
  web/src/pages/roadmap.tsx
  web/yarn.lock
Labels: enhancement

#2565 Fix CI TOCTTOU race relating #2563
  web/blog/public-roadmap-and-open-rfcs/index.md
Labels: bug

#2566 Avoid code coverage blocking CI runs on master
  .github/workflows/analysis.yaml
  .github/workflows/vast.yaml
Labels: bug

#2544 Split install into Runtime and Development components
  .github/workflows/vast.yaml
  CMakeLists.txt
  cmake/VASTPackage.cmake
  cmake/VASTProvideFindModule.cmake
  cmake/VASTRegisterPlugin.cmake
  cmake/VASTUtilities.cmake
  libvast/CMakeLists.txt
  libvast_test/CMakeLists.txt
  tools/dscat/CMakeLists.txt
  tools/lsvast/CMakeLists.txt
  tools/vast-regenerate/CMakeLists.txt
  vast/CMakeLists.txt
  web/docs/setup-vast/build.md
Labels: enhancement, bug

#2568 Remove the shutdown grace period
  changelog/unreleased/bug-fixes/2568--shutdown-grace-period-removal.md
  libvast/include/vast/system/node.hpp
  libvast/include/vast/system/shutdown.hpp
  libvast/include/vast/system/terminate.hpp
  libvast/include/vast/system/terminator.hpp
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/src/system/shutdown.cpp
  libvast/src/system/spawn_node.cpp
  libvast/src/system/terminator.cpp
  libvast_test/src/node.cpp
  vast.yaml.example
  web/docs/setup-vast/tune.md
Labels: bug

#2569 Re-enable plugin tests in macOS CI
  .github/workflows/vast.yaml
Labels: maintenance

#2573 Demote log level of rebuilder message
  libvast/native-plugins/rebuild.cpp
Labels: enhancement

#2558 Blog: A Git Retrospective
  .github/workflows/vast.yaml
  web/.gitignore
  web/DESCRIPTION
  web/Makefile
  web/_extensions/codeblock-details/_extension.yml
  web/_extensions/codeblock-details/codeblock-details.lua
  web/_extensions/inline-svg/_extension.yml
  web/_extensions/inline-svg/inline-svg.lua
  web/_quarto.yml
  web/blog/a-git-retrospective/.gitignore
  web/blog/a-git-retrospective/index.qmd
  web/blog/vast-v2.0/scheduler.R
  web/blog/vast-v2.1/performance.R
  web/docusaurus.config.js
  web/src/css/custom.scss
Labels: enhancement

#2575 Fix CPack Deb component based packages
  cmake/VASTPackage.cmake
Labels: bug

#2572 Emit metrics from the filesystem actor
  changelog/unreleased/features/2572--filesystem-metrics.md
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/posix_filesystem.hpp
  libvast/src/system/node.cpp
  libvast/src/system/posix_filesystem.cpp
  libvast/src/system/spawn_node.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/active_partition.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/filesystem.cpp
  libvast/test/system/index.cpp
  libvast/test/system/partition.cpp
  libvast_test/vast/test/memory_filesystem.hpp
  web/docs/setup-vast/monitor.md
Labels: feature

#2578 Disable building unit tests in Dockerfile
  Dockerfile
Labels: bug

#2579 Fix name of a feather fixture that was copy-pasted
  libvast/test/feather.cpp
Labels: maintenance

#2580 Adjust code in preparation to CAF 18 upgrade
  libvast/include/vast/arrow_table_slice.hpp
  libvast/include/vast/coder.hpp
  libvast/include/vast/concept/convertible/data.hpp
  libvast/include/vast/concept/printable/vast/expression.hpp
  libvast/include/vast/detail/legacy_deserialize.hpp
  libvast/include/vast/fwd.hpp
  libvast/include/vast/hash/hash_append.hpp
  libvast/include/vast/msgpack_table_slice.hpp
  libvast/include/vast/query_context.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/index.hpp
  libvast/include/vast/type.hpp
  libvast/native-plugins/segment_store.cpp
  libvast/src/format/csv.cpp
  libvast/src/store.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/counter.cpp
  libvast/src/system/explore_command.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/node.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/feather.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/query_queue.cpp
  libvast/test/system/catalog.cpp
  plugins/parquet/tests/parquet.cpp
Labels: refactoring

#2582 Move the version string into a central JSON file
  .github/workflows/changelog-override.md
  .github/workflows/vast.yaml
  CMakeLists.txt
  Dockerfile
  changelog/unreleased/changes/2582--bump-cmake-to-319.md
  cmake/VASTChangelog.cmake.in
  cmake/VASTRegisterPlugin.cmake
  cmake/VASTVersion.cmake
  cmake/VASTVersionFallback.cmake
  examples/plugins/analyzer/CMakeLists.txt
  examples/plugins/pipeline_operator/CMakeLists.txt
  nix/overlay.nix
  nix/vast/default.nix
  plugins/broker/CMakeLists.txt
  plugins/parquet/CMakeLists.txt
  plugins/pcap/CMakeLists.txt
  plugins/sigma/CMakeLists.txt
  scripts/prepare-release
  version.json
  web/docs/setup-vast/build.md
Labels: maintenance, enhancement

#2586 Support building VAST with clang-15
  libvast/CMakeLists.txt
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/format/test.cpp
Labels: maintenance

#2588 Unbreak CI on master
  .github/workflows/vast.yaml
Labels: bug

#2589 Load Docker images before adding additional tags
  .github/workflows/vast.yaml
Labels: bug

#2511 RFC-001: Composable Pipelines
  rfc/001-composable-pipelines/README.md
Labels: rfc

#2592 RFC-001 minor amendments
  rfc/001-composable-pipelines/README.md
Labels: enhancement

#2587 Make `feather` the default store-backend
  changelog/unreleased/changes/2587--feather-by-default.md
  libvast/include/vast/defaults.hpp
  libvast/native-plugins/feather.cpp
  libvast/src/store.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/partition_transformer.cpp
  plugins/parquet/parquet.cpp
  vast.yaml.example
  vast/integration/reference/basiccommand/step_00.ref
  vast/integration/reference/partition-local-stores/step_00.ref
  vast/integration/reference/partition-local-stores/step_01.ref
  vast/integration/vast-local-stores.yaml
  vast/integration/vast_integration_suite.yaml
  vast/vast.cpp
  web/docs/setup/tune.md
Labels: performance, enhancement

#2515 Don't abort startup if individual partitions fail to load
  changelog/unreleased/bug-fixes/2515--improve-startup-resilience.md
  libvast/src/system/index.cpp
Labels: bug

#2570 More Python experiments
  .github/workflows/vast.yaml
  python/config.yaml
  python/examples/misp.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/data/stix-bundle-sighting.json
  python/tests/test_backbone_inmemory.py
  python/tests/test_fabric.py
  python/tests/test_utils_stix.py
  python/tests/test_vast.py
  python/vast/__init__.py
  python/vast/apps/misp.py
  python/vast/backbones/inmemory.py
  python/vast/bridges/stix.py
  python/vast/fabric.py
  python/vast/fabric/__init__.py
  python/vast/fabric/apps/misp.py
  python/vast/fabric/apps/test.py
  python/vast/fabric/apps/thehive.py
  python/vast/fabric/backbone.py
  python/vast/fabric/backbones/__init__.py
  python/vast/fabric/backbones/inmemory.py
  python/vast/fabric/fabric.py
  python/vast/utils/config.py
  python/vast/utils/logging.py
  python/vast/utils/stix.py
  python/vast/vast.py
  python/vast/vast/__init__.py
  python/vast/vast/cli.py
  python/vast/vast/vast.py
Labels: enhancement

#2593 Restinio nix package integration
  nix/overlay.nix
  nix/restinio/default.nix
  nix/static-binary.sh
  nix/vast/default.nix
Labels: enhancement

#2597 Fix shutdown hang in the filesystem actor
  .github/workflows/style-check.yaml
  libvast/include/vast/detail/weak_handle.hpp
  libvast/include/vast/system/posix_filesystem.hpp
  libvast/src/system/node.cpp
  libvast/src/system/posix_filesystem.cpp
  vast/integration/reference/shutdown-with-metrics/step_00.ref
  vast/integration/vast_integration_suite.yaml
Labels: bug

#2599 Upgrade web dependencies
  web/yarn.lock
Labels: maintenance

#2601 Disable ASan in macOS CI job
  .github/workflows/vast.yaml
Labels: bug

#2596 Implement VAST extension types in Python
  .github/workflows/vast.yaml
  python/README.md
  python/poetry.lock
  python/pyproject.toml
  python/tests/test_utils_arrow.py
  python/vast/utils/arrow.py
  python/vast/vast/cli.py
  python/vast/vast/vast.py
Labels: enhancement
