Repository tenzir/tenzir, pull requests merged in 2022-12, with the labels that each got.

#2754 Prepare repository for VAST v2.4.0-rc3
  changelog/v2.4.0-rc3/2743.md
  changelog/v2.4.0-rc3/bug-fixes/2515.md
  changelog/v2.4.0-rc3/bug-fixes/2530.md
  changelog/v2.4.0-rc3/bug-fixes/2568.md
  changelog/v2.4.0-rc3/bug-fixes/2609.md
  changelog/v2.4.0-rc3/bug-fixes/2635.md
  changelog/v2.4.0-rc3/bug-fixes/2642.md
  changelog/v2.4.0-rc3/bug-fixes/2734.md
  changelog/v2.4.0-rc3/changes/2471.md
  changelog/v2.4.0-rc3/changes/2512.md
  changelog/v2.4.0-rc3/changes/2582.md
  changelog/v2.4.0-rc3/changes/2587.md
  changelog/v2.4.0-rc3/changes/2674.md
  changelog/v2.4.0-rc3/changes/2685.md
  changelog/v2.4.0-rc3/changes/2686.md
  changelog/v2.4.0-rc3/changes/2689.md
  changelog/v2.4.0-rc3/features/2513-2738.md
  changelog/v2.4.0-rc3/features/2548.md
  changelog/v2.4.0-rc3/features/2567-2614-2638-3681.md
  changelog/v2.4.0-rc3/features/2572.md
  changelog/v2.4.0-rc3/features/2574-2652.md
  changelog/v2.4.0-rc3/features/2578.md
  changelog/v2.4.0-rc3/features/2583.md
  changelog/v2.4.0-rc3/features/2623.md
  changelog/v2.4.0-rc3/features/2682.md
  python/pyproject.toml
  version.json
Labels: rc

#2762 Remove dscat
  .github/workflows/analysis.yaml
  .github/workflows/vast.yaml
  scripts/dscat.py
  tools/CMakeLists.txt
  tools/dscat/CMakeLists.txt
  tools/dscat/dscat.cpp
Labels: caf

#2760 Remove the vast-ci static binary variation
  .github/workflows/vast.yaml
  cmake/VASTPackage.cmake
  flake.nix
  nix/overlay.nix
  nix/static-binary.sh
  nix/vast/default.nix
Labels: maintenance

#2763 Fix transient errors with TheHive
  .github/workflows/vast.yaml
  docker/compose/thehive.app.yaml
  docker/thehive/app/app.py
  docker/thehive/test
  docker/thehive/thehive/entrypoint.py
  docker/thehive/vast-cortex-neuron/tests/run
Labels: bug

#2740 Remove all references to "--plugins=all" in dev section of docs
  web/docs/develop/guides/write-a-plugin.md
Labels: enhancement

#2765 Short-circuit earlier when filtering batches
  libvast/src/table_slice.cpp
Labels: performance, rc

#2761 Port streambuf.hpp from CAF 0.17.6 to VAST
  VAST.spdx
  libvast/include/vast/detail/streambuf.hpp
  libvast/src/system/datagram_source.cpp
  libvast/test/detail/streambuf.cpp
Labels: caf, rc

#2728 Add ability to pass POST request parameters as JSON
  libvast/builtins/endpoints/export.cpp
  libvast/test/rest_api.cpp
  plugins/web/include/web/restinio_response.hpp
  plugins/web/integration/reference/export-endpoint/step_03.ref
  plugins/web/integration/reference/status-endpoint/step_03.ref
  plugins/web/integration/tests.yaml
  plugins/web/src/restinio_response.cpp
  plugins/web/src/server_command.cpp
Labels: enhancement, rc

#2767 Move additional 'unreleased' changelog features to rc3
  changelog/v2.4.0-rc3/features/2730--perf-improvement-eval.md
Labels: enhancement

#2777 Prepare repository for VAST v2.4.0
  changelog/v2.4.0/2743.md
  changelog/v2.4.0/bug-fixes/2515.md
  changelog/v2.4.0/bug-fixes/2530.md
  changelog/v2.4.0/bug-fixes/2568.md
  changelog/v2.4.0/bug-fixes/2609.md
  changelog/v2.4.0/bug-fixes/2635.md
  changelog/v2.4.0/bug-fixes/2642.md
  changelog/v2.4.0/bug-fixes/2734.md
  changelog/v2.4.0/changes/2471.md
  changelog/v2.4.0/changes/2512.md
  changelog/v2.4.0/changes/2582.md
  changelog/v2.4.0/changes/2587.md
  changelog/v2.4.0/changes/2674.md
  changelog/v2.4.0/changes/2685.md
  changelog/v2.4.0/changes/2686.md
  changelog/v2.4.0/changes/2689.md
  changelog/v2.4.0/features/2513-2738.md
  changelog/v2.4.0/features/2548.md
  changelog/v2.4.0/features/2567-2614-2638-3681.md
  changelog/v2.4.0/features/2572.md
  changelog/v2.4.0/features/2574-2652.md
  changelog/v2.4.0/features/2578.md
  changelog/v2.4.0/features/2583.md
  changelog/v2.4.0/features/2623.md
  changelog/v2.4.0/features/2682.md
  changelog/v2.4.0/features/2730--perf-improvement-eval.md
  python/pyproject.toml
  version.json
  web/blog/vast-v2.4/index.md
  web/blog/vast-v2.4/vast-ui-experimental.jpg
Labels: rc

#2770 Reduce regex compilations to speed up pattern search
  libvast/src/evaluate.cpp
Labels: performance

#2772 Fix broken promises in index.cpp
  libvast/src/system/index.cpp
Labels: bug

#2769 Implement support for `:string == /pattern/` queries
  changelog/unreleased/changes/2769--removed-match-operator.md
  changelog/unreleased/features/2769--pattern-matching.md
  libvast/include/vast/bloom_filter_synopsis.hpp
  libvast/include/vast/buffered_synopsis.hpp
  libvast/include/vast/concept/printable/vast/operator.hpp
  libvast/include/vast/expression_visitors.hpp
  libvast/include/vast/index/hash_index.hpp
  libvast/include/vast/operator.hpp
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/data.cpp
  libvast/src/evaluate.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/index/string_index.cpp
  libvast/src/operator.cpp
  libvast/src/system/node_control.cpp
  libvast/src/type.cpp
  libvast/test/address_synopsis.cpp
  libvast/test/bloom_filter_synopsis.cpp
  libvast/test/data.cpp
  libvast/test/expression.cpp
  libvast/test/index/address_index.cpp
  libvast/test/index/string_index.cpp
  libvast/test/synopsis.cpp
  libvast/test/system/catalog.cpp
  libvast_test/vast/test/synopsis.hpp
  plugins/pcap/integration/tests.yaml
  plugins/sigma/src/parse.cpp
  plugins/sigma/tests/tests.cpp
  python/vast/vast/vast.py
  scripts/vast-du
  vast/integration/misc/scripts/print-arrow-batch-size.py
  vast/integration/misc/scripts/print-arrow.py
  vast/integration/reference/heterogenous-jsonl-import/step_05.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/understand/query-language/expressions.md
  web/docs/use/detect/match-threat-intel.md
Labels: feature

#2776 Remove the `#field` meta extractor
  changelog/unreleased/changes/2776--removed-meta-field-extractor.md
  libvast/include/vast/concept/printable/vast/expression.hpp
  libvast/include/vast/detail/partition_common.hpp
  libvast/include/vast/expression.hpp
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/evaluate.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/system/catalog.cpp
  libvast/src/taxonomies.cpp
  libvast/test/expression.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/table_slice.cpp
  libvast/test/taxonomies.cpp
  web/docs/understand/query-language/expressions.md
Labels: enhancement

#2781 Remove leftover remark from draft blog post
  web/blog/vast-v2.4/index.md
Labels: bug

#2719 Add 'pseudonymize' pipeline operator
  changelog/unreleased/features/2719--add-pseudonymize-pipeline-operator.md
  cmake/VASTConfig.cmake.in
  libvast/CMakeLists.txt
  libvast/builtins/operators/pseudonymize.cpp
  libvast/include/vast/address.hpp
  libvast/include/vast/arrow_table_slice.hpp
  libvast/include/vast/config.hpp.in
  libvast/src/address.cpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/start_command.cpp
  libvast/test/address.cpp
  libvast/test/pipeline.cpp
  vast/integration/reference/pipelines/step_04.ref
  vast/integration/vast-pipelines.yaml
  web/docs/setup/build.md
  web/docs/understand/query-language/operators/pseudonymize.md
Labels: feature

#2745 Merge the type-registry into the catalog
  changelog/unreleased/breaking-changes/2745--merge-type_registry-into-the-catalog.md
  libvast/builtins/commands/show.cpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/catalog.hpp
  libvast/include/vast/system/component_registry.hpp
  libvast/include/vast/system/datagram_source.hpp
  libvast/include/vast/system/importer.hpp
  libvast/include/vast/system/index.hpp
  libvast/include/vast/system/make_source.hpp
  libvast/include/vast/system/node_control.hpp
  libvast/include/vast/system/partition_transformer.hpp
  libvast/include/vast/system/source.hpp
  libvast/include/vast/system/spawn_type_registry.hpp
  libvast/include/vast/system/type_registry.hpp
  libvast/src/detail/add_message_types.cpp
  libvast/src/system/application.cpp
  libvast/src/system/catalog.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/import_command.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/make_source.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/source.cpp
  libvast/src/system/spawn_catalog.cpp
  libvast/src/system/spawn_importer.cpp
  libvast/src/system/spawn_index.cpp
  libvast/src/system/spawn_node.cpp
  libvast/src/system/spawn_source.cpp
  libvast/src/system/spawn_type_registry.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/catalog.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/datagram_source.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/importer.cpp
  libvast/test/system/index.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/system/query_pruning.cpp
  libvast/test/system/source.cpp
  libvast/test/system/type_registry.cpp
  libvast_test/src/node.cpp
Labels: refactoring

#2751 Add a `show schemas` command
  libvast/builtins/commands/show.cpp
  libvast/include/vast/type.hpp
  libvast/src/system/node.cpp
  libvast/src/type.cpp
  libvast/test/type.cpp
  vast/integration/reference/server-zeek-multiple-imports/step_02.ref
  vast/integration/reference/server-zeek-multiple-imports/step_03.ref
  vast/integration/reference/server-zeek-multiple-imports/step_04.ref
  vast/integration/reference/server-zeek-multiple-imports/step_05.ref
  vast/integration/reference/server-zeek-multiple-imports/step_06.ref
  vast/integration/reference/server-zeek-multiple-imports/step_07.ref
  vast/integration/reference/server-zeek-multiple-imports/step_08.ref
  vast/integration/reference/server-zeek-multiple-imports/step_09.ref
  vast/integration/reference/show-taxonomies/step_02.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/use/introspect/README.md
Labels: feature

#2768 Infer non-config types in extend and replace operators
  changelog/unreleased/bug-fixes/2768--infer-non-config-types.md
  libvast/builtins/operators/extend.cpp
  libvast/builtins/operators/replace.cpp
  libvast/test/pipeline.cpp
Labels: bug

#2784 Regroup some changelog entries
  changelog/unreleased/breaking-changes/2769--removed-match-operator.md
  changelog/unreleased/breaking-changes/2776--removed-meta-field-extractor.md
  changelog/unreleased/changes/2719--openssl-dep.md
  changelog/unreleased/features/2719--add-pseudonymize-pipeline-operator.md
  changelog/v2.4.0/features/2730.md
Labels: maintenance

#2707 Add `vast import arrow` enabling ingestion of arrow IPC format
  changelog/unreleased/features/2707--arrow-import.md
  libvast/include/vast/format/arrow.hpp
  libvast/include/vast/format/json.hpp
  libvast/src/format/arrow.cpp
  libvast/src/format/reader_factory.cpp
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  libvast/test/format/arrow.cpp
  vast/integration/data/suricata/arrow_ipc.bin
  vast/integration/reference/arrow-export/step_00.ref
  vast/integration/reference/arrow-export/step_01.ref
  vast/integration/reference/arrow-export/step_02.ref
  vast/integration/reference/arrow-export/step_03.ref
  vast/integration/reference/arrow-import/step_00.ref
  vast/integration/reference/arrow-import/step_01.ref
  vast/integration/reference/arrow-import/step_02.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/use/ingest/README.md
  web/docs/use/query/README.md
Labels: feature

#2786 Upgrade GCP setup action
  .github/workflows/vast.yaml
Labels: maintenance

#2789 Add link to newsletter on website
  web/docusaurus.config.js
  web/src/pages/newsletter.tsx
Labels: enhancement

#2216 Add CEF reader plugin
  .github/workflows/vast.yaml
  libvast/include/vast/format/json.hpp
  plugins/cef/CHANGELOG.md
  plugins/cef/CMakeLists.txt
  plugins/cef/README.md
  plugins/cef/include/cef/add.hpp
  plugins/cef/include/cef/parse.hpp
  plugins/cef/integration/data/cef/checkpoint.log
  plugins/cef/integration/data/cef/cynet.log
  plugins/cef/integration/data/cef/forcepoint.log
  plugins/cef/integration/reference/cef/step_00.ref
  plugins/cef/integration/reference/cef/step_01.ref
  plugins/cef/integration/reference/cef/step_02.ref
  plugins/cef/integration/reference/cef/step_03.ref
  plugins/cef/integration/reference/cef/step_04.ref
  plugins/cef/integration/reference/cef/step_05.ref
  plugins/cef/integration/tests.yaml
  plugins/cef/integration/vast.yaml
  plugins/cef/src/add.cpp
  plugins/cef/src/parse.cpp
  plugins/cef/src/plugin.cpp
  plugins/cef/tests/tests.cpp
  web/blog/vast-v2.5/index.md
  web/docs/use/ingest/README.md
Labels: feature

#2792 Fix command typo
  docker/thehive/README.md
Labels: bug

#2785 Basic script that synchronizes two VAST nodes on a filter expression
  scripts/sync-vast-nodes.sh
Labels: feature

#2778 Introduce a minimum partition version
  changelog/unreleased/breaking-changes/2778--partition-version-requirement.md
  libvast/builtins/commands/rebuild.cpp
  libvast/builtins/endpoints/export.cpp
  libvast/include/vast/config.hpp.in
  libvast/include/vast/db_version.hpp
  libvast/include/vast/partition_synopsis.hpp
  libvast/src/config.cpp.in
  libvast/src/db_version.cpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/catalog.cpp
  libvast/src/system/index.cpp
  libvast/src/system/spawn_node.cpp
  libvast/test/system/eraser.cpp
  tools/lsvast/src/lsvast.cpp
Labels: maintenance

#2796 Remove broker plugin
  .github/workflows/vast.yaml
  Dockerfile
  VAST.spdx
  changelog/unreleased/breaking-changes/2796--remove-broker-plugin.md
  nix/overlay.nix
  nix/static-binary.sh
  nix/vast/default.nix
  nix/zeek-broker/default.nix
  plugins/broker/CHANGELOG.md
  plugins/broker/CMakeLists.txt
  plugins/broker/README.md
  plugins/broker/cmake/FindBroker.cmake
  plugins/broker/include/broker/reader.hpp
  plugins/broker/include/broker/writer.hpp
  plugins/broker/include/broker/zeek.hpp
  plugins/broker/src/plugin.cpp
  plugins/broker/src/reader.cpp
  plugins/broker/src/writer.cpp
  plugins/broker/src/zeek.cpp
  plugins/broker/zeek/remote-logging.zeek
  scripts/debian/install-dev-dependencies.sh
  web/docs/setup/build.md
  web/docs/use/introspect/README.md
Labels: dependencies

#2667 Add /query endpoint to REST API
  changelog/unreleased/features/2766--query-endpoint.md
  libvast/builtins/endpoints/query.cpp
  libvast/include/vast/atoms.hpp
  libvast/include/vast/query_context.hpp
  libvast/src/system/index.cpp
  libvast/test/rest_api.cpp
  plugins/web/include/web/restinio_response.hpp
  web/openapi/openapi.yaml
Labels: feature

#2783 Add playwright testing skeleton
  .github/workflows/vast.yaml
  plugins/web/CMakeLists.txt
  plugins/web/ui/.gitignore
  plugins/web/ui/package.json
  plugins/web/ui/playwright.config.ts
  plugins/web/ui/tests/root.spec.ts
  plugins/web/ui/yarn.lock
Labels: enhancement

#2795 Add suricata.quic type
  docker/test
  libvast/test/format/json.cpp
  schema/types/suricata.schema
  vast/integration/data/suricata/eve.json
  vast/integration/reference/basiccommand/step_00.ref
  vast/integration/reference/explore-suricata-with-overlap/step_01.ref
  vast/integration/reference/explore-suricata-with-overlap/step_03.ref
  vast/integration/reference/heterogenous-jsonl-import/step_04.ref
  vast/integration/reference/import-time/step_02.ref
  vast/integration/reference/import-time/step_04.ref
  vast/integration/reference/node-suricata-alert/step_02.ref
  vast/integration/reference/node-suricata-alert/step_04.ref
  vast/integration/reference/rebuild-undersized-partitions/step_04.ref
  vast/integration/reference/rebuild-undersized-partitions/step_05.ref
  vast/integration/reference/rebuild-undersized-partitions/step_07.ref
  vast/integration/reference/rebuild-undersized-partitions/step_08.ref
  vast/integration/reference/rebuild-undersized-partitions/step_09.ref
  vast/integration/reference/spawn-source/step_03.ref
Labels: enhancement

#2742 Make it easy to create docker images with Nix
  .github/workflows/vast.yaml
  Dockerfile
  changelog/unreleased/features/2742--vast-slim-image.md
  cmake/VASTRegisterPlugin.cmake
  flake.nix
  libvast/CMakeLists.txt
  libvast/builtins/endpoints/query.cpp
  libvast/src/detail/installdirs.cpp.in
  libvast/src/detail/installdirs_relocatable.cpp.in
  libvast/src/plugin.cpp
  nix/restinio/default.nix
  nix/static-binary.sh
  nix/vast/default.nix
  shell.nix
Labels: enhancement

#2804 Silence deprecation warnings in bundled CAF
  .github/workflows/vast.yaml
  libvast/CMakeLists.txt
Labels: bug

#2810 Remove leftover broker plugin files
  .github/workflows/vast.yaml
  plugins/broker/CMakeLists.txt
  plugins/broker/src/writer.cpp
Labels: enhancement

#2803 Optimize `select` and `filter` on table slices
  libvast/builtins/commands/rebuild.cpp
  libvast/builtins/endpoints/export.cpp
  libvast/include/vast/bitmap_algorithms.hpp
  libvast/include/vast/id_range.hpp
  libvast/include/vast/ids.hpp
  libvast/include/vast/table_slice.hpp
  libvast/src/segment.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/sink.cpp
  libvast/src/table_slice.cpp
  libvast/test/bitmap_algorithms.cpp
  libvast/test/feather.cpp
  libvast/test/table_slice.cpp
  plugins/parquet/tests/parquet.cpp
Labels: performance, bug

#2809 Fix parsing of CAF CLI options
  libvast/src/system/configuration.cpp
  libvast/test/system/configuration.cpp
Labels: bug

#2814 Fix UB in `order(...)` for floating point numbers
  libvast/include/vast/detail/order.hpp
  vast/integration/reference/import-time/step_02.ref
  vast/integration/reference/import-time/step_04.ref
  vast/integration/vast_integration_suite.yaml
Labels: bug

#2771 Move taxonomy resolution to the catalog
  changelog/unreleased/breaking-changes/2771--disallow-N-status-command.md
  examples/plugins/analyzer/integration/tests.yaml
  libvast/builtins/commands/rebuild.cpp
  libvast/builtins/commands/show.cpp
  libvast/include/vast/fwd.hpp
  libvast/include/vast/query_queue.hpp
  libvast/include/vast/system/active_partition.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/catalog.hpp
  libvast/include/vast/system/index.hpp
  libvast/include/vast/taxonomies.hpp
  libvast/src/query_queue.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/catalog.cpp
  libvast/src/system/eraser.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_catalog.cpp
  libvast/src/taxonomies.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/query_queue.cpp
  libvast/test/system/active_partition.cpp
  libvast/test/system/catalog.cpp
  libvast/test/system/configuration.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/system/query_processor.cpp
  libvast/test/system/query_pruning.cpp
  plugins/pcap/integration/reference/manual-1-node/step_03.ref
  plugins/pcap/integration/tests.yaml
  vast/integration/reference/heterogeneous-jsonl-import/step_00.ref
  vast/integration/reference/heterogeneous-jsonl-import/step_01.ref
  vast/integration/reference/heterogeneous-jsonl-import/step_02.ref
  vast/integration/reference/heterogeneous-jsonl-import/step_03.ref
  vast/integration/reference/heterogeneous-jsonl-import/step_04.ref
  vast/integration/reference/heterogenous-jsonl-import/step_01.ref
  vast/integration/vast_integration_suite.yaml
Labels: refactoring

#2799 Upgrade SvelteKit and bump other JS deps
  plugins/web/ui/package.json
  plugins/web/ui/yarn.lock
Labels: maintenance

#2815 Use CAF 0.18 keys for VAST integration tests file logging
  vast/integration/vast.yaml
Labels: bug

#2821 Remove rebuild support for heterogeneous partitions
  libvast/builtins/commands/rebuild.cpp
Labels: enhancement

#2822 Remove rewriting of partition synopses without id range
  libvast/include/vast/partition_synopsis.hpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/index.cpp
  libvast/src/system/passive_partition.cpp
Labels: enhancement

#2820 Remove the `augmented_partition_synopsis`
  libvast/include/vast/fwd.hpp
  libvast/include/vast/partition_synopsis.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/partition_transformer.hpp
  libvast/src/system/catalog.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/test/system/partition_transformer.cpp
Labels: enhancement

#2819 Make static binary CI integration test more reliable
  .github/workflows/vast.yaml
  flake.nix
  nix/overlay.nix
  shell.nix
Labels: enhancement

#2794 Document how to query
  .markdownlint.yaml
  web/docs/contribute/documentation.md
  web/docs/try/process-argus-flow-logs.md
  web/docs/understand/architecture/components.md
  web/docs/understand/formats/README.md
  web/docs/understand/formats/_category_.yml
  web/docs/understand/formats/arrow.md
  web/docs/understand/formats/ascii.md
  web/docs/understand/formats/cef.md
  web/docs/understand/formats/csv.md
  web/docs/understand/formats/json.md
  web/docs/understand/formats/netflow.md
  web/docs/understand/formats/pcap.md
  web/docs/understand/formats/suricata.md
  web/docs/understand/formats/zeek.md
  web/docs/understand/query-language/expressions.md
  web/docs/use/ingest/README.md
  web/docs/use/query/README.md
  web/src/css/custom.scss
  web/static/img/extractors.dark.png
  web/static/img/extractors.light.png
  web/static/img/format.dark.png
  web/static/img/format.light.png
Labels: enhancement

#2823 Improve TheHive developer facing docs
  docker/thehive/README.md
Labels: enhancement

#2825 Add new API for partition_info by uuid extraction in Catalog
  libvast/include/vast/partition_synopsis.hpp
  libvast/include/vast/system/actors.hpp
  libvast/src/system/catalog.cpp
  libvast/src/system/index.cpp
  libvast/test/system/catalog.cpp
Labels: feature
