Repository tenzir/tenzir, pull requests merged in 2022-03, with the labels that each got.

#2112 Improve generic aggregate error handling
  plugins/aggregate/aggregate.cpp
  plugins/aggregate/tests/aggregate.cpp
Labels: bug

#2123 Correctly handle partition transforms without output
  changelog/unreleased/changes/2123--partition-transforms.md
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/partition_transformer.hpp
Labels: bug

#2126 Prepare repository for VAST v1.1.0-rc3
  CHANGELOG.md
  changelog/v1.1.0-rc3/bug-fixes/2086.md
  changelog/v1.1.0-rc3/bug-fixes/2092.md
  changelog/v1.1.0-rc3/bug-fixes/2097.md
  changelog/v1.1.0-rc3/bug-fixes/2103.md
  changelog/v1.1.0-rc3/changes/2074.md
  changelog/v1.1.0-rc3/changes/2087.md
  changelog/v1.1.0-rc3/changes/2119.md
  changelog/v1.1.0-rc3/changes/2123.md
  changelog/v1.1.0-rc3/features/2064-2082.md
  changelog/v1.1.0-rc3/features/2074.md
  changelog/v1.1.0-rc3/features/2076.md
  changelog/v1.1.0-rc3/features/2103.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2125 Remove the concrete `none_type`
  libvast/src/arrow_table_slice.cpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/format/json.cpp
  libvast/src/format/test.cpp
  libvast/src/format/zeek.cpp
  libvast/src/index/list_index.cpp
  libvast/src/msgpack_table_slice.cpp
  libvast/src/schema.cpp
  libvast/src/system/infer_command.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/type.cpp
  libvast/src/value_index_factory.cpp
  libvast/src/view.cpp
  libvast/test/arrow_extension_types.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/test/schema.cpp
  libvast/test/system/meta_index.cpp
  libvast/test/table_slice.cpp
  libvast/test/transform.cpp
  libvast/test/type.cpp
  libvast/vast/arrow_extension_types.hpp
  libvast/vast/concept/convertible/data.hpp
  libvast/vast/fwd.hpp
  libvast/vast/project.hpp
  libvast/vast/type.hpp
  plugins/aggregate/tests/aggregate.cpp
  plugins/broker/src/zeek.cpp
Labels: enhancement

#2128 Rename `meta-index` to `catalog`
  changelog/unreleased/breaking-changes/2128--catalog.md
  libvast/src/detail/add_message_types.cpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/catalog.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/query_processor.cpp
  libvast/src/system/spawn_catalog.cpp
  libvast/src/system/spawn_index.cpp
  libvast/src/system/spawn_node.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/meta_index.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/detail/partition_common.hpp
  libvast/vast/detail/tracepoint.hpp
  libvast/vast/fwd.hpp
  libvast/vast/system/active_partition.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/catalog.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/spawn_catalog.hpp
  plugins/pcap/integration/tests.yaml
  scripts/query-tracing.bcc
  tools/lsvast/src/print_partition.cpp
  tools/mdx-regenerate/README.md
  vast.yaml.example
  vast/integration/reference/server-zeek-conn-log/step_07.ref
  vast/vast.cpp
Labels: refactoring

#2108 Deploy VAST to AWS Lambda
  .github/workflows/vast.yaml
  changelog/unreleased/changes/2108--vast-lambda-fargate.md
  cloud/aws/.gitignore
  cloud/aws/.terraform.lock.hcl
  cloud/aws/Dockerfile
  cloud/aws/Makefile
  cloud/aws/README.md
  cloud/aws/cluster.tf
  cloud/aws/env/conf.tf
  cloud/aws/fargate/ecs.tf
  cloud/aws/fargate/iam.tf
  cloud/aws/fargate/inputs.tf
  cloud/aws/fargate/locals.tf
  cloud/aws/fargate/outputs.tf
  cloud/aws/lambda-handler.py
  cloud/aws/lambda/iam.tf
  cloud/aws/lambda/inputs.tf
  cloud/aws/lambda/lambda.tf
  cloud/aws/lambda/outputs.tf
  cloud/aws/main.tf
  cloud/aws/modules.tf
  cloud/aws/network.tf
  cloud/aws/output.tf
  cloud/aws/repository.tf
Labels: feature

#1621 Add launchd support on macOS
  vast/CMakeLists.txt
  vast/services/launchd/com.tenzir.vast.plist.in
  vast/services/rc.d/vast.in
Labels: feature

#2122 Bump the minimum version of Apache Arrow to 7.0
  changelog/unreleased/changes/2122--require-arrow-7.md
  libvast/CMakeLists.txt
  plugins/aggregate/aggregate.cpp
Labels: maintenance

#2120 Correctly terminate the explore command
  changelog/unreleased/bug-fixes/2120--fix-explorer-shutdown.md
  libvast/src/system/explore_command.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/spawn_explorer.cpp
  libvast/vast/detail/saturating_arithmetic.hpp
  libvast/vast/system/explorer.hpp
Labels: bug

#2121 Remove the get subcommand
  changelog/unreleased/breaking-changes/2121--remove-vast-get.md
  doc/cli/vast-get.md
  libvast/src/system/application.cpp
  libvast/src/system/get_command.cpp
  libvast/vast/system/get_command.hpp
  vast.yaml.example
  vast/integration/reference/node-zeek-conn-log/step_07.ref
  vast/integration/reference/node-zeek-conn-log/step_08.ref
  vast/integration/vast_integration_suite.yaml
Labels: maintenance

#2080 Return a hit count from the partition query handler
  libvast/src/segment_store.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/local_segment_store.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/segment_store.cpp
  libvast/test/system/archive.cpp
  libvast/test/system/local_segment_store.cpp
  libvast/test/system/query_supervisor.cpp
  libvast/vast/segment_store.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/archive.hpp
  libvast/vast/system/local_segment_store.hpp
  libvast/vast/system/passive_partition.hpp
Labels: enhancement

#2129 Improve transform messages
  libvast/src/transform.cpp
  plugins/aggregate/tests/aggregate.cpp
Labels: enhancement

#2135 Tune AWS README
  cloud/aws/.terraform.lock.hcl
  cloud/aws/Makefile
  cloud/aws/README.md
Labels: maintenance

#2137 More intuitive Makefile
  cloud/aws/Makefile
  cloud/aws/README.md
  cloud/aws/fargate/outputs.tf
  cloud/aws/lambda-handler.py
  cloud/aws/outputs.tf
Labels: enhancement

#2140 Pin VAST version in cloud development to release version
  .github/workflows/vast.yaml
  cloud/aws/Dockerfile
  cloud/aws/Makefile
  cloud/aws/README.md
  cloud/aws/env/conf.tf
  cloud/aws/main.tf
  cloud/aws/modules.tf
  cloud/aws/repository.tf
Labels: enhancement

#2138 Merge unnamed metadata layers in nested types
  libvast/src/experimental_table_slice_builder.cpp
  libvast/src/type.cpp
  libvast/test/type.cpp
  libvast/vast/type.hpp
Labels: bug

#2139 Add option to use EFS as storage for the VAST server
  cloud/aws/.gitignore
  cloud/aws/Makefile
  cloud/aws/README.md
  cloud/aws/fargate/ecs.tf
  cloud/aws/fargate/efs/efs.tf
  cloud/aws/fargate/efs/inputs.tf
  cloud/aws/fargate/efs/outputs.tf
  cloud/aws/fargate/inputs.tf
  cloud/aws/fargate/locals.tf
  cloud/aws/main.tf
  cloud/aws/modules.tf
Labels: enhancement

#2133 Add a grand total event counter to the status output
  changelog/unreleased/features/2133--status-grand-total.md
  libvast/src/system/index.cpp
  plugins/pcap/integration/reference/importing-vlan-traffic/step_01.ref
  plugins/pcap/integration/reference/manual-1-node/step_03.ref
  vast/integration/reference/server-zeek-conn-log/step_07.ref
Labels: feature

#2147 Change paths in VAST.spdx after header file move
  VAST.spdx
Labels: bug

#2141 Change transform step API to use vast::record
  examples/plugins/transform/transform_plugin.cpp
  libvast/include/vast/plugin.hpp
  libvast/include/vast/transform_step.hpp
  libvast/include/vast/transform_steps/delete.hpp
  libvast/include/vast/transform_steps/hash.hpp
  libvast/include/vast/transform_steps/project.hpp
  libvast/include/vast/transform_steps/replace.hpp
  libvast/include/vast/transform_steps/select.hpp
  libvast/src/system/make_transforms.cpp
  libvast/src/transform_step.cpp
  libvast/src/transform_steps/count.cpp
  libvast/src/transform_steps/delete.cpp
  libvast/src/transform_steps/hash.cpp
  libvast/src/transform_steps/identity.cpp
  libvast/src/transform_steps/project.cpp
  libvast/src/transform_steps/rename.cpp
  libvast/src/transform_steps/replace.cpp
  libvast/src/transform_steps/select.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/transform.cpp
  plugins/aggregate/aggregate.cpp
  plugins/aggregate/tests/aggregate.cpp
Labels: refactoring

#2142 Make VAST tools run in a separate AWS VPC
  cloud/aws/Makefile
  cloud/aws/README.md
  cloud/aws/lambda/inputs.tf
  cloud/aws/lambda/lambda.tf
  cloud/aws/main.tf
  cloud/aws/modules.tf
  cloud/aws/network.tf
  cloud/aws/network/inputs.tf
  cloud/aws/network/main.tf
  cloud/aws/network/new.tf
  cloud/aws/network/outputs.tf
  cloud/aws/network/peered.tf
  cloud/aws/outputs.tf
Labels: enhancement

#2146 Load stores lazily
  changelog/unreleased/bug-fixes/2146-count-estimate.md
  libvast/src/system/local_segment_store.cpp
Labels: performance

#2151 Fail CI if a PR is labeled `blocked`
  .github/workflows/blocked.yaml
Labels: enhancement

#2153 Rename 'meta_index.cpp' in tests
  libvast/test/system/catalog.cpp
Labels: refactoring

#2130 Tightly couple VAST's and Arrow's type systems
  libvast/include/vast/config.hpp.in
  libvast/include/vast/detail/passthrough.hpp
  libvast/include/vast/experimental_table_slice_builder.hpp
  libvast/include/vast/fwd.hpp
  libvast/include/vast/type.hpp
  libvast/src/arrow_extension_types.cpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/src/system/configuration.cpp
  libvast/src/type.cpp
  libvast/test/arrow_extension_types.cpp
  libvast/test/detail/passthrough.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/test/type.cpp
  libvast_test/src/main.cpp
  plugins/aggregate/aggregate.cpp
  vast/integration/reference/arrow-experimental/step_01.ref
  vast/integration/reference/arrow-experimental/step_03.ref
  vast/integration/reference/arrow-full-data-model-experimental/step_00.ref
  vast/integration/reference/arrow-full-data-model-experimental/step_01.ref
Labels: performance, refactoring

#2149 Expose nested type aliases
  libvast/include/vast/type.hpp
  libvast/src/type.cpp
  libvast/test/type.cpp
Labels: enhancement

#2155 Use the timestamp type for inferred event timestamp fields in the Zeek reader
  changelog/unreleased/bug-fixes/2155--zeekify.md
  libvast/src/detail/zeekify.cpp
  libvast/test/format/zeek.cpp
Labels: bug

#2152 Install example config files to docdir
  .cmake-format
  cmake/VASTRegisterPlugin.cmake
  vast/CMakeLists.txt
Labels: enhancement, bug

#2144 Add continuous logging in AWS Lambda
  cloud/aws/lambda-handler.py
Labels: bug

#2154 Fix CMD execution from lambda and fargate
  cloud/aws/.gitignore
  cloud/aws/Makefile
Labels: bug

#2150 Improve logging on the VAST Fargate server
  cloud/aws/cluster.tf
  cloud/aws/fargate/inputs.tf
  cloud/aws/fargate/locals.tf
  cloud/aws/fargate/outputs.tf
  cloud/aws/modules.tf
  cloud/aws/monitoring.tf
  cloud/aws/vast-server.yaml
Labels: enhancement

#2065 Allow fine-grained meta index configuration
  changelog/unreleased/features/2065--fine-grained-catalog-configuration.md
  libvast/include/vast/partition_synopsis.hpp
  libvast/include/vast/system/active_partition.hpp
  libvast/include/vast/system/index.hpp
  libvast/include/vast/system/partition_transformer.hpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/spawn_index.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/partition_synopsis.cpp
  libvast/test/system/catalog.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/partition.cpp
  libvast/test/system/partition_transformer.cpp
  vast.yaml.example
  vast/integration/reference/basiccommand/step_00.ref
Labels: feature, bug

#2136 Enable efficient conversion from arrow to experimental table slices
  libvast/include/vast/arrow_table_slice.hpp
  libvast/include/vast/table_slice.hpp
  libvast/include/vast/type.hpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/table_slice.cpp
  libvast/src/type.cpp
  libvast/test/experimental_table_slice.cpp
  libvast_test/artifacts/table_slices/arrow_v1.bytes
Labels: enhancement

#2161 Add blacklist to disk monitor
  changelog/unreleased/bug-fixes/2160.md
  changelog/unreleased/features/2160--disk-monitor-blacklist.md
  libvast/include/vast/query.hpp
  libvast/include/vast/system/disk_monitor.hpp
  libvast/include/vast/system/index.hpp
  libvast/include/vast/system/query_supervisor.hpp
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/index.cpp
  libvast/src/system/query_supervisor.cpp
Labels: feature, bug

#2088 Create unit tests for suricata data
  Dockerfile
  libvast/test/format/json.cpp
  libvast_test/artifacts/logs/suricata/alert.json
  libvast_test/artifacts/logs/suricata/dns.json
  libvast_test/artifacts/logs/suricata/fileinfo.json
  libvast_test/artifacts/logs/suricata/flow.json
  libvast_test/artifacts/logs/suricata/http.json
  libvast_test/artifacts/logs/suricata/netflow.json
  libvast_test/artifacts/logs/suricata/stats.json
  libvast_test/artifacts/schemas/base.schema
  libvast_test/artifacts/schemas/suricata.schema
  libvast_test/src/events.cpp
  libvast_test/src/main.cpp
  libvast_test/vast/test/data.hpp
  libvast_test/vast/test/fixtures/events.hpp
Labels: enhancement

#2160 Backport bug fixes for a v1.1.1 release
  CHANGELOG.md
  changelog/v1.1.1/bug-fixes/2160.md
  cmake/VASTVersionFallback.cmake
  libvast/src/system/disk_monitor.cpp
  libvast/src/system/index.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/vast/query.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/query_supervisor.hpp
  nix/vast/default.nix
  pyvast/setup.py
Labels: bug

#2166 Rename schema to module in suricata tests
  libvast_test/src/events.cpp
  libvast_test/vast/test/fixtures/events.hpp
Labels: bug

#2169 Prepare repository for the 1.1.2 release
  CHANGELOG.md
  changelog/v1.1.2/bug-fixes/2165.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
  pyvast/setup.py
Labels: maintenance

#2163 Pyinvoke CLI and 2-step deployment
  .github/workflows/vast.yaml
  cloud/aws/.gitignore
  cloud/aws/.terraform.lock.hcl
  cloud/aws/Makefile
  cloud/aws/README.md
  cloud/aws/cli.py
  cloud/aws/docker/cli.Dockerfile
  cloud/aws/docker/lambda.Dockerfile
  cloud/aws/lambda-handler.py
  cloud/aws/repository.tf
  cloud/aws/step-1/.terraform.lock.hcl
  cloud/aws/step-1/backend.tf
  cloud/aws/step-1/env/conf.tf
  cloud/aws/step-1/inputs.tf
  cloud/aws/step-1/main.tf
  cloud/aws/step-1/outputs.tf
  cloud/aws/step-1/repository.tf
  cloud/aws/step-2/.terraform.lock.hcl
  cloud/aws/step-2/backend.tf
  cloud/aws/step-2/cluster.tf
  cloud/aws/step-2/env/conf.tf
  cloud/aws/step-2/fargate/ecs.tf
  cloud/aws/step-2/fargate/efs/efs.tf
  cloud/aws/step-2/fargate/efs/inputs.tf
  cloud/aws/step-2/fargate/efs/outputs.tf
  cloud/aws/step-2/fargate/iam.tf
  cloud/aws/step-2/fargate/inputs.tf
  cloud/aws/step-2/fargate/locals.tf
  cloud/aws/step-2/fargate/outputs.tf
  cloud/aws/step-2/inputs.tf
  cloud/aws/step-2/lambda/iam.tf
  cloud/aws/step-2/lambda/inputs.tf
  cloud/aws/step-2/lambda/lambda.tf
  cloud/aws/step-2/lambda/outputs.tf
  cloud/aws/step-2/main.tf
  cloud/aws/step-2/modules.tf
  cloud/aws/step-2/monitoring.tf
  cloud/aws/step-2/network/inputs.tf
  cloud/aws/step-2/network/main.tf
  cloud/aws/step-2/network/new.tf
  cloud/aws/step-2/network/outputs.tf
  cloud/aws/step-2/network/peered.tf
  cloud/aws/step-2/outputs.tf
  cloud/aws/vast-cloud
Labels: enhancement

#2167 Fix race condition with exporter timeouts
  changelog/unreleased/bug-fixes/2167--exporter-race.md
  libvast/include/vast/system/actors.hpp
  libvast/src/system/index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
Labels: bug

#2172 Fix some bugs detected by newer gcc versions
  libvast/include/vast/concepts.hpp
  libvast/include/vast/expression_visitors.hpp
Labels: refactoring

#2170 Prepare the CLI scripts for the CI
  .github/workflows/vast.yaml
  cloud/aws/cli.py
  cloud/aws/docker/cli.Dockerfile
  cloud/aws/docker/lambda-handler.py
  cloud/aws/step-2/lambda/outputs.tf
  cloud/aws/step-2/modules.tf
  cloud/aws/step-2/vast-server.yaml
  cloud/aws/vast-cloud
Labels: maintenance
