Repository tenzir/tenzir, pull requests merged in 2022-10, with the labels that each got.

#2606 Make enum extension types work
  python/tests/test_utils_arrow.py
  python/vast/utils/arrow.py
Labels: bug

#2608 Fix version passing for the static binary
  nix/vast/default.nix
Labels: bug

#2611 Add 'verbosity' parameter to status endpoint
  libvast/native-plugins/rest_endpoints/status.cpp
  plugins/web/src/server_command.cpp
  web/openapi/openapi.yaml
Labels: enhancement, bug

#2609 Fix a connection error message
  changelog/unreleased/bug-fixes/2609--fix-cannot-connect-msg.md
  libvast/src/system/connect_to_node.cpp
Labels: bug

#2613 Use CAF 0.18 approach for argument parsing in unit tests main function
  libvast_test/src/main.cpp
Labels: refactoring

#2615 Enable use of env variables for web plugin options
  plugins/web/src/plugin.cpp
  plugins/web/src/server_command.cpp
Labels: bug

#2614 Attempt to fix the static binary build for the web plugin
  nix/restinio/default.nix
  nix/static-binary.sh
  nix/vast/default.nix
  plugins/web/CMakeLists.txt
  plugins/web/aux/CMakeLists.txt
  plugins/web/aux/restinio.patch
Labels: bug

#2584 Common helper class implementation for new inspector api and common function for extracting std::vector from configs
  libvast/include/vast/detail/inspection_common.hpp
  libvast/include/vast/detail/settings.hpp
  libvast/src/module.cpp
  libvast/src/plugin.cpp
  libvast/src/system/make_pipelines.cpp
  libvast/test/detail/inspection_common.cpp
  libvast/test/detail/settings.cpp
Labels: refactoring

#2618 Fix race in plugin tests for CTest with -j2 or higher
  cmake/VASTRegisterPlugin.cmake
Labels: bug

#2576 Publicly accessible cloud demo HTTP services
  changelog/unreleased/features/2578--public-cloud-demo.md
  cloud/aws/cli/plugins/cloudflare.py
  cloud/aws/cli/plugins/misp.py
  cloud/aws/terraform/cloudflare/.terraform.lock.hcl
  cloud/aws/terraform/cloudflare/definition.tf
  cloud/aws/terraform/cloudflare/iam.tf
  cloud/aws/terraform/cloudflare/inputs.tf
  cloud/aws/terraform/cloudflare/main.tf
  cloud/aws/terraform/cloudflare/outputs.tf
  cloud/aws/terraform/cloudflare/override.tf
  cloud/aws/terraform/cloudflare/terragrunt.hcl
  cloud/aws/terraform/core-2/outputs.tf
  cloud/aws/terraform/core-2/securitygroups.tf
  cloud/aws/terraform/misp/definition.tf
  cloud/aws/terraform/misp/inputs.tf
  cloud/aws/terraform/misp/main.tf
  cloud/aws/terraform/misp/outputs.tf
  cloud/aws/terraform/misp/terragrunt.hcl
  web/docs/setup/deploy/aws.md
Labels: feature

#2616 Fix terminator lifetime issue
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/terminate.hpp
  libvast/include/vast/system/terminator.hpp
  libvast/src/system/terminator.cpp
Labels: bug

#2605 Make it less likely for rebuild to require rebatching
  libvast/native-plugins/rebuild.cpp
Labels: performance

#2590 Revamp Cloud commands
  .github/workflows/terraform.yaml
  cloud/aws/cli/core.py
  cloud/aws/cli/main.py
  cloud/aws/cli/plugins/tests.py
  cloud/aws/cli/vast.py
  cloud/aws/terraform/core-2/inputs.tf
  cloud/aws/terraform/core-2/modules.tf
  cloud/aws/terraform/core-2/outputs.tf
  cloud/aws/terraform/core-2/terragrunt.hcl
  web/docs/setup/deploy/aws.md
  web/docs/use/detect/cloud-matchers.md
Labels: enhancement

#2612 Add Parquet/Feather blog 1/3
  web/blog/authors.yml
  web/blog/parquet-and-feather-enabling-open-investigations/index.md
  web/blog/parquet-and-feather-enabling-open-investigations/parquet-analytics.dark.png
  web/blog/parquet-and-feather-enabling-open-investigations/parquet-analytics.light.png
  web/blog/parquet-and-feather-enabling-open-investigations/parquet-vs-feather.dark.png
  web/blog/parquet-and-feather-enabling-open-investigations/parquet-vs-feather.light.png
Labels: feature

#2591 Poll starting and stopping Cloud task status
  cloud/aws/cli/common.py
  cloud/aws/cli/plugins/tests.py
  cloud/aws/resources/configs/misp/502.html
Labels: enhancement

#2621 Fix typo in latest blog post
  web/blog/parquet-and-feather-enabling-open-investigations/index.md
Labels: bug

#2595 Add a Docker Compose file and related testing infrastructure
  .github/workflows/vast.yaml
  Dockerfile
  changelog/unreleased/features/2574-docker-compose.md
  docker/README.md
  docker/test
  docker/vast/docker-compose.build.yaml
  docker/vast/docker-compose.volume.yaml
  docker/vast/docker-compose.web.yaml
  docker/vast/docker-compose.yaml
  docker/vast/env.example
  plugins/web/src/configuration.cpp
  plugins/web/tests/configuration.cpp
  plugins/web/vast.yaml.example
  web/docs/setup/deploy/docker.md
Labels: feature

#2630 Fix ghcr.io cache access for actors outside of Tenzir
  .github/workflows/vast.yaml
Labels: bug

#2622 Print loaded plugins on startup
  vast/vast.cpp
Labels: enhancement

#2619 Demote log message for automatic rebuilds
  changelog/unreleased/changes/2619--rebuilder-log-message.md
  libvast/native-plugins/rebuild.cpp
Labels: enhancement

#2631 Properly recover corrupted partition data on startup
  libvast/src/system/index.cpp
  libvast/test/system/index.cpp
  libvast_test/artifacts/databases/suricata-flow/VERSION
  libvast_test/artifacts/databases/suricata-flow/archive/3E3AC6A7-7DDD-46D9-BF1B-0C95E2B40033.store
  libvast_test/artifacts/databases/suricata-flow/index/3e3ac6a7-7ddd-46d9-bf1b-0c95e2b40033
  libvast_test/artifacts/databases/suricata-flow/index/3e3ac6a7-7ddd-46d9-bf1b-0c95e2b40033.mdx
  libvast_test/artifacts/databases/suricata-flow/index/index.bin
  libvast_test/artifacts/databases/suricata-flow/type-registry/type-registry.reg
Labels: bug

#2624 Abort the response promise if running into oversized partitions
  changelog/unreleased/bug-fixes/2624--transform-oversized-partition.md
  libvast/src/system/index.cpp
Labels: bug

#2632 Backport oversized partition fixes to 2.3 release branch
  .github/workflows/style-check.yaml
  changelog/unreleased/bug-fixes/2624--transform-oversized-partition.md
  changelog/unreleased/bug-fixes/2631-oversized-partition-recovery.md
  libvast/CMakeLists.txt
  libvast/src/format/test.cpp
  libvast/src/system/index.cpp
  libvast/test/system/index.cpp
  libvast_test/artifacts/databases/suricata-flow/VERSION
  libvast_test/artifacts/databases/suricata-flow/archive/3E3AC6A7-7DDD-46D9-BF1B-0C95E2B40033.store
  libvast_test/artifacts/databases/suricata-flow/index/3e3ac6a7-7ddd-46d9-bf1b-0c95e2b40033
  libvast_test/artifacts/databases/suricata-flow/index/3e3ac6a7-7ddd-46d9-bf1b-0c95e2b40033.mdx
  libvast_test/artifacts/databases/suricata-flow/index/index.bin
  libvast_test/artifacts/databases/suricata-flow/type-registry/type-registry.reg
Labels: rc

#2633 Use proper types for uniform_int_distribution
  libvast/src/format/test.cpp
Labels: enhancement

#2634 Prepare repository for v2.3.1 release
  CHANGELOG.md
  changelog/unreleased/bug-fixes/2624--transform-oversized-partition.md
  changelog/unreleased/bug-fixes/2631-oversized-partition-recovery.md
  changelog/v2.3.1/bug-fixes/2624--transform-oversized-partition.md
  changelog/v2.3.1/bug-fixes/2631--oversized-partition-recovery.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
  pyvast/setup.py
Labels: rc

#2620 Fix VPC flowlogs and cloudrail plugins
  .github/workflows/terraform.yaml
  cloud/aws/terraform/cloudtrail/terragrunt.hcl
  cloud/aws/terraform/flowlogs/terragrunt.hcl
Labels: bug

#2640 Fix link for contributing-url in README
  README.md
Labels: bug

#2627 Allow cross-origin requests in dev mode
  plugins/web/include/web/configuration.hpp
  plugins/web/include/web/restinio_response.hpp
  plugins/web/src/configuration.cpp
  plugins/web/src/restinio_response.cpp
  plugins/web/src/server_command.cpp
Labels: enhancement

#2639 Update the python version in the VAST docker image
  Dockerfile
Labels: dependencies

#2642 Clear failed partitions from the cache
  changelog/unreleased/2642--uncache-failed-partitions.md
  libvast/src/system/index.cpp
Labels: bug

#2637 Add 2.3.1 release blog post and manual changelog entries
  .github/workflows/changelog-override.md
  .github/workflows/vast.yaml
  CHANGELOG.md
  changelog/unreleased/bug-fixes/2624--transform-oversized-partition.md
  changelog/unreleased/features/2574--docker-compose.md
  changelog/v2.3.1/bug-fixes/2624.md
  changelog/v2.3.1/bug-fixes/2631.md
  web/blog/vast-v2.3.1/index.md
Labels: enhancement

#2635 Add a timeout to the UDS metric sink
  changelog/unreleased/bug-fixes/2635--fix-blocking-uds-metrics.md
  libvast/include/vast/detail/posix.hpp
  libvast/src/detail/posix.cpp
  libvast/src/detail/terminal.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/node.cpp
Labels: bug

#2617 Add Parquet/Feather blog 2/3
  .gitignore
  web/.gitignore
  web/DESCRIPTION
  web/blog/parquet-and-feather-enabling-open-investigations/index.md
  web/blog/parquet-and-feather-writing-security-telemetry/benchmark.fish
  web/blog/parquet-and-feather-writing-security-telemetry/data.csv
  web/blog/parquet-and-feather-writing-security-telemetry/feather-parquet-zstd-experiments.diff
  web/blog/parquet-and-feather-writing-security-telemetry/image.jpg
  web/blog/parquet-and-feather-writing-security-telemetry/index.qmd
  web/blog/parquet-and-feather-writing-security-telemetry/sizes.csv
  web/docusaurus.config.js
  web/src/css/custom.scss
Labels: feature

#2643 update nixpkgs rev in flake.nix
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/vast/default.nix
  nix/xxHash/static.patch
  plugins/parquet/CMakeLists.txt
  plugins/web/CMakeLists.txt
Labels: maintenance

#2646 Improve error message for missing restinio submodule
  plugins/web/aux/CMakeLists.txt
Labels: bug

#2647 Make the expression parser composable
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/test/expression.cpp
Labels: bug

#2653 Fix typos in Parquet & Feather: 2/3 blog post
  web/blog/parquet-and-feather-writing-security-telemetry/index.qmd
Labels: bug

#2657 Pin Arrow to 9.0.0 in CI
  .github/workflows/analysis.yaml
  .github/workflows/vast.yaml
Labels: maintenance

#2658 Enable Dependabot for Python
  .github/dependabot.yml
Labels: maintenance

#2654 Fix UDS datagram metrics reporting
  libvast/include/vast/error.hpp
  libvast/src/detail/posix.cpp
  libvast/src/error.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/posix_filesystem.cpp
Labels: bug

#2671 Bring back announcement bar
  web/docusaurus.config.js
Labels: enhancement

#2672 Fix typo in announcement bar
  web/docusaurus.config.js
Labels: bug

#2673 Remove mentions of `vast.use-legacy-query-scheduler` option
  vast.yaml.example
  vast/vast.cpp
Labels: maintenance

#2674 Remove PyVAST in favor of new Python bindings
  .dockerignore
  .github/workflows/jupyter.yaml
  .github/workflows/pyvast.yaml
  .gitignore
  Dockerfile
  changelog/unreleased/changes/2674--removed-pyvast.md
  examples/jupyter/README.md
  examples/jupyter/pyvast
  examples/jupyter/requirements.txt
  examples/jupyter/scripts/run-demo
  examples/jupyter/vast-connections.ipynb
  examples/jupyter/vast-example-1.ipynb
  pyvast/Makefile
  pyvast/README.md
  pyvast/example/README.md
  pyvast/example/example.py
  pyvast/example/requirements.txt
  pyvast/pyvast/__init__.py
  pyvast/pyvast/test_vast.py
  pyvast/pyvast/vast.py
  pyvast/requirements.txt
  pyvast/setup.py
  scripts/prepare-release
Labels: maintenance

#2676 Finalize extension types after Arrow 10 fix
  python/poetry.lock
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_fabric.py
  python/tests/test_utils_arrow.py
  python/tests/test_utils_stix.py
  python/vast/utils/arrow.py
Labels: bug

#2675 Upgrade to Docusaurus v2.2.0
  web/docusaurus.config.js
  web/package.json
  web/yarn.lock
Labels: maintenance
