Repository tenzir/tenzir, pull requests merged in 2022-08, with the labels that each got.

#2479 Switch order of keyword expansion and native plugin removal
  changelog/unreleased/bug-fixes/2479--native-plugins-expansion.md
  libvast/src/plugin.cpp
Labels: bug, rc

#2480 Correctly mark query entries as erased
  changelog/unreleased/changes/bug-fixes/2480--query-queue-erased-entries.md
  libvast/include/vast/query_queue.hpp
  libvast/src/query_queue.cpp
  libvast/test/query_queue.cpp
Labels: bug, rc

#2482 Prepare repository for VAST v2.2.0-rc3
  CHANGELOG.md
  changelog/v2.2.0-rc3/bug-fixes/2393.md
  changelog/v2.2.0-rc3/bug-fixes/2431.md
  changelog/v2.2.0-rc3/bug-fixes/2447.md
  changelog/v2.2.0-rc3/bug-fixes/2465.md
  changelog/v2.2.0-rc3/bug-fixes/2466.md
  changelog/v2.2.0-rc3/bug-fixes/2470.md
  changelog/v2.2.0-rc3/bug-fixes/2479.md
  changelog/v2.2.0-rc3/changes/2413.md
  changelog/v2.2.0-rc3/changes/2417.md
  changelog/v2.2.0-rc3/changes/2423.md
  changelog/v2.2.0-rc3/changes/2429.md
  changelog/v2.2.0-rc3/changes/2435.md
  changelog/v2.2.0-rc3/changes/bug-fixes/2480.md
  changelog/v2.2.0-rc3/features/2396.md
  changelog/v2.2.0-rc3/features/2417.md
  changelog/v2.2.0-rc3/features/2419.md
  changelog/v2.2.0-rc3/features/2423.md
  changelog/v2.2.0-rc3/features/2446.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2483 Adjust to recent .github changes
  web/Makefile
Labels: maintenance

#2488 Fix broken caching in CI
  .github/workflows/vast.yaml
Labels: bug

#2486 Prepare repository for VAST v2.2.0
  .github/workflows/vast.yaml
  CHANGELOG.md
  Dockerfile
  changelog/v2.2.0-rc3/bug-fixes/2447.md
  changelog/v2.2.0-rc3/bug-fixes/2465.md
  changelog/v2.2.0-rc3/bug-fixes/2466.md
  changelog/v2.2.0-rc3/bug-fixes/2479.md
  changelog/v2.2.0-rc3/changes/2435.md
  changelog/v2.2.0-rc3/changes/bug-fixes/2480.md
  changelog/v2.2.0/bug-fixes/2393.md
  changelog/v2.2.0/bug-fixes/2431.md
  changelog/v2.2.0/bug-fixes/2447.md
  changelog/v2.2.0/bug-fixes/2465.md
  changelog/v2.2.0/bug-fixes/2466.md
  changelog/v2.2.0/bug-fixes/2470.md
  changelog/v2.2.0/changes/2413.md
  changelog/v2.2.0/changes/2417.md
  changelog/v2.2.0/changes/2423.md
  changelog/v2.2.0/changes/2429.md
  changelog/v2.2.0/changes/2435.md
  changelog/v2.2.0/changes/bug-fixes/2480.md
  changelog/v2.2.0/features/2396.md
  changelog/v2.2.0/features/2417.md
  changelog/v2.2.0/features/2419.md
  changelog/v2.2.0/features/2423.md
  changelog/v2.2.0/features/2446.md
  cmake/VASTVersionFallback.cmake
  libvast/src/arrow_table_slice.cpp
  nix/static-binary.sh
  nix/vast/default.nix
  pyvast/setup.py
  web/blog/vast-v1.0/index.md
  web/blog/vast-v1.1/index.md
  web/blog/vast-v2.2/index.md
Labels: maintenance

#2489 Force CI to re-upload cache for every commit
  .github/workflows/vast.yaml
Labels: enhancement

#2485 Demote a noisy log from Parquet/Feather stores
  libvast/src/store.cpp
Labels: enhancement

#2430 Implement optional dense indexes
  changelog/unreleased/features/2430--optional-partition-indexes.md
  changelog/unreleased/features/bug-fixes/2430-process-queries-for-fields-with-skip-attribute.md
  libvast/include/vast/defaults.hpp
  libvast/include/vast/detail/partition_common.hpp
  libvast/include/vast/ids.hpp
  libvast/include/vast/index_config.hpp
  libvast/include/vast/system/evaluator.hpp
  libvast/src/detail/partition_common.cpp
  libvast/src/index/list_index.cpp
  libvast/src/index_config.cpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/evaluator.cpp
  libvast/src/system/passive_partition.cpp
  libvast/test/index_config.cpp
  libvast/test/system/active_partition.cpp
  libvast/test/system/evaluator.cpp
  vast.yaml.example
  vast/integration/misc/schema/zeek-with-skip.schema
  vast/integration/reference/optional-partition-indexes/step_00.ref
  vast/integration/reference/optional-partition-indexes/step_01.ref
  vast/integration/reference/process-query-for-field-with-skip-attribute/step_00.ref
  vast/integration/reference/process-query-for-field-with-skip-attribute/step_01.ref
  vast/integration/vast-optional-indexes.yaml
  vast/integration/vast_integration_suite.yaml
  web/docs/setup-vast/tune.md
Labels: feature

#2455 Defer table slice IPC backing until serialization
  libvast/include/vast/arrow_table_slice.hpp
  libvast/include/vast/arrow_table_slice_builder.hpp
  libvast/include/vast/msgpack_table_slice.hpp
  libvast/include/vast/table_slice.hpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/msgpack_table_slice.cpp
  libvast/src/segment_builder.cpp
  libvast/src/table_slice.cpp
  libvast/test/arrow_table_slice.cpp
  libvast/test/table_slice.cpp
Labels: performance

#2492 Demote logging message that doesn't indicate error
  libvast/src/system/exporter.cpp
Labels: enhancement

#2387 Implement more Sigma rule modifiers
  plugins/sigma/CHANGELOG.md
  plugins/sigma/CMakeLists.txt
  plugins/sigma/src/parse.cpp
  plugins/sigma/tests/tests.cpp
  web/blog/richer-typing-in-sigma/index.md
  web/docs/understand-vast/query-language/frontends/sigma.md
  web/static/img/sigma-query-frontend-dark.png
  web/static/img/sigma-query-frontend-light.png
Labels: enhancement

#2494 Simplify PR template
  .github/PULL_REQUEST_TEMPLATE.md
  web/README.md
Labels: maintenance

#2495 Fix typo in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug

#2496 Fix artifact name for out-of-tree static binary builds
  nix/static-binary.sh
Labels: bug

#2478 First stab at new Python bindings
  .github/workflows/vast.yaml
  .gitignore
  python/README.md
  python/config.yaml
  python/examples/misp.py
  python/examples/thehive.py
  python/poetry.lock
  python/pyproject.toml
  python/tests/test_utils_arrow.py
  python/tests/test_vast.py
  python/vast/__init__.py
  python/vast/apps/misp.py
  python/vast/apps/test.py
  python/vast/apps/thehive.py
  python/vast/backbone.py
  python/vast/backbones/__init__.py
  python/vast/backbones/inmemory.py
  python/vast/bridges/stix.py
  python/vast/fabric.py
  python/vast/utils/arrow.py
  python/vast/utils/asyncio.py
  python/vast/utils/config.py
  python/vast/utils/logging.py
  python/vast/vast.py
Labels: feature

#2498 Update taxonomy docs after launch of OCSF
  web/docs/understand-vast/data-model/taxonomies.md
Labels: enhancement

#2499 Make the connection timeout configurable
  changelog/unreleased/features/2430--optional-partition-indexes.md
  changelog/unreleased/features/2499--connection-timeout.md
  libvast/include/vast/defaults.hpp
  libvast/src/system/application.cpp
  libvast/src/system/connect_to_node.cpp
  vast.yaml.example
Labels: feature

#2500 Add active partition actor to unpersisted partitions on decomission
  changelog/unreleased/bug-fixes/2500.md
  libvast/src/system/index.cpp
Labels: bug

#2506 Update libfmt dependency requirements
  web/docs/setup-vast/build.md
Labels: maintenance

#2504 update: add example .env file
  cloud/aws/.env.example
Labels: enhancement

#2509 Make partition transformer comply to the dense index configuration
  libvast/include/vast/system/active_partition.hpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/partition_transformer.cpp
Labels: bug

#2505 Support building with {fmt} 9.x
  libvast/include/vast/bitmap.hpp
  libvast/include/vast/command.hpp
  libvast/include/vast/data.hpp
  libvast/include/vast/detail/logger.hpp
  libvast/include/vast/detail/logger_formatters.hpp
  libvast/include/vast/expression.hpp
  libvast/include/vast/module.hpp
  libvast/include/vast/msgpack_builder.hpp
  libvast/include/vast/query_queue.hpp
  libvast/include/vast/scope_linked.hpp
  libvast/include/vast/system/spawn_arguments.hpp
  libvast/include/vast/table_slice.hpp
  libvast/include/vast/table_slice_encoding.hpp
  libvast/include/vast/type.hpp
  libvast/include/vast/uuid.hpp
  libvast/include/vast/view.hpp
  libvast/src/arrow_table_slice_builder.cpp
  libvast/src/system/index.cpp
  web/docs/setup-vast/build.md
Labels: maintenance

#2508 Minor rewording of tuning table slices
  web/docs/setup-vast/tune.md
Labels: enhancement

#2502 Add an OpenSSF Best Practices badge
  README.md
Labels: maintenance

#2507 Display store load failures to the user
  changelog/unreleased/bug-fixes/2507--store-errors.md
  libvast/src/system/passive_partition.cpp
Labels: enhancement

#2514 Speed up index building in partition transformer
  changelog/unreleased/bug-fixes/2515--slow-rebuild.md
  libvast/src/system/partition_transformer.cpp
Labels: performance, bug

#2516 Use Excalidraw diagrams in actor model docs
  web/docs/understand-vast/architecture/actor-model.md
  web/static/img/actor-distribution.dark.png
  web/static/img/actor-distribution.light.png
  web/static/img/actor-execution-model.dark.png
  web/static/img/actor-execution-model.light.png
  web/static/img/actor-framework-workstealing.dark.png
  web/static/img/actor-framework-workstealing.light.png
  web/static/img/actor-message-passing.dark.png
  web/static/img/actor-message-passing.light.png
  web/static/img/actor-model-architecture.png
  web/static/img/actor-model-distribution.png
  web/static/img/actor-model-messaging.png
  web/static/img/actor-model-workstealing.png
Labels: enhancement

#2503 Respect `--connection-timeout` in more places
  changelog/unreleased/bug-fixes/2503--duration-values-env-config.md
  libvast/include/vast/defaults.hpp
  libvast/include/vast/detail/actor_cast_wrapper.hpp
  libvast/include/vast/detail/logger_formatters.hpp
  libvast/include/vast/system/component_registry.hpp
  libvast/include/vast/system/configuration.hpp
  libvast/include/vast/system/node_control.hpp
  libvast/native-plugins/rebuild.cpp
  libvast/src/format/reader.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/configuration.cpp
  libvast/src/system/connect_to_node.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/import_command.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/node_control.cpp
  libvast/src/system/read_query.cpp
  libvast/src/system/source.cpp
  libvast/src/system/spawn_or_connect_to_node.cpp
  libvast/src/system/spawn_type_registry.cpp
Labels: enhancement, bug

#2521 Fix partition index config for aliased types
  libvast/src/index_config.cpp
  libvast/test/index_config.cpp
Labels: bug

#2449 Implement a flatbuffer container class to hold excess table slices in segments
  changelog/unreleased/bug-fixes/2449--oversized-segments.md
  libvast/fbs/partition.fbs
  libvast/fbs/segment.fbs
  libvast/fbs/segmented_file.fbs
  libvast/fbs/value_index.fbs
  libvast/include/vast/fbs/flatbuffer_container.hpp
  libvast/include/vast/segment.hpp
  libvast/include/vast/segment_builder.hpp
  libvast/include/vast/system/active_partition.hpp
  libvast/include/vast/system/passive_partition.hpp
  libvast/src/fbs/flatbuffer_container.cpp
  libvast/src/segment.cpp
  libvast/src/segment_builder.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/passive_partition.cpp
  libvast/test/flatbuffer_container.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/active_partition.cpp
  libvast/test/system/partition_transformer.cpp
  tools/lsvast/src/lsvast.cpp
  tools/lsvast/src/lsvast.hpp
  tools/lsvast/src/print_partition.cpp
  tools/lsvast/src/print_segment.cpp
  tools/lsvast/src/util.hpp
  vast/integration/reference/basiccommand/step_00.ref
Labels: enhancement

#2522 Fix crash for 100% overlap between compaction and rebuilding
  libvast/native-plugins/rebuild.cpp
Labels: bug

#2523 Prepare repository for VAST v2.3.0-rc2
  CHANGELOG.md
  changelog/v2.3.0-rc2/bug-fixes/2449.md
  changelog/v2.3.0-rc2/bug-fixes/2500.md
  changelog/v2.3.0-rc2/bug-fixes/2503.md
  changelog/v2.3.0-rc2/bug-fixes/2507.md
  changelog/v2.3.0-rc2/bug-fixes/2515.md
  changelog/v2.3.0-rc2/changes/2484.md
  changelog/v2.3.0-rc2/changes/2493.md
  changelog/v2.3.0-rc2/features/2430.md
  changelog/v2.3.0-rc2/features/2493.md
  changelog/v2.3.0-rc2/features/2499.md
  changelog/v2.3.0-rc2/features/bug-fixes/2430-process-queries-for-fields-with-skip-attribute.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance, rc

#2527 Don't build PCAP plugin on macOS
  .github/workflows/vast.yaml
Labels: maintenance

#2529 Don't create chunks for nonexisting indices
  changelog/unreleased/bug-fixes/2529--partition-transformer-optional-indices.md
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/passive_partition.cpp
  libvast/test/system/partition_transformer.cpp
Labels: bug

#2531 Prepare repository for VAST v2.3.0-rc3
  CHANGELOG.md
  changelog/unreleased/bug-fixes/2529--partition-transformer-optional-indices.md
  changelog/v2.3.0-rc3/bug-fixes/2430.md
  changelog/v2.3.0-rc3/bug-fixes/2449.md
  changelog/v2.3.0-rc3/bug-fixes/2500.md
  changelog/v2.3.0-rc3/bug-fixes/2503.md
  changelog/v2.3.0-rc3/bug-fixes/2507.md
  changelog/v2.3.0-rc3/bug-fixes/2515.md
  changelog/v2.3.0-rc3/changes/2484.md
  changelog/v2.3.0-rc3/changes/2493.md
  changelog/v2.3.0-rc3/features/2430.md
  changelog/v2.3.0-rc3/features/2473.md
  changelog/v2.3.0-rc3/features/2493.md
  changelog/v2.3.0-rc3/features/2499.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2533 Add RFC infrastructure
  .gitignore
  000-TEMPLATE.md
  rfc/README.md
  web/Makefile
Labels: enhancement

#2519 Embed OpenAPI spec into site
  web/docusaurus.config.js
  web/openapi/openapi.yaml
  web/package.json
  web/yarn.lock
Labels: enhancement

#2539 Move RFC template into correct location
  rfc/000-TEMPLATE.md
Labels: enhancement

#2537 fix typo in setup instructions for PATH variable
  web/docs/setup-vast/README.md
Labels: enhancement

#2538 Update incorrect skipping of non-existing value indexes
  libvast/include/vast/chunk.hpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/passive_partition.cpp
  libvast/test/system/partition_transformer.cpp
  tools/lsvast/CMakeLists.txt
  tools/lsvast/src/lsvast.hpp
  tools/lsvast/src/print_partition.cpp
  tools/lsvast/src/print_segment.cpp
  tools/lsvast/src/print_segmented_file_header.cpp
  vast/integration/reference/basiccommand/step_00.ref
Labels: bug, rc

#2542 Calculate rebuild current_run_events properly
  libvast/native-plugins/rebuild.cpp
Labels: bug, rc

#2543 Wait until all stores have exited before finishing a partition transform
  libvast/include/vast/system/partition_transformer.hpp
  libvast/src/system/partition_transformer.cpp
Labels: bug, rc

#2545 Prepare repository for VAST v2.3.0-rc4
  CHANGELOG.md
  changelog/v2.3.0-rc4/bug-fixes/2430.md
  changelog/v2.3.0-rc4/bug-fixes/2449.md
  changelog/v2.3.0-rc4/bug-fixes/2500.md
  changelog/v2.3.0-rc4/bug-fixes/2503.md
  changelog/v2.3.0-rc4/bug-fixes/2507.md
  changelog/v2.3.0-rc4/bug-fixes/2510.md
  changelog/v2.3.0-rc4/bug-fixes/2515.md
  changelog/v2.3.0-rc4/bug-fixes/2543.md
  changelog/v2.3.0-rc4/changes/2484.md
  changelog/v2.3.0-rc4/changes/2493.md
  changelog/v2.3.0-rc4/features/2430.md
  changelog/v2.3.0-rc4/features/2473.md
  changelog/v2.3.0-rc4/features/2493.md
  changelog/v2.3.0-rc4/features/2499.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: rc
