Repository tenzir/tenzir, pull requests merged in 2022-05, with the labels that each got.

#2255 Lift selector field requirements for JSON import
  changelog/unreleased/bug-fixes/2255--json-selector-non-string.md
  libvast/include/vast/format/json/field_selector.hpp
Labels: bug

#2256 Deduplicate config files before loading
  libvast/src/system/configuration.cpp
  vast/vast.cpp
Labels: enhancement, bug

#2258 Ignore types unrelated to the configuration in the summarize plugin
  changelog/unreleased/bug-fixes/2258--deeply-nested-record-type-transforms.md
  libvast/include/vast/type.hpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/type.cpp
  plugins/summarize/CHANGELOG.md
  plugins/summarize/summarize.cpp
  plugins/summarize/tests/summarize.cpp
Labels: bug

#2265 Update docs dependencies to latest versions
  docs/package.json
  docs/yarn.lock
Labels: maintenance

#2262 Document JSON rendering behavior for durations
  docs/cli/vast-export-json.md
  libvast/src/system/application.cpp
Labels: enhancement

#2266 Demote a noisy error message
  libvast/src/system/index.cpp
Labels: bug

#2269 Align partition.scheduled key with the docs
  libvast/include/vast/system/index.hpp
  libvast/src/system/index.cpp
Labels: bug

#2264 Fix query pruning in the catalog
  changelog/unreleased/bug-fixes/2264--query-pruning.md
  libvast/include/vast/detail/heterogenous_string_hash.hpp
  libvast/include/vast/prune.hpp
  libvast/include/vast/system/catalog.hpp
  libvast/src/prune.cpp
  libvast/src/system/catalog.cpp
  libvast/test/system/query_pruning.cpp
Labels: bug

#2270 Prepare repository for VAST v2.0.0-rc4
  CHANGELOG.md
  changelog/unreleased/bug-fixes/2264--query-pruning.md
  changelog/v2.0.0-rc4/2239.md
  changelog/v2.0.0-rc4/breaking-changes/2121.md
  changelog/v2.0.0-rc4/breaking-changes/2128.md
  changelog/v2.0.0-rc4/breaking-changes/2178.md
  changelog/v2.0.0-rc4/breaking-changes/2228.md
  changelog/v2.0.0-rc4/bug-fixes/2120.md
  changelog/v2.0.0-rc4/bug-fixes/2146.md
  changelog/v2.0.0-rc4/bug-fixes/2155.md
  changelog/v2.0.0-rc4/bug-fixes/2167.md
  changelog/v2.0.0-rc4/bug-fixes/2176.md
  changelog/v2.0.0-rc4/bug-fixes/2184.md
  changelog/v2.0.0-rc4/bug-fixes/2190.md
  changelog/v2.0.0-rc4/bug-fixes/2215.md
  changelog/v2.0.0-rc4/bug-fixes/2227.md
  changelog/v2.0.0-rc4/bug-fixes/2236.md
  changelog/v2.0.0-rc4/bug-fixes/2255.md
  changelog/v2.0.0-rc4/bug-fixes/2258.md
  changelog/v2.0.0-rc4/bug-fixes/2264.md
  changelog/v2.0.0-rc4/changes/2108.md
  changelog/v2.0.0-rc4/changes/2117.md
  changelog/v2.0.0-rc4/changes/2122.md
  changelog/v2.0.0-rc4/changes/2159.md
  changelog/v2.0.0-rc4/changes/2193.md
  changelog/v2.0.0-rc4/changes/2233.md
  changelog/v2.0.0-rc4/features/2065.md
  changelog/v2.0.0-rc4/features/2096.md
  changelog/v2.0.0-rc4/features/2133.md
  changelog/v2.0.0-rc4/features/2160.md
  changelog/v2.0.0-rc4/features/2162.md
  changelog/v2.0.0-rc4/features/2186.md
  changelog/v2.0.0-rc4/features/2228.md
  changelog/v2.0.0-rc4/features/2247.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2275 Follow upstream Arrow changes in Docker image
  Dockerfile
Labels: maintenance

#2276 Prepare repository for VAST v2.0.0
  CHANGELOG.md
  changelog/v2.0.0/2239.md
  changelog/v2.0.0/breaking-changes/2121.md
  changelog/v2.0.0/breaking-changes/2128.md
  changelog/v2.0.0/breaking-changes/2178.md
  changelog/v2.0.0/breaking-changes/2228.md
  changelog/v2.0.0/bug-fixes/2120.md
  changelog/v2.0.0/bug-fixes/2146.md
  changelog/v2.0.0/bug-fixes/2155.md
  changelog/v2.0.0/bug-fixes/2167.md
  changelog/v2.0.0/bug-fixes/2176.md
  changelog/v2.0.0/bug-fixes/2184.md
  changelog/v2.0.0/bug-fixes/2190.md
  changelog/v2.0.0/bug-fixes/2215.md
  changelog/v2.0.0/bug-fixes/2227.md
  changelog/v2.0.0/bug-fixes/2236.md
  changelog/v2.0.0/bug-fixes/2255.md
  changelog/v2.0.0/bug-fixes/2258.md
  changelog/v2.0.0/bug-fixes/2264.md
  changelog/v2.0.0/changes/2108.md
  changelog/v2.0.0/changes/2117.md
  changelog/v2.0.0/changes/2122.md
  changelog/v2.0.0/changes/2159.md
  changelog/v2.0.0/changes/2193.md
  changelog/v2.0.0/changes/2233.md
  changelog/v2.0.0/features/2065.md
  changelog/v2.0.0/features/2096.md
  changelog/v2.0.0/features/2133.md
  changelog/v2.0.0/features/2160.md
  changelog/v2.0.0/features/2162.md
  changelog/v2.0.0/features/2186.md
  changelog/v2.0.0/features/2228.md
  changelog/v2.0.0/features/2247.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
  pyvast/setup.py
Labels: maintenance

#2278 Make docs compatible with GitHub's dark-mode images
  docs/src/css/custom.css
Labels: enhancement

#2283 Add singular time units to parser
  libvast/include/vast/concept/parseable/vast/time.hpp
  libvast/test/time.cpp
Labels: bug

#2287 Update prebuilt binary download instructions in docs
  docs/docs/setup-vast/download.md
Labels: enhancement

#2285 Support globs in CMake variable `VAST_PLUGINS`
  vast/CMakeLists.txt
Labels: enhancement

#2253 Implement YAML Types
  libvast/test/module.cpp
Labels: feature

#2289 Prefer CLI over config file for vast.plugins
  changelog/unreleased/bug-fixes/2289--plugins-options-order.md
  libvast/src/system/configuration.cpp
Labels: bug

#2268 Compress in-memory slices with Zstd
  changelog/unreleased/features/2268--compress-table-slice.md
  docs/cli/vast-import.md
  libvast/include/vast/defaults.hpp
  libvast/src/arrow_table_slice_builder.cpp
  vast.yaml.example
Labels: performance

#2286 Allow missing value indices in partition flatbuffer
  .clang-tidy
  changelog/unreleased/2286--indexer-crash.md
  libvast/include/vast/system/indexer.hpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/indexer.cpp
  libvast/src/system/passive_partition.cpp
  tools/lsvast/src/print_partition.cpp
  vast/integration/misc/schema/all-types.schema
  vast/integration/reference/arrow-full-data-model/step_01.ref
Labels: bug

#2290 Deprecate the archive store-backend
  changelog/unreleased/changes/2290--archive-deprecation.md
  libvast/include/vast/system/active_partition.hpp
  libvast/include/vast/system/index.hpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/test/system/counter.cpp
  vast/vast.cpp
Labels: maintenance

#2249 Remove unused #ioc attribute
  schema/types/suricata.schema
  vast/integration/reference/arrow/step_03.ref
Labels: maintenance

#2291 Enable vast.io
  docs/docs/get-started/quick-start-guide.md
  docs/docusaurus.config.js
  docs/static/CNAME
Labels: enhancement

#2292 Show GitHub and Slack icon instead text in docs
  docs/docusaurus.config.js
  docs/package.json
  docs/src/css/custom.css
  docs/src/css/custom.scss
  docs/yarn.lock
Labels: enhancement

#2293 Add a sitemap.xml to docs
  docs/docs/get-started/README.md
  docs/docs/setup-vast/README.md
  docs/docs/setup-vast/deploy/README.md
  docs/docs/setup-vast/install/README.md
  docs/docs/use-vast/README.md
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: enhancement

#2288 Add optional status command filters
  changelog/unreleased/features/2288--status-filter-by-component.md
  libvast/src/system/application.cpp
  libvast/src/system/node.cpp
  vast/integration/reference/server-zeek-conn-log/step_08.ref
  vast/integration/vast_integration_suite.yaml
Labels: enhancement

#2295 Fix crash in query evaluation for new partitions
  changelog/unreleased/bug-fixes/2295--partition-query-evaluation.md
  libvast/include/vast/detail/partition_common.hpp
Labels: bug

#2157 Add function to validate configuration
  libvast/include/vast/validate.hpp
  libvast/src/validate.cpp
  libvast/test/validate.cpp
Labels: enhancement

#2296 Remove forgotten debug log statement
  libvast/src/prune.cpp
Labels: bug

#2297 Improved error message for invalid vast start
  libvast/src/system/application.cpp
  libvast/src/system/spawn_sink.cpp
  libvast/src/system/start_command.cpp
  libvast/src/system/stop_command.cpp
Labels: enhancement

#2230 Various logging improvements
  libvast/include/vast/system/active_partition.hpp
  libvast/include/vast/uuid.hpp
  libvast/native-plugins/segment_store.cpp
  libvast/src/segment_store.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/passive_partition.cpp
  libvast/test/system/partition_transformer.cpp
Labels: enhancement

#2299 Deduplicate explore hits by hash instead of ID
  libvast/include/vast/query.hpp
  libvast/include/vast/query_options.hpp
  libvast/include/vast/system/explorer.hpp
  libvast/include/vast/table_slice.hpp
  libvast/native-plugins/segment_store.cpp
  libvast/src/system/archive.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/index.cpp
  libvast/src/system/legacy_index.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/table_slice.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/archive.cpp
  libvast/test/system/catalog.cpp
  libvast/test/system/index.cpp
  libvast/test/system/local_segment_store.cpp
  libvast/test/system/query_processor.cpp
Labels: maintenance

#2301 Several smaller docs tweaks
  web/docs/setup-vast/_category_.yml
  web/docs/understand-vast/README.md
  web/docs/understand-vast/data-model/concepts.md
  web/docs/understand-vast/data-model/modules.md
  web/docs/understand-vast/data-model/types.md
  web/docs/understand-vast/query-language/README.md
  web/docs/use-vast/_category_.yml
  web/docs/use-vast/ingest/README.md
  web/docs/use-vast/introspect/README.md
  web/docs/use-vast/query/README.md
  web/docs/use-vast/transform/README.md
  web/docusaurus.config.js
  web/package.json
  web/presets/CommercialPlugin.md
  web/presets/MissingDocumentation.md
  web/static/CNAME
  web/yarn.lock
Labels: maintenance

#2304 Update Apache Arrow to 8.0
  flake.lock
  flake.nix
  nix/overlay.nix
Labels: maintenance

#2305 Fall back to string when parsing config options from environment
  changelog/unreleased/bug-fixes/2305.md
  libvast/src/system/configuration.cpp
Labels: bug

#2303 Rework docs entry
  README.md
  web/README.md
  web/docs/about-vast/README.md
  web/docs/about-vast/_category_.yml
  web/docs/develop-vast/write-documentation.md
  web/docs/get-started/README.md
  web/docs/get-started/quick-start-guide.md
  web/docs/setup-vast/README.md
  web/docusaurus.config.js
  web/src/pages/index.tsx
  web/static/img/ecosystem.png
Labels: enhancement

#2312 Remove legacy index from VAST
  changelog/unreleased/changes/2312--legacy-scheduler-deprecation.md
  libvast/include/vast/fwd.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/legacy_index.hpp
  libvast/include/vast/system/query_supervisor.hpp
  libvast/src/system/application.cpp
  libvast/src/system/index.cpp
  libvast/src/system/legacy_index.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/src/system/spawn_index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
  vast/vast.cpp
Labels: refactoring

#2313 Render CMake build summary on STATUS log level
  CMakeLists.txt
Labels: bug

#2316 Fix rendering of compiler in build summary
  CMakeLists.txt
Labels: bug

#2314 Mark erased partitions as such in the query queue
  libvast/include/vast/query_queue.hpp
  libvast/src/query_queue.cpp
  libvast/src/system/index.cpp
Labels: bug
