Repository tenzir/tenzir, pull requests merged in 2022-01, with the labels that each got.

#2016 Move the accountant config to the system directory
  libvast/src/system/accountant.cpp
  libvast/src/system/accountant_config.cpp
  libvast/src/system/node.cpp
  libvast/vast/system/accountant_config.hpp
Labels: refactoring :hammer_and_wrench:

#2017 Represent vast `duration_type`s as `arrow::DurationType` in arrow / experimental table slice
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/test/expression_evaluation.cpp
  libvast/vast/table_slice.hpp
Labels: enhancement :sparkles:

#2018 Make opt-in to formatting via deep_to_string easier
  examples/plugins/analyzer/example_analyzer.cpp
  libvast/src/detail/settings.cpp
  libvast/src/system/source.cpp
  libvast/src/system/spawn_counter.cpp
  libvast/src/system/spawn_eraser.cpp
  libvast/src/system/spawn_explorer.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/system/spawn_pivoter.cpp
  libvast/src/systemd.cpp
  libvast/test/convertible.cpp
  libvast/vast/concept/parseable/vast/schema.hpp
  libvast/vast/detail/logger_formatters.hpp
Labels: refactoring :hammer_and_wrench:

#2013 Use FlatBuffers for the Type Registry state
  libvast/src/system/type_registry.cpp
  libvast/vast/fbs/type.fbs
  libvast/vast/fbs/type_registry.fbs
  libvast/vast/fwd.hpp
Labels: enhancement :sparkles:

#2004 Add a `--omit-nulls` option to the JSON export
  changelog/unreleased/features/2004--json-omit-nulls.md
  libvast/src/data.cpp
  libvast/src/format/json.cpp
  libvast/src/system/accountant.cpp
  libvast/src/system/application.cpp
  libvast/test/format/writer.cpp
  libvast/test/printable.cpp
  libvast/vast/concept/printable/vast/json.hpp
  libvast/vast/format/json.hpp
  libvast/vast/format/ostream_writer.hpp
  libvast/vast/policy/omit_nulls.hpp
  vast.yaml.example
  vast/integration/reference/export-json/step_02.ref
  vast/integration/vast_integration_suite.yaml
Labels: feature :gift:

#2015 Refactor the meta index into a component
  libvast/src/detail/add_message_types.cpp
  libvast/src/system/index.cpp
  libvast/src/system/node.cpp
  libvast/src/system/spawn_index.cpp
  libvast/src/system/spawn_meta_index.cpp
  libvast/src/system/spawn_node.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/meta_index.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/spawn_meta_index.hpp
  vast/integration/reference/server-zeek-conn-log/step_07.ref
Labels: refactoring :hammer_and_wrench:

#2019 Introduce the `#import_time` meta extractor
  changelog/unreleased/features/2019--import-time-meta-extractor.md
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/table_slice.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/meta_index.cpp
  libvast/vast/detail/partition_common.hpp
  libvast/vast/expression.hpp
  vast/integration/reference/import-time/step_00.ref
  vast/integration/reference/import-time/step_01.ref
  vast/integration/reference/import-time/step_02.ref
  vast/integration/reference/import-time/step_03.ref
  vast/integration/reference/import-time/step_04.ref
  vast/integration/vast_integration_suite.yaml
Labels: feature :gift:

#2021 Add FlatBuffers for `{ewah_,null_,wah_,}bitmap`
  libvast/src/bitmap.cpp
  libvast/src/ewah_bitmap.cpp
  libvast/src/null_bitmap.cpp
  libvast/src/wah_bitmap.cpp
  libvast/test/bitmap.cpp
  libvast/vast/bitmap.hpp
  libvast/vast/bitvector.hpp
  libvast/vast/ewah_bitmap.hpp
  libvast/vast/fbs/bitmap.fbs
  libvast/vast/fwd.hpp
  libvast/vast/null_bitmap.hpp
  libvast/vast/wah_bitmap.hpp
Labels: enhancement :sparkles:

#2024 Various bugfixes and API changes related to compaction
  .clang-tidy
  libvast/src/detail/add_message_types.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/partition_synopsis.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/eraser.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/get_command.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/meta_index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/query_processor.cpp
  libvast/src/system/query_supervisor.cpp
  libvast/src/system/source.cpp
  libvast/src/system/terminator.cpp
  libvast/src/system/transformer.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/index.cpp
  libvast/test/system/meta_index.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/system/query_processor.cpp
  libvast/test/system/transformer.cpp
  libvast/vast/atoms.hpp
  libvast/vast/concept/printable/vast/expression.hpp
  libvast/vast/detail/shutdown_stream_stage.hpp
  libvast/vast/fwd.hpp
  libvast/vast/partition_synopsis.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/meta_index.hpp
  libvast/vast/system/transformer.hpp
Labels: refactoring, bug

#2028 Simplify naming scheme in `type.fbs`
  libvast/src/type.cpp
  libvast/test/flatbuffer.cpp
  libvast/vast/fbs/type.fbs
Labels: refactoring

#2025 Allow computing a VAST type from an Arrow schema
  libvast/src/experimental_table_slice_builder.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/vast/experimental_table_slice_builder.hpp
  vast/integration/vast_integration_suite.yaml
Labels: enhancement

#2031 Dont warn for classes with defaulted virtual destructor
  .clang-tidy
Labels: maintenance

#2029 Use `arrow::MapType` to represent `vast::map` in arrow schema
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/test/experimental_table_slice.cpp
Labels: enhancement

#2023 Add FlatBuffers for `*_coder` and `bitmap_index`
  libvast/src/base.cpp
  libvast/src/ewah_bitmap.cpp
  libvast/src/null_bitmap.cpp
  libvast/src/wah_bitmap.cpp
  libvast/test/bitmap.cpp
  libvast/test/bitmap_index.cpp
  libvast/test/coder.cpp
  libvast/vast/base.hpp
  libvast/vast/bitmap_algorithms.hpp
  libvast/vast/bitmap_index.hpp
  libvast/vast/coder.hpp
  libvast/vast/concept/printable/vast/coder.hpp
  libvast/vast/fbs/coder.fbs
  libvast/vast/fwd.hpp
Labels: enhancement

#2032 Start the telemetry loop of the index correctly
  changelog/unreleased/bug-fixes/2032--index-telemetry.md
  libvast/src/system/index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/system/actors.hpp
Labels: bug

#2026 Create a dedicated function to shut down stream stages
  libvast/src/system/active_partition.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/vast/detail/shutdown_stream_stage.hpp
  libvast/vast/detail/specialization_of.hpp
Labels: refactoring, bug

#2034 Allow multiple independent calls to 'add_message_types()'
  libvast/src/detail/add_message_types.cpp
Labels: bug

#2037 Install native plugins static library
  cmake/VASTRegisterPlugin.cmake
  libvast/CMakeLists.txt
  libvast/test/CMakeLists.txt
  vast/CMakeLists.txt
Labels: bug

#2035 Prepare repository for VAST v1.0.0-rc1
  .dockerignore
  .github/workflows/vast.yaml
  CHANGELOG.md
  CMakeLists.txt
  Dockerfile
  RELEASING.md
  VERSIONING.md
  changelog/v1.0.0-rc1/bug-fixes/2032--index-telemetry.md
  changelog/v1.0.0-rc1/changes/2035.md
  changelog/v1.0.0-rc1/features/2000--project-transform.md
  changelog/v1.0.0-rc1/features/2004--json-omit-nulls.md
  changelog/v1.0.0-rc1/features/2014--select-transform.md
  changelog/v1.0.0-rc1/features/2019--import-time-meta-extractor.md
  cmake/VASTChangelog.cmake.in
  cmake/VASTConfig.cmake.in
  cmake/VASTRegisterPlugin.cmake
  cmake/VASTVersion.cmake
  cmake/VASTVersionFallback.cmake
  examples/plugins/analyzer/CMakeLists.txt
  examples/plugins/transform/CMakeLists.txt
  libvast/CMakeLists.txt
  nix/gitDescribe.nix
  nix/static-binary.sh
  plugins/broker/CHANGELOG.md
  plugins/broker/CMakeLists.txt
  plugins/broker/README.md
  plugins/pcap/CHANGELOG.md
  plugins/pcap/CMakeLists.txt
  plugins/pcap/README.md
  scripts/prepare-release
Labels: maintenance

#2038 Use Arrow extension type to represent enums in experimental table slices
  libvast/src/arrow_extension_types.cpp
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/src/system/configuration.cpp
  libvast/test/arrow_extension_types.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/vast/arrow_extension_types.hpp
  libvast/vast/fbs/table_slice.fbs
  libvast_test/src/main.cpp
  vast/integration/data/json/all-types.json
  vast/integration/misc/schema/all-types.schema
  vast/integration/reference/arrow-full-data-model-experimental/step_01.ref
  vast/integration/reference/arrow-full-data-model/step_01.ref
  vast/integration/vast_integration_suite.yaml
Labels: enhancement, blocked

#2046 Create intermediate dirs for db-directory and respect schema-dirs in bare mode
  changelog/unreleased/bug-fixes/2046--schema-dirs-db-directory.md
  libvast/src/schema.cpp
  libvast/src/system/spawn_node.cpp
Labels: bug

#2048 Prepare repository for VAST v1.0.0-rc2
  CHANGELOG.md
  changelog/v1.0.0-rc2/bug-fixes/2032--index-telemetry.md
  changelog/v1.0.0-rc2/bug-fixes/2046.md
  changelog/v1.0.0-rc2/changes/2033.md
  changelog/v1.0.0-rc2/changes/2035.md
  changelog/v1.0.0-rc2/features/2000--project-transform.md
  changelog/v1.0.0-rc2/features/2004--json-omit-nulls.md
  changelog/v1.0.0-rc2/features/2014--select-transform.md
  changelog/v1.0.0-rc2/features/2019--import-time-meta-extractor.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance

#2049 Correctly set release tag for Docker builds
  .github/workflows/vast.yaml
  CHANGELOG.md
  changelog/v1.0.0-rc3/bug-fixes/2032--index-telemetry.md
  changelog/v1.0.0-rc3/bug-fixes/2046.md
  changelog/v1.0.0-rc3/changes/2033.md
  changelog/v1.0.0-rc3/changes/2035.md
  changelog/v1.0.0-rc3/features/2000--project-transform.md
  changelog/v1.0.0-rc3/features/2004--json-omit-nulls.md
  changelog/v1.0.0-rc3/features/2014--select-transform.md
  changelog/v1.0.0-rc3/features/2019--import-time-meta-extractor.md
  cmake/VASTVersionFallback.cmake
Labels: maintenance, bug

#2050 Prepare repository for VAST v1.0.0
  CHANGELOG.md
  changelog/v1.0.0/bug-fixes/2032--index-telemetry.md
  changelog/v1.0.0/bug-fixes/2046.md
  changelog/v1.0.0/changes/2033.md
  changelog/v1.0.0/changes/2035.md
  changelog/v1.0.0/features/2000--project-transform.md
  changelog/v1.0.0/features/2004--json-omit-nulls.md
  changelog/v1.0.0/features/2014--select-transform.md
  changelog/v1.0.0/features/2019--import-time-meta-extractor.md
  cmake/VASTVersionFallback.cmake
  pyvast/setup.py
  scripts/prepare-release
Labels: maintenance

#2045 Use an extension type to represent VAST pattern types in Arrow
  libvast/src/arrow_extension_types.cpp
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/test/arrow_extension_types.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/vast/arrow_extension_types.hpp
Labels: enhancement, blocked

#2007 Rebuild older Arrow table slices in `as_record_batch`
  libvast/src/format/arrow.cpp
  libvast/src/table_slice.cpp
  libvast/src/transform.cpp
  libvast/src/transform_steps/select.cpp
  libvast/test/arrow_table_slice.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/test/transform.cpp
  libvast/vast/table_slice.hpp
Labels: bug

#2055 Improve the message when config file not found
  libvast/src/system/configuration.cpp
Labels: enhancement

#2039 Use an extension type to represent VAST address types in Arrow
  libvast/src/arrow_extension_types.cpp
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/test/arrow_extension_types.cpp
  libvast/vast/arrow_extension_types.hpp
  vast/integration/reference/arrow-experimental/step_01.ref
  vast/integration/reference/arrow-experimental/step_03.ref
  vast/integration/reference/arrow-full-data-model-experimental/step_01.ref
Labels: enhancement

#2044 Implement support for aggregate transforms
  examples/plugins/transform/tests/transform_plugin.cpp
  examples/plugins/transform/transform_plugin.cpp
  libvast/CMakeLists.txt
  libvast/src/system/exporter.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/transformer.cpp
  libvast/src/transform.cpp
  libvast/src/transform_steps/count.cpp
  libvast/test/transform.cpp
  libvast/vast/system/partition_transformer.hpp
  libvast/vast/transform.hpp
  libvast/vast/transform_step.hpp
  libvast/vast/transform_steps/count.hpp
  libvast_test/vast/test/test.hpp
  vast/integration/reference/aggregate-transforms-negative-cases/step_00.ref
  vast/integration/reference/aggregate-transforms-negative-cases/step_01.ref
  vast/integration/reference/aggregate-transforms-negative-cases/step_03.ref
  vast/integration/vast-aggregate.yaml
  vast/integration/vast_integration_suite.yaml
Labels: enhancement

#2042 Represent VAST subnet as arrow extension type
  libvast/src/arrow_extension_types.cpp
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/test/arrow_extension_types.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/vast/arrow_extension_types.hpp
  vast/integration/reference/arrow-full-data-model-experimental/step_01.ref
Labels: enhancement
