Repository tenzir/tenzir, pull requests merged in 2022-02, with the labels that each got.

#2060 Do not pin actions to master and use v0 instead
  .github/workflows/vast.yaml
Labels: maintenance

#2030 Add FlatBuffers for `value_index`
  libvast/src/index/address_index.cpp
  libvast/src/index/enumeration_index.cpp
  libvast/src/index/list_index.cpp
  libvast/src/index/string_index.cpp
  libvast/src/index/subnet_index.cpp
  libvast/src/value_index.cpp
  libvast/test/index/address_index.cpp
  libvast/test/index/hash_index.cpp
  libvast/test/index/string_index.cpp
  libvast/test/value_index.cpp
  libvast/vast/coder.hpp
  libvast/vast/fbs/value_index.fbs
  libvast/vast/fwd.hpp
  libvast/vast/index/address_index.hpp
  libvast/vast/index/arithmetic_index.hpp
  libvast/vast/index/enumeration_index.hpp
  libvast/vast/index/hash_index.hpp
  libvast/vast/index/list_index.hpp
  libvast/vast/index/string_index.hpp
  libvast/vast/index/subnet_index.hpp
  libvast/vast/value_index.hpp
Labels: enhancement

#2047 VAST type names and attributes to Arrow mapping
  libvast/src/experimental_table_slice_builder.cpp
  libvast/src/type.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/test/type.cpp
  libvast/vast/experimental_table_slice_builder.hpp
  libvast/vast/type.hpp
  vast/integration/misc/schema/all-types.schema
  vast/integration/reference/arrow-experimental/step_01.ref
  vast/integration/reference/arrow-experimental/step_03.ref
  vast/integration/reference/arrow-full-data-model-experimental/step_01.ref
  vast/integration/reference/arrow-full-data-model/step_01.ref
Labels: enhancement

#2040 Fix record batch lifetime sharing
  libvast/src/arrow_table_slice.cpp
  libvast/src/chunk.cpp
  libvast/src/experimental_table_slice.cpp
  libvast/src/table_slice.cpp
  libvast/src/transform.cpp
  libvast/vast/chunk.hpp
  libvast/vast/fwd.hpp
Labels: bug

#2061 Add new index configuration
  libvast/test/convertible.cpp
  libvast/test/index_config.cpp
  libvast/vast/concept/convertible/data.hpp
  libvast/vast/index_config.hpp
Labels: enhancement

#2070 Make room for next-gen partition FlatBuffers table
  libvast/src/partition_synopsis.cpp
  libvast/src/synopsis.cpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/passive_partition.cpp
  libvast/src/uuid.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/vast/fbs/index.fbs
  libvast/vast/fbs/partition.fbs
  libvast/vast/fbs/partition_synopsis.fbs
  libvast/vast/fbs/segment.fbs
  libvast/vast/fbs/synopsis.fbs
  libvast/vast/fbs/uuid.fbs
  libvast/vast/fbs/value_index.fbs
  libvast/vast/partition_synopsis.hpp
  libvast/vast/synopsis.hpp
  libvast/vast/system/passive_partition.hpp
  libvast/vast/uuid.hpp
  tools/lsvast/src/print_partition.cpp
  tools/lsvast/src/util.hpp
Labels: refactoring

#2071 Verify Arrow List<Struct<...>> assumptions via test
  libvast/test/experimental_table_slice.cpp
Labels: enhancement

#2069 Preserve nesting in arrow schema
  libvast/src/arrow_extension_types.cpp
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/test/format/arrow.cpp
  libvast/vast/arrow_extension_types.hpp
  libvast/vast/experimental_table_slice.hpp
  libvast/vast/experimental_table_slice_builder.hpp
  libvast/vast/fbs/table_slice.fbs
  vast/integration/misc/schema/all-types.schema
  vast/integration/reference/arrow-experimental/step_03.ref
  vast/integration/reference/arrow-full-data-model-experimental/step_01.ref
  vast/integration/reference/arrow-full-data-model/step_01.ref
Labels: enhancement

#2077 Merge experimental table slice into `arrow_table_slice`
  libvast/src/arrow_table_slice.cpp
  libvast/src/experimental_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  libvast/src/table_slice.cpp
  libvast/src/table_slice_builder_factory.cpp
  libvast/test/experimental_table_slice.cpp
  libvast/vast/arrow_table_slice.hpp
  libvast/vast/experimental_table_slice.hpp
  libvast/vast/fwd.hpp
  libvast/vast/table_slice.hpp
Labels: refactoring

#2082 Projection transform step should not skip slices where no columns are matched
  changelog/unreleased/changes/2082--projection-transform-step
  libvast/src/transform_steps/project.cpp
  libvast/test/transform.cpp
Labels: bug

#2081 Table slice filter and select operations drop the import timestamp
  libvast/src/table_slice.cpp
  libvast/test/table_slice.cpp
Labels: bug

#2076 Implement a generic aggregation transform step
  .github/workflows/vast.yaml
  Dockerfile
  changelog/unreleased/features/2076--new-transforms.md
  libvast/CMakeLists.txt
  libvast/src/transform_steps/rename.cpp
  libvast/src/transform_steps/replace.cpp
  libvast/vast/detail/vector_map.hpp
  libvast/vast/plugin.hpp
  nix/static-binary.sh
  plugins/aggregate/CHANGELOG.md
  plugins/aggregate/CMakeLists.txt
  plugins/aggregate/README.md
  plugins/aggregate/aggregate.cpp
  plugins/aggregate/tests/aggregate.cpp
Labels: feature

#2083 Successive transform steps in a transform must not check the layout name
  libvast/src/transform.cpp
  libvast/test/transform.cpp
  libvast/vast/transform.hpp
Labels: bug

#2085 Implement "non-replacing" partition transforms
  libvast/src/system/index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/fwd.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
Labels: enhancement

#2086 Improve name lookup in meta index to reduce FPs
  changelog/unreleased/bug-fixes/2086--slow-queries.md
  libvast/src/system/meta_index.cpp
  libvast/test/partition_roundtrip.cpp
Labels: bug

#2091 Fix potential segfault with invalid transforms configuration
  libvast/src/system/make_transforms.cpp
  libvast/vast/system/make_transforms.hpp
Labels: bug

#2089 Add a VAST.spdx SBOM file
  .github/workflows/vast.yaml
  CMakeLists.txt
  Dockerfile
  LICENSE.3rdparty
  VAST.spdx
Labels: enhancement

#2095 Notify the type registry about transformed partitions
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/src/system/spawn_index.cpp
  libvast/src/system/type_registry.cpp
  libvast/test/system/counter.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/index.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/partition_transformer.hpp
Labels: bug

#2099 Prefer CAF at `CAF_ROOT_DIR` over system CAF
  cmake/FindCAF.cmake
  cmake/VASTConfig.cmake.in
Labels: bug

#2101 Optimize aggregate for single-row buckets
  plugins/aggregate/aggregate.cpp
Labels: enhancement

#2097 Adjust index statistics for partition transforms
  libvast/src/system/index.cpp
  libvast/src/system/partition_transformer.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/partition_transformer.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/detail/heterogenous_string_hash.hpp
  libvast/vast/fwd.hpp
  libvast/vast/index_statistics.hpp
  libvast/vast/partition_synopsis.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/partition_transformer.hpp
Labels: bug

#2105 Switch the order of columns in the subnet struct
  libvast/src/arrow_extension_types.cpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/experimental_table_slice_builder.cpp
  vast/integration/reference/arrow-full-data-model-experimental/step_01.ref
Labels: bug

#2104 Massively improve aggregate performance
  libvast/src/experimental_table_slice_builder.cpp
  libvast/vast/arrow_extension_types.hpp
  plugins/aggregate/aggregate.cpp
Labels: performance

#2103 Send initial db state to new partition creation listeners
  changelog/unreleased/bug-fixes/2097--adjust-index-statistics-for-partition-transforms.md
  changelog/unreleased/bug-fixes/2103--move-after-use.md
  changelog/unreleased/features/2103--send-initial-dbstate.md
  libvast/src/system/index.cpp
  libvast/src/system/meta_index.cpp
  libvast/test/system/eraser.cpp
  libvast/test/system/query_processor.cpp
  libvast/vast/fwd.hpp
  libvast/vast/system/actors.hpp
  libvast/vast/system/index.hpp
  libvast/vast/system/meta_index.hpp
Labels: performance, bug

#2107 Prepare repository for VAST v1.1.0-rc2
  CHANGELOG.md
  changelog/v1.1.0-rc2/bug-fixes/2086.md
  changelog/v1.1.0-rc2/bug-fixes/2092.md
  changelog/v1.1.0-rc2/bug-fixes/2097.md
  changelog/v1.1.0-rc2/bug-fixes/2103.md
  changelog/v1.1.0-rc2/changes/2074.md
  changelog/v1.1.0-rc2/changes/2087.md
  changelog/v1.1.0-rc2/features/2064-2082.md
  changelog/v1.1.0-rc2/features/2074.md
  changelog/v1.1.0-rc2/features/2076.md
  changelog/v1.1.0-rc2/features/2103.md
  cmake/VASTVersionFallback.cmake
  nix/vast/default.nix
Labels: maintenance

#2109 Remove unrelated field in aggregate plugin example
  plugins/aggregate/README.md
Labels: bug

#2118 Fix the --retry option in the integration testing tool
  vast/integration/integration.py
Labels: bug

#2119 Log actor names together with the unique actor ID
  changelog/unreleased/changes/2119--log-actors-with-id.md
  libvast/vast/detail/logger_formatters.hpp
Labels: enhancement
