Repository tenzir/tenzir, pull requests merged in 2023-06, with the labels that each got.

#3188 Fix reconnect attempts for remote pipelines
  changelog/next/bug-fixes/3188--exec-connect-attempts.md
  libvast/include/vast/system/connect_to_node.hpp
  libvast/src/system/connector.cpp
Labels: bug

#3165 Try casting values to match builder type
  libvast/builtins/formats/json.cpp
  libvast/include/vast/cast.hpp
  libvast/include/vast/detail/series_builders.hpp
  libvast/src/detail/series_builders.cpp
  libvast/test/cast.cpp
  vast/integration/reference/read-from-suricata-file/step_00.ref
  vast/integration/reference/read-from-zeek-json-file/step_00.ref
  vast/integration/vast_integration_suite.yaml
Labels: feature

#3109 Migrate the Nix build to a reusable workflow
  .github/workflows/docker-manual.yaml
  .github/workflows/nix-config-base.json
  .github/workflows/nix-manual.yaml
  .github/workflows/nix.nu
  .github/workflows/nix.yaml
  .github/workflows/vast.yaml
  flake.nix
  nix/overlay.nix
  nix/vast/plugins/source.json
Labels: maintenance, enhancement

#3184 Add the pipeline manager to the vast-plugins CI matrix
  .github/workflows/vast.yaml
Labels: maintenance

#3187 Introduce the `tenzir` and `tenzird` binaries
  changelog/next/breaking-changes/3187--vast-to-tenzir.md
  cmake/VASTRegisterPlugin.cmake
  libvast/src/application.cpp
  libvast/src/start_command.cpp
  nix/module.nix
  nix/vast/default.nix
  vast/CMakeLists.txt
  vast/integration/integration.py
  vast/services/systemd/vast.service.in
  vast/tenzir.cpp
Labels: feature

#3192 Remove `Dockerfile.extra`
  .github/workflows/docker-config-base.json
  .github/workflows/docker-manual.yaml
  .github/workflows/docker.yaml
  Dockerfile
  Dockerfile.extra
Labels: enhancement

#3190 Report adaptive table slice builder errors to the control plane
  libvast/builtins/formats/json.cpp
  libvast/builtins/formats/xsv.cpp
  libvast/builtins/operators/version.cpp
  libvast/include/vast/detail/adaptive_table_slice_builder_guards.hpp
  libvast/include/vast/detail/series_builders.hpp
  libvast/src/detail/adaptive_table_slice_builder_guards.cpp
  libvast/src/detail/series_builders.cpp
  libvast/test/adaptive_table_slice_builder.cpp
Labels: feature

#3197 Readjust new binary names
  cmake/VASTRegisterPlugin.cmake
  libvast/src/application.cpp
  libvast/src/start_command.cpp
  nix/module.nix
  nix/vast/default.nix
  vast/CMakeLists.txt
  vast/services/systemd/vast.service.in
  web/docs/setup/configure.md
  web/docs/setup/deploy/aws.md
  web/docs/setup/monitor.md
  web/docs/setup/tune.md
  web/docs/try/process-argus-flow-logs.md
  web/docs/try/quickstart.md
  web/docs/understand/frontends/sigma.md
  web/docs/understand/operators/modifier.md
  web/docs/understand/operators/sinks/import.md
  web/docs/use/detect/cloud-matchers.md
  web/docs/use/detect/execute-sigma-rules.md
  web/docs/use/detect/match-threat-intel.md
  web/docs/use/export/README.md
  web/docs/use/import/README.md
  web/docs/use/integrate/rest-api/README.md
  web/docs/use/introspect/README.md
  web/docs/use/run/README.md
  web/docs/use/transform/README.md
Labels: enhancement

#3199 Update plugin documentation
  web/docs/develop/architecture/plugin-types.excalidraw.svg
  web/docs/develop/architecture/plugins.md
Labels: enhancement

#3198 Remove cloud documentation
  web/docs/develop/architecture/cloud/_category_.yml
  web/docs/develop/architecture/cloud/aws-containers.excalidraw.svg
  web/docs/develop/architecture/cloud/aws-networks.excalidraw.svg
  web/docs/develop/architecture/cloud/aws.md
  web/docs/setup/deploy/README.md
  web/docs/setup/deploy/aws-architecture.excalidraw.svg
  web/docs/setup/deploy/aws-pro.md
  web/docs/setup/deploy/aws.md
  web/docs/use/detect/cloud-matchers.md
Labels: enhancement

#3193 Implement an `export` pipeline operator
  changelog/next/features/3128-3173-3193--import-operator.md
  libvast/builtins/operators/export.cpp
  libvast/builtins/operators/where.cpp
  libvast/include/vast/pipeline.hpp
  libvast/src/node.cpp
  libvast/src/pipeline.cpp
  libvast/src/pipeline_executor.cpp
  libvast/test/pipeline.cpp
  vast/integration/reference/export-in-pipeline/step_00.ref
  vast/integration/reference/export-in-pipeline/step_01.ref
  vast/integration/reference/export-in-pipeline/step_02.ref
  vast/integration/reference/export-in-pipeline/step_03.ref
  vast/integration/reference/export-in-pipeline/step_04.ref
  vast/integration/reference/export-in-pipeline/step_05.ref
  vast/integration/reference/export-in-pipeline/step_06.ref
  vast/integration/reference/export-in-pipeline/step_07.ref
  vast/integration/reference/export-in-pipeline/step_08.ref
  vast/integration/reference/export-in-pipeline/step_09.ref
  vast/integration/reference/export-in-pipeline/step_10.ref
  vast/integration/reference/export-in-pipeline/step_11.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/understand/operators/sinks/import.md
  web/docs/understand/operators/sources/export.md
Labels: feature

#3201 Fix construction of list guard when created from known type field
  libvast/src/adaptive_table_slice_builder.cpp
  libvast/src/detail/adaptive_table_slice_builder_guards.cpp
  libvast/src/table_slice.cpp
  libvast/test/adaptive_table_slice_builder.cpp
Labels: bug

#3205 Remove thread limit for tenzir and tenzir-node processes
  vast/tenzir.cpp
Labels: enhancement

#3207 Fix shutdown of sources and importer
  changelog/next/bug-fixes/3207--importer-and-source-shutdown.md
  libvast/include/vast/detail/shutdown_stream_stage.hpp
  libvast/src/active_partition.cpp
  libvast/src/importer.cpp
  libvast/src/index.cpp
Labels: bug

#3206 A collection of CI fixes
  .github/workflows/docker-manual.yaml
  .github/workflows/nix-manual.yaml
  .github/workflows/vast.yaml
Labels: bug

#3200 Update vast invocations for demo node
  demo-node/entrypoint.bash
Labels: refactoring

#3210 Support `TENZIR_*` environment variables
  libvast/src/configuration.cpp
Labels: enhancement

#3208 Change Arrow extension type and metadata prefixes
  changelog/next/changes/3208--arrow-prefix.md
  libvast/include/vast/type.hpp
  libvast/src/format/arrow.cpp
  libvast/src/type.cpp
  plugins/parquet/parquet.cpp
  python/pyvast/utils/arrow.py
  python/tests/test_convert.py
  python/tests/test_utils_arrow.py
  vast/integration/misc/scripts/print-arrow-batch-size.py
  vast/integration/reference/arrow-export/step_01.ref
  vast/integration/reference/arrow-export/step_03.ref
  vast/integration/reference/arrow-full-data-model/step_01.ref
  vast/integration/reference/arrow-import/step_01.ref
  vast/integration/reference/arrow-import/step_02.ref
Labels: enhancement

#3212 Rename default database directory to `tenzir.db`
  .gitignore
  changelog/next/changes/3212--renamed-db-dir.md
  libvast/include/vast/defaults.hpp
  vast.yaml.example
  vast/integration/integration.py
Labels: enhancement

#3214 Remove language frontends and rewrite Sigma usage
  web/docs/language.md
  web/docs/language/frontends/README.md
  web/docs/language/frontends/_category_.yml
  web/docs/language/frontends/sigma.md
  web/docs/language/frontends/tenzir.md
  web/docs/language/operator-overview.excalidraw.svg
  web/docs/language/pipelines.md
  web/docs/operators/transformations/sigma.md
  web/docs/use/detect/execute-sigma-rules.md
  web/docs/user-guides/execute-sigma-rules/README.md
  web/docs/user-guides/execute-sigma-rules/sigma-execution.excalidraw.svg
Labels: enhancement

#3218 Update AWS role for infra access from CI
  .github/workflows/docker.yaml
  .github/workflows/nix.yaml
  .github/workflows/vast.yaml
Labels: maintenance

#3224 Use the vars context to access org level variables
  .github/workflows/vast.yaml
Labels: bug

#3203 Rename package artifacts from vast to tenzir
  .github/workflows/docker-config-base.json
  .github/workflows/docker-manual.yaml
  .github/workflows/docker.yaml
  .github/workflows/nix-config-base.json
  .github/workflows/nix-manual.yaml
  .github/workflows/nix.yaml
  .github/workflows/vast.yaml
  CMakeLists.txt
  Dockerfile
  ansible/roles/tenzir/tasks/debian.yaml
  ansible/roles/tenzir/tasks/main.yaml
  ansible/roles/tenzir/tasks/static.yaml
  ansible/roles/tenzir/tasks/tenzir-service-overrides.conf.j2
  ansible/roles/tenzir/tenzir.service
  ansible/test/README.md
  ansible/test/example-playbook.yaml
  ansible/test/inventory.ini
  ansible/test/roles
  ansible/test/tenzir.yaml
  changelog/next/breaking-changes/3203--vast-to-tenzir-migration.md
  cmake/VASTPackage.cmake
  flake.nix
  libvast/src/configuration.cpp
  libvast/src/detail/installdirs.cpp.in
  libvast/src/detail/installdirs_relocatable.cpp.in
  nix/module.nix
  nix/overlay.nix
  nix/vast/default.nix
  scripts/debian/postinst
  scripts/debian/postrm
  scripts/debian/prerm
  tenzir.yaml.example
  vast/CMakeLists.txt
  vast/integration/tenzir.yaml.example
  vast/integration/vast.yaml.example
  vast/integration/vast_integration_suite.yaml
  vast/services/launchd/com.tenzir.tenzir.plist.in
  vast/services/rc.d/tenzir.in
  vast/services/rc.d/vast.in
  vast/services/systemd/tenzir.service.in
  web/docs/configuration.md
  web/docs/contribute/build-environment.md
  web/docs/get-started.md
Labels: refactoring

#3228 Adjust CI to use the new tenzir/tenzir images
  .github/workflows/nix.yaml
  .github/workflows/vast.yaml
  docker/compose/quarto.vast.yaml
  docker/compose/quarto.yaml
  docker/compose/thehive.app.yaml
  docker/compose/thehive.vast.yaml
  docker/compose/thehive.yaml
  docker/compose/vast.yaml
  docker/dev/Dockerfile
  docker/quarto/Dockerfile
  docker/thehive/cortex/local-analyzers.json
  docker/thehive/vast-cortex-neuron/Dockerfile
  scripts/regression-tests.sh
Labels: bug

#3230 Make `load` and `save` implicitly detached
  libvast/builtins/operators/load.cpp
  libvast/builtins/operators/save.cpp
  libvast/builtins/operators/write_to.cpp
Labels: enhancement

#3220 Try casting builders/fields to a common type (no list/record conversions)
  libvast/include/vast/cast.hpp
  libvast/include/vast/detail/series_builders.hpp
  libvast/include/vast/detail/type_list.hpp
  libvast/test/adaptive_table_slice_builder.cpp
  libvast/test/cast.cpp
  libvast/test/detail/type_list.cpp
  vast/integration/data/json/double-to-duration-cast.json
  vast/integration/data/json/type-mismatch.json
  vast/integration/reference/read-from-suricata-file/step_00.ref
  vast/integration/reference/type-mismatch-in-a-column/step_00.ref
  vast/integration/reference/use-schema-time-unit-when-converting-from-a-double-to-a-duration/step_00.ref
  vast/integration/vast_integration_suite.yaml
Labels: feature

#3232 Temporarily disable macOS jobs in CI
  .github/workflows/vast.yaml
Labels: maintenance

#3235 Continue instead of incrementing generator iterator during zeek-tsv parsing
  libvast/builtins/formats/zeek_tsv.cpp
Labels: bug

#3234 The dockerhub username is not a secret
  .github/workflows/docker.yaml
  .github/workflows/nix.yaml
Labels: maintenance

#3233 More docs adjustments
  web/blog/vast-to-tenzir/index.md
  web/docs/get-started.md
  web/docs/user-guides/reshape-data/README.md
  web/docs/why-tenzir.md
  web/docusaurus.config.js
  web/src/components/HomepageFeatures/index.tsx
  web/src/components/HomepageFeatures/styles.module.css
  web/src/pages/index.module.css
  web/src/pages/index.tsx
  web/src/pages/vast-and-tenzir.md
  web/static/img/blog/vast-to-tenzir.excalidraw.svg
  web/static/img/engine.svg
  web/static/img/explore.svg
  web/static/img/security-content.svg
  web/static/img/tenzir-black.svg
  web/static/img/tenzir-logo-black.svg
  web/static/img/tenzir-logo-white.svg
  web/static/img/tenzir-white.svg
Labels: enhancement

#3237 Prevent a memory leak from disabled plugins
  libvast/include/vast/plugin.hpp
  libvast/src/plugin.cpp
Labels: bug

#3239 Fix build on macOS
  libvast/src/index.cpp
Labels: bug

#3236 Last episode of renaming pre announcement
  web/blog/apache-arrow-as-platform-for-security-data-engineering/index.md
  web/blog/from-slack-to-discord/index.md
  web/blog/parquet-and-feather-data-engineering-woes/index.md
  web/blog/parquet-and-feather-enabling-open-investigations/index.md
  web/blog/richer-typing-in-sigma/index.md
  web/blog/the-new-rest-api/index.md
  web/blog/vast-to-tenzir/index.md
  web/blog/vast-v1.0/index.md
  web/blog/vast-v1.1/index.md
  web/blog/vast-v2.0/index.md
  web/blog/vast-v2.1/index.md
  web/blog/vast-v2.2/index.md
  web/blog/vast-v2.3.1/index.md
  web/blog/vast-v2.4.1/index.md
  web/blog/vast-v2.4/index.md
  web/blog/vast-v3.0/index.md
  web/blog/vast-v3.1/index.md
  web/docs/user-guides/run-a-pipeline.md
  web/docusaurus.config.js
  web/package.json
  web/presets/CommercialPlugin.md
  web/src/css/custom.scss
  web/src/pages/docs.tsx
  web/src/pages/index.mdx
  web/src/pages/index.module.css
  web/src/pages/index.tsx
  web/static/img/favicon.ico
  web/versioned_docs/version-VAST v3.0/use/integrate/threatbus/understand/plugins/apps/zmq.md
  web/versioned_docs/version-VAST v3.1/use/integrate/threatbus/understand/plugins/apps/zmq.md
  web/yarn.lock
Labels: enhancement

#3247 Update google storage bucket names in demo node entrypoint
  demo-node/entrypoint.bash
Labels: bug

#3249 Rename docs building in CI
  .github/workflows/vast.yaml
Labels: enhancement

#3238 Accept 'tenzir' as top-level config section
  libvast/src/configuration.cpp
Labels: enhancement

#3231 Implement '--disable-timestamp-tags' long-form parameter for zeek-tsv printer
  libvast/builtins/formats/zeek_tsv.cpp
  vast/integration/vast_integration_suite.yaml
  web/docs/formats/zeek-tsv.md
Labels: feature

#3251 Forcibly reduce verbosity of import processes in demo node
  demo-node/entrypoint.bash
Labels: maintenance

#3176 Implement `top` and `rare`
  changelog/next/features/3176--top-and-rare-operator.md
  libvast/builtins/operators/top_rare.cpp
  vast/integration/reference/sort-with-remote-operators/step_00.ref
  vast/integration/reference/sort-with-remote-operators/step_01.ref
  vast/integration/reference/sort-with-remote-operators/step_02.ref
  vast/integration/reference/top-and-rare-operators/step_00.ref
  vast/integration/reference/top-and-rare-operators/step_01.ref
  vast/integration/reference/top-and-rare-operators/step_02.ref
  vast/integration/reference/top-and-rare-operators/step_03.ref
  vast/integration/reference/top-and-rare-operators/step_04.ref
  vast/integration/reference/top-and-rare-operators/step_05.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/operators/transformations/rare.md
  web/docs/operators/transformations/top.md
Labels: feature

#3248 Add installer shell script
  scripts/install.sh
  web/docs/get-started.md
Labels: enhancement

#3252 Fix JSON parser --no-infer option
  libvast/builtins/connectors/directory.cpp
  libvast/builtins/connectors/file.cpp
  libvast/builtins/formats/cef.cpp
  libvast/builtins/formats/json.cpp
  libvast/builtins/formats/xsv.cpp
  libvast/builtins/formats/zeek_tsv.cpp
  libvast/builtins/operators/from_read_load_parse.cpp
  libvast/builtins/operators/head.cpp
  libvast/builtins/operators/version.cpp
  libvast/builtins/operators/where.cpp
  libvast/builtins/operators/write_to_print_save.cpp
  libvast/src/detail/series_builders.cpp
  libvast/src/tql/parser.cpp
  libvast/test/adaptive_table_slice_builder.cpp
  vast/integration/data/suricata/dns-with-no-schema-column.json
  vast/integration/reference/parse-operators/step_02.ref
  vast/integration/reference/parse-operators/step_03.ref
  vast/integration/reference/parse-operators/step_04.ref
  vast/integration/reference/skip-columns-that-are-not-in-the-schema-for-suricata-input-with-no-infer-option/step_00.ref
  vast/integration/vast_integration_suite.yaml
Labels: bug

#3259 Adjust Plausible website tracking
  web/README.md
  web/blog/from-slack-to-discord/index.md
  web/docusaurus.config.js
  web/src/pages/privacy-statement.md
Labels: enhancement

#3250 Change `summarize` to operate across schemas
  changelog/next/breaking-changes/3250--improve-summarize.md
  changelog/next/features/3250--improve-summarize.md
  libvast/builtins/operators/summarize.cpp
  libvast/include/vast/aggregation_function.hpp
  libvast/include/vast/concept/parseable/vast/pipeline.hpp
  libvast/include/vast/pipeline.hpp
  libvast/test/pipeline.cpp
  vast/integration/reference/export-pipeline-operator-parsing-only-summarize/step_02.ref
  vast/integration/reference/export-pipeline-operator-parsing-only-summarize/step_03.ref
  vast/integration/reference/sort-with-remote-operators/step_03.ref
  vast/integration/reference/summarize-all-none-some/step_00.ref
  vast/integration/reference/summarize-all-none-some/step_01.ref
  vast/integration/reference/summarize-all-none-some/step_02.ref
  vast/integration/reference/summarize-all-none-some/step_03.ref
  vast/integration/reference/summarize-all-none-some/step_04.ref
  vast/integration/reference/summarize-all-none-some/step_05.ref
  vast/integration/reference/summarize-all-none-some/step_06.ref
  vast/integration/reference/summarize-all-none-some/step_07.ref
  vast/integration/reference/summarize-all-none-some/step_08.ref
  vast/integration/reference/summarize-all-none-some/step_09.ref
  vast/integration/reference/summarize-all-none-some/step_10.ref
  vast/integration/reference/summarize-all-none-some/step_11.ref
  vast/integration/reference/top-and-rare-operators/step_06.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/operators/transformations/summarize.md
Labels: feature, enhancement

#3254 Introduce ndjson mode for json parser
  libvast/builtins/formats/json.cpp
  libvast/include/vast/to_lines.hpp
  libvast/test/json_parser.cpp
  vast/integration/reference/parse-operators/step_05.ref
  web/docs/formats/json.md
  web/docs/formats/suricata.md
  web/docs/formats/zeek-json.md
Labels: feature

#3261 Fix target symlinks for non-relocatable builds
  vast/CMakeLists.txt
Labels: bug

#3262 Update README and add migration blog
  README.md
  web/blog/migrating-from-vast-to-tenzir/index.md
  web/blog/migrating-from-vast-to-tenzir/vast-to-tenzir.excalidraw.svg
  web/blog/vast-to-tenzir/index.md
  web/docusaurus.config.js
Labels: enhancement

#3270 Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#3275 Remove double-wrapping of error response in serve endpoint
  libvast/builtins/operators/serve.cpp
Labels: enhancement

#3276 Only print startup message for non-native plugins
  libvast/src/plugin.cpp
Labels: enhancement

#3278 Update the release prep script for the Tenzir name
  .github/workflows/vast.yaml
  scripts/prepare-release
Labels: maintenance

#3272 Add `--dump-diagnostics` and enable it for all `exec` tests
  libvast/builtins/commands/exec.cpp
  vast/integration/integration.py
  vast/integration/reference/comments/step_03.ref
  vast/integration/reference/parse-operators/step_02.ref
  vast/integration/reference/parse-operators/step_03.ref
  vast/integration/reference/parse-operators/step_04.ref
  vast/integration/reference/sort-with-remote-operators/step_03.ref
  vast/integration/reference/summarize-all-none-some/step_01.ref
  vast/integration/reference/summarize-all-none-some/step_02.ref
  vast/integration/reference/summarize-all-none-some/step_03.ref
  vast/integration/reference/summarize-all-none-some/step_04.ref
  vast/integration/reference/summarize-all-none-some/step_05.ref
  vast/integration/reference/summarize-all-none-some/step_06.ref
  vast/integration/reference/summarize-all-none-some/step_07.ref
  vast/integration/reference/summarize-all-none-some/step_08.ref
  vast/integration/reference/summarize-all-none-some/step_10.ref
  vast/integration/reference/summarize-all-none-some/step_11.ref
  vast/integration/reference/top-and-rare-operators/step_06.ref
  vast/integration/reference/top-and-rare-operators/step_07.ref
  vast/integration/reference/top-and-rare-operators/step_08.ref
  vast/integration/reference/top-and-rare-operators/step_09.ref
  vast/integration/reference/top-and-rare-operators/step_10.ref
  vast/integration/reference/top-and-rare-operators/step_11.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_08.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_09.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_10.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_11.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_12.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_13.ref
  vast/integration/vast.yaml
  vast/integration/vast_integration_suite.yaml
Labels: enhancement, bug

#3281 Fix use-after-move in `exec.cpp`
  libvast/builtins/commands/exec.cpp
Labels: bug

#3108 Add a `flatten` operator
  changelog/next/features/3018--flatten-operator.md
  libvast/builtins/formats/xsv.cpp
  libvast/builtins/formats/zeek_tsv.cpp
  libvast/builtins/operators/flatten.cpp
  libvast/include/vast/arrow_table_slice.hpp
  libvast/include/vast/table_slice.hpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/table_slice.cpp
  libvast/test/arrow_table_slice.cpp
  vast/integration/reference/flatten-operator/step_00.ref
  vast/integration/reference/flatten-operator/step_01.ref
  vast/integration/reference/flatten-operator/step_02.ref
  vast/integration/reference/flatten-operator/step_03.ref
  vast/integration/reference/flatten-operator/step_04.ref
  vast/integration/reference/flatten-operator/step_05.ref
  vast/integration/reference/node-suricata-alert/step_05.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_02.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_03.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_04.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/operators/transformations/flatten.md
Labels: feature

#3260 Split schemas for events with selector field but no schema
  libvast/builtins/formats/json.cpp
  vast/integration/reference/read-from-zeek-json-file/step_00.ref
  vast/integration/reference/summarize-all-none-some/step_00.ref
  vast/integration/reference/summarize-all-none-some/step_01.ref
  vast/integration/reference/summarize-all-none-some/step_02.ref
  vast/integration/reference/summarize-all-none-some/step_03.ref
  vast/integration/reference/summarize-all-none-some/step_04.ref
  vast/integration/reference/summarize-all-none-some/step_05.ref
  vast/integration/reference/summarize-all-none-some/step_06.ref
  vast/integration/reference/summarize-all-none-some/step_07.ref
  vast/integration/reference/summarize-all-none-some/step_08.ref
  vast/integration/reference/summarize-all-none-some/step_09.ref
  vast/integration/reference/summarize-all-none-some/step_10.ref
  vast/integration/reference/summarize-all-none-some/step_11.ref
  vast/integration/vast_integration_suite.yaml
Labels: enhancement

#3282 Add a description to the release prep commit
  scripts/prepare-release
Labels: enhancement
