Repository tenzir/tenzir, pull requests merged in 2023-12, with the labels that each got.

#3664 Implement a TCP loader
  changelog/next/breaking-changes/3664--zmq-listen.md
  changelog/next/features/3664--tcp-connector.md
  libtenzir/builtins/connectors/tcp.cpp
  libtenzir/include/tenzir/atoms.hpp
  plugins/zmq/src/plugin.cpp
  scripts/debian/install-dev-dependencies.sh
  scripts/macOS/install-dev-dependencies.sh
  tenzir/functional-test/reference/tcp/test_connecting/step_00.ref
  tenzir/functional-test/reference/tcp/test_listening/step_00.ref
  tenzir/functional-test/tests/tcp.bats
  tenzir/integration/reference/parse-operators/step_14.ref
  tenzir/integration/reference/parse-operators/step_15.ref
  tenzir/integration/reference/parse-operators/step_19.ref
  web/docs/connectors/tcp.md
  web/docs/connectors/zmq.md
Labels: feature, connector

#3690 "URI" -> "URL" in docs and loader_saver_resolver.cpp
  changelog/next/features/3608--uri-loader.md
  changelog/next/features/3653--file-extension-loader.md
  libtenzir/src/detail/loader_saver_resolver.cpp
  web/docs/connectors.md
  web/docs/connectors/gcs.md
  web/docs/operators/sources/from.md
  web/docs/operators/sources/load.md
Labels: docs

#3689 Announce Tenzir v4.6
  web/blog/tenzir-v4.6/index.md
  web/blog/tenzir-v4.6/tenzir-v4.6-ingress-egress-changes.excalidraw.svg
  web/blog/tenzir-v4.6/tenzir-v4.6-url-expansion.excalidraw.svg
  web/blog/tenzir-v4.6/tenzir-v4.6.excalidraw.svg
Labels: maintenance, docs

#3677 Add `apply` operator
  changelog/next/features/3677--apply-operator.md
  libtenzir/builtins/operators/apply.cpp
  libtenzir/include/tenzir/configuration.hpp
  libtenzir/include/tenzir/tql/parser.hpp
  libtenzir/src/configuration.cpp
  libtenzir/src/diagnostics.cpp
  libtenzir/src/tql/parser.cpp
  tenzir/integration/queries/from_unknown_file.tql
  tenzir/integration/queries/some_source.tql
  tenzir/integration/reference/apply-operator/step_00.ref
  tenzir/integration/reference/apply-operator/step_01.ref
  tenzir/integration/reference/apply-operator/step_02.ref
  tenzir/integration/reference/apply-operator/step_03.ref
  tenzir/integration/tests.yaml
  web/docs/operators/apply.md
Labels: feature

#3693 Improve v4.6 release blog post
  web/blog/tenzir-v4.6/index.md
Labels: docs

#3696 Prepare repository for Tenzir v4.6.1
  python/pyproject.toml
  version.json
Labels: maintenance, ci

#3698 Prepare repository for Tenzir v4.6.2
  python/pyproject.toml
  version.json
Labels: maintenance

#3705 Fix debian package installation when a vast state directory exists
  Dockerfile
  ansible/roles/tenzir/tenzir-node.service
  changelog/next/bug-fixes/3705.md
  nix/overlay.nix
  scripts/debian/postinst
  tenzir/services/systemd/tenzir-node.service.in
Labels: bug

#3707 Prepare repository for Tenzir v4.6.3
  changelog/v4.6.3/bug-fixes/3705.md
  python/pyproject.toml
  version.json
Labels: maintenance, docs

#3715 Avoid throwing constructor in tcp operator
  libtenzir/builtins/connectors/tcp.cpp
Labels: bug

#3719 Fix yaml printer enums
  changelog/next/bug-fixes/3719--yaml-printer-enums.md
  libtenzir/builtins/formats/yaml.cpp
Labels: bug

#3718 Fix RFC3164 (legacy-syslog) parser expecting spaces after `<PRI>`
  changelog/next/bug-fixes/3718--legacy-syslog-pri-spaces.md
  libtenzir/include/tenzir/format/syslog.hpp
  tenzir/functional-test/data/syslog/syslog-rfc3164.log
  tenzir/integration/reference/syslog-format/step_01.ref
Labels: bug, format

#3720 Prepare repository for Tenzir v4.6.4
  changelog/v4.6.4/bug-fixes/3718.md
  changelog/v4.6.4/bug-fixes/3719.md
  changelog/v4.6.4/changes/3714.md
  changelog/v4.6.4/features/3713.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-Tenzir v4.6/metrics.md
Labels: maintenance

#3703 Implement the `slice` operator
  changelog/next/features/3703--slice-operator.md
  libtenzir/builtins/operators/head.cpp
  libtenzir/builtins/operators/slice.cpp
  libtenzir/builtins/operators/tail.cpp
  tenzir/integration/reference/parse-operators/step_07.ref
  tenzir/integration/reference/slice/step_00.ref
  tenzir/integration/reference/slice/step_01.ref
  tenzir/integration/reference/slice/step_02.ref
  tenzir/integration/reference/slice/step_03.ref
  tenzir/integration/reference/slice/step_04.ref
  tenzir/integration/reference/slice/step_05.ref
  tenzir/integration/reference/slice/step_06.ref
  tenzir/integration/reference/slice/step_07.ref
  tenzir/integration/reference/slice/step_08.ref
  tenzir/integration/reference/slice/step_09.ref
  tenzir/integration/tests.yaml
  web/docs/operators/transformations/head.md
  web/docs/operators/transformations/slice.md
  web/docs/operators/transformations/tail.md
Labels: feature, operator

#3723 Include UDOs in `show operators`
  changelog/next/features/3723--show-udos.md
  libtenzir/builtins/aspects/config.cpp
  libtenzir/builtins/aspects/operators.cpp
  libtenzir/include/tenzir/pipeline.hpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/pipeline.cpp
Labels: feature

#3725 Remove dead code for TheHive integration
  .github/workflows/tenzir.yaml
  python/poetry.lock
  python/pyproject.toml
  python/tenzir/apps/thehive.py
  web/docs/setup-guides/deploy-a-node/docker-compose.md
Labels: maintenance, docs

#3654 Update getting started docs and use cases
  web/docs/about/security-data-fabric.excalidraw.svg
  web/docs/about/soc-modern.excalidraw.svg
  web/docs/about/soc-traditional.excalidraw.svg
  web/docs/architecture/design-goals.md
  web/docs/faqs.md
  web/docs/get-started.md
  web/docs/glossary.md
  web/docs/how-does-it-work.excalidraw.svg
  web/docs/moving-parts.excalidraw.svg
  web/docs/setup-guides/deploy-a-node/README.md
  web/docs/setup-guides/setup-an-account.md
  web/docs/setup-guides/update-a-node.md
  web/docs/setup-guides/use-the-app/README.md
  web/docs/setup-guides/use-the-app/app-configurator.excalidraw.svg
  web/docs/setup-guides/use-the-app/app-explorer.excalidraw.svg
  web/docs/setup-guides/use-the-app/app-overview.excalidraw.svg
  web/docs/use-cases/build-a-security-data-lake.md
  web/docs/use-cases/connectors-formats-operators.excalidraw.svg
  web/docs/use-cases/create-a-security-data-fabric.md
  web/docs/use-cases/data-aging.md
  web/docs/use-cases/data-constraints.excalidraw.svg
  web/docs/use-cases/decentralized-vs-centralized.excalidraw.svg
  web/docs/use-cases/edge-nodes.excalidraw.svg
  web/docs/use-cases/etl-challenges.excalidraw.svg
  web/docs/use-cases/execute-detections-and-analytics.md
  web/docs/use-cases/execute-detections.excalidraw.svg
  web/docs/use-cases/live-detection.excalidraw.svg
  web/docs/use-cases/live-retro-detection.excalidraw.svg
  web/docs/use-cases/normalization-spectrum.excalidraw.svg
  web/docs/use-cases/optimize-siem-costs.excalidraw.svg
  web/docs/use-cases/optimize-siem-costs.md
  web/docs/use-cases/security-data-lake.excalidraw.svg
  web/docs/use-cases/security-data-plane.excalidraw.svg
  web/docs/use-cases/siem-offloading.md
  web/docs/use-cases/soc-federation.md
  web/docs/use-cases/unified-detection.md
  web/docs/user-guides.md
  web/docs/user-guides/run-a-pipeline/README.md
  web/docs/vision.md
  web/docusaurus.config.js
  web/sidebars.js
  web/src/pages/newsletter.tsx
Labels: docs, improvement

#3675 Add file data to show partitions
  changelog/next/features/3675--disk-usage-for-show-partitions.md
  libtenzir/builtins/aspects/partitions.cpp
  libtenzir/include/tenzir/active_partition.hpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/include/tenzir/fwd.hpp
  libtenzir/include/tenzir/partition_synopsis.hpp
  libtenzir/include/tenzir/resource.hpp
  libtenzir/include/tenzir/store.hpp
  libtenzir/src/active_partition.cpp
  libtenzir/src/detail/add_message_types.cpp
  libtenzir/src/index.cpp
  libtenzir/src/plugin.cpp
  libtenzir/src/store.cpp
  libtenzir/test/active_partition.cpp
  libtenzir/test/feather.cpp
  plugins/parquet/tests/parquet.cpp
Labels: improvement

#3683 Add `grok` parser
  changelog/next/features/3683--grok-parser.md
  libtenzir/CMakeLists.txt
  libtenzir/builtins/operators/grok-patterns/NOTICE.txt
  libtenzir/builtins/operators/grok-patterns/patterns.inc
  libtenzir/builtins/operators/grok.cpp
  libtenzir/builtins/operators/parse.cpp
  tenzir/integration/reference/parse-with-grok/step_00.ref
  tenzir/integration/reference/parse-with-grok/step_01.ref
  tenzir/integration/reference/parse-with-grok/step_02.ref
  tenzir/integration/reference/parse-with-grok/step_03.ref
  tenzir/integration/reference/parse-with-grok/step_04.ref
  tenzir/integration/reference/parse-with-grok/step_05.ref
  tenzir/integration/reference/parse-with-grok/step_06.ref
  tenzir/integration/reference/parse-with-grok/step_07.ref
  tenzir/integration/reference/parse-with-grok/step_08.ref
  tenzir/integration/tests.yaml
  web/docs/formats/grok.md
  web/docs/operators/transformations/parse.md
Labels: format, operator

#3733 Fix the startup on an empty db-directory
  libtenzir/src/index.cpp
Labels: bug

#3646 Add `kv` parser
  changelog/next/features/3646--kv-parser.md
  libtenzir/CMakeLists.txt
  libtenzir/builtins/formats/kv.cpp
  tenzir/functional-test/data/txt/key_value_pairs.txt
  tenzir/integration/reference/kv-operator/step_00.ref
  tenzir/integration/reference/parse-kv/step_00.ref
  tenzir/integration/reference/parse-kv/step_01.ref
  tenzir/integration/reference/parse-kv/step_02.ref
  tenzir/integration/tests.yaml
  web/docs/formats/kv.md
Labels: operator

#3735 Fix implicit discovery of named capture groups in Grok
  libtenzir/builtins/operators/grok.cpp
  tenzir/integration/reference/parse-with-grok/step_09.ref
  tenzir/integration/tests.yaml
Labels: bug, format

#3727 Add TCP saver
  changelog/next/features/3727--tcp.md
  demo-node/setup.bash
  libtenzir/builtins/connectors/tcp.cpp
  libtenzir/builtins/operators/to_write_save.cpp
  tenzir/functional-test/reference/tcp/test_loader_-2d_connect/step_00.ref
  tenzir/functional-test/reference/tcp/test_loader_-2d_listen_once/step_00.ref
  tenzir/functional-test/reference/tcp/test_loader_-2d_listen_with_SSL/step_00.ref
  tenzir/functional-test/reference/tcp/test_saver_-2d_connect/step_00.ref
  tenzir/functional-test/reference/tcp/test_saver_-2d_listen/step_00.ref
  tenzir/functional-test/tests/tcp.bats
  web/docs/connectors/tcp.md
Labels: connector, improvement

#3742 Allow empty field names
  changelog/next/changes/3742--empty-field-names.md
  libtenzir/src/type.cpp
  libtenzir/test/table_slice.cpp
Labels: engine

#3741 Streamline Setup and User Guide
  README.md
  tenzir.yaml.example
  web/blog/mobilizing-zeek-logs/index.md
  web/blog/shell-yeah-supercharging-zeek-and-suricata-with-tenzir/index.md
  web/docs/command-line.md
  web/docs/configuration.md
  web/docs/connectors/kafka.md
  web/docs/developer-guides/write-a-plugin.md
  web/docs/faqs.md
  web/docs/formats/zeek-json.md
  web/docs/get-started.md
  web/docs/glossary.md
  web/docs/integrations.md
  web/docs/integrations/splunk.md
  web/docs/integrations/suricata.md
  web/docs/integrations/velociraptor.md
  web/docs/integrations/zeek.md
  web/docs/operators/discard.md
  web/docs/operators/python.md
  web/docs/operators/show.md
  web/docs/operators/sigma.md
  web/docs/operators/slice.md
  web/docs/operators/sort.md
  web/docs/pipelines.md
  web/docs/setup-guides/deploy-a-node/README.md
  web/docs/unstructured-to-structured.excalidraw.svg
  web/docs/user-guides.md
  web/docs/user-guides/enrich-with-threat-intel/README.md
  web/docs/user-guides/export-from-a-node/README.md
  web/docs/user-guides/export-from-a-node/export.excalidraw.svg
  web/docs/user-guides/import-into-a-node/README.md
  web/docs/user-guides/import-into-a-node/import.excalidraw.svg
  web/docs/user-guides/run-a-pipeline/README.md
  web/docs/user-guides/run-a-pipeline/pipeline-browser.excalidraw.svg
  web/docs/user-guides/run-a-pipeline/pipeline-cli.excalidraw.svg
  web/docs/user-guides/shape-data/README.md
  web/docs/user-guides/shape-data/reshaping.excalidraw.svg
  web/sidebars.js
  web/static/img/readme/architecture-nodes.excalidraw.dark.png
  web/static/img/readme/architecture-nodes.excalidraw.light.png
  web/static/img/readme/building-blocks.excalidraw.dark.png
  web/static/img/readme/building-blocks.excalidraw.light.png
  web/static/img/readme/moving-parts.dark.png
  web/static/img/readme/moving-parts.light.png
Labels: docs, improvement

#3751 Fix grok integration tests
  tenzir/integration/reference/parse-with-grok/step_07.ref
Labels: maintenance, bug

#3749 Make `--listen-once` imply `--listen` for TCP
  libtenzir/builtins/connectors/tcp.cpp
Labels: bug, connector

#3752 Publish blog post for Tenzir v4.7
  web/blog/tenzir-v4.7/index.md
  web/blog/tenzir-v4.7/tenzir-v4.7.excalidraw.svg
  web/docs/formats/grok.md
Labels: docs

#3746 Infer types for `kv` parser values
  libtenzir/builtins/formats/kv.cpp
  tenzir/functional-test/data/txt/key_value_pairs.txt
  tenzir/integration/reference/parse-kv/step_00.ref
Labels: improvement

#3737 A couple of small fixes for the python operator
  Dockerfile
  docker-compose.yaml
  libtenzir/builtins/operators/python.cpp
  libtenzir/builtins/operators/serve.cpp
  libtenzir/include/tenzir/error.hpp
  libtenzir/include/tenzir/operator_control_plane.hpp
Labels: bug

#3750 Remove two unnecessary calls to `schedule_run()`
  Dockerfile
  demo-node/setup.bash
  docker-compose.yaml
  libtenzir/src/connect_to_node.cpp
  libtenzir/src/connector.cpp
  libtenzir/src/execution_node.cpp
Labels: engine, improvement

#3757 Fix `shell` categorization in docs sidebar
  web/docs/formats/grok.md
  web/docs/operators/shell.md
Labels: docs

#3758 Downtone push behavior of pipelines
  changelog/next/bug-fixes/3758--hang-fix.md
  libtenzir/src/execution_node.cpp
  libtenzir/src/pipeline_executor.cpp
Labels: bug, engine

#3759 Verify passed key and certificate files in tcp connector
  libtenzir/builtins/connectors/tcp.cpp
Labels: improvement

#3760 Prettify operator sidebar icons
  README.md
  web/src/theme/DocSidebarItem/Link/IconSink.svg
  web/src/theme/DocSidebarItem/Link/IconSource.svg
  web/src/theme/DocSidebarItem/Link/IconTransformation.svg
  web/src/theme/DocSidebarItem/Link/SinkOff.svg
  web/src/theme/DocSidebarItem/Link/SinkOn.svg
  web/src/theme/DocSidebarItem/Link/SourceOff.svg
  web/src/theme/DocSidebarItem/Link/SourceOn.svg
  web/src/theme/DocSidebarItem/Link/TransformationOff.svg
  web/src/theme/DocSidebarItem/Link/TransformationOn.svg
  web/src/theme/DocSidebarItem/Link/index.js
Labels: docs, improvement

#3761 Prepare repository for Tenzir v4.7.1
  changelog/v4.7.1/bug-fixes/3758.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-Tenzir v4.7/formats/grok.md
  web/versioned_docs/version-Tenzir v4.7/operators/shell.md
Labels: maintenance, docs

#3764 Fix the `tenzir/tenzir:latest-slim` image
  Dockerfile
  changelog/next/bug-fixes/3764--slim-image.md
  flake.nix
Labels: bug

#3754 Simplify builtins setup
  cmake/TenzirRegisterPlugin.cmake
  libtenzir/CMakeLists.txt
  libtenzir/test/CMakeLists.txt
  tenzir/CMakeLists.txt
Labels: maintenance

#3701 Implement `timeshift` and `delay` operators
  changelog/next/features/3701--timeshift-and-delay.md
  libtenzir/builtins/operators/delay.cpp
  libtenzir/builtins/operators/timeshift.cpp
  web/docs/operators/delay.excalidraw.svg
  web/docs/operators/delay.md
  web/docs/operators/timeshift.excalidraw.svg
  web/docs/operators/timeshift.md
Labels: feature, operator

#3769 Replace non-breaking spaces with normal ones
  libtenzir/builtins/operators/api.cpp
  libtenzir/include/tenzir/pipeline.hpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/argument_parser.cpp
  libtenzir/src/pipeline.cpp
  libtenzir/src/series_builder.cpp
  web/blog/tenzir-v4.7/index.md
  web/docs/formats/kv.md
  web/docs/user-guides/run-a-pipeline/README.md
Labels: maintenance

#3766 Revert "Simplify builtins setup"
  cmake/TenzirRegisterPlugin.cmake
  libtenzir/CMakeLists.txt
  libtenzir/test/CMakeLists.txt
  tenzir/CMakeLists.txt
Labels: bug

#3771 Improve robustness of TCP connector
  libtenzir/builtins/connectors/tcp.cpp
Labels: bug, connector
