Repository tenzir/tenzir, pull requests merged in 2023-03, with the labels that each got.

#2978 Bump the install-nix-action to v20
  .github/workflows/vast.yaml
Labels: bug

#2935 Implement STDIN loader plugin
  libvast/builtins/loaders/stdin.cpp
  libvast/include/vast/plugin.hpp
  libvast/test/loader_plugin.cpp
  libvast_test/artifacts/inputs/linebreaks.txt
  libvast_test/artifacts/inputs/longer_input.txt
  libvast_test/artifacts/inputs/nothing.txt
  libvast_test/artifacts/inputs/one_complete_chunk.txt
  libvast_test/artifacts/inputs/simple.txt
  libvast_test/artifacts/inputs/spaces_and_tabs.txt
Labels: feature

#2967 Document schema and type definition rules
  web/docs/setup/monitor.md
  web/docs/understand/architecture/README.md
  web/docs/understand/architecture/_category_.yml
  web/docs/understand/architecture/components.excalidraw.svg
  web/docs/understand/architecture/components.md
  web/docs/understand/architecture/connector-format.excalidraw.svg
  web/docs/understand/architecture/ingest.excalidraw.svg
  web/docs/understand/architecture/plugins.md
  web/docs/understand/connectors/README.md
  web/docs/understand/connectors/_category_.yml
  web/docs/understand/connectors/connector.excalidraw.svg
  web/docs/understand/data-model/README.md
  web/docs/understand/data-model/_category_.yml
  web/docs/understand/data-model/modules.md
  web/docs/understand/data-model/schemas.md
  web/docs/understand/data-model/taxonomies.md
  web/docs/understand/data-model/type-system-vast.excalidraw.svg
  web/docs/understand/data-model/type-system.md
  web/docs/understand/formats/README.md
  web/docs/understand/formats/_category_.yml
  web/docs/understand/formats/arrow.md
  web/docs/understand/formats/ascii.md
  web/docs/understand/formats/cef.md
  web/docs/understand/formats/csv.md
  web/docs/understand/formats/format.excalidraw.svg
  web/docs/understand/formats/json.md
  web/docs/understand/formats/netflow.md
  web/docs/understand/formats/pcap.md
  web/docs/understand/formats/suricata.md
  web/docs/understand/formats/zeek.md
  web/docs/understand/language/_category_.yml
  web/docs/understand/language/connector-format.excalidraw.svg
  web/docs/understand/language/expressions.excalidraw.svg
  web/docs/understand/language/expressions.md
  web/docs/understand/language/operator-logical.excalidraw.svg
  web/docs/understand/language/operator-physical.excalidraw.svg
  web/docs/understand/language/pipeline-example.excalidraw.svg
  web/docs/understand/language/pipeline-nested.excalidraw.svg
  web/docs/understand/language/pipeline-structure.excalidraw.svg
  web/docs/understand/language/pipelines.md
  web/docs/use/README.md
  web/docs/use/introspect/README.md
  web/src/pages/vast-and-tenzir.md
Labels: enhancement

#2976 Make the map type inaccessible to users
  changelog/unreleased/breaking-changes/2976--removed-map-type.md
  libvast/src/concept/parseable/vast/legacy_type.cpp
  libvast/src/system/accountant.cpp
  libvast/test/legacy_type.cpp
  libvast/test/schema.cpp
  vast/integration/misc/schema/all-types.schema
  vast/integration/reference/arrow-full-data-model/step_01.ref
  web/blog/vast-v3.0/index.md
  web/docs/setup/monitor.md
Labels: enhancement

#2977 Fix infinite recursion in the record algebra parser
  changelog/unreleased/bug-fixes/2977--infinite-recursion-in-record-algebra-parser.md
  libvast/src/concept/parseable/vast/legacy_type.cpp
  libvast/test/legacy_type.cpp
Labels: bug

#2982 Open the metrics file sink in append mode
  libvast/include/vast/detail/make_io_stream.hpp
  libvast/src/detail/make_io_stream.cpp
  libvast/src/system/accountant.cpp
Labels: bug

#2933 Start versioning docs with the next release
  changelog/next/breaking-changes/2745--merge-type_registry-into-the-catalog.md
  changelog/next/breaking-changes/2769-2873--removed-match-operator.md
  changelog/next/breaking-changes/2771--disallow-N-status-command.md
  changelog/next/breaking-changes/2776--removed-meta-field-extractor.md
  changelog/next/breaking-changes/2778-2797-2798--partition-version-requirement.md
  changelog/next/breaking-changes/2796--remove-broker-plugin.md
  changelog/next/breaking-changes/2832--removed-deprecated-options.md
  changelog/next/breaking-changes/2844--boolean-literals-true-false.md
  changelog/next/breaking-changes/2864--renamed-basic-types.md
  changelog/next/breaking-changes/2898--removed-explore-and-pivot.md
  changelog/next/breaking-changes/2899--alter-http-export-format.md
  changelog/next/breaking-changes/2976--removed-map-type.md
  changelog/next/breaking-changes/2980--rename-identity-operator-to-pass.md
  changelog/next/bug-fixes/2693--connect-crash.md
  changelog/next/bug-fixes/2768--infer-non-config-types.md
  changelog/next/bug-fixes/2832--metrics-shutdown-delay.md
  changelog/next/bug-fixes/2860--web-plugin-shutdown.md
  changelog/next/bug-fixes/2861--pid-file-startup.md
  changelog/next/bug-fixes/2868--async-start-commands.md
  changelog/next/bug-fixes/2887--zeek-tsv-respects-schema.md
  changelog/next/bug-fixes/2896--remove-the-transformer-actor.md
  changelog/next/bug-fixes/2906--proper-display-of-duration-types.md
  changelog/next/bug-fixes/2908--fix-openssl-configuration.md
  changelog/next/bug-fixes/2924--count-command-hangs-when-zero-results.md
  changelog/next/bug-fixes/2977--infinite-recursion-in-record-algebra-parser.md
  changelog/next/changes/2604--ansible-role.md
  changelog/next/changes/2693-2923--require-caf-0-18.md
  changelog/next/changes/2719--openssl-dep.md
  changelog/next/changes/2807-2848--eliminate-signal-monitor-shutdown-lag.md
  changelog/next/changes/2832--case-insensitive-plugin-names.md
  changelog/next/changes/2852--schema-distribution-now-in-catalog.md
  changelog/next/changes/2887--zeek-json-path-field.md
  changelog/next/changes/2922-2927--removed-frontend-prototype.md
  changelog/next/features/2216--cef-reader.md
  changelog/next/features/2636--installed-python-bindings.md
  changelog/next/features/2707--arrow-import.md
  changelog/next/features/2719--add-pseudonymize-pipeline-operator.md
  changelog/next/features/2742--vast-slim-image.md
  changelog/next/features/2755--export-with-schema.md
  changelog/next/features/2766--query-endpoint.md
  changelog/next/features/2769--pattern-matching.md
  changelog/next/features/2773--pipeline-parameter.md
  changelog/next/features/2773-2937-pipeline-parameter.md
  changelog/next/features/2835--retry-mechanism-for-vast-clients.md
  changelog/next/features/2856--omit-empty-fields.md
  changelog/next/features/2877-2904-2907--pipeline-string-parsing.md
  changelog/next/features/2891--head-and-taste.md
  changelog/next/features/2944--cors-handling.md
  changelog/next/features/2951--support-case-insensitivity-in-patterns.md
  cmake/VASTChangelog.cmake.in
  scripts/prepare-release
  web/docs/contribute/changelog.md
  web/docusaurus.config.js
Labels: feature

#2981 Add a new /openapi.json endpoint to the web plugin
  changelog/unreleased/features/2981--openapi-endpoint.md
  plugins/web/include/web/specification_command.hpp
  plugins/web/src/server_command.cpp
  plugins/web/src/specification_command.cpp
Labels: feature

#2645 Support 'required' attribute for config validation
  libvast/include/vast/validate.hpp
  libvast/src/validate.cpp
  libvast/test/validate.cpp
Labels: enhancement

#2985 Use `re2::RE2` over `std::regex`
  Dockerfile
  VAST.spdx
  cmake/Findre2.cmake
  libvast/CMakeLists.txt
  libvast/include/vast/pattern.hpp
  libvast/src/pattern.cpp
  nix/vast/default.nix
  scripts/debian/install-dev-dependencies.sh
  web/docs/setup/build.md
Labels: enhancement

#2970 Switch to esbuild for docs site to speed up build
  web/docusaurus.config.js
  web/package.json
  web/yarn.lock
Labels: maintenance

#2984 Add extractor predicates
  changelog/unreleased/features/2984--extractor-predicates.md
  libvast/builtins/query-languages/vast.cpp
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/test/expression_parseable.cpp
  vast/integration/reference/extractor-predicates/step_00.ref
  vast/integration/reference/extractor-predicates/step_01.ref
  vast/integration/reference/extractor-predicates/step_02.ref
  vast/integration/reference/extractor-predicates/step_03.ref
  vast/integration/vast_integration_suite.yaml
  web/blog/vast-v3.0/index.md
  web/docs/understand/language/expressions.md
Labels: feature

#2974 Support pattern case insensitivity in Sigma plugin
  changelog/unreleased/features/2974--support-case-insensitivity-in-sigma-plugin.md
  libvast/include/vast/detail/escapers.hpp
  libvast/include/vast/detail/string.hpp
  libvast/src/detail/string.cpp
  libvast/test/string.cpp
  plugins/sigma/src/parse.cpp
  plugins/sigma/tests/tests.cpp
  web/docs/understand/language/frontends/sigma.md
Labels: feature

#2987 Add nested key getters `get_if` and `get_or` for record
  libvast/include/vast/data.hpp
  libvast/test/data.cpp
Labels: enhancement

#2989 Fix the tag's ancestor count prediction
  scripts/prepare-release
  version.json
Labels: bug

#2990 Remove the /export endpoint
  changelog/next/breaking-changes/2990-remove-the-export-endpoint.md
  libvast/builtins/endpoints/export.cpp
  libvast/builtins/endpoints/query.cpp
  libvast/include/vast/defaults.hpp
  libvast/test/rest_api.cpp
  plugins/web/integration/reference/export-endpoint/step_02.ref
  plugins/web/integration/reference/export-endpoint/step_03.ref
  plugins/web/integration/reference/export-endpoint/step_04.ref
  plugins/web/integration/reference/export-endpoint/step_05.ref
  plugins/web/integration/reference/export-endpoint/step_06.ref
  plugins/web/integration/reference/query-endpoint-with-formatters/step_00.ref
  plugins/web/integration/reference/query-endpoint-with-formatters/step_01.ref
  plugins/web/integration/reference/query-endpoint-with-formatters/step_02.ref
  plugins/web/integration/reference/query-endpoint/step_00.ref
  plugins/web/integration/reference/query-endpoint/step_01.ref
  plugins/web/integration/reference/query-endpoint/step_02.ref
  plugins/web/integration/tests.yaml
  web/openapi/openapi.yaml
Labels: refactoring, enhancement

#2995 Set CAF middleman connection timeout to 120 seconds
  libvast/src/system/default_configuration.cpp
Labels: caf, rc

#2994 Fix bundled CAF location in build summary
  CMakeLists.txt
  libvast/CMakeLists.txt
Labels: bug

#2997 Document meaning of undersized index lookup results
  libvast/include/vast/system/active_partition.hpp
  libvast/include/vast/system/passive_partition.hpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/passive_partition.cpp
Labels: enhancement

#2902 Python bindings documentation
  python/pyvast/vast/vast.py
  web/docs/use/integrate/python.md
Labels: python

#3002 Remove badges from README
  README.md
  web/docs/understand/language/frontends/sigma.md
Labels: enhancement

#3000 Remove a test only covers std::chrono
  libvast/test/printable.cpp
Labels: bug

#3003 Fix post-deploy state of the ansible role
  ansible/roles/vast/tasks/main.yaml
Labels: bug

#3008 Deprecate `vast.pipeline-triggers`
  changelog/next/breaking-changes/3008--pipeline-triggers.md
  vast/vast.cpp
Labels: maintenance

#3001 Switch main and fallback code paths for erasing partitions
  libvast/include/vast/system/indexer.hpp
  libvast/src/system/index.cpp
  libvast/src/system/posix_filesystem.cpp
Labels: performance

#2996 Prepare repository for VAST v3.0.0-rc2
  changelog/v3.0.0-rc2/breaking-changes/2745.md
  changelog/v3.0.0-rc2/breaking-changes/2769-2873.md
  changelog/v3.0.0-rc2/breaking-changes/2771.md
  changelog/v3.0.0-rc2/breaking-changes/2776.md
  changelog/v3.0.0-rc2/breaking-changes/2778-2797-2798.md
  changelog/v3.0.0-rc2/breaking-changes/2796.md
  changelog/v3.0.0-rc2/breaking-changes/2832.md
  changelog/v3.0.0-rc2/breaking-changes/2844.md
  changelog/v3.0.0-rc2/breaking-changes/2864.md
  changelog/v3.0.0-rc2/breaking-changes/2898.md
  changelog/v3.0.0-rc2/breaking-changes/2899.md
  changelog/v3.0.0-rc2/breaking-changes/2976.md
  changelog/v3.0.0-rc2/breaking-changes/2980.md
  changelog/v3.0.0-rc2/breaking-changes/2990.md
  changelog/v3.0.0-rc2/breaking-changes/2998.md
  changelog/v3.0.0-rc2/breaking-changes/2999.md
  changelog/v3.0.0-rc2/breaking-changes/3008.md
  changelog/v3.0.0-rc2/bug-fixes/2693.md
  changelog/v3.0.0-rc2/bug-fixes/2768.md
  changelog/v3.0.0-rc2/bug-fixes/2832.md
  changelog/v3.0.0-rc2/bug-fixes/2860.md
  changelog/v3.0.0-rc2/bug-fixes/2861.md
  changelog/v3.0.0-rc2/bug-fixes/2868.md
  changelog/v3.0.0-rc2/bug-fixes/2887.md
  changelog/v3.0.0-rc2/bug-fixes/2896.md
  changelog/v3.0.0-rc2/bug-fixes/2906.md
  changelog/v3.0.0-rc2/bug-fixes/2908.md
  changelog/v3.0.0-rc2/bug-fixes/2924.md
  changelog/v3.0.0-rc2/bug-fixes/2977.md
  changelog/v3.0.0-rc2/bug-fixes/3006.md
  changelog/v3.0.0-rc2/changes/2604.md
  changelog/v3.0.0-rc2/changes/2693-2923.md
  changelog/v3.0.0-rc2/changes/2719.md
  changelog/v3.0.0-rc2/changes/2807-2848.md
  changelog/v3.0.0-rc2/changes/2832.md
  changelog/v3.0.0-rc2/changes/2852.md
  changelog/v3.0.0-rc2/changes/2887.md
  changelog/v3.0.0-rc2/changes/2922-2927.md
  changelog/v3.0.0-rc2/features/2216.md
  changelog/v3.0.0-rc2/features/2636.md
  changelog/v3.0.0-rc2/features/2707.md
  changelog/v3.0.0-rc2/features/2719.md
  changelog/v3.0.0-rc2/features/2742.md
  changelog/v3.0.0-rc2/features/2755.md
  changelog/v3.0.0-rc2/features/2766.md
  changelog/v3.0.0-rc2/features/2769.md
  changelog/v3.0.0-rc2/features/2773-2937.md
  changelog/v3.0.0-rc2/features/2773.md
  changelog/v3.0.0-rc2/features/2835.md
  changelog/v3.0.0-rc2/features/2856.md
  changelog/v3.0.0-rc2/features/2877-2904-2907.md
  changelog/v3.0.0-rc2/features/2891.md
  changelog/v3.0.0-rc2/features/2944.md
  changelog/v3.0.0-rc2/features/2951.md
  changelog/v3.0.0-rc2/features/2974.md
  changelog/v3.0.0-rc2/features/2981.md
  changelog/v3.0.0-rc2/features/2984.md
  python/pyproject.toml
  scripts/prepare-release
  version.json
Labels: maintenance

#3011 Allow `/* ... */` comments in the VAST language
  changelog/next/features/3011--comments-in-vast-lang.md
  libvast/builtins/operators/drop.cpp
  libvast/builtins/operators/extend.cpp
  libvast/builtins/operators/hash.cpp
  libvast/builtins/operators/head.cpp
  libvast/builtins/operators/identity.cpp
  libvast/builtins/operators/pseudonymize.cpp
  libvast/builtins/operators/rename.cpp
  libvast/builtins/operators/replace.cpp
  libvast/builtins/operators/select.cpp
  libvast/builtins/operators/summarize.cpp
  libvast/builtins/operators/taste.cpp
  libvast/builtins/operators/where.cpp
  libvast/builtins/query-languages/vast.cpp
  libvast/include/vast/concept/parseable/vast/pipeline.hpp
  libvast/src/concept/parseable/vast/expression.cpp
  libvast/src/pipeline.cpp
  libvast/test/expression_parseable.cpp
  vast/integration/reference/comments/step_00.ref
  vast/integration/reference/comments/step_01.ref
  vast/integration/reference/comments/step_02.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/understand/language/pipelines.md
Labels: feature

#3009 Implement the `json` printer
  libvast/builtins/printers/json.cpp
  libvast/include/vast/plugin.hpp
  libvast/test/printer_plugin.cpp
Labels: feature

#3014 Implement the `stdout` dumper
  libvast/builtins/dumpers/stdout.cpp
  libvast/builtins/printers/json.cpp
  libvast/include/vast/plugin.hpp
  libvast/test/dumper_plugin.cpp
  libvast/test/loader_plugin.cpp
Labels: feature

#3021 Align default branch refs to main
  .github/workflows/analysis.yaml
  .github/workflows/style-check.yaml
  .github/workflows/vast.yaml
  README.md
  docker/test
  libvast/aux/README.md
  rfc/README.md
  scripts/clang-build-analyzer
  scripts/git-setup.sh
  scripts/prepare-release
  web/README.md
  web/blog/public-roadmap-and-open-rfcs/index.md
  web/blog/vast-v3.0/index.md
  web/docs/contribute/changelog.md
  web/docs/contribute/documentation.md
  web/docs/contribute/notebooks.md
  web/docs/develop/guides/write-a-plugin.md
  web/docs/setup/deploy/ansible.md
  web/docs/setup/deploy/aws.md
  web/docs/setup/deploy/docker-compose.md
  web/docs/setup/deploy/docker.md
  web/docs/setup/download.md
  web/docusaurus.config.js
  web/src/pages/download/vast-latest.zip.tsx
Labels: maintenance

#3018 Avoid crashing when reading a pre-2.0 partition
  changelog/next/bug-fixes/3018--old-partition-crash.md
  libvast/src/partition_synopsis.cpp
Labels: bug

#3007 Implement remaining operators using new API
  libvast/builtins/operators/drop.cpp
  libvast/builtins/operators/extend.cpp
  libvast/builtins/operators/hash.cpp
  libvast/builtins/operators/head.cpp
  libvast/builtins/operators/pseudonymize.cpp
  libvast/builtins/operators/rename.cpp
  libvast/builtins/operators/replace.cpp
  libvast/builtins/operators/select.cpp
  libvast/builtins/operators/summarize.cpp
  libvast/builtins/operators/taste.cpp
  libvast/builtins/operators/where.cpp
  libvast/test/logical_pipeline.cpp
Labels: refactoring

#3020 Include outdated but not undersized partitions in automatic rebuilds
  README.md
  libvast/builtins/commands/rebuild.cpp
Labels: bug

#3023 Fix redirect of `vast.io/docs/`
  web/src/pages/docs.tsx
Labels: bug

#3025 Delete unused arrow_extension_types header
  libvast/include/vast/arrow_extension_types.hpp
Labels: bug

#3026 Fix usage of moved from variable in rebuild metrics
  changelog/unreleased/bug-fixes/3026.md
  libvast/builtins/commands/rebuild.cpp
Labels: bug

#3027 Prepare repository for VAST v3.0.2
  changelog/unreleased/bug-fixes/3026.md
  changelog/v3.0.2/bug-fixes/3026.md
  python/pyproject.toml
  scripts/prepare-release
  version.json
  web/blog/vast-v3.0/index.md
Labels: maintenance

#3010 Implement the `vast exec` command
  changelog/next/features/3004-3010--exec-command.md
  libvast/builtins/commands/exec.cpp
Labels: feature

#3034 Fix log message listing candidate partitions
  libvast/src/system/catalog.cpp
Labels: bug

#3031 Improve tuning docs
  web/docs/setup/multi-tier-indexing.excalidraw.svg
  web/docs/setup/tune.md
Labels: enhancement

#3037 Fix description of `taste` in quickstart
  web/docs/try/quickstart.md
Labels: enhancement

#3033 Log handled failures to persist partition synopses
  libvast/src/system/active_partition.cpp
Labels: enhancement

#3042 Fix submodule checkout in the vast-plugins CI job
  .github/workflows/vast.yaml
Labels: bug

#3041 Update some clang-tidy rules
  .clang-tidy
Labels: maintenance

#3036 Introduce the `put` operator
  changelog/next/features/3036--put-operator.md
  libvast/builtins/operators/extend.cpp
  libvast/builtins/operators/put.cpp
  libvast/builtins/operators/replace.cpp
  libvast/src/arrow_table_slice.cpp
  plugins/web/integration/reference/query-endpoint/step_02.ref
  plugins/web/integration/tests.yaml
  web/docs/understand/language/operators/extend.md
  web/docs/understand/language/operators/put.md
  web/docs/understand/language/operators/replace.md
Labels: feature

#3035 Remove deprecated usage of streambuf<T> for non-char types
  .clang-tidy
  libvast/test/detail/streambuf.cpp
Labels: maintenance

#3039 Revise pipeline operator API
  examples/plugins/pipeline_operator/pipeline_operator_plugin.cpp
  libvast/builtins/commands/exec.cpp
  libvast/builtins/commands/rebuild.cpp
  libvast/builtins/operators/drop.cpp
  libvast/builtins/operators/extend.cpp
  libvast/builtins/operators/hash.cpp
  libvast/builtins/operators/head.cpp
  libvast/builtins/operators/pass.cpp
  libvast/builtins/operators/pseudonymize.cpp
  libvast/builtins/operators/rename.cpp
  libvast/builtins/operators/replace.cpp
  libvast/builtins/operators/select.cpp
  libvast/builtins/operators/summarize.cpp
  libvast/builtins/operators/taste.cpp
  libvast/builtins/operators/where.cpp
  libvast/include/vast/fwd.hpp
  libvast/include/vast/legacy_pipeline.hpp
  libvast/include/vast/legacy_pipeline_operator.hpp
  libvast/include/vast/logical_operator.hpp
  libvast/include/vast/logical_pipeline.hpp
  libvast/include/vast/physical_operator.hpp
  libvast/include/vast/pipeline.hpp
  libvast/include/vast/plugin.hpp
  libvast/src/legacy_pipeline.cpp
  libvast/src/logical_pipeline.cpp
  libvast/src/pipeline.cpp
  libvast/src/pipeline_operator.cpp
  libvast/test/logical_pipeline.cpp
  libvast/test/pipeline.cpp
  libvast/test/pipeline_parsing.cpp
  libvast/test/summarize.cpp
Labels: enhancement

#3030 Migrate Debian based builds to bookworm
  .github/workflows/analysis.yaml
  .github/workflows/vast.yaml
  CMakeLists.txt
  Dockerfile
  cmake/VASTConfig.cmake.in
  cmake/VASTRegisterPlugin.cmake
  docker/dev/Dockerfile
  docker/quarto/Dockerfile
  docker/thehive/vast-cortex-neuron/Dockerfile
  libvast/include/vast/hash/xxhash.hpp
  python/tests/test_vast.py
  scripts/debian/install-dev-dependencies.sh
  vast/integration/requirements.txt
  web/docs/setup/build.md
Labels: maintenance

#3043 Add Boost as a dependency
  .github/workflows/vast.yaml
  VAST.spdx
  changelog/next/changes/3043--add-boost.md
  libvast/CMakeLists.txt
  nix/vast/default.nix
  plugins/web/aux/CMakeLists.txt
  plugins/web/include/web/restinio_server.hpp
  plugins/web/include/web/server_command.hpp
  scripts/debian/install-dev-dependencies.sh
  scripts/macOS/install-dev-dependencies.sh
  web/docs/setup/build.md
Labels: maintenance

#3048 Prepare a VAST v2.4.2 release
  changelog/v2.4.2/changes/3047.md
  docker/thehive/app/poetry.lock
  libvast/include/vast/query_context.hpp
  libvast/include/vast/system/index.hpp
  libvast/src/query_queue.cpp
  libvast/src/system/index.cpp
  libvast/test/query_queue.cpp
  python/pyproject.toml
  version.json
Labels: maintenance

#3044 Catch wrongly queued partitions in the scheduler
  libvast/src/system/index.cpp
Labels: bug

#3047 Reduce conflict potential between rebuilding and queries
  changelog/next/changes/3047.md
  changelog/v2.4.2/changes/3047.md
  libvast/include/vast/query_context.hpp
  libvast/include/vast/system/index.hpp
  libvast/src/query_queue.cpp
  libvast/src/system/index.cpp
  libvast/test/query_queue.cpp
Labels: bug

#3049 Prepare repository for VAST v3.0.3
  changelog/v3.0.3/changes/3043.md
  changelog/v3.0.3/changes/3047.md
  changelog/v3.0.3/features/3004-3010.md
  python/pyproject.toml
  version.json
  web/blog/vast-v3.0/index.md
  web/versioned_docs/version-v3.0/setup/build.md
  web/versioned_docs/version-v3.0/setup/multi-tier-indexing.excalidraw.svg
  web/versioned_docs/version-v3.0/setup/tune.md
  web/versioned_docs/version-v3.0/try/quickstart.md
Labels: maintenance

#3015 Update query endpoint to use new pipeline executor
  changelog/next/features/3015--update-query-endpoint.md
  changelog/next/features/3036--put-operator.md
  libvast/builtins/endpoints/query.cpp
  libvast/builtins/operators/extend.cpp
  libvast/builtins/operators/pass.cpp
  libvast/builtins/operators/put.cpp
  libvast/builtins/operators/replace.cpp
  libvast/builtins/operators/where.cpp
  libvast/include/vast/element_type.hpp
  libvast/include/vast/pipeline.hpp
  libvast/src/arrow_table_slice.cpp
  libvast/src/pipeline.cpp
  libvast/test/pipeline.cpp
  libvast/test/rest_api.cpp
  plugins/web/integration/reference/query-endpoint/step_02.ref
  plugins/web/integration/tests.yaml
  web/docs/understand/language/operators/extend.md
  web/docs/understand/language/operators/put.md
  web/docs/understand/language/operators/replace.md
Labels: enhancement

#3053 Ignore VAST v2.4.2 in regression tests
  .github/workflows/vast.yaml
Labels: bug
