Repository tenzir/tenzir, pull requests merged in 2023-11, with the labels that each got.

#3594 Add a `yara` operator
  .github/workflows/tenzir.yaml
  Dockerfile
  changelog/next/features/3594.md
  plugins/yara/CMakeLists.txt
  plugins/yara/functional-test/reference/tests/test_accumulate_chunks_and_match_when_the_input_exhausted/step_00.ref
  plugins/yara/functional-test/reference/tests/test_match_blockwise_per_chunk/step_00.ref
  plugins/yara/functional-test/reference/tests/test_produce_events_for_matching_strings/step_00.ref
  plugins/yara/functional-test/reference/tests/test_work_with_a_compiled_rule/step_00.ref
  plugins/yara/functional-test/tests/setup_suite.bash
  plugins/yara/functional-test/tests/test.yara
  plugins/yara/functional-test/tests/tests.bats
  plugins/yara/src/plugin.cpp
  scripts/debian/install-dev-dependencies.sh
  tenzir/functional-test/bats-tenzir/src/check.bash
  web/blog/integrating-velociraptor-into-tenzir-pipelines/index.md
  web/blog/matching-yara-rules-in-byte-pipelines/index.md
  web/blog/matching-yara-rules-in-byte-pipelines/yara-implementation.excalidraw.svg
  web/blog/matching-yara-rules-in-byte-pipelines/yara-operator.excalidraw.svg
  web/docs/developer-guides/build-from-source.md
  web/docs/operators/transformations/yara-operator.excalidraw.svg
  web/docs/operators/transformations/yara.md
Labels: feature, operator

#3611 Do not assume YARA can match across chunks
  plugins/yara/functional-test/reference/tests/test_accumulate_chunks_and_match_when_the_input_exhausted/step_00.ref
  plugins/yara/src/plugin.cpp
  web/blog/matching-yara-rules-in-byte-pipelines/index.md
Labels: operator, improvement

#3613 Fix a deprecation warning when using Arrow >= 14.0
  plugins/parquet/parquet.cpp
Labels: maintenance

#3609 Add back `exporter.shipped` metric
  libtenzir/src/exporter.cpp
  plugins/fluent-bit/functional-test/tests/setup_suite.bash
  plugins/web/functional-test/tests/rest.bats
  plugins/web/functional-test/tests/serve.bats
  plugins/web/functional-test/tests/setup_suite.bash
  tenzir/functional-test/bats-tenzir/src/fixtures.bash
  tenzir/functional-test/reference/database/test_batch_size/step_03.ref
  tenzir/functional-test/reference/database/test_batch_size/step_04.ref
  tenzir/functional-test/reference/database/test_batch_size/step_05.ref
  tenzir/functional-test/reference/database/test_batch_size/step_06.ref
  tenzir/functional-test/reference/database/test_batch_size/step_07.ref
  tenzir/functional-test/tests/database.bats
  tenzir/functional-test/tests/setup_suite.bash
Labels: improvement

#3618 Remove flaky unit test
  libtenzir/test/legacy_type.cpp
Labels: bug

#3546 Implement a RabbitMQ-based AMQP connector
  .github/workflows/tenzir.yaml
  Dockerfile
  changelog/next/features/3546.md
  nix/overlay.nix
  nix/tenzir/default.nix
  plugins/amqp/CMakeLists.txt
  plugins/amqp/amqp.yaml.example
  plugins/amqp/src/plugin.cpp
  plugins/zmq/src/plugin.cpp
  scripts/debian/install-dev-dependencies.sh
  web/docs/connectors/amqp.excalidraw.svg
  web/docs/connectors/amqp.md
  web/docs/developer-guides/build-from-source.md
Labels: feature, connector

#3620 Add a token to the splunk integration example
  web/docs/operators/sinks/fluent-bit.md
Labels: docs

#3610 Add a blog post for Tenzir v4.4
  web/blog/tenzir-v4.4/amqp.excalidraw.svg
  web/blog/tenzir-v4.4/index.md
  web/blog/tenzir-v4.4/tenzir-v4.4.excalidraw.svg
  web/docs/operators/sources/export.md
Labels: docs

#3629 Rename `--appending` option for `save file` to `--append`
  changelog/next/bug-fixes/3629.md
  libtenzir/builtins/connectors/directory.cpp
  libtenzir/builtins/connectors/file.cpp
Labels: bug

#3614 Add operators `set-attributes` and `chart`
  libtenzir/builtins/operators/chart.cpp
  libtenzir/builtins/operators/get_attributes.cpp
  libtenzir/builtins/operators/set_attributes.cpp
  libtenzir/include/tenzir/detail/set_attributes_operator_helper.hpp
  libtenzir/src/detail/set_attributes_operator_helper.cpp
  tenzir/integration/reference/chart-attributes/step_00.ref
  tenzir/integration/reference/chart-attributes/step_01.ref
  tenzir/integration/reference/chart-attributes/step_02.ref
  tenzir/integration/reference/chart-attributes/step_03.ref
  tenzir/integration/reference/chart-attributes/step_04.ref
  tenzir/integration/reference/chart-attributes/step_05.ref
  tenzir/integration/reference/chart-attributes/step_06.ref
  tenzir/integration/reference/get-and-set-attributes/step_00.ref
  tenzir/integration/reference/get-and-set-attributes/step_01.ref
  tenzir/integration/tests.yaml
Labels: feature, operator

#3623 Demo node improvements
  .github/workflows/docker-config-base.json
  Dockerfile
  demo-node/entrypoint.bash
  demo-node/import.bash
  demo-node/load.bash
Labels: improvement

#3632 Allow pushing the demo node image to public registries
  .github/workflows/docker.yaml
Labels: ci, platform

#3634 Relax type restrictions for queries with numeric literals
  changelog/next/features/3634--numeric-literals.md
  libtenzir/include/tenzir/expression.hpp
  libtenzir/src/concept/parseable/tenzir/expression.cpp
  libtenzir/src/expression_visitors.cpp
  libtenzir/src/type.cpp
  libtenzir/test/expression_parseable.cpp
  web/docs/language/expressions.md
Labels: engine, improvement

#3633 Ensure exporter metrics don't get lost
  changelog/next/bug-fixes/3633--ensure-exporter-metrics.md
  libtenzir/src/exporter.cpp
Labels: bug

#3630 Add an `api` source operator
  Dockerfile
  changelog/next/features/3630--api-operator.md
  demo-node/csvstat.sh
  demo-node/entrypoint.bash
  demo-node/import.bash
  demo-node/live_cve_feed.bash
  demo-node/setup.bash
  libtenzir/builtins/operators/api.cpp
  libtenzir/src/data.cpp
  libtenzir/src/node.cpp
  web/docs/operators/sources/api.md
Labels: feature, operator

#3638 Flush implicitly in the `import` operator
  changelog/next/features/3638--flush-implicitly.md
  demo-node/setup.bash
  libtenzir/builtins/commands/flush.cpp
  libtenzir/builtins/operators/import.cpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/src/importer.cpp
  tenzir/functional-test/tests/database.bats
  tenzir/integration/reference/blob-type/step_01.ref
  tenzir/integration/reference/blob-type/step_02.ref
  tenzir/integration/reference/blob-type/step_03.ref
  tenzir/integration/reference/blob-type/step_04.ref
  tenzir/integration/reference/blob-type/step_05.ref
  tenzir/integration/reference/blob-type/step_06.ref
  tenzir/integration/reference/export-in-pipeline/step_02.ref
  tenzir/integration/reference/export-in-pipeline/step_04.ref
  tenzir/integration/reference/export-in-pipeline/step_05.ref
  tenzir/integration/reference/export-in-pipeline/step_06.ref
  tenzir/integration/reference/export-in-pipeline/step_07.ref
  tenzir/integration/reference/flush/step_00.ref
  tenzir/integration/reference/flush/step_01.ref
  tenzir/integration/reference/flush/step_02.ref
  tenzir/integration/reference/flush/step_03.ref
  tenzir/integration/reference/server-zeek-multiple-imports/step_06.ref
  tenzir/integration/reference/server-zeek-multiple-imports/step_07.ref
  tenzir/integration/reference/sort-with-remote-operators/step_01.ref
  tenzir/integration/reference/sort-with-remote-operators/step_02.ref
  tenzir/integration/reference/sort-with-remote-operators/step_03.ref
  tenzir/integration/reference/top-and-rare-operators/step_01.ref
  tenzir/integration/reference/top-and-rare-operators/step_02.ref
  tenzir/integration/reference/top-and-rare-operators/step_03.ref
  tenzir/integration/reference/top-and-rare-operators/step_04.ref
  tenzir/integration/reference/top-and-rare-operators/step_05.ref
  tenzir/integration/reference/top-and-rare-operators/step_06.ref
  tenzir/integration/reference/top-and-rare-operators/step_07.ref
  tenzir/integration/reference/top-and-rare-operators/step_08.ref
  tenzir/integration/reference/top-and-rare-operators/step_09.ref
  tenzir/integration/reference/top-and-rare-operators/step_10.ref
  tenzir/integration/reference/top-and-rare-operators/step_11.ref
  tenzir/integration/tests.yaml
  web/docs/operators/sinks/import.md
  web/docs/operators/sources/export.md
Labels: bug, improvement

#3636 Fix `http` loader use-after-free
  libtenzir/builtins/connectors/curl.cpp
Labels: bug, connector

#3639 Always enable time and bool synopses
  changelog/next/changes/3639--build-time-and-bool-synopses.md
  libtenzir/src/partition_synopsis.cpp
Labels: performance, improvement

#3616 Use prefix matching instead of suffix matching
  changelog/next/changes/3616--prefix-matching.md
  libtenzir/builtins/operators/drop.cpp
  libtenzir/builtins/operators/pseudonymize.cpp
  libtenzir/builtins/operators/put_extend_replace.cpp
  libtenzir/builtins/operators/rename.cpp
  libtenzir/builtins/operators/select.cpp
  libtenzir/include/tenzir/table_slice.hpp
  libtenzir/src/table_slice.cpp
Labels: feature, operator

#3642 Add an operator blocklist
  changelog/next/features/3642--operator-blocklist.md
  libtenzir/src/application.cpp
  libtenzir/src/configuration.cpp
  libtenzir/src/plugin.cpp
  tenzir.yaml.example
  web/docs/command-line.md
  web/docs/operators/modifier.md
Labels: feature, engine

#3643 Fix the fluent-bit elasticsearch example
  web/docs/operators/sources/fluent-bit.md
Labels: bug, docs

#3644 Bring back dark/light mode toggle
  web/docusaurus.config.js
Labels: docs, improvement

#3641 Add min-max sketches for duration and numeric types
  changelog/next/features/3639--more-min-max-synopses.md
  libtenzir/include/tenzir/double_synopsis.hpp
  libtenzir/include/tenzir/duration_synopsis.hpp
  libtenzir/include/tenzir/int64_synopsis.hpp
  libtenzir/include/tenzir/min_max_synopsis.hpp
  libtenzir/include/tenzir/uint64_synopsis.hpp
  libtenzir/src/double_synopsis.cpp
  libtenzir/src/duration_synopsis.cpp
  libtenzir/src/int64_synopsis.cpp
  libtenzir/src/partition_synopsis.cpp
  libtenzir/src/synopsis_factory.cpp
  libtenzir/src/uint64_synopsis.cpp
  libtenzir/test/partition_roundtrip.cpp
  libtenzir/test/synopsis.cpp
  libtenzir_test/tenzir/test/synopsis.hpp
  tenzir/functional-test/tests/database.bats
Labels: feature, performance

#3640 Improve `summarize` result for empty inputs
  changelog/next/features/3640--summarize-empty-input.md
  libtenzir/builtins/aggregation-functions/all.cpp
  libtenzir/builtins/aggregation-functions/any.cpp
  libtenzir/builtins/aggregation-functions/count.cpp
  libtenzir/builtins/aggregation-functions/count_distinct.cpp
  libtenzir/builtins/aggregation-functions/distinct.cpp
  libtenzir/builtins/aggregation-functions/max.cpp
  libtenzir/builtins/aggregation-functions/min.cpp
  libtenzir/builtins/aggregation-functions/sample.cpp
  libtenzir/builtins/aggregation-functions/sum.cpp
  libtenzir/builtins/operators/summarize.cpp
  libtenzir/include/tenzir/plugin.hpp
  tenzir/integration/reference/summarize-all-none-some/step_00.ref
  tenzir/integration/reference/summarize-all-none-some/step_02.ref
  tenzir/integration/reference/summarize-all-none-some/step_04.ref
  tenzir/integration/reference/summarize-all-none-some/step_06.ref
  tenzir/integration/reference/summarize-all-none-some/step_07.ref
Labels: operator

#3647 Add blog post for Tenzir v4.5
  changelog/next/features/3642--operator-blocklist.md
  web/blog/five-design-principles-for-building-a-data-pipeline-engine/index.md
  web/blog/tenzir-v4.5/index.md
  web/blog/tenzir-v4.5/tenzir-v4.5.excalidraw.svg
  web/docs/faqs.md
  web/docs/formats/json.md
Labels: docs

#3652 Fix exporter metrics (again)
  .github/workflows/nix-manual.yaml
  libtenzir/include/tenzir/exporter.hpp
  libtenzir/src/exporter.cpp
Labels: bug

#3592 Introduce an experimental `python` pipeline operator
  .github/workflows/tenzir.yaml
  CMakeLists.txt
  Dockerfile
  ansible/roles/tenzir/tenzir-node.service
  docker/thehive/tenzir-cortex-neuron/requirements.txt
  libtenzir/CMakeLists.txt
  libtenzir/builtins/operators/python.cpp
  libtenzir/include/tenzir/detail/strip_leading_indentation.hpp
  libtenzir/include/tenzir/format/arrow.hpp
  libtenzir/src/configuration.cpp
  libtenzir/src/detail/strip_leading_indentation.cpp
  libtenzir/src/format/arrow.cpp
  libtenzir/test/detail/strip_leading_indentation.cpp
  nix/dynaconf/default.nix
  nix/overlay.nix
  python/README.md
  python/poetry.lock
  python/pyproject.toml
  python/pytenzir/tools/__init__.py
  python/pytenzir/tools/python_operator_executor.py
  python/pytenzir/utils/arrow.py
  python/pytenzir/utils/logging.py
  python/tests/test_utils_arrow.py
  scripts/debian/install-dev-dependencies.sh
  scripts/macOS/install-dev-dependencies.sh
  shell.nix
  tenzir.yaml.example
  tenzir/functional-test/bats-tenzir/src/check.bash
  tenzir/functional-test/reference/python/test_empty_output_throws/step_00.ref
  tenzir/functional-test/reference/python/test_nested_struct_support/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_HTTP_requests/step_01.ref
  tenzir/functional-test/reference/python/test_python_operator_advanced_type_manipulation/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_advanced_type_passthrough/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_fill_partial_output_with_nulls/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_json_passthrough/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_nested_addition/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_nested_deep_modification/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_nested_modification/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_nested_passthrough/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_requirements_statement/step_01.ref
  tenzir/functional-test/reference/python/test_python_operator_suricata-2edns_assignment_to_field_in_null_record/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_suricata-2edns_list_assignment/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_suricata-2edns_list_manipulation/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_suricata-2edns_passthrough/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_suricata-2edns_record_in_list_in_record_assignment/step_00.ref
  tenzir/functional-test/reference/python/test_python_operator_suricata_passthrough/step_00.ref
  tenzir/functional-test/reference/python/test_simple_field_access/step_00.ref
  tenzir/functional-test/tests/python.bats
  tenzir/functional-test/tests/setup_suite.bash
  tenzir/integration/reference/yaml/step_00.ref
  tenzir/integration/tests.yaml
  tenzir/services/systemd/tenzir-node.service.in
  web/docs/operators/transformations/python.md
  web/docs/python.md
Labels: feature

#3655 Fix `sort` type check
  changelog/next/bug-fixes/3655--sort-type-check.md
  libtenzir/builtins/operators/sort.cpp
  tenzir/integration/reference/sort-with-remote-operators/step_02.ref
Labels: bug, operator

#3651 Add `yield` operator
  changelog/next/features/3651--yield-operator.md
  libtenzir/builtins/operators/yield.cpp
  tenzir/integration/reference/yield-operator/step_00.ref
  tenzir/integration/reference/yield-operator/step_01.ref
  tenzir/integration/reference/yield-operator/step_02.ref
  tenzir/integration/reference/yield-operator/step_03.ref
  tenzir/integration/reference/yield-operator/step_04.ref
  tenzir/integration/reference/yield-operator/step_05.ref
  tenzir/integration/tests.yaml
  web/docs/operators/transformations/yield.md
Labels: operator

#3662 Fix demo-node label color strings
  demo-node/setup.bash
Labels: app

#3645 Add `syslog` parser
  changelog/next/features/3645--syslog-parser.md
  libtenzir/builtins/formats/syslog.cpp
  libtenzir/include/tenzir/format/syslog.hpp
  libtenzir/src/format/syslog.cpp
  tenzir/functional-test/data/syslog/syslog-rfc3164.log
  tenzir/integration/reference/syslog-format/step_00.ref
  tenzir/integration/reference/syslog-format/step_01.ref
  tenzir/integration/tests.yaml
  web/docs/formats/syslog.md
Labels: feature, format

#3663 Fix velociraptor-plugin build with Abseil 2023.*
  plugins/velociraptor/CMakeLists.txt
Labels: maintenance

#3661 Remove unused files in docker/ directory
  docker/compose/misp-env.example
  docker/compose/misp.proxy.yaml
  docker/compose/misp.yaml
  docker/compose/thehive-env.example
  docker/compose/thehive.app.yaml
  docker/compose/thehive.tenzir.yaml
  docker/compose/thehive.yaml
  docker/dev/Dockerfile
  docker/dev/README.md
  docker/thehive/README.md
  docker/thehive/cortex/Dockerfile
  docker/thehive/cortex/application.conf.template
  docker/thehive/cortex/entrypoint.sh
  docker/thehive/cortex/local-analyzers.json
  docker/thehive/tenzir-cortex-neuron/Dockerfile
  docker/thehive/tenzir-cortex-neuron/README.md
  docker/thehive/tenzir-cortex-neuron/Tenzir-Search.json
  docker/thehive/tenzir-cortex-neuron/requirements.txt
  docker/thehive/tenzir-cortex-neuron/search.py
  docker/thehive/tenzir-cortex-neuron/tests/input/host.json
  docker/thehive/tenzir-cortex-neuron/tests/input/service.json
  docker/thehive/tenzir-cortex-neuron/tests/output/.gitignore
  docker/thehive/tenzir-cortex-neuron/tests/run
  docker/thehive/test
  docker/thehive/thehive/Dockerfile
  docker/thehive/thehive/application.conf.template
  docker/thehive/thehive/entrypoint.py
Labels: maintenance

#3659 Allow the user to control the implicit sinks and sources of a pipeline
  libtenzir/builtins/commands/exec.cpp
Labels: improvement

#3666 Add 'min_events' parameters to /serve endpoint
  changelog/next/features/3666--serve-latency.md
  libtenzir/builtins/operators/serve.cpp
  libtenzir/include/tenzir/defaults.hpp
  web/docs/operators/sinks/serve.md
  web/openapi/openapi.yaml
Labels: improvement

#3672 Add enrichment blog post
  web/blog/enrichment-complexity-in-the-wild/data-transformation-architecture.png
  web/blog/enrichment-complexity-in-the-wild/enrichment-location.excalidraw.svg
  web/blog/enrichment-complexity-in-the-wild/esql-enrich.png
  web/blog/enrichment-complexity-in-the-wild/index.md
  web/blog/enrichment-complexity-in-the-wild/salamander-method.png
Labels: docs

#3670 Bump the partition version
  version.json
Labels: maintenance, performance, engine

#3653 Add file extension detection to `from`/`to`
  changelog/next/features/3653--file-extension-loader.md
  libtenzir/builtins/connectors/file.cpp
  libtenzir/builtins/operators/from_load_read.cpp
  libtenzir/builtins/operators/to_write_save.cpp
  libtenzir/include/tenzir/detail/file_path_to_parser.hpp
  libtenzir/include/tenzir/detail/file_path_to_plugin_name.hpp
  libtenzir/include/tenzir/detail/loader_saver_resolver.hpp
  libtenzir/include/tenzir/location.hpp
  libtenzir/src/detail/file_path_to_parser.cpp
  libtenzir/src/detail/file_path_to_plugin_name.cpp
  libtenzir/src/detail/loader_saver_resolver.cpp
  tenzir/integration/reference/parse-operators/step_20.ref
  tenzir/integration/reference/parse-operators/step_21.ref
  tenzir/integration/reference/parse-operators/step_22.ref
  tenzir/integration/reference/parse-operators/step_23.ref
  tenzir/integration/reference/parse-operators/step_24.ref
  tenzir/integration/tests.yaml
  web/docs/formats.md
  web/docs/operators/sinks/to.md
  web/docs/operators/sources/from.md
  web/docs/operators/transformations/compress.md
  web/docs/operators/transformations/decompress.md
Labels: format, operator

#3656 Add support for duration types in the python operator
  docker/poetry/Dockerfile
  python/docker-poetry-run.sh
  python/poetry.lock
  python/pyproject.toml
  python/pytenzir/utils/arrow.py
  tenzir/functional-test/reference/python/test_python_operator_timestamps/step_00.ref
  tenzir/functional-test/tests/python.bats
Labels: improvement

#3631 Build arm64 macOS packages
  .github/workflows/nix-config-base.json
  .github/workflows/nix.nu
  .github/workflows/nix.yaml
  CMakeLists.txt
  CMakePresets.json
  cmake/TenzirPackage.cmake
  flake.lock
  flake.nix
  libtenzir/CMakeLists.txt
  libtenzir/src/store.cpp
  nix/fix-protobuf-dep.patch
  nix/overlay.nix
  nix/restinio/default.nix
  nix/tenzir/default.nix
  plugins/fluent-bit/cmake/Findfluentbit.cmake
  scripts/install.sh
  scripts/macOS/install-dev-dependencies.sh
  shell.nix
  tenzir/CMakeLists.txt
Labels: feature

#3671 Add a changelog entry for the python operator
  changelog/next/features/3592--python-operator.md
Labels: improvement

#3674 Improve the `/serve` API docs
  libtenzir/builtins/operators/serve.cpp
  web/docs/operators/sinks/serve.md
  web/openapi/openapi.yaml
Labels: docs

#3682 Build plugins in bundled mode on macOS
  .github/workflows/tenzir.yaml
  scripts/macOS/install-dev-dependencies.sh
  web/blog/parquet-and-feather-writing-security-telemetry/index.qmd
Labels: bug, ci

#3660 Rename pytenzir to tenzir
  .github/workflows/tenzir.yaml
  CMakeLists.txt
  changelog/next/breaking-changes/3660--python-module-renaming.md
  libtenzir/builtins/operators/python.cpp
  python/pyproject.toml
  python/pytenzir/__init__.py
  python/tenzir/__init__.py
  python/tenzir/apps/thehive.py
  python/tenzir/tenzir/__init__.py
  python/tenzir/tenzir/cli.py
  python/tenzir/tenzir/convert.py
  python/tenzir/tenzir/tenzir.py
  python/tenzir/tools/__init__.py
  python/tenzir/tools/python_operator_executor.py
  python/tenzir/utils/arrow.py
  python/tenzir/utils/asyncio.py
  python/tenzir/utils/config.py
  python/tenzir/utils/logging.py
  python/tests/test_convert.py
  python/tests/test_tenzir.py
  python/tests/test_utils_arrow.py
  shell.nix
  web/docs/operators/transformations/python.md
  web/docs/python.md
Labels: refactoring

#3681 Support comments in xsv parser
  changelog/next/features/3681--xsv-comments.md
  libtenzir/builtins/formats/xsv.cpp
  tenzir/functional-test/data/csv/ipblocklist.csv
  tenzir/integration/reference/csv-with-comments/step_00.ref
  tenzir/integration/reference/csv-with-comments/step_01.ref
  tenzir/integration/tests.yaml
  web/docs/formats/xsv.md
Labels: format, improvement

#3687 Support lists and null values and empty strings in XSV parser
  changelog/next/bug-fixes/3687--xsv-changes.md
  changelog/next/features/3653--file-extension-loader.md
  libtenzir/builtins/formats/xsv.cpp
  libtenzir/builtins/operators/tail.cpp
  tenzir/functional-test/data/xsv/nulls-and-escaping.csv
  tenzir/functional-test/data/xsv/sample.csv
  tenzir/functional-test/data/xsv/sample.ssv
  tenzir/functional-test/data/xsv/sample.tsv
  tenzir/integration/reference/csv-with-comments/step_00.ref
  tenzir/integration/reference/csv-with-comments/step_01.ref
  tenzir/integration/reference/xsv-format/step_00.ref
  tenzir/integration/reference/xsv-format/step_01.ref
  tenzir/integration/reference/xsv-format/step_02.ref
  tenzir/integration/reference/xsv-format/step_03.ref
  tenzir/integration/tests.yaml
Labels: bug, format, improvement
