Repository tenzir/tenzir, pull requests merged in 2023-02, with the labels that each got.

#2881 Add PyPi publishing on release and ergonomics changes
  .github/workflows/vast.yaml
  python/pyproject.toml
  python/pyvast/__init__.py
  python/pyvast/apps/thehive.py
  python/pyvast/utils/arrow.py
  python/pyvast/utils/asyncio.py
  python/pyvast/utils/config.py
  python/pyvast/utils/logging.py
  python/pyvast/vast/__init__.py
  python/pyvast/vast/cli.py
  python/pyvast/vast/convert.py
  python/pyvast/vast/vast.py
  python/tests/test_convert.py
  python/tests/test_utils_arrow.py
  python/tests/test_vast.py
  python/vast/__init__.py
Labels: maintenance, python

#2903 Process table slices in stream handler for source
  libvast/include/vast/system/actors.hpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/source.cpp
Labels: enhancement, bug

#2896 Remove the transformer actor
  changelog/unreleased/bug-fixes/2896--remove-the-transformer-actor.md
  libvast/include/vast/detail/framed.hpp
  libvast/include/vast/fwd.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/exporter.hpp
  libvast/include/vast/system/importer.hpp
  libvast/include/vast/system/make_pipelines.hpp
  libvast/include/vast/system/make_source.hpp
  libvast/include/vast/system/source.hpp
  libvast/include/vast/system/transformer.hpp
  libvast/src/detail/add_message_types.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/make_pipelines.cpp
  libvast/src/system/source.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/system/transformer.cpp
  libvast/test/system/transformer.cpp
Labels: refactoring

#2905 Fix a crash in the summarize operator
  libvast/builtins/operators/summarize.cpp
Labels: bug

#2898 Use CAF streaming in export command
  changelog/unreleased/breaking-changes/2898-removed-explore-and-pivot.md
  libvast/include/vast/defaults.hpp
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/system/explore_command.hpp
  libvast/include/vast/system/explorer.hpp
  libvast/include/vast/system/exporter.hpp
  libvast/include/vast/system/pivot_command.hpp
  libvast/include/vast/system/pivoter.hpp
  libvast/include/vast/system/spawn_explorer.hpp
  libvast/include/vast/system/spawn_pivoter.hpp
  libvast/src/system/application.cpp
  libvast/src/system/explore_command.cpp
  libvast/src/system/explorer.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/node.cpp
  libvast/src/system/pivot_command.cpp
  libvast/src/system/pivoter.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/sink_command.cpp
  libvast/src/system/spawn_explorer.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/src/system/spawn_pivoter.cpp
  libvast/test/system/configuration.cpp
  libvast/test/system/explorer.cpp
  libvast/test/system/exporter.cpp
  libvast/test/system/pivoter.cpp
  plugins/pcap/integration/reference/pivot-with-pcap/step_00.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_01.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_02.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_03.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_04.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_05.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_06.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_09.ref
  plugins/pcap/integration/tests.yaml
  vast.yaml.example
  vast/integration/integration.py
  vast/integration/reference/explore-suricata-with-overlap/step_00.ref
  vast/integration/reference/explore-suricata-with-overlap/step_01.ref
  vast/integration/reference/explore-suricata-with-overlap/step_02.ref
  vast/integration/reference/explore-suricata-with-overlap/step_03.ref
  vast/integration/reference/explore-suricata-with-overlap/step_04.ref
  vast/integration/reference/explore-suricata-with-overlap/step_05.ref
  vast/integration/reference/explore-zeek-by-field/step_00.ref
  vast/integration/reference/explore-zeek-by-field/step_01.ref
  vast/integration/reference/explore-zeek-by-field/step_02.ref
  vast/integration/reference/explore-zeek-with-overlap/step_01.out
  vast/integration/reference/explore-zeek/step_00.ref
  vast/integration/reference/explore-zeek/step_01.ref
  vast/integration/reference/explore-zeek/step_02.ref
  vast/integration/reference/pivot/step_00.ref
  vast/integration/reference/pivot/step_01.ref
  vast/integration/reference/pivot/step_02.ref
  vast/integration/reference/pivot/step_03.ref
  vast/integration/reference/pivot/step_04.ref
  vast/integration/reference/pivot/step_05.ref
  vast/integration/reference/pivot/step_06.ref
  vast/integration/reference/pivot/step_07.ref
  vast/integration/vast_integration_suite.yaml
Labels: refactoring, bug

#2908 Add a workaround to fix CAF OpenSSL options
  changelog/unreleased/bug-fixes/2908--fix-openssl-configuration.md
  libvast/src/system/configuration.cpp
Labels: bug

#2909 Support pipeline syntax in compaction
  libvast/src/system/make_pipelines.cpp
Labels: bug

#2911 Set default values to new CAF 0.18.6 streaming options
  libvast/src/system/default_configuration.cpp
  vast.yaml.example
Labels: caf

#2901 Do not warn about missing indexes
  libvast/src/system/passive_partition.cpp
  libvast/test/partition_roundtrip.cpp
Labels: bug

#2915 Upgrade docusaurus to ^2.3.1 and update all yarn packages
  Dockerfile
  scripts/debian/install-dev-dependencies.sh
  web/package.json
  web/yarn.lock
Labels: maintenance

#2907 Add pipeline parsing to 'import' and 'spawn source' command
  changelog/unreleased/features/2877-2904--pipeline-string-parsing.md
  changelog/unreleased/features/2877-2904-2907--pipeline-string-parsing.md
  libvast/include/vast/system/make_source.hpp
  libvast/src/system/import_command.cpp
  libvast/src/system/make_source.cpp
  libvast/src/system/spawn_source.cpp
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_00.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_01.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_02.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_03.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_04.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_05.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_06.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_07.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_08.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_09.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_10.ref
  vast/integration/reference/export-pipeline-operator-parsing-after-expression/step_11.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_00.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_01.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_02.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_03.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_04.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_05.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_06.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_07.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_08.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_09.ref
  vast/integration/reference/export-pipeline-operator-parsing-everything-but-summarize/step_10.ref
  vast/integration/reference/export-pipeline-operator-parsing-only-summarize/step_00.ref
  vast/integration/reference/export-pipeline-operator-parsing-only-summarize/step_01.ref
  vast/integration/reference/export-pipeline-operator-parsing-only-summarize/step_02.ref
  vast/integration/reference/export-pipeline-operator-parsing-only-summarize/step_03.ref
  vast/integration/reference/export-pipeline-operator-summarize-after-expression/step_00.ref
  vast/integration/reference/export-pipeline-operator-summarize-after-expression/step_01.ref
  vast/integration/reference/import-pipeline-operator-parsing-after-expression/step_00.ref
  vast/integration/reference/import-pipeline-operator-parsing-after-expression/step_01.ref
  vast/integration/reference/import-pipeline-operator-parsing-everything-but-summarize/step_00.ref
  vast/integration/reference/import-pipeline-operator-parsing-everything-but-summarize/step_01.ref
  vast/integration/reference/import-pipeline-operator-parsing-only-summarize/step_00.ref
  vast/integration/reference/import-pipeline-operator-parsing-only-summarize/step_01.ref
  vast/integration/reference/import-pipeline-operator-summarize-after-expression/step_00.ref
  vast/integration/reference/import-pipeline-operator-summarize-after-expression/step_01.ref
  vast/integration/reference/spawn-source-with-expression-and-pipeline-operators/step_00.ref
  vast/integration/reference/spawn-source-with-expression-and-pipeline-operators/step_01.ref
  vast/integration/reference/spawn-source-with-pipeline-operators/step_00.ref
  vast/integration/reference/spawn-source-with-pipeline-operators/step_01.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/understand/query-language/pipelines.md
Labels: feature

#2906 Fix rounding issue when printing duration types
  changelog/unreleased/bug-fixes/2906--proper-display-of-duration-types.md
  libvast/include/vast/concept/printable/std/chrono.hpp
  vast/integration/reference/expressions/step_01.ref
  vast/integration/reference/expressions/step_02.ref
  vast/integration/reference/multi-addr-query/step_01.ref
  vast/integration/reference/node-argus-csv/step_02.ref
  vast/integration/reference/node-zeek-conn-log/step_03.ref
  vast/integration/reference/query-operators/step_01.ref
  vast/integration/reference/query-operators/step_02.ref
  vast/integration/reference/query-operators/step_06.ref
Labels: bug

#2910 Enable pipeline export with max events
  libvast/include/vast/system/exporter.hpp
  libvast/src/system/exporter.cpp
  libvast/src/system/spawn_exporter.cpp
  libvast/test/system/exporter.cpp
  vast/integration/reference/export-shutdown-behavior/step_00.ref
  vast/integration/reference/export-shutdown-behavior/step_01.ref
  vast/integration/reference/export-shutdown-behavior/step_02.ref
  vast/integration/reference/export-shutdown-behavior/step_03.ref
  vast/integration/vast_integration_suite.yaml
Labels: bug

#2865 Draft release announcement for VAST v3.0
  web/blog/authors.yml
  web/blog/vast-v2.5/index.md
  web/blog/vast-v3.0/index.md
Labels: enhancement

#2922 Remove the frontend prototype bundled with the web plugin
  .github/workflows/vast.yaml
  changelog/unreleased/changes/2922--removed-frontend-prototype.md
  nix/vast/default.nix
  plugins/web/CMakeLists.txt
  plugins/web/src/configuration.cpp
  plugins/web/ui/.env.example
  plugins/web/ui/.eslintignore
  plugins/web/ui/.eslintrc.cjs
  plugins/web/ui/.gitignore
  plugins/web/ui/.npmrc
  plugins/web/ui/.prettierignore
  plugins/web/ui/.prettierrc
  plugins/web/ui/README.md
  plugins/web/ui/package.json
  plugins/web/ui/playwright.config.ts
  plugins/web/ui/src/app.d.ts
  plugins/web/ui/src/app.html
  plugins/web/ui/src/lib/components/Button.svelte
  plugins/web/ui/src/lib/components/Expandable.svelte
  plugins/web/ui/src/lib/components/IconButton.svelte
  plugins/web/ui/src/lib/components/InlineInput.svelte
  plugins/web/ui/src/lib/components/Menu.svelte
  plugins/web/ui/src/lib/components/Table.svelte
  plugins/web/ui/src/lib/components/Tooltip.svelte
  plugins/web/ui/src/lib/components/markdown/Editor.svelte
  plugins/web/ui/src/lib/components/markdown/Viewer.svelte
  plugins/web/ui/src/lib/util/api.ts
  plugins/web/ui/src/lib/util/formatBytes.ts
  plugins/web/ui/src/lib/util/strings.ts
  plugins/web/ui/src/routes/+layout.svelte
  plugins/web/ui/src/routes/+layout.ts
  plugins/web/ui/src/routes/+page.svelte
  plugins/web/ui/src/routes/+page.ts
  plugins/web/ui/src/routes/report/+page.svelte
  plugins/web/ui/src/routes/report/BlockHeader.svelte
  plugins/web/ui/src/routes/report/Importer.svelte
  plugins/web/ui/src/routes/report/MarkdownBlock.svelte
  plugins/web/ui/src/routes/report/QueryBlock.svelte
  plugins/web/ui/src/routes/report/ReportEditor.svelte
  plugins/web/ui/src/routes/report/index.d.ts
  plugins/web/ui/src/routes/report/stores.ts
  plugins/web/ui/src/routes/status/+page.svelte
  plugins/web/ui/src/routes/styles.css
  plugins/web/ui/static/vast.svg
  plugins/web/ui/svelte.config.js
  plugins/web/ui/tests/root.spec.ts
  plugins/web/ui/tsconfig.json
  plugins/web/ui/vite.config.ts
  plugins/web/ui/yarn.lock
  scripts/sbom-python.sh
Labels: maintenance

#2924 Prevent query_processor from hanging when there are no candidate partitions
  changelog/unreleased/bug-fixes/2924--count-command-hangs-when-zero-results.md
  libvast/src/system/query_processor.cpp
Labels: bug

#2921 Add a chapter about the new pipeline syntax to the 3.0 blog post
  web/blog/vast-v3.0/index.md
Labels: enhancement

#2926 Migrate community chat to Discord
  web/blog/from-slack-to-discord/index.md
  web/blog/parquet-and-feather-writing-security-telemetry/index.qmd
  web/blog/public-roadmap-and-open-rfcs/index.md
  web/blog/richer-typing-in-sigma/index.md
  web/blog/the-new-rest-api/index.md
  web/docs/about/README.md
  web/docs/contribute/README.md
  web/docs/develop/guides/write-a-plugin.md
  web/docs/use/integrate/threatbus/README.md
  web/docusaurus.config.js
  web/src/css/custom.scss
  web/src/pages/discord.tsx
  web/static/img/slack-to-discord.dark.png
  web/static/img/slack-to-discord.light.png
Labels: enhancement

#2604 Provide an Ansible role for VAST
  .github/workflows/style-check.yaml
  ansible/README.md
  ansible/roles/vast/tasks/debian.yaml
  ansible/roles/vast/tasks/main.yaml
  ansible/roles/vast/tasks/static.yaml
  ansible/roles/vast/tasks/vast-service-overrides.conf.j2
  ansible/roles/vast/vast.service
  ansible/test/Dockerfile
  ansible/test/README.md
  ansible/test/example-playbook.yaml
  ansible/test/inventory.ini
  ansible/test/vast.yaml
  changelog/unreleased/changes/2604--ansible-role.md
  web/docs/setup/deploy/README.md
  web/docs/setup/deploy/ansible.md
Labels: feature

#2929 De-detail generator
  VAST.spdx
  libvast/builtins/stores/feather.cpp
  libvast/include/vast/arrow_table_slice.hpp
  libvast/include/vast/bitmap_algorithms.hpp
  libvast/include/vast/collect.hpp
  libvast/include/vast/concept/convertible/data.hpp
  libvast/include/vast/detail/env.hpp
  libvast/include/vast/generator.hpp
  libvast/include/vast/plugin.hpp
  libvast/include/vast/store.hpp
  libvast/include/vast/table_slice.hpp
  libvast/include/vast/type.hpp
  libvast/src/partition_synopsis.cpp
  libvast/src/store.cpp
  libvast/src/system/parse_query.cpp
  libvast/src/table_slice.cpp
  libvast/src/type.cpp
  libvast/test/bitmap_algorithms.cpp
  libvast/test/feather.cpp
  libvast/test/partition_synopsis.cpp
  libvast/test/system/partition.cpp
  libvast/test/table_slice.cpp
  plugins/parquet/parquet.cpp
  plugins/parquet/tests/parquet.cpp
Labels: refactoring

#2928 Remove nix-npm-buildpackage from flake.nix
  flake.lock
  flake.nix
  nix/overlay.nix
Labels: maintenance

#2927 Remove leftover traces of vast-ui
  changelog/unreleased/changes/2922-2927--removed-frontend-prototype.md
  flake.lock
  flake.nix
  nix/overlay.nix
  shell.nix
Labels: maintenance

#2577 RFC-003: Remote Pipelines
  rfc/003-remote-pipelines/README.md
Labels: rfc

#2932 Use `fan_out_request` for request with `void` result
  libvast/builtins/commands/rebuild.cpp
Labels: refactoring

#2934 Fix up a few release-related things
  .github/workflows/analysis.yaml
  .github/workflows/vast.yaml
  CMakePresets.json
  changelog/unreleased/breaking-changes/2898--removed-explore-and-pivot.md
  changelog/unreleased/features/2216--cef-reader.md
  changelog/unreleased/features/2773--pipeline-parameter.md
  libvast/builtins/formats/cef.cpp
  nix/vast/default.nix
  plugins/cef/CHANGELOG.md
  plugins/cef/CMakeLists.txt
  plugins/cef/README.md
  plugins/cef/include/cef/add.hpp
  plugins/cef/include/cef/parse.hpp
  plugins/cef/integration/tests.yaml
  plugins/cef/integration/vast.yaml
  plugins/cef/src/add.cpp
  plugins/cef/src/parse.cpp
  plugins/cef/src/plugin.cpp
  plugins/cef/tests/tests.cpp
  tools/CMakeLists.txt
  tools/vast-regenerate/CMakeLists.txt
  tools/vast-regenerate/README.md
  tools/vast-regenerate/main.cpp
  vast/integration/data/cef/checkpoint.log
  vast/integration/data/cef/cynet.log
  vast/integration/data/cef/forcepoint.log
  vast/integration/reference/cef/step_00.ref
  vast/integration/reference/cef/step_01.ref
  vast/integration/reference/cef/step_02.ref
  vast/integration/reference/cef/step_03.ref
  vast/integration/reference/cef/step_04.ref
  vast/integration/reference/cef/step_05.ref
  vast/integration/reference/export-shutdown-behavior/step_04.ref
  vast/integration/reference/export-shutdown-behavior/step_05.ref
  vast/integration/vast_integration_suite.yaml
  web/blog/vast-v3.0/index.md
  web/docs/understand/formats/cef.md
Labels: enhancement

#2931 Simplify taxonomy resolution
  libvast/include/vast/system/actors.hpp
  libvast/include/vast/taxonomies.hpp
  libvast/src/system/catalog.cpp
  libvast/src/taxonomies.cpp
Labels: enhancement

#2941 Add a `--expand` flag to `vast show schemas`
  libvast/builtins/commands/show.cpp
  libvast/include/vast/type.hpp
  libvast/src/type.cpp
  vast/integration/reference/server-zeek-multiple-imports/step_01.ref
  vast/integration/vast_integration_suite.yaml
Labels: enhancement

#2943 Fix empty write_paths in the ansible role
  ansible/roles/vast/tasks/vast-service-overrides.conf.j2
Labels: bug

#2947 Fix Discord invite link
  web/src/pages/discord.tsx
Labels: bug

#2944 Add CORS preflight request handling
  changelog/unreleased/features/2944--cors-handling.md
  libvast/include/vast/http_api.hpp
  plugins/web/include/web/configuration.hpp
  plugins/web/src/configuration.cpp
  plugins/web/src/plugin.cpp
  plugins/web/src/server_command.cpp
Labels: enhancement

#2942 Fix a potential crash when querying active partitions too early
  libvast/include/vast/system/active_partition.hpp
  libvast/src/system/active_partition.cpp
  libvast/src/system/index.cpp
  libvast/test/partition_roundtrip.cpp
  libvast/test/system/active_partition.cpp
  libvast/test/system/query_pruning.cpp
Labels: bug

#2952 Add schema information to the `/query` endpoint
  libvast/builtins/endpoints/query.cpp
  libvast/test/rest_api.cpp
  plugins/web/src/server_command.cpp
  web/openapi/openapi.yaml
Labels: feature

#2951 Support case insensitivity in patterns
  changelog/unreleased/features/2951--support-case-insensitivity-in-patterns.md
  libvast/include/vast/concept/parseable/vast/pattern.hpp
  libvast/include/vast/concept/printable/vast/pattern.hpp
  libvast/include/vast/concept/printable/vast/view.hpp
  libvast/include/vast/pattern.hpp
  libvast/include/vast/view.hpp
  libvast/src/evaluate.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/pattern.cpp
  libvast/src/view.cpp
  libvast/test/pattern.cpp
  vast/integration/reference/patterns/step_00.ref
  vast/integration/reference/patterns/step_01.ref
  vast/integration/reference/patterns/step_02.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/understand/query-language/expressions.md
Labels: feature

#2953 Allow whitespace before expressions in queries
  libvast/builtins/query-languages/vastql.cpp
Labels: bug

#2950 Perform some docs smithing
  web/blog/apache-arrow-as-platform-for-security-data-engineering/index.md
  web/blog/richer-typing-in-sigma/index.md
  web/blog/vast-v1.0/index.md
  web/blog/vast-v1.1/index.md
  web/blog/vast-v2.0/index.md
  web/blog/vast-v2.2/index.md
  web/blog/vast-v3.0/index.md
  web/docs/understand/architecture/plugins.md
  web/docs/understand/data-model/taxonomies.md
  web/docs/understand/formats/ascii.md
  web/docs/understand/formats/csv.md
  web/docs/understand/formats/json.md
  web/docs/understand/language/README.md
  web/docs/understand/language/_category_.yml
  web/docs/understand/language/expressions.excalidraw.svg
  web/docs/understand/language/expressions.md
  web/docs/understand/language/extractors.excalidraw.svg
  web/docs/understand/language/frontends/README.md
  web/docs/understand/language/frontends/_category_.yml
  web/docs/understand/language/frontends/sigma-query-frontend.excalidraw.svg
  web/docs/understand/language/frontends/sigma.md
  web/docs/understand/language/frontends/vastql.md
  web/docs/understand/language/operators/README.md
  web/docs/understand/language/operators/_category_.yml
  web/docs/understand/language/operators/drop.md
  web/docs/understand/language/operators/extend.md
  web/docs/understand/language/operators/hash.md
  web/docs/understand/language/operators/head.md
  web/docs/understand/language/operators/identity.md
  web/docs/understand/language/operators/pseudonymize.md
  web/docs/understand/language/operators/rename.md
  web/docs/understand/language/operators/replace.md
  web/docs/understand/language/operators/select.md
  web/docs/understand/language/operators/summarize.md
  web/docs/understand/language/operators/taste.md
  web/docs/understand/language/operators/where.md
  web/docs/understand/language/pipeline-chaining.excalidraw.svg
  web/docs/understand/language/pipeline-example.excalidraw.svg
  web/docs/understand/language/pipeline-nested.excalidraw.svg
  web/docs/understand/language/pipeline-structure.excalidraw.svg
  web/docs/understand/language/pipelines.md
  web/docs/understand/query-language/README.md
  web/docs/understand/query-language/operators/README.md
  web/docs/understand/query-language/pipeline-dataflow.excalidraw.svg
  web/docs/understand/query-language/pipelines.md
  web/docs/use/README.md
  web/docs/use/detect/execute-sigma-rules.md
  web/docs/use/export/README.md
  web/docs/use/export/_category_.yml
  web/docs/use/import/README.md
  web/docs/use/import/_category_.yml
  web/docs/use/import/schema-transfer.excalidraw.svg
  web/docs/use/interfaces.excalidraw.svg
  web/docs/use/transform/README.md
  web/openapi/openapi.yaml
  web/src/css/custom.scss
Labels: enhancement

#2956 Fix CI on master
  .github/workflows/vast.yaml
Labels: bug

#2955 Make summarize in export block properly
  libvast/builtins/operators/summarize.cpp
  libvast/include/vast/pipeline.hpp
  libvast/include/vast/pipeline_operator.hpp
  libvast/src/pipeline.cpp
  libvast/src/system/datagram_source.cpp
  libvast/src/system/exporter.cpp
  libvast/src/system/importer.cpp
  libvast/src/system/sink.cpp
  libvast/src/system/source.cpp
  libvast/test/pipeline.cpp
Labels: bug

#2958 Fix debian package updates
  CMakeLists.txt
  cmake/VASTPackage.cmake
  nix/vast/default.nix
Labels: bug

#2959 Replace occurences of the VAST Query Language with query-less naming wherever appropriate
  libvast/builtins/endpoints/export.cpp
  libvast/builtins/query-languages/vast.cpp
  libvast/include/vast/plugin.hpp
  libvast/src/system/parse_query.cpp
  libvast/test/pipeline.cpp
  plugins/sigma/src/plugin.cpp
  web/blog/vast-v3.0/index.md
  web/docs/understand/architecture/plugins.md
  web/docs/understand/language/frontends/README.md
  web/docs/understand/language/frontends/sigma.md
  web/docs/understand/language/frontends/vast.md
  web/openapi/openapi.yaml
Labels: refactoring

#2962 Prune unwanted store paths from *-slim images
  nix/vast/default.nix
Labels: maintenance

#2961 Another set of docs changes
  web/blog/vast-v3.0/index.md
  web/docs/about/why-vast.md
  web/docs/understand/architecture/components.md
  web/docs/understand/formats/README.md
  web/docs/understand/formats/format.excalidraw.svg
  web/docs/use/import/README.md
  web/docusaurus.config.js
  web/src/pages/vast-and-tenzir.md
  web/static/img/editions.excalidraw.svg
Labels: enhancement

#2964 Instantiate regex in pattern eagerly (without re2)
  libvast/fbs/data.fbs
  libvast/include/vast/concept/parseable/vast/pattern.hpp
  libvast/include/vast/concept/printable/vast/pattern.hpp
  libvast/include/vast/pattern.hpp
  libvast/include/vast/view.hpp
  libvast/src/data.cpp
  libvast/src/evaluate.cpp
  libvast/src/expression_visitors.cpp
  libvast/src/pattern.cpp
  libvast/src/view.cpp
  libvast/test/convertible.cpp
  libvast/test/data.cpp
  libvast/test/parse_data.cpp
  libvast/test/pattern.cpp
  libvast/test/view.cpp
  plugins/sigma/src/parse.cpp
Labels: enhancement, bug

#2960 Fix OpenAPI specs
  libvast/builtins/endpoints/export.cpp
  libvast/builtins/endpoints/query.cpp
  web/openapi/openapi.yaml
Labels: enhancement

#2973 Test vast plugins in CI if the submodule changed
  .github/workflows/vast.yaml
Labels: bug

#2963 Ignore dense indexes in the active partition lookup path
  libvast/src/expression.cpp
  libvast/src/store.cpp
  libvast/src/system/active_partition.cpp
  libvast/test/expression_evaluation.cpp
  libvast/test/system/active_partition.cpp
Labels: bug
