Repository tenzir/tenzir, pull requests merged in 2023-09, with the labels that each got.

#3485 Fix the deprecated operator in the Linux node install script
  scripts/install.sh
Labels: maintenance, bug

#3437 Integrate tooling to generate an SBOM through the Nix scaffold
  .github/workflows/tenzir.yaml
  .github/workflows/update-sbom.yaml
  CMakeLists.txt
  Dockerfile
  Tenzir.spdx
  flake.lock
  flake.nix
  libtenzir/include/tenzir/detail/absorb_line.hpp
  nix/overlay.nix
  nix/tenzir/default.nix
  shell.nix
  tenzir.spdx.json
  vendored.spdx
  web/docs/developer-guides/build-from-source.md
  web/src/pages/sbom.tsx
Labels: maintenance, integration

#3486 Bump nixpkgs to 5eba4b7a0
  .github/workflows/nix.yaml
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/restinio/default.nix
  nix/tenzir/default.nix
  shell.nix
Labels: maintenance

#3445 A few minor ansible role fixes
  .github/workflows/style-check.yaml
  ansible/roles/tenzir/meta/argument_specs.yaml
  ansible/roles/tenzir/tasks/main.yaml
  ansible/roles/tenzir/tasks/tenzir-node-service-overrides.conf.j2
  ansible/roles/tenzir/tenzir-node.service
Labels: bug

#3501 Fix nix/nixos instructions in the installer script
  scripts/install.sh
Labels: bug

#3497 Implement a ZeroMQ connector
  .github/workflows/tenzir.yaml
  Dockerfile
  README.md
  changelog/next/features/3497.md
  docker/test
  nix/overlay.nix
  nix/tenzir/default.nix
  plugins/kafka/CMakeLists.txt
  plugins/zmq/CMakeLists.txt
  plugins/zmq/src/plugin.cpp
  scripts/debian/install-dev-dependencies.sh
  scripts/macOS/install-dev-dependencies.sh
  web/blog/tenzir-v4.2/index.md
  web/blog/tenzir-v4.2/zeromq-connector.excalidraw.svg
  web/docs/connectors/kafka.md
  web/docs/connectors/zeromq-connector.excalidraw.svg
  web/docs/connectors/zmq.md
  web/docs/developer-guides/build-from-source.md
Labels: feature, connector

#3508 Fix connector names in docs for `https` and `ftps`
  web/docs/connectors/ftps.md
  web/docs/connectors/https.md
Labels: bug, docs

#3511 Add `lines` parser
  changelog/next/features/3511.md
  libtenzir/builtins/formats/lines.cpp
  tenzir/integration/reference/lines/step_00.ref
  tenzir/integration/reference/lines/step_01.ref
  tenzir/integration/tests.yaml
  web/blog/tenzir-v4.2/index.md
  web/docs/formats/lines.md
Labels: feature, format

#3506 Fix and improve the "Update SBOM" GHA Workflow
  .github/workflows/update-sbom.yaml
  flake.nix
Labels: bug

#3498 Implement the GCS connector plugin
  .github/workflows/tenzir.yaml
  changelog/next/features/3498--gcs-connector.md
  nix/google-cloud-cpp/0001-Use-pkg-config-to-find-CURL.patch
  nix/overlay.nix
  nix/tenzir/default.nix
  plugins/gcs/CMakeLists.txt
  plugins/gcs/src/plugin.cpp
  web/docs/connectors/gcs.md
  web/docs/developer-guides/build-from-source.md
Labels: feature, connector

#3514 Update labels
  .github/labels.yml
Labels: maintenance

#3496 Implement the s3 connector
  Dockerfile
  changelog/next/features/3496--s3-connector.md
  libtenzir/CMakeLists.txt
  libtenzir/builtins/connectors/s3.cpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir_test/src/main.cpp
  scripts/debian/install-dev-dependencies.sh
  tenzir/integration/reference/parse-operators/step_03.ref
  tenzir/integration/reference/s3-connector/step_00.ref
  tenzir/integration/tests.yaml
  tenzir/tenzir.cpp
  web/blog/tenzir-v4.2/index.md
  web/docs/connectors/s3.md
  web/docs/developer-guides/build-from-source.md
Labels: feature, connector

#3513 Support parsing of concatenated PCAPs
  changelog/next/changes/3513.md
  changelog/next/features/3513.md
  libtenzir/builtins/formats/pcap.cpp
  libtenzir/include/tenzir/pcap.hpp
  libtenzir/src/execution_node.cpp
  libtenzir/src/pcap.cpp
  plugins/nic/src/plugin.cpp
  tenzir/integration/reference/pcap-format/step_04.ref
  tenzir/integration/reference/pcap-format/step_05.ref
  tenzir/integration/tests.yaml
  web/blog/tenzir-v4.2/index.md
  web/docs/connectors/nic.md
  web/docs/formats/pcap.md
Labels: format, improvement

#3519 Fix the documentation CI job
  docker/quarto/Dockerfile
  libtenzir/src/detail/installdirs.cpp.in
  scripts/debian/install-dev-dependencies.sh
Labels: maintenance

#3520 Fixes for building dynamic executables with Nix
  nix/tenzir/default.nix
  plugins/zmq/CMakeLists.txt
Labels: bug, packaging

#3517 Support `show nics` to see network interfaces
  changelog/next/features/3517.md
  libtenzir/include/tenzir/detail/posix.hpp
  libtenzir/src/detail/pid_file.cpp
  libtenzir/src/detail/posix.cpp
  plugins/nic/src/plugin.cpp
  web/blog/tenzir-v4.2/index.md
  web/docs/operators/sources/show.md
Labels: operator, improvement

#3526 Fix program startup of the static binary
  nix/overlay.nix
Labels: bug

#3527 Auto-complete missing URI schemes
  libtenzir/builtins/connectors/s3.cpp
  plugins/gcs/src/plugin.cpp
  plugins/zmq/src/plugin.cpp
Labels: connector, improvement

#3528 Add scheme omission to s3 and gcs loaders
  libtenzir/builtins/connectors/s3.cpp
  plugins/gcs/src/plugin.cpp
Labels: feature, bug

#3515 Do not drop the `data` field in `decapsulate`
  changelog/next/changes/3515--decapsulate-keep-data.md
  libtenzir/builtins/formats/pcap.cpp
  libtenzir/builtins/operators/decapsulate.cpp
  tenzir/integration/reference/pcap-format/step_00.ref
  tenzir/integration/reference/pcap-format/step_05.ref
  tenzir/integration/tests.yaml
Labels: operator, improvement

#3531 Fix installer on debian docker
  .github/workflows/installer.yaml
  scripts/install.sh
Labels: bug, packaging

#3535 Fix processing of http arguments
  changelog/next/bug-fixes/3535.md
  libtenzir/builtins/connectors/curl.cpp
Labels: bug, connector

#3534 Add blog on cost of SecOps infra
  web/blog/we-need-to-talk-about-the-cost-of-security-operations-infrastructure/capex-vs-opex.excalidraw.svg
  web/blog/we-need-to-talk-about-the-cost-of-security-operations-infrastructure/index.md
Labels: docs

#3538 Fix the wrong type for the version record type in the `zeek.software` schema
  changelog/next/bug-fixes/3538.md
  libtenzir_test/src/main.cpp
  schema/types/zeek.schema
  tenzir/integration/reference/node-zeek-json/step_01.ref
  tenzir/integration/reference/read-from-zeek-json-file/step_00.ref
Labels: bug

#3537 Implement serialization_plugins for store_plugins
  changelog/next/bug-fixes/3537--implement-printer-serialization-plugin-for-store-plugins.md
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/plugin.cpp
Labels: bug

#3542 Provide meaningful error when encountering PCAPng
  libtenzir/builtins/formats/pcap.cpp
  libtenzir/include/tenzir/pcapng.hpp
Labels: format, improvement

#3543 Add the `/pipeline/launch` endpoint to the `tenzir_features()`
  libtenzir/src/version.cpp
Labels: feature, docs
