Repository tenzir/tenzir, pull requests merged in 2023-07, with the labels that each got.

#3288 Fix error for early termination of upstream exec nodes
  libvast/src/execution_node.cpp
Labels: bug

#3283 Use the static build for nix run github:tenzir/tenzir
  flake.nix
  nix/tenzir/default.nix
  shell.nix
Labels: maintenance

#3289 Fix duplicate name detection in `flatten` operator
  libvast/src/table_slice.cpp
Labels: bug

#3291 Unroll the Zeek TSV header parsing loop
  changelog/next/features/3291--unroll-zeek-tsv-header-parsing-loop.md
  libvast/builtins/formats/zeek_tsv.cpp
  vast/integration/data/zeek/broken_no_closing_tag.log
  vast/integration/data/zeek/broken_no_data_after_open.log
  vast/integration/reference/zeek-tsv-pipeline-format/step_14.ref
  vast/integration/reference/zeek-tsv-pipeline-format/step_15.ref
  vast/integration/vast_integration_suite.yaml
Labels: refactoring, bug, format

#3295 Add a `--schema` option to the JSON parser
  changelog/next/features/3295--json-known-schema.md
  libvast/builtins/formats/json.cpp
  libvast/builtins/operators/from_read_load_parse.cpp
  libvast/builtins/operators/write_to_print_save.cpp
  vast/integration/reference/read-from-suricata-file/step_01.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/formats/json.md
Labels: feature

#3299 Use a GCS link to fetch the latest release package
  scripts/debian/postinst
  scripts/install.sh
Labels: bug

#3294 Fix generated commit msg from the prepare release script
  scripts/prepare-release
Labels: bug

#3303 Rewrite the zeek-tsv parser from the ground up
  libvast/builtins/formats/zeek_tsv.cpp
  vast/integration/reference/zeek-tsv-pipeline-format/step_07.ref
  vast/integration/reference/zeek-tsv-with-remote-import/step_00.ref
Labels: bug, format

#3302 Fix potential stalling issue with the zeek-tsv parser
  libvast/builtins/formats/zeek_tsv.cpp
  libvast/src/execution_node.cpp
  vast/integration/reference/zeek-tsv-pipeline-format/step_07.ref
  vast/integration/reference/zeek-tsv-with-remote-import/step_00.ref
Labels: performance, bug, executor

#3307 Add further performance logs to the execution node
  libvast/builtins/commands/exec.cpp
  libvast/src/execution_node.cpp
  libvast/src/pipeline_executor.cpp
Labels: performance, executor

#3287 Add Zeek blog post
  web/blog/mobilizing-zeek-logs/index.md
  web/blog/mobilizing-zeek-logs/zeek-packets-to-logs.excalidraw.svg
  web/docusaurus.config.js
Labels: docs

#3274 YAROD - Yet Another Round Of Docs
  README.md
  demo-node/entrypoint.bash
  web/docs/developer-guides/build-the-docker-image.md
  web/docs/formats/json.md
  web/docs/get-started.md
  web/docs/operators/sinks/save.md
  web/docs/operators/sinks/write.md
  web/docs/operators/sources/load.md
  web/docs/operators/sources/read.md
  web/docs/operators/sources/shell.md
  web/docs/operators/transformations/drop.md
  web/docs/operators/transformations/flatten.md
  web/docs/operators/transformations/select.md
  web/docs/setup-guides/deploy-a-node/README.md
  web/docs/setup-guides/deploy-a-node/_category_.yml
  web/docs/setup-guides/deploy-a-node/ansible.md
  web/docs/setup-guides/deploy-a-node/docker-compose.md
  web/docs/setup-guides/deploy-a-node/systemd.md
  web/docs/setup-guides/deploy/README.md
  web/docs/setup-guides/deploy/docker.md
  web/docs/setup-guides/use-the-app/README.md
  web/docs/setup-guides/use-the-app/app-configurator.excalidraw.svg
  web/docs/setup-guides/use-the-app/app-explorer.excalidraw.svg
  web/docs/setup-guides/use-the-app/app-overview.excalidraw.svg
  web/docs/user-guides.md
  web/docs/user-guides/execute-sigma-rules/README.md
  web/docs/user-guides/export-from-a-node.md
  web/docs/user-guides/import-into-a-node.md
  web/docs/user-guides/reshape-data/README.md
  web/docs/user-guides/run-a-pipeline.md
  web/docs/user-guides/run-a-pipeline/README.md
  web/docs/user-guides/run-a-pipeline/pipeline-browser.excalidraw.svg
  web/docs/user-guides/run-a-pipeline/pipeline-cli.excalidraw.svg
  web/docs/user-guides/show-available-schemas.md
  web/docs/user-guides/spawn-a-node.md
  web/docs/user-guides/transform-data-at-rest.md
  web/docs/why-tenzir.md
Labels: docs

#3309 Fix /serve sometimes returning a token instead of null
  libvast/builtins/operators/serve.cpp
Labels: bug, operator

#3311 Fix a rare crash in table slice builders
  libvast/src/module.cpp
  libvast/src/table_slice_builder.cpp
  libvast/test/feather.cpp
Labels: bug

#3313 Add /bin to prefix when installing Tenzir via install script
  scripts/install.sh
Labels: maintenance, bug

#3314 Add a Docker Compose setup for developers
  .gitignore
  docker-compose.yaml
  env.example
Labels: maintenance

#3315 Add a startup banner to `tenzir-node`
  libvast/include/vast/connector.hpp
  libvast/src/application.cpp
  libvast/src/connect_to_node.cpp
  libvast/src/connector.cpp
  libvast/src/start_command.cpp
  libvast/src/version.cpp
Labels: node

#3317 Set schema name for `put` and `version` explicitly
  libvast/builtins/operators/put_extend_replace.cpp
  libvast/builtins/operators/version.cpp
Labels: operator

#3321 Remove a confusing exit message for `docker compose up`
  docker-compose.yaml
Labels: maintenance

#3319 Improve error message for missing sink
  libvast/builtins/commands/exec.cpp
  libvast/include/vast/pipeline_executor.hpp
  libvast/src/pipeline_executor.cpp
Labels: feature

#3316 Disable `failed to tailor` warning
  libvast/builtins/operators/where.cpp
  vast/integration/reference/export-in-pipeline/step_10.ref
  vast/integration/reference/export-in-pipeline/step_11.ref
Labels: operator

#3324 Fix off-by-one error in banner
  libvast/src/application.cpp
Labels: bug

#3304 Implement the `unflatten` operator
  changelog/next/features/3304--unflatten-operator.md
  libvast/builtins/operators/flatten.cpp
  libvast/builtins/operators/unflatten.cpp
  libvast/include/vast/table_slice.hpp
  libvast/src/table_slice.cpp
  libvast/test/table_slice.cpp
  vast/integration/data/json/record-in-list-in-record.json
  vast/integration/data/json/record-in-list2.json
  vast/integration/data/json/record-with-multi-nested-field-names.json
  vast/integration/data/json/record-with-multiple-unflattened-values.json
  vast/integration/data/json/records-in-nested-lists.json
  vast/integration/data/json/records-in-nested-record-lists.json
  vast/integration/reference/unflatten-operator/step_00.ref
  vast/integration/reference/unflatten-operator/step_01.ref
  vast/integration/reference/unflatten-operator/step_02.ref
  vast/integration/reference/unflatten-operator/step_03.ref
  vast/integration/reference/unflatten-operator/step_04.ref
  vast/integration/reference/unflatten-operator/step_05.ref
  vast/integration/reference/unflatten-operator/step_06.ref
  vast/integration/reference/unflatten-operator/step_07.ref
  vast/integration/reference/unflatten-operator/step_08.ref
  vast/integration/reference/unflatten-operator/step_09.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/operators/transformations/unflatten.md
Labels: feature, operator

#3320 Tune defaults and demo-node experience
  changelog/next/changes/3320--reduce-default-timeouts.md
  demo-node/entrypoint.bash
  demo-node/timeshift-zeek.bash
  libvast/builtins/formats/zeek_tsv.cpp
  libvast/include/vast/defaults.hpp
  libvast/src/application.cpp
  tenzir.yaml.example
  vast/integration/vast.yaml
  vast/integration/vast_integration_suite.yaml
Labels: node

#3327 Disable string indexes
  libvast/builtins/operators/where.cpp
  libvast/src/active_partition.cpp
  tenzir.yaml.example
Labels: bug

#3323 Fix missing call to optimize in exec command
  libvast/builtins/commands/exec.cpp
  libvast/src/pipeline.cpp
Labels: bug

#3330 More demo node fixes
  demo-node/entrypoint.bash
Labels: bug

#3329 Use `load -` and `read json` as implicit sources
  changelog/next/features/3329--implicit-sink.md
  libvast/builtins/commands/exec.cpp
Labels: feature

#3331 Fix predicate pushdown implementation of `local`/`remote`
  libvast/builtins/operators/local_remote.cpp
Labels: bug, operator

#3263 Revamp packet acquisition and parsing
  .github/workflows/vast.yaml
  changelog/next/breaking-changes/3263.md
  changelog/next/features/3263.md
  libvast/builtins/formats/pcap.cpp
  libvast/builtins/formats/zeek_tsv.cpp
  libvast/builtins/operators/decapsulate.cpp
  libvast/include/vast/ether_type.hpp
  libvast/include/vast/mac.hpp
  libvast/include/vast/pcap.hpp
  libvast/src/ether_type.cpp
  libvast/src/execution_node.cpp
  libvast/src/mac.cpp
  libvast/src/pcap.cpp
  libvast/test/mac.cpp
  nix/tenzir/default.nix
  plugins/nic/CMakeLists.txt
  plugins/nic/src/plugin.cpp
  plugins/pcap/.gitignore
  plugins/pcap/CHANGELOG.md
  plugins/pcap/README.md
  plugins/pcap/data
  plugins/pcap/integration/data/pcap/example.pcap.gz
  plugins/pcap/integration/data/pcap/suricata/eve.json.gz
  plugins/pcap/integration/data/pcap/zeek/conn.log.gz
  plugins/pcap/integration/data/pcap/zeek/files.log.gz
  plugins/pcap/integration/data/pcap/zeek/http.log.gz
  plugins/pcap/integration/data/pcap/zeek/packet_filter.log.gz
  plugins/pcap/integration/data/pcap/zeek/ssh.log.gz
  plugins/pcap/integration/reference/importing-vlan-traffic/step_00.ref
  plugins/pcap/integration/reference/importing-vlan-traffic/step_01.ref
  plugins/pcap/integration/reference/importing-vlan-traffic/step_02.ref
  plugins/pcap/integration/reference/importing-vlan-traffic/step_03.ref
  plugins/pcap/integration/reference/importing-vlan-traffic/step_04.ref
  plugins/pcap/integration/reference/manual-1-node/step_00.ref
  plugins/pcap/integration/reference/manual-1-node/step_01.ref
  plugins/pcap/integration/reference/manual-1-node/step_02.ref
  plugins/pcap/integration/reference/manual-1/step_00.ref
  plugins/pcap/integration/reference/manual-1/step_01.ref
  plugins/pcap/integration/reference/manual-1/step_02.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_07.ref
  plugins/pcap/integration/reference/pivot-with-pcap/step_08.ref
  plugins/pcap/integration/tests.yaml
  plugins/pcap/integration/vast.yaml
  plugins/pcap/main.cpp
  plugins/pcap/schema/concepts/pcap.yaml
  plugins/pcap/tests.cpp
  plugins/web/integration/reference/serve-endpoint/step_00.ref
  plugins/web/integration/scripts/serve.sh
  vast/integration/data/pcap/vlan-double-tagging.pcap
  vast/integration/data/pcap/vlan-single-tagging.pcap
  vast/integration/data/pcap/vlan.pcap.gz
  vast/integration/reference/pcap-format/step_00.ref
  vast/integration/reference/pcap-format/step_01.ref
  vast/integration/reference/pcap-format/step_02.ref
  vast/integration/reference/pcap-format/step_03.ref
  vast/integration/vast_integration_suite.yaml
  web/docs/connectors/nic.md
  web/docs/formats/pcap.md
  web/docs/operators/transformations/decapsulate.md
Labels: feature, format, connector, operator

#3339 Fix the suricata ingest on the demo node
  demo-node/entrypoint.bash
Labels: bug

#3338 Do not warn when packet parsing fails
  libvast/builtins/operators/decapsulate.cpp
  vast/integration/reference/pcap-format/step_01.ref
Labels: operator

#3336 Minor CI cleanup and systemd service renaming
  .github/workflows/vast.yaml
  ansible/roles/tenzir/tasks/main.yaml
  ansible/roles/tenzir/tasks/static.yaml
  ansible/roles/tenzir/tasks/tenzir-node-service-overrides.conf.j2
  ansible/roles/tenzir/tenzir-node.service
  scripts/debian/postinst
  scripts/debian/postrm
  scripts/debian/prerm
  scripts/install.sh
  vast/CMakeLists.txt
  vast/services/systemd/tenzir-node.service.in
  web/docs/setup-guides/deploy-a-node/systemd.md
Labels: maintenance

#3347 Add update instructions
  web/docs/setup-guides/deploy-a-node/_category_.yml
  web/docs/setup-guides/update-a-node.md
Labels: docs

#3351 Perform a few CI tune-ups
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/issue.yml
  .github/dependabot.yml
Labels: maintenance, infra

#3354 Add developer documentation for label syncing
  .github/labels.yml
  web/docs/contribute/github.md
Labels: docs

#3353 Fix noisy unflatten warning
  libvast/src/table_slice.cpp
Labels: refactoring

#3344 Fix a crash when the JSON document is malformed
  libvast/builtins/formats/json.cpp
  libvast/test/json_parser.cpp
Labels: bug

#3356 Perform more docs smithing
  web/blog/mobilizing-zeek-logs/index.md
  web/blog/zeek-and-ye-shall-pipe/index.md
  web/docusaurus.config.js
  web/package.json
  web/src/components/GiscusComponent/index.tsx
  web/src/pages/index.mdx
  web/src/theme/BlogPostItem/index.js
  web/yarn.lock
Labels: docs

#3358 Remove previously deprecated options
  changelog/next/breaking-changes/3358--removed-deprecated-things.md
  libvast/builtins/query-languages/vast.cpp
  libvast/builtins/stores/segment_store.cpp
  libvast/fbs/segment.fbs
  libvast/include/vast/segment.hpp
  libvast/src/concept/parseable/vast/legacy_type.cpp
  libvast/src/format/test.cpp
  libvast/src/index.cpp
  libvast/src/segment.cpp
  libvast/test/format/zeek.cpp
  libvast/test/legacy_type.cpp
  libvast/test/schema.cpp
  libvast/test/segment.cpp
  libvast_test/artifacts/segment_stores/zeek.conn.store
  vast/integration/misc/schema/zeek-conn.schema
  vast/integration/misc/schema/zeek-with-skip.schema
  vast/tenzir.cpp
  web/docs/metrics.md
Labels: maintenance

#3341 Add magic nix cache action
  .github/workflows/nix.yaml
Labels: ci

#3357 Add support for merge queues to the CI setup
  .github/workflows/style-check.yaml
  .github/workflows/tenzir.yaml
Labels: ci

#3365 Transform `read` and `write` into `parse` and `print`
  changelog/next/breaking-changes/3365--read-write-into-parse-print.md
  demo-node/entrypoint.bash
  libtenzir/builtins/commands/exec.cpp
  libtenzir/builtins/connectors/directory.cpp
  libtenzir/builtins/operators/from_load_read.cpp
  libtenzir/builtins/operators/to_write_save.cpp
  libtenzir/test/pipeline.cpp
  tenzir.yaml.example
  tenzir/integration/reference/parse-operators/step_05.ref
  tenzir/integration/reference/parse-operators/step_06.ref
  tenzir/integration/reference/parse-operators/step_07.ref
  tenzir/integration/reference/parse-operators/step_11.ref
  tenzir/integration/reference/zeek-tsv-pipeline-format/step_14.ref
  tenzir/integration/tests.yaml
  web/blog/mobilizing-zeek-logs/index.md
  web/blog/vast-v3.1/index.md
  web/docs/connectors/directory.md
  web/docs/connectors/file.md
  web/docs/formats/xsv.md
  web/docs/formats/zeek-tsv.md
  web/docs/operators/sinks/save.md
  web/docs/operators/sinks/to.md
  web/docs/operators/sinks/write.md
  web/docs/operators/sources/from.md
  web/docs/operators/sources/load.md
  web/docs/operators/sources/read.md
  web/docs/operators/sources/shell.md
  web/docs/operators/transformations/parse.md
  web/docs/operators/transformations/print.md
  web/docs/operators/transformations/read.md
  web/docs/operators/transformations/shell.md
  web/docs/operators/transformations/write.md
  web/docs/user-guides/run-a-pipeline/README.md
Labels: refactoring, docs, format, operator

#3368 Fix invalid buffer access in warnings for unparseable JSON
  libtenzir/builtins/formats/json.cpp
  libtenzir/test/json_parser.cpp
Labels: bug

#3380 Fix an occasional crash when parsing a string in JSON parser
  libtenzir/builtins/formats/json.cpp
Labels: bug

#3350 Add blog post on shell operator
  web/blog/shell-yeah-supercharging-zeek-and-suricata-with-tenzir/index.md
  web/blog/shell-yeah-supercharging-zeek-and-suricata-with-tenzir/shell-operator.excalidraw.svg
  web/blog/shell-yeah-supercharging-zeek-and-suricata-with-tenzir/zeek-to-tenzir-pipe.excalidraw.svg
  web/blog/shell-yeah-supercharging-zeek-and-suricata-with-tenzir/zeek-to-tenzir-shell.excalidraw.svg
Labels: docs

#3379 Add --append and --real-time to directory saver
  changelog/next/features/3379.md
  libtenzir/builtins/connectors/directory.cpp
  web/docs/connectors/directory.md
Labels: feature, connector

#3335 Allow list builder to change type
  libtenzir/include/tenzir/cast.hpp
  libtenzir/include/tenzir/detail/adaptive_table_slice_builder_guards.hpp
  libtenzir/include/tenzir/detail/series_builders.hpp
  libtenzir/include/tenzir/detail/type_list.hpp
  libtenzir/include/tenzir/view.hpp
  libtenzir/src/adaptive_table_slice_builder.cpp
  libtenzir/src/detail/adaptive_table_slice_builder_guards.cpp
  libtenzir/src/detail/series_builders.cpp
  libtenzir/src/view.cpp
  libtenzir/test/adaptive_table_slice_builder.cpp
  libtenzir/test/cast.cpp
Labels: feature

#3374 Don't use AppendArraySlice in remove_last_row
  libtenzir/include/tenzir/detail/series_builders.hpp
  libtenzir/src/adaptive_table_slice_builder.cpp
  libtenzir/src/detail/series_builders.cpp
  libtenzir/test/adaptive_table_slice_builder.cpp
Labels: bug

#3377 Improve low-load memory consumption
  changelog/next/changes/3377--reduce-passive-partition-cache-size.md
  changelog/next/changes/3377--reduce-rebuild-frequency.md
  libtenzir/builtins/commands/rebuild.cpp
  libtenzir/include/tenzir/defaults.hpp
  libtenzir/src/application.cpp
  tenzir.yaml.example
Labels: performance

#3381 Small changelog and docs fixups
  changelog/next/features/3379.md
  web/blog/shell-yeah-supercharging-zeek-and-suricata-with-tenzir/index.md
  web/docs/operators/transformations/write.md
Labels: bug, docs

#3363 Lower default amount of returned events, and return a continuation token
  libtenzir/builtins/operators/serve.cpp
  libtenzir/include/tenzir/defaults.hpp
  plugins/web/integration/reference/serve-errors/step_03.ref
Labels: bug

#3386 Fix adaptive builder by using in-place operations everywhere
  libtenzir/builtins/formats/json.cpp
  libtenzir/include/tenzir/adaptive_table_slice_builder.hpp
  libtenzir/include/tenzir/detail/series_builders.hpp
  libtenzir/src/adaptive_table_slice_builder.cpp
  libtenzir/src/detail/adaptive_table_slice_builder_guards.cpp
  libtenzir/src/detail/series_builders.cpp
Labels: bug, format

#3384 Use a distinctive marker for the final continuation token
  libtenzir/builtins/operators/serve.cpp
Labels: bug

#3387 Support more compilers with constexpr string_view
  libtenzir/builtins/operators/serve.cpp
Labels: maintenance

#3389 Fix two compiler warnings
  libtenzir/src/detail/series_builders.cpp
  libtenzir/src/http_api.cpp
Labels: maintenance

#3388 Switch to YAML flow scalars
  tenzir.yaml.example
  web/blog/shell-yeah-supercharging-zeek-and-suricata-with-tenzir/index.md
  web/docs/operators/transformations/shell.md
  web/docs/operators/user-defined.md
Labels: maintenance, docs

#3364 Create a new /ping endpoint
  libtenzir/builtins/endpoints/ping.cpp
  web/openapi/openapi.yaml
Labels: feature

#3391 Expose the `batch` operator underlying rebuild
  changelog/next/features/3391--batch.md
  libtenzir/builtins/commands/rebuild.cpp
  libtenzir/builtins/operators/batch.cpp
  libtenzir/builtins/operators/sort.cpp
  libtenzir/src/catalog.cpp
  tenzir/integration/reference/batch-events/step_00.ref
  tenzir/integration/reference/batch-events/step_01.ref
  tenzir/integration/reference/batch-events/step_02.ref
  tenzir/integration/reference/batch-events/step_03.ref
  tenzir/integration/tests.yaml
  web/docs/operators/transformations/batch.md
Labels: feature, operator

#3392 Improve error message for operator type clashes
  libtenzir/builtins/operators/from_load_read.cpp
  libtenzir/builtins/operators/to_write_save.cpp
  libtenzir/include/tenzir/pipeline.hpp
Labels: docs

#3399 Fix a disk IO race in the demo Zeek import
  demo-node/entrypoint.bash
Labels: bug

#3393 Create a glossary that defines key terms
  web/docs/glossary.md
  web/sidebars.js
Labels: docs

#3404 Write server.log log files when running 'tenzir-node'
  libtenzir/include/tenzir/detail/logger.hpp
  libtenzir/include/tenzir/logger.hpp
  libtenzir/src/logger.cpp
  libtenzir_test/src/main.cpp
  tenzir/tenzir.cpp
Labels: bug

#3375 Add blog on Zeek log rotation and shipping
  web/blog/native-zeek-log-rotation-and-shipping/index.md
  web/blog/native-zeek-log-rotation-and-shipping/zeek-log-rotation.excalidraw.svg
Labels: docs

#3402 Revert renaming that broke the migration logic
  scripts/debian/postinst
Labels: maintenance, bug

#3406 Prevent a crash in the JSON parser
  libtenzir/src/detail/series_builders.cpp
Labels: bug, format

#3280 Re-enable macOS CI jobs
  .github/workflows/tenzir.yaml
  scripts/macOS/install-dev-dependencies.sh
  tenzir/integration/tests.yaml
Labels: ci

#3412 Fix pipeline executor output check
  libtenzir/src/pipeline_executor.cpp
Labels: bug, engine
