Repository tenzir/tenzir, pull requests merged in 2024-03, with the labels that each got.

#3992 Add `table_slice::values()` for row-major access
  libtenzir/builtins/formats/json.cpp
  libtenzir/include/tenzir/series.hpp
  libtenzir/include/tenzir/table_slice.hpp
  libtenzir/src/offset.cpp
  libtenzir/src/table_slice.cpp
Labels: engine, improvement

#3994 Fix a TOCTOU bug that caused the index to fail
  changelog/next/bug-fixes/3994--index-toctou.md
  libtenzir/src/index.cpp
Labels: bug, engine

#4000 Disable the `parquet` store backend
  libtenzir/src/application.cpp
  libtenzir/src/spawn_importer.cpp
  libtenzir/src/spawn_index.cpp
  tenzir.yaml.example
  web/docs/setup-guides/tune-performance/README.md
Labels: maintenance, engine

#3999 Make `remote python` work
  changelog/next/bug-fixes/3999-remote-python.md
  libtenzir/builtins/operators/python.cpp
Labels: bug, operator

#3993 Allow using `and`, `or`, and `not` in expressions
  changelog/next/features/3993--alternative-token-old-exprs.md
  libtenzir/include/tenzir/concept/printable/tenzir/expression.hpp
  libtenzir/src/concept/parseable/tenzir/expression.cpp
  libtenzir/test/expression.cpp
  tenzir/integration/tests/vast.bats
  web/docs/language/expressions.excalidraw.svg
  web/docs/language/expressions.md
  web/docs/operators/metrics.md
  web/docs/operators/where.md
Labels: language, improvement

#3989 Introduce multi-arch Docker images
  .github/workflows/docker.yaml
  changelog/next/features/3989--arm64-docker.md
Labels: feature, ci, packaging

#4004 Perform some docs smithing
  web/docs/faqs.md
  web/docs/get-started.md
  web/docs/glossary.md
  web/docs/setup-guides/deploy-a-node.md
  web/docs/setup-guides/deploy-a-node/_category_.yml
  web/docs/setup-guides/deploy-a-node/ansible.md
  web/docs/setup-guides/deploy-a-node/docker-compose.md
  web/docs/setup-guides/deploy-a-node/systemd.md
  web/docs/setup-guides/set-up-an-account.md
  web/docs/setup-guides/update-a-node.md
  web/docs/user-guides/export-from-a-node/README.md
  web/docs/user-guides/import-into-a-node/README.md
  web/docs/user-guides/manage-a-pipeline/README.md
  web/docs/user-guides/manage-a-pipeline/app-controls.png
  web/docs/user-guides/run-pipelines/README.md
  web/docs/user-guides/run-pipelines/pipeline-browser.excalidraw.svg
  web/docs/user-guides/run-pipelines/pipeline-cli.excalidraw.svg
Labels: docs, improvement

#4005 Support ZLIB compressed data in the kafka connector
  nix/overlay.nix
Labels: improvement

#3998 Prevent tcp socket inheritance to child processes
  changelog/next/bug-fixes/3998--tcp-connector-cloexec.md
  libtenzir/builtins/connectors/tcp.cpp
Labels: bug

#4007 Simplify getting started guidance
  README.md
  web/docs/example-add-node.png
  web/docs/example-barchart.png
  web/docs/example-overview.png
  web/docs/example-signin.png
  web/docs/get-started.md
  web/docs/moving-parts.excalidraw.svg
  web/docs/platform-and-nodes.excalidraw.svg
  web/static/img/readme/moving-parts.dark.png
  web/static/img/readme/moving-parts.light.png
  web/static/img/readme/platform-and-nodes.dark.png
  web/static/img/readme/platform-and-nodes.light.png
Labels: docs, improvement

#4009 Update poetry to 1.8.2
  .github/workflows/tenzir.yaml
  docker/poetry/Dockerfile
  docker/quarto/Dockerfile
  scripts/debian/install-dev-dependencies.sh
Labels: maintenance

#4001 Fix partial specialization of S3 configuration in URL
  changelog/next/bug-fixes/4001--s3-overrides.md
  changelog/next/features/4001--s3-config.md
  libtenzir/builtins/connectors/s3.cpp
  web/docs/connectors/s3.md
Labels: bug, connector

#4010 Fix crash in `sigma` operator for non-existent file
  changelog/next/bug-fixes/4010--sigma-crash-missing-file.md
  plugins/sigma/src/plugin.cpp
Labels: bug, operator

#4012 Fix panic on parsing invalid syslog messages
  changelog/next/bug-fixes/4012--multiline-syslog.md
  libtenzir/builtins/formats/syslog.cpp
  tenzir/integration/data/inputs/syslog/multiline.log
  tenzir/integration/data/reference/pipelines_local/test_syslog_format/step_02.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug, format

#4002 Announce the release of Tenzir v4.10
  web/blog/tenzir-v4.10/index.md
  web/blog/tenzir-v4.10/tenzir-v4.10.excalidraw.svg
Labels: docs

#4015 Make markdownlint happy
  web/blog/tenzir-v4.10/index.md
Labels: bug, ci

#4016 Fix broken link in blog post
  web/blog/tenzir-v4.10/index.md
Labels: bug, docs

#4021 Prepare repository for Tenzir v4.10.1
  changelog/v4.10.1/bug-fixes/4020.md
  python/pyproject.toml
  version.json
Labels: maintenance

#4011 Validate assumptions in Sigma operator
  plugins/sigma/src/plugin.cpp
Labels: bug, operator

#4027 Document the `--file <path>` option for `python`
  web/docs/operators/python.md
Labels: bug, docs

#4029 Prepare repository for Tenzir v4.10.2
  changelog/v4.10.2/bug-fixes/4028.md
  changelog/v4.10.2/changes/3997.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-Tenzir v4.10/operators/python.md
Labels: maintenance, docs

#4034 Fix a crash in the Sigma operator
  changelog/next/bug-fixes/4034--sigma-type-infer-crash.md
  plugins/sigma/src/plugin.cpp
Labels: bug, operator

#4037 Prepare repository for Tenzir v4.10.4
  changelog/v4.10.4/bug-fixes/4031.md
  changelog/v4.10.4/bug-fixes/4033.md
  changelog/v4.10.4/bug-fixes/4034.md
  changelog/v4.10.4/bug-fixes/4036.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-Tenzir v4.10/get-started.md
Labels: maintenance, docs

#4035 Add a `files` source
  changelog/next/bug-fixes/.gitkeep
  changelog/next/changes/.gitkeep
  changelog/next/features/.gitkeep
  changelog/next/features/4035--files-source.md
  libtenzir/builtins/operators/files.cpp
  web/docs/operators/files.md
Labels: feature, operator

#4043 Fix `from <url>` with username
  changelog/next/bug-fixes/4043--from-url-with-username.md
  libtenzir/src/detail/loader_saver_resolver.cpp
Labels: bug

#4044 Fix a regression in `from <uri>`
  libtenzir/src/detail/loader_saver_resolver.cpp
Labels: bug, connector

#4048 Fix invalid assertion in `compress` operator
  changelog/next/bug-fixes/4048--compress-equal-size.md
  changelog/v4.10.4/bug-fixes/4031.md
  libtenzir/builtins/operators/compress_decompress.cpp
Labels: bug, operator

#4047 Revert recent changes to the `export` operator
  libtenzir/builtins/operators/export.cpp
Labels: performance, engine

#4050 Introduce the `every` operator modifier
  changelog/next/features/4050--every-operator-modifier.md
  libtenzir/builtins/operators/delay.cpp
  libtenzir/builtins/operators/every.cpp
  libtenzir/builtins/operators/local_remote.cpp
  tenzir/integration/data/reference/every/test_every_errors/step_00.ref
  tenzir/integration/data/reference/every/test_every_errors/step_01.ref
  tenzir/integration/data/reference/every/test_every_errors/step_02.ref
  tenzir/integration/data/reference/every/test_every_errors/step_03.ref
  tenzir/integration/data/reference/every/test_every_errors/step_04.ref
  tenzir/integration/data/reference/every/test_every_modifier/step_00.ref
  tenzir/integration/data/reference/every/test_every_modifier/step_01.ref
  tenzir/integration/data/reference/every/test_every_modifier/step_02.ref
  tenzir/integration/data/reference/every/test_every_with_remote/step_00.ref
  tenzir/integration/data/reference/every/test_every_with_remote/step_01.ref
  tenzir/integration/tests/every.bats
  web/docs/connectors/http.md
  web/docs/language/operator-modifiers.md
Labels: feature, engine

#4041 Add an email saver
  changelog/next/features/4041.md
  libtenzir/builtins/connectors/email.cpp
  libtenzir/include/tenzir/curl.hpp
  libtenzir/src/curl.cpp
  libtenzir/src/transfer.cpp
  web/docs/connectors/email.md
Labels: feature, connector

#4052 Fix plugin integration test running in CI
  .github/workflows/tenzir.yaml
Labels: bug, ci

#4058 Fix disk metrics with custom state directories
  changelog/next/bug-fixes/4058--disk-metrics-custom-dir.md
  libtenzir/builtins/metrics/disk.cpp
Labels: bug, engine

#4057 Add the `set` operator for upserting fields
  changelog/next/features/4057--set-operator.md
  libtenzir/builtins/operators/put_extend_replace_set.cpp
  tenzir/integration/data/reference/pipelines_local/test_set_operator/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/extend.md
  web/docs/operators/replace.md
  web/docs/operators/set.md
Labels: feature, operator

#3819 Add SQS Connector
  Dockerfile
  changelog/next/bug-fixes/3819--source-hang.md
  changelog/next/features/3819--sqs-connector.md
  libtenzir/src/execution_node.cpp
  plugins/sqs/CMakeLists.txt
  plugins/sqs/integration/data/misc/elasticmq.conf
  plugins/sqs/integration/data/reference/sqs/test_list_queues/step_00.ref
  plugins/sqs/integration/data/reference/sqs/test_send_and_receive_messages/step_01.ref
  plugins/sqs/integration/tests/setup_suite.bash
  plugins/sqs/integration/tests/sqs.bats
  plugins/sqs/src/plugin.cpp
  scripts/debian/install-aws-sdk.sh
  scripts/macOS/install-dev-dependencies.sh
  tenzir/integration/tests/setup_suite.bash
  web/docs/connectors/https.md
  web/docs/connectors/sqs.md
Labels: feature, connector

#4055 Add the blog post for Tenzir v4.11
  web/blog/tenzir-v4.11/index.md
  web/blog/tenzir-v4.11/tenzir-v4.11.excalidraw.svg
  web/docusaurus.config.js
Labels: maintenance, docs

#4063 Fix test that relied on the patch version number
  tenzir/integration/data/reference/pipelines_local/test_set_operator/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug, ci

#4064 Prepare repository for Tenzir v4.11.1
  .github/workflows/tenzir.yaml
  python/pyproject.toml
  scripts/prepare-release
  version.json
  web/blog/tenzir-v4.11/index.md
Labels: maintenance, docs

#4066 Fail late in the python operator setup
  libtenzir/builtins/operators/python.cpp
Labels: operator, improvement

#4073 Enable support for Python 3.9+
  .github/workflows/tenzir.yaml
  python/poetry.lock
  python/pyproject.toml
  python/tenzir/tenzir/tenzir.py
  python/tenzir/tools/python_operator_executor.py
  python/tenzir/utils/arrow.py
Labels: operator, improvement, packaging

#4074 Enable support for Python 3.9
  .github/workflows/tenzir.yaml
  changelog/next/bug-fixes/4066--python-setup.md
  changelog/next/changes/4073-satta--python-39.md
  python/poetry.lock
  python/pyproject.toml
  python/tenzir/tenzir/tenzir.py
  python/tenzir/tools/python_operator_executor.py
  python/tenzir/utils/arrow.py
Labels: operator, improvement, packaging

#4076 Prepare repository for Tenzir v4.11.2
  changelog/v4.11.2/bug-fixes/4066.md
  changelog/v4.11.2/changes/4073-satta.md
  python/pyproject.toml
  version.json
Labels: maintenance, docs

#4068 Add `deduplicate` operator
  changelog/next/features/4068--dedupe-operator.md
  libtenzir/builtins/operators/deduplicate.cpp
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_03.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_04.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_05.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_06.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_07.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/deduplicate.md
Labels: feature, operator

#4067 Add UDP connector
  changelog/next/features/4067--udp-connector.md
  libtenzir/builtins/connectors/udp.cpp
  libtenzir/include/tenzir/accountant_config.hpp
  libtenzir/include/tenzir/as_bytes.hpp
  libtenzir/include/tenzir/concept/parseable/detail/posix.hpp
  libtenzir/include/tenzir/detail/make_io_stream.hpp
  libtenzir/include/tenzir/detail/posix.hpp
  libtenzir/include/tenzir/ip.hpp
  libtenzir/include/tenzir/socket.hpp
  libtenzir/src/accountant.cpp
  libtenzir/src/detail/make_io_stream.cpp
  libtenzir/src/detail/posix.cpp
  libtenzir/src/ip.cpp
  libtenzir/src/socket.cpp
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_14.ref
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_15.ref
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_19.ref
  tenzir/integration/data/reference/udp/test_loader_-2d_listen/step_00.ref
  tenzir/integration/data/reference/udp/test_saver/step_00.ref
  tenzir/integration/data/reference/udp/test_saver_-2d_message_too_long/step_00.ref
  tenzir/integration/tests/udp.bats
  web/docs/connectors/udp.md
Labels: feature, connector

#4081 Enhance `deduplicate` docs and add blog post
  web/blog/reduce-cost-and-noise-with-deduplication/deduplicate-example.excalidraw.svg
  web/blog/reduce-cost-and-noise-with-deduplication/deduplicate.excalidraw.svg
  web/blog/reduce-cost-and-noise-with-deduplication/index.md
  web/docs/operators/deduplicate.excalidraw.svg
  web/docs/operators/deduplicate.md
  web/docs/user-guides/deduplicate-events.md
Labels: docs, improvement

#4078 Add `unroll` operator
  changelog/next/features/4078--unroll-operator.md
  libtenzir/builtins/operators/unroll.cpp
  libtenzir/include/tenzir/table_slice_builder.hpp
  libtenzir/include/tenzir/type.hpp
  libtenzir/src/series_builder.cpp
  libtenzir/src/table_slice_builder.cpp
  tenzir/integration/data/reference/pipelines_local/test_unroll_operator/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_unroll_operator/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_unroll_operator/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_unroll_operator/step_03.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/unroll.md
Labels: feature, operator
