Repository tenzir/tenzir, pull requests merged in 2024-01, with the labels that each got.

#3768 Add GELF parser and document Graylog integration
  changelog/next/features/3768.md
  libtenzir/builtins/formats/json.cpp
  libtenzir/include/tenzir/to_lines.hpp
  tenzir/functional-test/reference/gelf/test_parse_a_single_message/step_00.ref
  tenzir/functional-test/reference/gelf/test_parse_multiple_messages/step_00.ref
  tenzir/functional-test/tests/gelf.bats
  tenzir/integration/reference/parse-operators/step_04.ref
  tenzir/integration/reference/parse-operators/step_25.ref
  web/docs/formats/gelf.md
  web/docs/integrations/graylog.md
  web/docs/integrations/splunk.md
  web/docs/integrations/suricata.md
  web/docs/integrations/velociraptor.md
  web/docs/integrations/zeek.md
  web/docs/operators/fluent-bit.md
Labels: feature, format

#3777 Update the manual static build workflow
  .github/workflows/nix-manual.yaml
Labels: bug

#3781 Use Inter and JetBrains Mono fonts on docs site
  web/src/css/custom.scss
Labels: docs

#3770 Switch from JSON to MsgPack data transport
  CMakePresets.json
  changelog/next/changes/3770.md
  plugins/fluent-bit/include/fluent-bit/fluent-bit-minimal.h
  plugins/fluent-bit/src/plugin.cpp
  web/blog/switching-fluentbit-from-json-to-msgpack/analysis.R
  web/blog/switching-fluentbit-from-json-to-msgpack/fluent-bit-performance.svg
  web/blog/switching-fluentbit-from-json-to-msgpack/fluent-bit-speedup.svg
  web/blog/switching-fluentbit-from-json-to-msgpack/index.md
  web/blog/tenzir-v4.8/fluent-bit-speedup.svg
  web/blog/tenzir-v4.8/index.md
  web/docs/connectors/tcp.md
Labels: operator, improvement

#3787 Fix serialization of `pseudonymize` operator
  libtenzir/builtins/operators/pseudonymize.cpp
Labels: bug

#3789 Add an additional control flow for unspecified msgpack types in the fluent-bit plugin
  plugins/fluent-bit/src/plugin.cpp
Labels: refactoring, bug

#3765 Fix blob parsing with padding
  changelog/next/bug-fixes/3765--blob-padding.md
  libtenzir/include/tenzir/cast.hpp
  libtenzir/include/tenzir/detail/base64.hpp
  libtenzir/test/cast.cpp
Labels: bug, format

#3797 Improve the CI "Documentation" step performance
  .github/workflows/tenzir.yaml
  web/.gitignore
  web/Makefile
  web/blog/a-git-retrospective/.gitignore
  web/blog/a-git-retrospective/index.md
  web/blog/a-git-retrospective/index_files/figure-gfm/full-time-spectrum-1.svg
  web/blog/a-git-retrospective/index_files/figure-gfm/since-2020-1.svg
  web/blog/a-git-retrospective/index_files/figure-gfm/since-v1.0-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index.md
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/convex-hull-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/convex-hull-facet-by-level-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/convex-hull-facet-by-store-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/duration-distribution-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/event-size-by-schema-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/number-of-events-by-schema-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/pairwise-runtime-comparion-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/plot-parquet-divided-by-feather-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/plot-parquet-vs-feather-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/plot-parquet-vs-feather-100-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/plot-schema-distribution-boxplot-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/plot-schema-distribution-medians-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/plot-zeek-suricata-1.svg
  web/blog/parquet-and-feather-writing-security-telemetry/index_files/figure-gfm/points-by-level-1.svg
  web/package.json
  web/poetry.lock
Labels: performance, docs, ci

#3804 Fix changelog of #3785
  changelog/next/breaking-changes/3785.md
  changelog/next/features/3785.md
Labels: maintenance

#3802 Remove the remnant of the Docker-Documentation dependency in the CI Configuration step
  .github/workflows/tenzir.yaml
Labels: refactoring, ci

#3790 Fix `export --live` and introduce `metrics`
  changelog/next/bug-fixes/3790--export-live.md
  changelog/next/features/3790--metrics-operator.md
  libtenzir/builtins/operators/export.cpp
  libtenzir/builtins/operators/metrics.cpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/include/tenzir/importer.hpp
  libtenzir/src/importer.cpp
  web/docs/metrics.md
  web/docs/operators/metrics.md
Labels: bug, operator

#3805 Fix metrics operator docs
  web/docs/operators/metrics.md
Labels: bug, docs

#3803 Fix a flaky test in database.bats
  tenzir/functional-test/tests/database.bats
Labels: maintenance, ci

#3796 Fix ccache upload behavior
  .github/workflows/tenzir.yaml
  tenzir/functional-test/tests/database.bats
Labels: ci

#3738 Add time parser
  changelog/next/features/3738--time-parser.md
  libtenzir/builtins/operators/time.cpp
  tenzir/integration/integration.py
  tenzir/integration/reference/time-parser/step_00.ref
  tenzir/integration/reference/time-parser/step_01.ref
  tenzir/integration/reference/time-parser/step_02.ref
  tenzir/integration/reference/time-parser/step_03.ref
  tenzir/integration/reference/time-parser/step_04.ref
  tenzir/integration/reference/time-parser/step_05.ref
  tenzir/integration/reference/time-parser/step_06.ref
  tenzir/integration/reference/time-parser/step_07.ref
  tenzir/integration/reference/time-parser/step_08.ref
  tenzir/integration/reference/time-parser/step_09.ref
  tenzir/integration/reference/time-parser/step_10.ref
  tenzir/integration/reference/time-parser/step_11.ref
  tenzir/integration/tests.yaml
  web/docs/formats/time.md
Labels: feature, format

#3807 Use new job-level artifact mechanism in CI
  .github/workflows/analysis.yaml
  .github/workflows/nix.yaml
  .github/workflows/tenzir.yaml
Labels: maintenance, ci

#3812 Support concepts in more places
  libtenzir/builtins/contexts/geoip.cpp
  libtenzir/builtins/contexts/lookup-table.cpp
  libtenzir/builtins/operators/chart.cpp
  libtenzir/builtins/operators/delay.cpp
  libtenzir/builtins/operators/drop.cpp
  libtenzir/builtins/operators/hash.cpp
  libtenzir/builtins/operators/parse.cpp
  libtenzir/builtins/operators/pseudonymize.cpp
  libtenzir/builtins/operators/put_extend_replace.cpp
  libtenzir/builtins/operators/rename.cpp
  libtenzir/builtins/operators/select.cpp
  libtenzir/builtins/operators/sort.cpp
  libtenzir/builtins/operators/summarize.cpp
  libtenzir/builtins/operators/timeshift.cpp
  libtenzir/include/tenzir/type.hpp
  libtenzir/src/table_slice.cpp
  libtenzir/src/type.cpp
Labels: operator, improvement

#3813 Add a missing changelog entry
  changelog/next/features/3812--concepts-everywhere.md
Labels: bug

#3818 Document changing a pipeline's state
  web/Makefile
  web/blog/tenzir-v4.8/delay.excalidraw.svg
  web/blog/tenzir-v4.8/index.md
  web/blog/tenzir-v4.8/timeshift.excalidraw.svg
  web/docs/rest-api.md
  web/docs/user-guides/manage-a-pipeline/README.md
  web/docs/user-guides/manage-a-pipeline/pipeline-states.excalidraw.svg
Labels: docs, improvement

#3784 Improve handling of open file descriptors
  ansible/roles/tenzir/tenzir-node.service
  changelog/next/features/3784--open-fds.md
  libtenzir/builtins/health-metrics/process.cpp
  libtenzir/include/tenzir/os.hpp
  libtenzir/src/detail/process.cpp
  libtenzir/src/os.cpp
  tenzir/services/systemd/tenzir-node.service.in
  web/docs/metrics.md
Labels: maintenance, improvement

#3773 Add Windows Event Logs integration
  web/docs/integrations/openwec.excalidraw.svg
  web/docs/integrations/wef-wec.excalidraw.svg
  web/docs/integrations/windows-event-logs.md
  web/docs/integrations/windows-events-with-agent.excalidraw.svg
Labels: docs, integration, improvement

#3539 Add savers for curl connectors
  changelog/next/features/3539.md
  libtenzir/builtins/connectors/curl.cpp
  libtenzir/builtins/formats/json.cpp
  libtenzir/builtins/formats/pcap.cpp
  libtenzir/builtins/formats/xsv.cpp
  libtenzir/builtins/formats/yaml.cpp
  libtenzir/builtins/formats/zeek_tsv.cpp
  libtenzir/include/tenzir/concept/parseable/tenzir/uri.hpp
  libtenzir/include/tenzir/curl.hpp
  libtenzir/include/tenzir/http.hpp
  libtenzir/include/tenzir/pcap.hpp
  libtenzir/include/tenzir/transfer.hpp
  libtenzir/src/curl.cpp
  libtenzir/src/detail/string.cpp
  libtenzir/src/http.cpp
  libtenzir/src/transfer.cpp
  libtenzir/test/curl.cpp
  libtenzir/test/http.cpp
  libtenzir/test/string.cpp
  plugins/parquet/parquet.cpp
  tenzir/functional-test/bats-tenzir/src/check.bash
  tenzir/functional-test/reference/http/test_saver/step_00.ref
  tenzir/functional-test/tests/http.bats
  web/docs/connectors/http.md
  web/docs/formats.md
Labels: feature, connector

#3824 Convert python binding tests to tenzir exec
  python/tests/test_tenzir.py
Labels: bug

#3827 Fix standalone plugin test execution
  cmake/TenzirRegisterPlugin.cmake
  libtenzir/CMakeLists.txt
Labels: bug, ci

#3820 Fix handling of escapes in detail::split_escaped, attempt 2
  libtenzir/src/detail/string.cpp
  libtenzir/test/http.cpp
  libtenzir/test/string.cpp
Labels: bug, engine

#3810 Always upload cache results even if the build fails
  .github/workflows/tenzir.yaml
Labels: ci, improvement

#3821 Add `xsv --no-header`
  changelog/next/features/3821--xsv-no-header.md
  libtenzir/builtins/formats/xsv.cpp
  tenzir/integration/reference/parse-operators/step_25.ref
  tenzir/integration/reference/xsv-format/step_04.ref
  tenzir/integration/tests.yaml
  web/docs/formats/xsv.md
Labels: format, improvement

#3835 Make a bunch of documentation improvements
  changelog/next/features/3721--lookup-operator.md
  web/docs/metrics.md
  web/docs/metrics/legacy_metrics.md
  web/docs/operators/export.md
  web/docs/operators/lookup.md
  web/docs/operators/metrics.md
  web/docs/operators/nics.md
  web/docs/operators/processes.md
  web/docs/operators/sockets.md
  web/docs/operators/version.md
  web/docs/setup-guides/collect-metrics.md
  web/sidebars.js
Labels: docs, improvement

#3838 Clean up the example config file
  tenzir.yaml.example
Labels: bug, docs

#3842 Fail properly when transfer breaks
  changelog/next/bug-fixes/3842.md
  libtenzir/builtins/connectors/curl.cpp
  libtenzir/include/tenzir/concept/parseable/tenzir.hpp
  libtenzir/include/tenzir/concept/parseable/tenzir/http.hpp
  libtenzir/include/tenzir/concept/parseable/tenzir/uri.hpp
  libtenzir/include/tenzir/curl.hpp
  libtenzir/include/tenzir/http.hpp
  libtenzir/include/tenzir/transfer.hpp
  libtenzir/include/tenzir/uri.hpp
  libtenzir/src/curl.cpp
  libtenzir/src/transfer.cpp
  libtenzir/test/curl.cpp
  libtenzir/test/http.cpp
Labels: bug, connector

#3843 Fix a rare crash in the index on startup
  libtenzir/src/index.cpp
Labels: bug, engine

#3836 Print Zeek TSV metadata when schema changes
  changelog/next/bug-fixes/3836--zeek-tsv-metadata.md
  libtenzir/builtins/formats/zeek_tsv.cpp
  libtenzir/src/execution_node.cpp
  libtenzir/src/table_slice.cpp
  tenzir/integration/reference/zeek-tsv-pipeline-format/step_11.ref
Labels: bug, format

#3833 Add support for Cisco Firepower syslog messages
  changelog/next/features/3833--syslog-years.md
  libtenzir/include/tenzir/format/syslog.hpp
  tenzir/functional-test/data/syslog/syslog-rfc3164.log
  tenzir/integration/reference/syslog-format/step_01.ref
Labels: format, improvement

#3844 Publish blog post for Tenzir v4.8
  web/blog/tenzir-v4.8/http.excalidraw.svg
  web/blog/tenzir-v4.8/index.md
  web/blog/tenzir-v4.8/lookup.excalidraw.svg
  web/docs/connectors/http.excalidraw.svg
  web/docs/connectors/http.md
  web/docs/operators/lookup.excalidraw.svg
  web/docs/operators/lookup.md
  web/docs/user-guides/manage-a-pipeline/README.md
Labels: docs

#3855 Embed node sizing calculator
  web/docs/setup-guides/size-a-node.md
Labels: feature, docs

#3854 Enable the AMQP plugin in the static binary
  changelog/next/bug-fixes/3854--amqp-static-binary.md
  cmake/TenzirPackage.cmake
  libtenzir/builtins/operators/python.cpp
  nix/tenzir/default.nix
  plugins/amqp/CMakeLists.txt
Labels: bug

#3856 Explain how the S3 connector uses AWS configuration files
  web/docs/connectors/s3.md
Labels: docs, improvement

#3848 Support setting profiles in the Velociraptor config
  changelog/next/features/3848--velociraptor-profiles.md
  plugins/velociraptor/src/plugin.cpp
  web/docs/operators/velociraptor.md
Labels: operator, improvement

#3858 Prepare repository for Tenzir v4.8.1
  changelog/v4.8.1/bug-fixes/3854.md
  changelog/v4.8.1/features/3848.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-Tenzir v4.8/connectors/s3.md
  web/versioned_docs/version-Tenzir v4.8/operators/velociraptor.md
  web/versioned_docs/version-Tenzir v4.8/setup-guides/size-a-node.md
Labels: maintenance

#3864 Force braces around statements with clang-format
  .clang-format
Labels: maintenance

#3862 Reduce log verbosity of the shell operator
  libtenzir/builtins/operators/shell.cpp
Labels: maintenance, improvement

#3865 Schedule idle operators less aggressively
  changelog/next/bug-fixes/3865--less-aggressive-scheduling.md
  libtenzir/src/execution_node.cpp
Labels: bug, engine

#3873 Fix hang for no-op transformations and sinks
  libtenzir/src/execution_node.cpp
Labels: bug, engine

#3866 Rewrite `chart` and `set-attributes` operators
  changelog/next/features/3866--chart-operator.md
  libtenzir/builtins/operators/chart.cpp
  libtenzir/builtins/operators/set_attributes.cpp
  libtenzir/include/tenzir/detail/set_attributes_operator_helper.hpp
  libtenzir/src/detail/set_attributes_operator_helper.cpp
  libtenzir/src/version.cpp
  tenzir/functional-test/data/reference/pipelines_local/test_chart_attributes/step_01.ref
  tenzir/functional-test/data/reference/pipelines_local/test_chart_attributes/step_02.ref
  tenzir/functional-test/data/reference/pipelines_local/test_chart_attributes/step_03.ref
  tenzir/functional-test/data/reference/pipelines_local/test_chart_attributes/step_04.ref
  tenzir/functional-test/data/reference/pipelines_local/test_chart_attributes/step_05.ref
  tenzir/functional-test/data/reference/pipelines_local/test_chart_attributes/step_06.ref
  tenzir/functional-test/tests/pipelines_local.bats
  web/docs/operators/chart.md
Labels: feature, operator

#3884 Support execution of *.bats files in subdirectories
  cmake/TenzirRegisterPlugin.cmake
  tenzir/CMakeLists.txt
  tenzir/functional-test/tests/setup_suite.bash
Labels: bug, packaging

#3875 Improve the Style Check CI
  .github/workflows/style-check.yaml
  tenzir/functional-test/data/reference/vast/test_import_time/step_03.ref
  tenzir/functional-test/tests/pipelines_local.bats
  tenzir/functional-test/tests/vast.bats
Labels: ci, improvement

#3885 Make `/serve` more consistent
  changelog/next/bug-fixes/3885--serve-inconsistencies.md
  libtenzir/builtins/operators/serve.cpp
  web/openapi/openapi.yaml
Labels: bug, operator

#3834 Add Bloom filter context
  changelog/next/features/3834.md
  libtenzir/builtins/contexts/bloom_filter.cpp
  libtenzir/include/tenzir/dcso_bloom_filter.hpp
  libtenzir/include/tenzir/dcso_bloom_hasher.hpp
  libtenzir/include/tenzir/hash/fnv.hpp
  libtenzir/src/dcso_bloom_filter.cpp
  libtenzir/test/dcso_bloom_filter.cpp
  libtenzir/test/hash/hash_algorithms.cpp
  web/blog/tenzir-v4.9/index.md
  web/docs/contexts/bloom-filter.md
Labels: feature, engine

#3888 Use the new M1 runners for the macOS CI
  .github/workflows/tenzir.yaml
  scripts/macOS/install-dev-dependencies.sh
Labels: performance, ci

#3889 Replace `tenzir.db-directory` with `tenzir.state-directory`
  Dockerfile
  changelog/next/changes/3889--state-directory.md
  flake.nix
  libtenzir/builtins/health-metrics/disk.cpp
  libtenzir/include/tenzir/defaults.hpp
  libtenzir/include/tenzir/disk_monitor.hpp
  libtenzir/src/application.cpp
  libtenzir/src/configuration.cpp
  libtenzir/src/disk_monitor.cpp
  libtenzir/src/logger.cpp
  libtenzir/src/plugin.cpp
  libtenzir/src/spawn_disk_monitor.cpp
  libtenzir/src/spawn_node.cpp
  libtenzir/test/feather.cpp
  nix/module.nix
  plugins/parquet/tests/parquet.cpp
  tenzir.yaml.example
  tenzir/functional-test/data/misc/scripts/break-sizelimit.sh
  tenzir/functional-test/lib/bats-tenzir/src/fixtures.bash
  tenzir/functional-test/tests/database.bats
  tenzir/functional-test/tests/vast_server.bats
  tenzir/integration/integration.py
  tenzir/tenzir.cpp
Labels: engine, improvement

#3876 Allow using libtenzir FlatBuffers schemas from plugins
  cmake/TenzirRegisterPlugin.cmake
  libtenzir/CMakeLists.txt
Labels: improvement, packaging

#3847 Add `lines` printer
  changelog/next/features/3847--lines-printer.md
  libtenzir/builtins/formats/lines.cpp
  libtenzir/builtins/formats/xsv.cpp
  libtenzir/builtins/formats/yaml.cpp
  libtenzir/include/tenzir/plugin.hpp
  tenzir/functional-test/data/reference/pipelines_local/test_lines/step_02.ref
  tenzir/functional-test/data/reference/pipelines_local/test_lines/step_03.ref
  tenzir/functional-test/data/reference/pipelines_local/test_lines/step_04.ref
  tenzir/functional-test/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_14.ref
  tenzir/functional-test/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_15.ref
  tenzir/functional-test/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_16.ref
  tenzir/functional-test/tests/pipelines_local.bats
  web/docs/formats/lines.md
  web/docs/operators/save.md
Labels: feature, format

#3891 Drop unit tests for pipelines for good
  libtenzir/test/loader_plugin.cpp
  libtenzir/test/printer_plugin.cpp
  libtenzir/test/saver_plugin.cpp
Labels: maintenance

#3871 Add structured_data to syslog output
  changelog/next/features/3871--syslog-structured-data.md
  libtenzir/builtins/formats/syslog.cpp
  libtenzir/include/tenzir/format/syslog.hpp
  libtenzir/src/format/syslog.cpp
  libtenzir/test/format/syslog.cpp
  tenzir/functional-test/data/reference/pipelines_local/test_syslog_format/step_00.ref
  tenzir/functional-test/data/reference/vast/test_import_syslog/step_00.ref
  web/docs/formats/syslog.md
Labels: format, improvement

#3783 Make the schema definition easier to parse programmatically
  libtenzir/builtins/operators/serve.cpp
  libtenzir/include/tenzir/type.hpp
  libtenzir/src/type.cpp
  libtenzir/src/version.cpp
  web/openapi/openapi.yaml
Labels: operator, improvement

#3890 Remove `tenzir-ctl flush`
  libtenzir/builtins/commands/flush.cpp
  tenzir/functional-test/tests/database.bats
  tenzir/functional-test/tests/vast.bats
Labels: refactoring, engine
