Repository tenzir/tenzir, pull requests merged in 2024-10, with the labels that each got.

#4632 Fix `load_tcp` metrics forwarding for multiple nested pipelines
  libtenzir/builtins/operators/load_tcp.cpp
Labels: bug, operator

#4634 Split at null bytes in TQL2 gelf parser
  libtenzir/builtins/formats/json.cpp
Labels: bug

#4635 Rename `null=bool` option for TQL2's `read_lines`
  libtenzir/builtins/formats/lines.cpp
Labels: bug, operator

#4628 Implement (single delimiter) raw strings for TQL2
  libtenzir/include/tenzir/tql2/tokens.hpp
  libtenzir/src/tql2/parser.cpp
  libtenzir/src/tql2/tokens.cpp
Labels: feature, language

#4639 Add a timestamp to the load_tcp metrics
  libtenzir/builtins/operators/load_tcp.cpp
Labels: bug

#4625 Remove pipeline errors from `/serve`
  libtenzir/builtins/operators/serve.cpp
Labels: bug, operator

#4640 Announce Tenzir Node v4.21 and Tenzir Platform v1.1
  changelog/next/features/4591--kv-parser-quotes.md
  web/blog/authors.yml
  web/blog/tenzir-node-v4.20/index.md
  web/blog/tenzir-node-v4.21/index.md
  web/blog/tenzir-node-v4.21/tenzir-node-v4.21.excalidraw.svg
  web/blog/tenzir-platform-v1.1/explorer-diagnostics.png
  web/blog/tenzir-platform-v1.1/index.md
  web/blog/tenzir-platform-v1.1/tenzir-platform-v1.1.excalidraw.svg
Labels: docs

#4637 Enable azure-blob-storage support in the Docker image
  .github/workflows/tenzir.yaml
  Dockerfile
  scripts/debian/build-arrow.sh
  scripts/debian/install-aws-sdk.sh
  scripts/debian/install-dev-dependencies.sh
Labels: improvement

#4644 Move `head` and `tail` operators to slice.cpp
  libtenzir/builtins/operators/head.cpp
  libtenzir/builtins/operators/slice.cpp
  libtenzir/builtins/operators/tail.cpp
Labels: operator, improvement

#4643 Update pub/sub diagram in docs
  web/docs/cribl-vs-tenzir-routing.excalidraw.svg
  web/docs/cribl-vs-tenzir-routing.svg
  web/docs/tenzir-vs-cribl.md
Labels: docs, improvement

#4646 Fix double-closing fds in the python operator
  changelog/next/bug-fixes/4646--python-operator-fds.md
  libtenzir/builtins/operators/python.cpp
Labels: bug

#4645 Add `sample` operator
  changelog/next/features/4645.md
  libtenzir/builtins/operators/sample.cpp
  libtenzir/builtins/operators/slice.cpp
  web/docs/operators/sample.md
Labels: feature, operator

#4650 Implement `<string> in <string>` for TQL2
  libtenzir/src/tql2/eval_binary.cpp
Labels: feature, language

#4524 TQL syntax highlighting in docs site
  .github/workflows/tenzir.yaml
  web/docusaurus.config.js
  web/package.json
  web/src/css/custom.scss
  web/yarn.lock
Labels: docs

#4649 Enable azure-blob-storage in the DEB and RPM packages
  libtenzir/CMakeLists.txt
  nix/azure-sdk-for-cpp/default.nix
  nix/overlay.nix
  nix/tenzir/default.nix
  plugins/azure-blob-storage/CMakeLists.txt
  plugins/azure-blob-storage/include/saver.hpp
  plugins/azure-blob-storage/src/plugin.cpp
Labels: maintenance, packaging

#4651 Raise max fd soft limit during initialization
  tenzir/tenzir.cpp
Labels: improvement

#4653 Add `--max-samples` option to `sample` and fix `--max-rate`
  libtenzir/builtins/operators/sample.cpp
  web/docs/operators/sample.md
Labels: operator, improvement

#4658 Prepare repository for Tenzir v4.21.1
  changelog/v4.21.0/4613.md
  changelog/v4.21.1/bug-fixes/4613.md
  changelog/v4.21.1/bug-fixes/4646.md
  changelog/v4.21.1/bug-fixes/4649.md
  changelog/v4.21.1/bug-fixes/4655.md
  changelog/v4.21.1/features/4645.md
  changelog/v4.21.1/features/4657.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.21/cribl-vs-tenzir-routing.excalidraw.svg
  web/versioned_docs/version-v4.21/cribl-vs-tenzir-routing.svg
  web/versioned_docs/version-v4.21/formats/grok.md
  web/versioned_docs/version-v4.21/operators/lookup.md
  web/versioned_docs/version-v4.21/operators/sample.md
  web/versioned_docs/version-v4.21/tenzir-vs-cribl.md
Labels: maintenance

#4659 Fix changelog entry location
  changelog/v4.21.0/changes/4613.md
Labels: bug, docs

#4662 Use normal font for code block titles in docs
  web/src/css/custom.scss
Labels: docs

#4661 Add anonymous parsing functions
  libtenzir/include/tenzir/diagnostics.hpp
  libtenzir/include/tenzir/tql2/parser.hpp
  libtenzir/include/tenzir/tql2/resolve.hpp
  libtenzir/include/tenzir/tql2/tokens.hpp
  libtenzir/src/tql2/exec.cpp
  libtenzir/src/tql2/parser.cpp
  libtenzir/src/tql2/resolve.cpp
  libtenzir/src/tql2/tokens.cpp
Labels: refactoring

#4663 Implement TQL2 `read_ndjson`
  libtenzir/builtins/formats/json.cpp
Labels: format

#4668 Add metrics for select component actors
  changelog/next/features/4668--actor-metrics.md
  libtenzir/include/tenzir/detail/actor_metrics.hpp
  libtenzir/include/tenzir/importer.hpp
  libtenzir/src/detail/actor_metrics.cpp
  libtenzir/src/importer.cpp
  libtenzir/src/index.cpp
  libtenzir/src/node.cpp
  web/docs/operators/metrics.md
Labels: improvement

#4660 Check cURL response codes and do not deliver data on error
  changelog/next/bug-fixes/4660--http-reponse-codes.md
  libtenzir/include/tenzir/curl.hpp
  libtenzir/include/tenzir/transfer.hpp
  libtenzir/src/transfer.cpp
Labels: connector

#4669 Clean up old venvs in the python operator
  changelog/next/bug-fixes/4669--cleanup-python-venvs.md
  libtenzir/builtins/operators/python.cpp
  libtenzir/src/configuration.cpp
  libtenzir/src/spawn_node.cpp
  tenzir.yaml.example
  tenzir/tenzir.cpp
Labels: bug

#4596 Implement `sort` for TQL2
  libtenzir/builtins/operators/sort.cpp
  libtenzir/include/tenzir/concepts.hpp
Labels: feature, operator

#4656 Implement Google Cloud Pub/Sub connectors
  .github/workflows/tenzir.yaml
  changelog/next/features/4656--google-cloud-pubsub.md
  nix/aws-sdk-cpp-findcurl.patch
  nix/cmake-curl-messages.patch
  nix/fluent-bit-devendor.patch
  nix/overlay.nix
  nix/tenzir/default.nix
  plugins/google-cloud-pubsub/CMakeLists.txt
  plugins/google-cloud-pubsub/builtins/load_plugin.cpp
  plugins/google-cloud-pubsub/builtins/save_plugin.cpp
  plugins/google-cloud-pubsub/include/loader.hpp
  plugins/google-cloud-pubsub/include/saver.hpp
  plugins/google-cloud-pubsub/src/plugin.cpp
  plugins/nic/CMakeLists.txt
  plugins/s3/CMakeLists.txt
  plugins/s3/src/plugin.cpp
  plugins/sqs/CMakeLists.txt
  plugins/yara/CMakeLists.txt
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_14.ref
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_15.ref
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_19.ref
  web/docs/connectors/google_cloud_pubsub.md
Labels: connector

#4666 Handle queries, fragments, etc. in the to_hive operator
  libtenzir/CMakeLists.txt
  libtenzir/builtins/operators/to_hive.cpp
Labels: feature

#4675 Add docs for `top` and `rare`
  web/docs/tql2/operators.md
  web/docs/tql2/operators/cache.md
  web/docs/tql2/operators/rare.md
  web/docs/tql2/operators/read_kv.md
  web/docs/tql2/operators/top.md
Labels: docs

#4676 Announce Tenzir Node v4.22
  web/blog/tenzir-node-v4.22/index.md
  web/blog/tenzir-node-v4.22/tenzir-node-v4.22.excalidraw.svg
  web/docs/tql2/operators.md
  web/docs/tql2/operators/load_google_cloud_pubsub.md
  web/docs/tql2/operators/save_google_cloud_pubsub.md
Labels: docs

#4671 Lift the restriction on combining `raw` and `merge` for parsers
  libtenzir/src/multi_series_builder.cpp
  libtenzir/src/multi_series_builder_argument_parser.cpp
  libtenzir/test/multi_series_builder.cpp
  web/docs/formats.md
Labels: format

#4678 Fix specifying the `start` for `delay`
  libtenzir/builtins/operators/delay.cpp
Labels: bug, operator

#4681 Make it harder to create a dangling `session_provider`
  libtenzir/include/tenzir/session.hpp
  libtenzir/src/session.cpp
  libtenzir/src/tql2/eval.cpp
Labels: refactoring, engine

#4684 Lateral docs improvement
  web/docs/map-data-to-ocsf/ocsf-pub-sub.svg
  web/docs/tutorials/map-data-to-ocsf/README.md
  web/docs/tutorials/map-data-to-ocsf/ocsf-base-event-class.svg
  web/docs/tutorials/map-data-to-ocsf/ocsf-event-classes.svg
  web/docs/tutorials/map-data-to-ocsf/ocsf-pipeline.svg
  web/docs/tutorials/map-data-to-ocsf/ocsf-pub-sub.svg
  web/docs/tutorials/quickstart/README.md
  web/docs/tutorials/quickstart/example-area-chart.png
  web/docs/tutorials/quickstart/example-demo-node.png
  web/docs/tutorials/quickstart/example-explorer.png
  web/docs/tutorials/quickstart/example-library.png
  web/docs/tutorials/quickstart/example-pipelines.png
  web/docs/tutorials/quickstart/example-platform-in-action.png
  web/docs/tutorials/quickstart/example-signin.png
  web/docs/tutorials/write-a-package.md
  web/docs/usage/shape-data/README.md
  web/sidebars.js
Labels: docs, improvement

#4685 Implement predicate pushdown for `where <pred>`
  libtenzir/src/tql2/ast.cpp
Labels: performance, operator

#4679 Add a few new aggregation functions for TQL2
  changelog/next/features/4679--new-aggregation-functions.md
  libtenzir/builtins/aggregation-functions/count_distinct.cpp
  libtenzir/builtins/aggregation-functions/distinct.cpp
  libtenzir/builtins/aggregation-functions/first_last.cpp
  libtenzir/builtins/aggregation-functions/max.cpp
  libtenzir/builtins/aggregation-functions/min.cpp
  libtenzir/builtins/aggregation-functions/min_max.cpp
  libtenzir/builtins/aggregation-functions/mode.cpp
  libtenzir/builtins/aggregation-functions/quantile.cpp
  libtenzir/builtins/aggregation-functions/sample.cpp
  libtenzir/builtins/functions/numeric.cpp
  libtenzir/builtins/operators/top_rare.cpp
  web/docs/tql2/operators/summarize.md
Labels: feature, language

#4687 Consistently refer to metadata with `@`
  libtenzir/include/tenzir/tql2/ast.hpp
  web/docs/tql2/language/expressions.md
  web/docs/tql2/operators/assert.md
  web/docs/tql2/operators/azure_log_analytics.md
  web/docs/tql2/operators/save_google_cloud_pubsub.md
Labels: docs, improvement

#4688 Return instantly in `/serve` if pipeline fails early
  changelog/next/bug-fixes/4688--serve-error-return-instantly.md
  libtenzir/builtins/operators/serve.cpp
Labels: bug, operator

#4694 Ensure cache directory is writable for multiple users
  changelog/next/bug-fixes/4694--cache-writeable.md
  libtenzir/src/configuration.cpp
  tenzir.yaml.example
  tenzir/tenzir.cpp
Labels: bug, engine

#4686 More docs enhancements
  web/docs/how-tenzir-works/README.md
  web/docs/how-tenzir-works/user-journey-1.svg
  web/docs/how-tenzir-works/user-journey-2.svg
  web/docs/how-tenzir-works/user-journey-3.svg
  web/docs/how-tenzir-works/user-journey-4.svg
  web/docs/installation/deploy-the-platform.md
  web/sidebars.js
Labels: docs, improvement

#4695 Publish a blog post for Tenzir Platform v1.2
  web/blog/tenzir-platform-v1.2/index.md
  web/blog/tenzir-platform-v1.2/tenzir-platform-v1.2.excalidraw.svg
Labels: docs

#4696 Remove superfluous word from blog post
  web/blog/tenzir-platform-v1.2/index.md
Labels: docs

#4689 Implement `and` and `or` for `null_type`
  changelog/next/bug-fixes/4689--null-comparision-ops.md
  libtenzir/src/tql2/eval_binary.cpp
Labels: language, improvement

#4622 Remove flags for stabilized features
  libtenzir/src/version.cpp
Labels: maintenance

#4698 Prepare repository for Tenzir v4.22.1
  changelog/v4.22.1/bug-fixes/4688.md
  changelog/v4.22.1/bug-fixes/4689.md
  changelog/v4.22.1/bug-fixes/4694.md
  changelog/v4.22.1/features/4679.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.22/contribution/code-of-conduct.md
  web/versioned_docs/version-v4.22/contribution/coding-style.md
  web/versioned_docs/version-v4.22/contribution/rfc.md
  web/versioned_docs/version-v4.22/contribution/security.md
  web/versioned_docs/version-v4.22/contribution/workflow.md
  web/versioned_docs/version-v4.22/formats.md
  web/versioned_docs/version-v4.22/how-tenzir-works/README.md
  web/versioned_docs/version-v4.22/how-tenzir-works/user-journey-1.svg
  web/versioned_docs/version-v4.22/how-tenzir-works/user-journey-2.svg
  web/versioned_docs/version-v4.22/how-tenzir-works/user-journey-3.svg
  web/versioned_docs/version-v4.22/how-tenzir-works/user-journey-4.svg
  web/versioned_docs/version-v4.22/installation/deploy-the-platform.md
  web/versioned_docs/version-v4.22/map-data-to-ocsf/ocsf-pub-sub.svg
  web/versioned_docs/version-v4.22/tql2/language/expressions.md
  web/versioned_docs/version-v4.22/tql2/operators/assert.md
  web/versioned_docs/version-v4.22/tql2/operators/azure_log_analytics.md
  web/versioned_docs/version-v4.22/tql2/operators/save_google_cloud_pubsub.md
  web/versioned_docs/version-v4.22/tql2/operators/summarize.md
  web/versioned_docs/version-v4.22/tutorials/map-data-to-ocsf/README.md
  web/versioned_docs/version-v4.22/tutorials/map-data-to-ocsf/ocsf-base-event-class.svg
  web/versioned_docs/version-v4.22/tutorials/map-data-to-ocsf/ocsf-event-classes.svg
  web/versioned_docs/version-v4.22/tutorials/map-data-to-ocsf/ocsf-pipeline.svg
  web/versioned_docs/version-v4.22/tutorials/map-data-to-ocsf/ocsf-pub-sub.svg
  web/versioned_docs/version-v4.22/tutorials/quickstart/README.md
  web/versioned_docs/version-v4.22/tutorials/quickstart/example-area-chart.png
  web/versioned_docs/version-v4.22/tutorials/quickstart/example-demo-node.png
  web/versioned_docs/version-v4.22/tutorials/quickstart/example-explorer.png
  web/versioned_docs/version-v4.22/tutorials/quickstart/example-library.png
  web/versioned_docs/version-v4.22/tutorials/quickstart/example-pipelines.png
  web/versioned_docs/version-v4.22/tutorials/quickstart/example-platform-in-action.png
  web/versioned_docs/version-v4.22/tutorials/quickstart/example-signin.png
  web/versioned_docs/version-v4.22/tutorials/write-a-package.md
  web/versioned_docs/version-v4.22/usage/shape-data/README.md
  web/versioned_sidebars/version-v4.22-sidebars.json
Labels: maintenance, docs

#4702 Allow reinstantiating the `buffer` operator
  changelog/next/bug-fixes/4702--restart-buffer.md
  libtenzir/builtins/operators/buffer.cpp
  libtenzir/builtins/operators/tcp-listen.cpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/include/tenzir/execution_node.hpp
  libtenzir/include/tenzir/operator_control_plane.hpp
  libtenzir/include/tenzir/pipeline_executor.hpp
  libtenzir/src/execution_node.cpp
  libtenzir/src/node.cpp
  libtenzir/src/pipeline.cpp
  libtenzir/src/pipeline_executor.cpp
Labels: bug, operator

#4706 Fix docs CI on main
  web/docs/overview.md
  web/versioned_docs/version-v4.22/overview.md
Labels: bug, docs

#4674 Explicitly close ending TCP connection sockets
  changelog/next/bug-fixes/4674--fix-load_tcp-connection-closing.md
  libtenzir/builtins/operators/load_tcp.cpp
Labels: bug

#4701 Add a `value_counts` aggregation function
  changelog/next/bug-fixes/4701--mode.md
  changelog/next/features/4701--value-counts.md
  libtenzir/builtins/aggregation-functions/mode_value_counts.cpp
  libtenzir/builtins/operators/version.cpp
  web/docs/tql2/operators/summarize.md
Labels: feature, bug, operator

#4704 Implement `<list>.sort()` and `<record>.sort()`
  changelog/next/features/4704--sort-records-and-fields.md
  libtenzir/builtins/operators/sort.cpp
Labels: feature, language

#4690 Enable google-cloud-pubsub connector in the Docker Image
  Dockerfile
  changelog/next/bug-fixes/4690--google-cloud-pubsub-docker
  plugins/fluent-bit/integration/tests/setup_suite.bash
  plugins/google-cloud-pubsub/include/saver.hpp
  plugins/parquet/integration/tests/setup_suite.bash
  plugins/sqs/integration/tests/setup_suite.bash
  plugins/web/integration/tests/setup_suite.bash
  plugins/yara/integration/tests/setup_suite.bash
  scripts/debian/install-google-cloud.sh
Labels: connector

#4707 Prepare repository for Tenzir v4.22.2
  changelog/v4.22.2/bug-fixes/4674.md
  changelog/v4.22.2/bug-fixes/4690.md
  changelog/v4.22.2/bug-fixes/4701.md
  changelog/v4.22.2/bug-fixes/4702.md
  changelog/v4.22.2/features/4701.md
  changelog/v4.22.2/features/4704.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.22/tql2/operators/summarize.md
Labels: maintenance, docs

#4709 Fix TQL2 `summarize` with no groups and no input
  changelog/next/bug-fixes/4709--summarize-no-groups.md
  libtenzir/builtins/operators/summarize.cpp
  tenzir/integration/data/reference/pipelines_local/test_summarize_an_empty_input/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug, operator

#4714 Fix the TQL2 for the google_cloud_pubsub operators
  web/docs/tql2/operators/load_google_cloud_pubsub.md
  web/docs/tql2/operators/save_google_cloud_pubsub.md
  web/versioned_docs/version-v4.22/tql2/operators/load_google_cloud_pubsub.md
  web/versioned_docs/version-v4.22/tql2/operators/save_google_cloud_pubsub.md
Labels: docs

#4713 Bump Arrow to 18.0.0 in the Dockerfile
  .github/workflows/tenzir.yaml
  Dockerfile
  scripts/debian/build-arrow.sh
  scripts/debian/install-aws-sdk.sh
  scripts/debian/install-dev-dependencies.sh
Labels: packaging

#4691 Implement `in` for `list_type`
  libtenzir/src/tql2/eval_binary.cpp
  tenzir/integration/data/inputs/json/lists.json
  tenzir/integration/data/reference/expression/test_in_list/step_00.ref
  tenzir/integration/tests/expression.bats
Labels: language, improvement

#4717 Make `str(enum)` return the name of the enum entry
  changelog/next/bug-fixes/4717--str-of-enumeration.md
  libtenzir/builtins/functions/string.cpp
Labels: bug
