Repository tenzir/tenzir, pull requests merged in 2024-09, with the labels that each got.

#4555 Prepare repository for Tenzir v4.20.1
  changelog/v4.20.1/bug-fixes/4554.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.20/contribution/code-of-conduct.md
  web/versioned_docs/version-v4.20/contribution/coding-style.md
  web/versioned_docs/version-v4.20/contribution/rfc.md
  web/versioned_docs/version-v4.20/contribution/security.md
  web/versioned_docs/version-v4.20/contribution/workflow.md
Labels: maintenance

#4553 Keep going in installer tests if one fails
  .github/workflows/installer.yaml
Labels: ci

#4558 Add OCSF schema type definitions
  changelog/next/bug-fixes/4558--empty-record-schema.md
  libtenzir/src/concept/parseable/tenzir/legacy_type.cpp
  libtenzir/src/series_builder.cpp
  plugins/fluent-bit/integration/tests/tests.bats
  scripts/ocsf-schemas.py
Labels: feature

#4560 Make the package input 'type' field undocumented
  libtenzir/include/tenzir/package.hpp
  libtenzir/src/package.cpp
  web/docs/packages.md
Labels: docs, engine, improvement

#4563 Fix gcc-14 not deducing unique types for lamdbas
  cmake/TenzirRegisterPlugin.cmake
  libtenzir/include/tenzir/plugin.hpp
Labels: bug

#4566 Fix example in the `azure-log-analytics` docs
  web/docs/operators/azure-log-analytics.md
Labels: bug, docs

#4570 Fix a use-after-free in the `xsv` parser
  changelog/next/bug-fixes/4570--xsv-crash.md
  libtenzir/builtins/formats/xsv.cpp
Labels: bug, format

#4571 Include the main branch in the installer tests
  .github/workflows/installer.yaml
  scripts/install.sh
Labels: ci, packaging

#4574 Make `tenzir` and `tenzir-node` start faster
  libtenzir/include/tenzir/configuration.hpp
  libtenzir/src/configuration.cpp
  libtenzir/src/plugin.cpp
  tenzir/tenzir.cpp
Labels: bug, engine

#4573 Add `replace` and `slice` methods
  libtenzir/builtins/functions/string.cpp
  tenzir/integration/data/reference/functions/test_replace/step_00.ref
  tenzir/integration/data/reference/functions/test_replace/step_01.ref
  tenzir/integration/data/reference/functions/test_replace/step_02.ref
  tenzir/integration/data/reference/functions/test_replace/step_03.ref
  tenzir/integration/data/reference/functions/test_replace/step_04.ref
  tenzir/integration/data/reference/functions/test_replace/step_05.ref
  tenzir/integration/data/reference/functions/test_slice/step_00.ref
  tenzir/integration/data/reference/functions/test_slice/step_01.ref
  tenzir/integration/data/reference/functions/test_slice/step_02.ref
  tenzir/integration/data/reference/functions/test_slice/step_03.ref
  tenzir/integration/data/reference/functions/test_slice/step_04.ref
  tenzir/integration/data/reference/functions/test_slice/step_05.ref
  tenzir/integration/data/reference/functions/test_slice/step_06.ref
  tenzir/integration/data/reference/functions/test_slice/step_07.ref
  tenzir/integration/data/reference/functions/test_slice/step_08.ref
  tenzir/integration/tests/functions.bats
Labels: feature, engine

#4579 Set `SO_REUSEADDR` in the UDP connector
  changelog/next/bug-fixes/4579-udp-reuseaddr.md
  libtenzir/builtins/connectors/udp.cpp
Labels: bug, operator

#4580 Allow binding to low ports in systemd
  .github/workflows/nix.yaml
  changelog/next/bug-fixes/4580--low-ports-systemd.md
  tenzir/services/systemd/tenzir-node.service.in
Labels: bug, packaging

#4581 Prepare repository for Tenzir v4.20.2
  changelog/v4.20.2/bug-fixes/4558.md
  changelog/v4.20.2/bug-fixes/4559.md
  changelog/v4.20.2/bug-fixes/4570.md
  changelog/v4.20.2/bug-fixes/4578.md
  changelog/v4.20.2/bug-fixes/4579-udp-reuseaddr.md
  changelog/v4.20.2/bug-fixes/4580.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.20/contribution/code-of-conduct.md
  web/versioned_docs/version-v4.20/contribution/coding-style.md
  web/versioned_docs/version-v4.20/contribution/rfc.md
  web/versioned_docs/version-v4.20/contribution/security.md
  web/versioned_docs/version-v4.20/contribution/workflow.md
  web/versioned_docs/version-v4.20/operators/azure-log-analytics.md
  web/versioned_docs/version-v4.20/packages.md
Labels: maintenance

#4575 Improve `null` handling of field access and index expressions
  libtenzir/src/tql2/eval_impl.cpp
Labels: bug

#4584 Do not throw away metadata in TQL2's `set` operator
  libtenzir/src/tql2/set.cpp
Labels: bug, operator

#4583 Remove the delay between importing and exporting events
  changelog/next/bug-fixes/4583--gapless-live-export.md
  libtenzir/builtins/operators/export.cpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/include/tenzir/importer.hpp
  libtenzir/src/importer.cpp
  tenzir/integration/tests/vast_misc.bats
Labels: bug, operator

#4585 Fix a logic error for retried requests in `/serve`
  changelog/next/bug-fixes/4585--serve-retry-race.md
  changelog/v4.20.2/bug-fixes/4579.md
  libtenzir/builtins/operators/serve.cpp
Labels: bug, engine

#4577 Add `int(<uint>)` and `uint(<int>)` overloads
  libtenzir/builtins/functions/int.cpp
Labels: bug

#4568 Add a guide on how to write a package
  web/docs/installation/install-a-package.md
  web/docs/packages.md
  web/docs/write-a-package.md
  web/sidebars.js
Labels: docs

#4586 Prepare repository for Tenzir v4.20.3
  changelog/v4.20.3/bug-fixes/4583.md
  changelog/v4.20.3/bug-fixes/4585.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.20/installation/install-a-package.md
  web/versioned_docs/version-v4.20/packages.md
  web/versioned_docs/version-v4.20/write-a-package.md
  web/versioned_sidebars/version-v4.20-sidebars.json
Labels: maintenance

#4594 Support bytes inputs in the `buffer` operator
  changelog/next/features/4594--buffer-bytes.md
  libtenzir/builtins/operators/buffer.cpp
  libtenzir/include/tenzir/chunk.hpp
  libtenzir/include/tenzir/table_slice.hpp
  libtenzir/src/chunk.cpp
  libtenzir/src/execution_node.cpp
  libtenzir/src/table_slice.cpp
  web/docs/operators/buffer.md
Labels: operator, improvement

#4598 Fix predicate pushdown of `or` expressions
  libtenzir/include/tenzir/tql2/ast.hpp
  libtenzir/src/tql2/ast.cpp
Labels: bug

#4597 Stop using connection timeout to get node components
  changelog/next/bug-fixes/4597--node-connection-timeout.md
  libtenzir/builtins/commands/rebuild.cpp
  libtenzir/include/tenzir/node_control.hpp
Labels: bug, engine

#4590 Dynamically grow simdjson buffer if necessary
  changelog/next/features/4590--JSON-size-increase.md
  libtenzir/builtins/formats/json.cpp
Labels: format

#4601 Make `read json --arrays-of-objects` faster
  changelog/next/bug-fixes/4601--faster-arrays-of-objects.md
  libtenzir/builtins/formats/json.cpp
Labels: performance, format

#4599 Improve idle detection of operators
  libtenzir/builtins/operators/buffer.cpp
  libtenzir/builtins/operators/cache.cpp
  libtenzir/builtins/operators/every_cron.cpp
  libtenzir/builtins/operators/from_load_read.cpp
  libtenzir/builtins/operators/local_remote.cpp
  libtenzir/builtins/operators/shell.cpp
  libtenzir/builtins/operators/summarize.cpp
  libtenzir/builtins/operators/unordered.cpp
  libtenzir/include/tenzir/pipeline.hpp
  libtenzir/src/execution_node.cpp
Labels: performance, operator

#4602 Keep from tcp pipelines running on connection failures
  changelog/next/bug-fixes/4602--graceful-tcp-connection-errors.md
  libtenzir/builtins/operators/tcp-listen.cpp
Labels: bug

#4603 Add a --null option to the lines parser
  changelog/next/features/4603--lines-null.md
  libtenzir/builtins/formats/lines.cpp
  libtenzir/include/tenzir/split_nulls.hpp
  tenzir/integration/data/reference/lines/test_parse_null_delimited_events/step_00.ref
  tenzir/integration/tests/lines.bats
  web/docs/formats/lines.md
Labels: operator

#4605 Add support for named required arguments to TQL2
  libtenzir/builtins/functions/community_id.cpp
  libtenzir/include/tenzir/argument_parser2.hpp
  libtenzir/src/argument_parser2.cpp
  tenzir/integration/data/reference/functions/test_community-2d5fid/step_01.ref
  tenzir/integration/data/reference/functions/test_community-2d5fid/step_02.ref
  tenzir/integration/data/reference/functions/test_community-2d5fid/step_03.ref
  tenzir/integration/tests/functions.bats
Labels: engine

#4604 Improve docs here and there
  web/docs/integrations/azure-log-analytics.md
  web/docs/tenzir-vs-cribl.md
Labels: docs, improvement

#4608 Implement `<record>.{select,drop}_matching(<pattern>)`
  libtenzir/builtins/functions/misc.cpp
  libtenzir/src/pattern.cpp
  tenzir/integration/data/reference/functions/test_select_and_drop_matching/step_00.ref
  tenzir/integration/tests/functions.bats
Labels: feature

#4607 Improve some things about our docs
  cmake/TenzirChangelog.cmake.in
  web/blog/public-roadmap-and-open-rfcs/index.md
  web/docusaurus.config.js
  web/src/pages/changelog.md
  web/src/pages/roadmap.tsx
Labels: docs

#4609 Implement `<string>.replace_regex(<pattern>, <replacement>)`
  libtenzir/builtins/functions/string.cpp
  tenzir/integration/data/reference/functions/test_replace-2d5fregex/step_00.ref
  tenzir/integration/data/reference/functions/test_replace-2d5fregex/step_01.ref
  tenzir/integration/data/reference/functions/test_replace-2d5fregex/step_02.ref
  tenzir/integration/data/reference/functions/test_replace-2d5fregex/step_03.ref
  tenzir/integration/data/reference/functions/test_replace-2d5fregex/step_04.ref
  tenzir/integration/data/reference/functions/test_replace-2d5fregex/step_05.ref
  tenzir/integration/tests/functions.bats
Labels: feature

#4591 Make the kv-parser consider quotes when looking for separators
  changelog/next/features/4591--kv-parser-quotes.md
  libtenzir/builtins/formats/kv.cpp
  web/docs/formats/kv.md
Labels: format

#4611 Add concept::integer and concept::number
  libtenzir/include/tenzir/as_bytes.hpp
  libtenzir/include/tenzir/concept/convertible/data.hpp
  libtenzir/include/tenzir/concept/parseable/core/parser.hpp
  libtenzir/include/tenzir/concept/parseable/core/repeat.hpp
  libtenzir/include/tenzir/concept/parseable/numeric/integral.hpp
  libtenzir/include/tenzir/concept/printable/core/printer.hpp
  libtenzir/include/tenzir/concept/printable/detail/print_numeric.hpp
  libtenzir/include/tenzir/concept/printable/numeric/integral.hpp
  libtenzir/include/tenzir/concepts.hpp
  libtenzir/include/tenzir/detail/algorithms.hpp
  libtenzir/include/tenzir/detail/math.hpp
  libtenzir/include/tenzir/detail/saturating_arithmetic.hpp
  libtenzir/include/tenzir/detail/varbyte.hpp
  libtenzir/include/tenzir/word.hpp
Labels: maintenance, refactoring, improvement

#4614 Add methods to extract year/month/day from timestamps
  libtenzir/builtins/functions/time.cpp
  tenzir/integration/data/reference/functions/test_time/step_00.ref
  tenzir/integration/data/reference/functions/test_time/step_01.ref
  tenzir/integration/tests/functions.bats
Labels: feature

#4615 Implement `load_tcp` for TQL2
  libtenzir/builtins/connectors/tcp.cpp
  libtenzir/builtins/operators/load_tcp.cpp
  libtenzir/builtins/operators/tcp-listen.cpp
  libtenzir/include/tenzir/fwd.hpp
  libtenzir/include/tenzir/try.hpp
  libtenzir/src/argument_parser2.cpp
  web/docs/operators/metrics.md
Labels: feature, operator

#4618 Add `to_hive` operator for partitioned writes
  libtenzir/builtins/operators/to_hive.cpp
  libtenzir/include/tenzir/detail/zip_iterator.hpp
Labels: feature

#4619 Fix azure blob storage plugin
  plugins/azure-blob-storage/CMakeLists.txt
  plugins/azure-blob-storage/builtins/load_plugin.cpp
  plugins/azure-blob-storage/builtins/save_plugin.cpp
  plugins/azure-blob-storage/include/loader.hpp
  plugins/azure-blob-storage/include/saver.hpp
  plugins/azure-blob-storage/src/plugin.cpp
  web/docs/connectors/azure-blob-storage.md
Labels: bug

#4620 Implement index expression evaluation for records
  libtenzir/builtins/functions/string.cpp
  libtenzir/src/tql2/eval_impl.cpp
Labels: feature

#4621 Add a from_epch_ns function
  libtenzir/builtins/functions/time.cpp
Labels: feature

#4623 Improve `load_tcp`
  libtenzir/builtins/operators/load_tcp.cpp
Labels: operator, improvement

#4626 Minor changes to the precise parser docs/changelog
  changelog/next/features/4527--precise-parsers.md
  web/docs/formats.md
  web/docs/formats/csv.md
  web/docs/formats/ssv.md
  web/docs/formats/tsv.md
Labels: docs

#4627 Make it possible to give operators and functions the same name
  libtenzir/builtins/functions/string.cpp
  libtenzir/include/tenzir/argument_parser2.hpp
  libtenzir/include/tenzir/tql2/entity_path.hpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  libtenzir/include/tenzir/tql2/registry.hpp
  libtenzir/src/plugin.cpp
  libtenzir/src/tql2/exec.cpp
  libtenzir/src/tql2/plugin.cpp
  libtenzir/src/tql2/registry.cpp
  libtenzir/src/tql2/resolve.cpp
Labels: improvement
