Repository tenzir/tenzir, pull requests merged in 2024-11, with the labels that each got.

#4715 Correctly handle duplicate serve requests and tune some logs
  changelog/next/bug-fixes/4715--serve-manager-race.md
  libtenzir/builtins/operators/import.cpp
  libtenzir/builtins/operators/serve.cpp
  libtenzir/src/active_partition.cpp
  libtenzir/src/evaluator.cpp
  libtenzir/src/index.cpp
  libtenzir/src/passive_partition.cpp
  libtenzir/src/pipeline_executor.cpp
  libtenzir/src/series_builder.cpp
Labels: bug

#4718 Add more content to the docs
  web/docs/how-tenzir-works/README.md
  web/docs/how-tenzir-works/split-routing.svg
  web/docs/how-tenzir-works/user-journey-1.svg
  web/docs/how-tenzir-works/user-journey-1a.svg
  web/docs/how-tenzir-works/user-journey-1b.svg
  web/docs/how-tenzir-works/user-journey-3.svg
  web/docs/tql2/functions.md
  web/docs/tql2/functions/env.md
  web/docs/tql2/functions/flatten.md
  web/docs/tql2/functions/length.md
  web/docs/tql2/functions/length_bytes.md
  web/docs/tql2/functions/length_chars.md
  web/docs/tql2/functions/replace.md
  web/docs/tql2/functions/replace_regex.md
  web/docs/tql2/functions/reverse.md
  web/docs/tql2/functions/secret.md
  web/docs/tql2/functions/unflatten.md
  web/docs/tutorials/map-data-to-ocsf/README.md
Labels: docs, improvement

#4727 Rework docs intro page
  web/docs/about/personae.excalidraw.svg
  web/docs/about/spectra.excalidraw.svg
  web/docs/before-and-after-tenzir-detailed.svg
  web/docs/faqs.md
  web/docs/glossary.md
  web/docs/open-vs-closed-source.excalidraw.svg
  web/docs/open-vs-closed-source.svg
  web/docs/overview.md
  web/docs/platform-and-nodes.excalidraw.svg
  web/docs/target-audience.md
  web/docs/tutorials/quickstart/README.md
  web/docs/why-tenzir.md
  web/sidebars.js
  web/static/img/architecture-nodes.excalidraw.svg
  web/versioned_docs/version-v4.20/why-tenzir.md
  web/versioned_docs/version-v4.21/why-tenzir.md
  web/versioned_docs/version-v4.22/why-tenzir.md
Labels: docs, improvement

#4723 Add docs for platform alerts
  web/docs/platform-cli.md
Labels: docs, improvement

#4721 Just another docs PR
  web/docs/tql2/functions.md
  web/docs/tql2/functions/all.md
  web/docs/tql2/functions/any.md
  web/docs/tql2/functions/collect.md
  web/docs/tql2/functions/count.md
  web/docs/tql2/functions/count_distinct.md
  web/docs/tql2/functions/distinct.md
  web/docs/tql2/functions/first.md
  web/docs/tql2/functions/last.md
  web/docs/tql2/functions/max.md
  web/docs/tql2/functions/mean.md
  web/docs/tql2/functions/median.md
  web/docs/tql2/functions/min.md
  web/docs/tql2/functions/mode.md
  web/docs/tql2/functions/quantile.md
  web/docs/tql2/functions/stddev.md
  web/docs/tql2/functions/sum.md
  web/docs/tql2/functions/value_counts.md
  web/docs/tql2/functions/variance.md
  web/docs/tql2/operators/summarize.md
Labels: docs, improvement

#4720 Add `load_balance` operator
  changelog/next/features/4720--load-balance.md
  libtenzir/builtins/operators/load_balance.cpp
  libtenzir/include/tenzir/detail/stable_map.hpp
  libtenzir/src/argument_parser2.cpp
  libtenzir/src/tql2/exec.cpp
  web/docs/tql2/operators.md
  web/docs/tql2/operators/load_balance.md
Labels: feature

#4725 Port kafka connector to TQL2
  changelog/next/features/4725--tql2-kafka.md
  libtenzir/include/tenzir/tql2/plugin.hpp
  plugins/kafka/CMakeLists.txt
  plugins/kafka/builtins/plugin.cpp
  plugins/kafka/include/kafka/operator.hpp
  plugins/kafka/src/plugin.cpp
  web/docs/tql2/operators.md
  web/docs/tql2/operators/load_kafka.md
  web/docs/tql2/operators/save_kafka.md
Labels: connector, operator, improvement

#4724 Move invalid use of logger in startup code
  tenzir/tenzir.cpp
Labels: bug, engine

#4712 Implement `floor` and `ceil` functions
  changelog/next/features/4691--type-in-list.md
  changelog/next/features/4712--ceil-floor.md
  libtenzir/builtins/functions/ceil_round_floor.cpp
  libtenzir/builtins/functions/numeric.cpp
  tenzir/integration/data/reference/time/test_rounding/step_00.ref
  tenzir/integration/data/reference/time/test_rounding/step_01.ref
  tenzir/integration/data/reference/time/test_rounding/step_02.ref
  tenzir/integration/data/reference/time/test_rounding/step_03.ref
  tenzir/integration/data/reference/time/test_rounding/step_04.ref
  tenzir/integration/data/reference/time/test_rounding/step_05.ref
  tenzir/integration/data/reference/time/test_rounding/step_06.ref
  tenzir/integration/data/reference/time/test_rounding/step_07.ref
  tenzir/integration/data/reference/time/test_rounding/step_08.ref
  tenzir/integration/tests/time.bats
  web/docs/tql2/functions/ceil.md
  web/docs/tql2/functions/floor.md
  web/docs/tql2/functions/round.md
Labels: bug, improvement

#4731 Fix changelog entry name
  changelog/next/changes/4726--splunk-sink-fixes.md
  changelog/next/features/4691--type-in-list.md
  changelog/next/features/4712--ceil-floor.md
  changelog/next/features/4725--tql2-kafka.md
Labels: bug, docs

#4729 Add spread syntax `...expr` for lists
  changelog/next/features/4729--list-spread-syntax.md
  libtenzir/builtins/operators/to_hive.cpp
  libtenzir/include/tenzir/location.hpp
  libtenzir/include/tenzir/tql2/ast.hpp
  libtenzir/include/tenzir/tql2/eval_impl.hpp
  libtenzir/src/tql2/eval_impl.cpp
  libtenzir/src/tql2/parser.cpp
  tenzir/integration/data/reference/expression/test_list_spread/step_00.ref
  tenzir/integration/data/reference/parser/test_ocsf_example/step_00.ref
  tenzir/integration/tests/expression.bats
Labels: feature

#4730 Add universal function call syntax
  changelog/next/features/4730--universal-function-call-syntax.md
  libtenzir/builtins/formats/cef.cpp
  libtenzir/builtins/formats/grok.cpp
  libtenzir/builtins/formats/json.cpp
  libtenzir/builtins/formats/leef.cpp
  libtenzir/builtins/functions/ip.cpp
  libtenzir/builtins/functions/misc.cpp
  libtenzir/builtins/functions/string.cpp
  libtenzir/builtins/functions/time.cpp
  libtenzir/builtins/operators/sort.cpp
  libtenzir/builtins/operators/top_rare.cpp
  libtenzir/include/tenzir/argument_parser2.hpp
  libtenzir/include/tenzir/tql2/ast.hpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  libtenzir/include/tenzir/tql2/registry.hpp
  libtenzir/src/argument_parser2.cpp
  libtenzir/src/tql2/parser.cpp
  libtenzir/src/tql2/registry.cpp
  libtenzir/src/tql2/resolve.cpp
  tenzir/integration/data/reference/expression/test_universal_function_call_syntax/step_00.ref
  tenzir/integration/data/reference/expression/test_universal_function_call_syntax/step_01.ref
  tenzir/integration/data/reference/expression/test_universal_function_call_syntax/step_02.ref
  tenzir/integration/data/reference/expression/test_universal_function_call_syntax/step_03.ref
  tenzir/integration/data/reference/parser/test_functions/step_00.ref
  tenzir/integration/data/reference/parser/test_ocsf_example/step_00.ref
  tenzir/integration/tests/expression.bats
  web/docs/tql2/functions.md
Labels: feature

#4735 Remove link to a removed docs page
  web/blog/five-design-principles-for-building-a-data-pipeline-engine/index.md
Labels: docs

#4736 Port `unroll` to TQL2
  changelog/next/features/4736--unroll.md
  libtenzir/builtins/operators/unroll.cpp
  web/docs/tql2/operators.md
  web/docs/tql2/operators/unroll.md
Labels: feature, operator

#4739 Allow aggregation functions to be saved and restored
  libtenzir/builtins/aggregation-functions/all.cpp
  libtenzir/builtins/aggregation-functions/any.cpp
  libtenzir/builtins/aggregation-functions/collect.cpp
  libtenzir/builtins/aggregation-functions/count_distinct.cpp
  libtenzir/builtins/aggregation-functions/distinct.cpp
  libtenzir/builtins/aggregation-functions/first_last.cpp
  libtenzir/builtins/aggregation-functions/mean.cpp
  libtenzir/builtins/aggregation-functions/min_max.cpp
  libtenzir/builtins/aggregation-functions/mode_value_counts.cpp
  libtenzir/builtins/aggregation-functions/stddev_variance.cpp
  libtenzir/builtins/aggregation-functions/sum.cpp
  libtenzir/builtins/functions/numeric.cpp
  libtenzir/builtins/operators/summarize.cpp
  libtenzir/fbs/aggregation.fbs
  libtenzir/include/tenzir/tql2/plugin.hpp
Labels: engine, improvement

#4747 Correct a few more docs pieces
  web/docs/tql2/operators/package/add.md
  web/docs/tutorials/write-a-package.md
Labels: docs, improvement

#4708 Add `variant_traits` for custom sum types
  libtenzir/include/tenzir/concept/convertible/data.hpp
  libtenzir/include/tenzir/concept/printable/tenzir/data.hpp
  libtenzir/include/tenzir/concepts.hpp
  libtenzir/include/tenzir/data.hpp
  libtenzir/include/tenzir/legacy_type.hpp
  libtenzir/include/tenzir/series_builder.hpp
  libtenzir/include/tenzir/table_slice.hpp
  libtenzir/include/tenzir/tql2/ast.hpp
  libtenzir/include/tenzir/type.hpp
  libtenzir/include/tenzir/variant.hpp
  libtenzir/include/tenzir/variant_traits.hpp
  libtenzir/src/arrow_table_slice.cpp
  libtenzir/src/series_builder.cpp
  libtenzir/src/table_slice.cpp
  libtenzir/src/tql2/eval.cpp
  libtenzir/src/tql2/eval_binary.cpp
  libtenzir/src/tql2/eval_impl.cpp
  libtenzir/src/tql2/eval_unary.cpp
  libtenzir/src/tql2/exec.cpp
  libtenzir/src/tql2/set.cpp
  libtenzir/src/type.cpp
  libtenzir/test/variant_traits.cpp
Labels: maintenance

#4744 Support decapsulating SLL2 packets
  changelog/next/features/4744--sll2.md
  libtenzir/builtins/operators/decapsulate.cpp
  libtenzir/include/tenzir/frame_type.hpp
  tenzir/integration/data/inputs/pcap/sll2.pcap
  tenzir/integration/data/reference/pipelines_local/test_pcap_format/step_05.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: feature

#4749 Use separate volumes in docker-compose
  changelog/next/bug-fixes/4749--separate-docker-volumes.md
  docker-compose.yaml
Labels: bug

#4742 Only wipe the cache directory contents but not the dir itself
  changelog/next/bug-fixes/4742--cache-directory-wipe.md
  libtenzir/src/spawn_node.cpp
Labels: improvement

#4751 Disable gpg check on rpm packages
  scripts/install.sh
Labels: packaging

#4756 Prepend the field added by `enumerate`
  changelog/next/bug-fixes/4756--enumerate-prepend.md
  libtenzir/builtins/operators/enumerate.cpp
  libtenzir/include/tenzir/tql2/set.hpp
  libtenzir/src/tql2/set.cpp
Labels: bug, operator

#4754 Port udp and email
  changelog/next/features/4716--tql2-lps.md
  libtenzir/builtins/connectors/email.cpp
  libtenzir/builtins/connectors/udp.cpp
  libtenzir/builtins/operators/load_tcp.cpp
  web/docs/tql2/operators.md
  web/docs/tql2/operators/load_tcp.md
  web/docs/tql2/operators/load_udp.md
  web/docs/tql2/operators/save_email.md
  web/docs/tql2/operators/save_udp.md
Labels: feature, operator, improvement

#4755 Add a feature flag for modules in TQL2
  libtenzir/src/version.cpp
Labels: maintenance

#4760 Build the `parquet` plugin in the Dockerfile
  Dockerfile
  changelog/next/bug-fixes/4760--docker-parquet.md
Labels: bug, packaging

#4761 Fix configuration options for the kafka plugin
  changelog/next/bug-fixes/4761--fix-kafka-config-options.md
  libtenzir/src/plugin.cpp
  plugins/kafka/builtins/plugin.cpp
  plugins/kafka/src/plugin.cpp
Labels: bug

#4767 Make the `summarize` operator unordered
  libtenzir/builtins/operators/summarize.cpp
  web/docs/tql2/operators/summarize.md
Labels: performance, operator

#4771 Make `to_hive` a "local" operator
  changelog/next/bug-fixes/4771--to-hive-local.md
  libtenzir/builtins/operators/to_hive.cpp
Labels: bug, operator

#4777 Fix syslog parser not yielding on infinite streams
  changelog/next/bug-fixes/4768--erasing-packaged-contexts.md
  changelog/next/bug-fixes/4777--syslog-yield-fix.md
  libtenzir/builtins/formats/syslog.cpp
  libtenzir/include/tenzir/multi_series_builder_argument_parser.hpp
  libtenzir/src/multi_series_builder.cpp
  libtenzir/src/multi_series_builder_argument_parser.cpp
  plugins/from_velociraptor/src/plugin.cpp
Labels: bug, format

#4779 Bump AWS SDK in Dockerfile
  scripts/debian/install-aws-sdk.sh
Labels: maintenance

#4775 Improve enrichment docs
  web/blog/from-slack-to-discord/index.md
  web/blog/tenzir-v4.17/index.md
  web/blog/tenzir-v4.7/index.md
  web/blog/tenzir-v4.9/index.md
  web/docs/contexts.md
  web/docs/contexts/bloom-filter.md
  web/docs/contexts/geoip.md
  web/docs/contexts/lookup-table.md
  web/docs/contextualization.excalidraw.svg
  web/docs/enrichment/README.md
  web/docs/enrichment/context-types.svg
  web/docs/enrichment/context-update-enrich.svg
  web/docs/enrichment/contextualization-modes.svg
  web/docs/enrichment/lookup-table-aggregation.svg
  web/docs/enrichment/lookup-table-expiration.svg
  web/docs/enrichment/lookup-table-subnet-keys.svg
  web/docs/faqs.md
  web/docs/glossary.md
  web/docs/installation/size-a-node.md
  web/docs/operators/context.md
  web/docs/operators/lookup.md
  web/docs/packages.md
  web/docs/tenzir-vs-cribl.md
  web/docs/tql2/operators.md
  web/docs/tql2/operators/context/create_bloom_filter.md
  web/docs/tql2/operators/context/create_geoip.md
  web/docs/tql2/operators/context/create_lookup_table.md
  web/docs/tql2/operators/context/enrich.md
  web/docs/tql2/operators/context/inspect.md
  web/docs/tql2/operators/context/list.md
  web/docs/tql2/operators/context/load.md
  web/docs/tql2/operators/context/remove.md
  web/docs/tql2/operators/context/reset.md
  web/docs/tql2/operators/context/save.md
  web/docs/tql2/operators/context/update.md
  web/docs/tutorials/write-a-package.md
  web/docs/usage/enrich-with-network-inventory/README.md
  web/docs/usage/enrich-with-threat-intel/README.md
  web/sidebars.js
Labels: docs, improvement

#4786 Replace usage of 'caf::variant' with 'tenzir::variant'
  libtenzir/include/tenzir/bitmap.hpp
  libtenzir/include/tenzir/concept/support/detail/variant.hpp
  libtenzir/include/tenzir/data.hpp
  libtenzir/include/tenzir/detail/legacy_deserialize.hpp
  libtenzir/include/tenzir/expression.hpp
  libtenzir/include/tenzir/hash/hash_append.hpp
  libtenzir/include/tenzir/series_builder.hpp
  libtenzir/include/tenzir/variant.hpp
  libtenzir/include/tenzir/view.hpp
  libtenzir/src/node_control.cpp
  libtenzir/test/detail/type_traits.cpp
Labels: refactoring

#4785 Fix bugs in `where` when predicate evaluates to `null`
  changelog/next/bug-fixes/4785--where.md
  libtenzir/builtins/operators/where.cpp
Labels: bug, operator

#4789 Add blog post for Platform 1.4 release
  web/blog/tenzir-platform-v1.3/index.md
  web/blog/tenzir-platform-v1.4/index.md
  web/blog/tenzir-platform-v1.4/tenzir-platform-v1.4.excalidraw.svg
  web/docs/platform-cli.md
Labels: docs

#4776 Small docs fixes
  web/docs/tql2/operators.md
  web/docs/tql2/operators/context/create_bloom_filter.md
  web/docs/tql2/operators/context/create_geoip.md
  web/docs/tql2/operators/context/create_lookup_table.md
  web/docs/tql2/operators/context/enrich.md
  web/docs/tql2/operators/context/inspect.md
  web/docs/tql2/operators/context/load.md
  web/docs/tql2/operators/context/remove.md
  web/docs/tql2/operators/context/reset.md
  web/docs/tql2/operators/context/save.md
  web/docs/tql2/operators/context/update.md
  web/docs/tql2/operators/measure.md
  web/docs/tql2/operators/top.md
Labels: docs

#4788 Implement `where` and `map` on lists
  changelog/next/features/4788--map-where.md
  libtenzir/builtins/operators/where_map.cpp
  libtenzir/include/tenzir/series.hpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  libtenzir/src/tql2/eval_binary.cpp
  tenzir/integration/data/reference/pipelines_local/test_map_and_where_a_list_of_numbers/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_map_and_where_a_list_of_numbers/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_map_and_where_an_empty_list/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_map_and_where_an_empty_list/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_map_and_where_with_records/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_map_and_where_with_records/step_01.ref
  tenzir/integration/tests/pipelines_local.bats
  web/blog/authors.yml
  web/docs/tql2/functions.md
  web/docs/tql2/functions/map.md
  web/docs/tql2/functions/where.md
Labels: feature

#4782 Replace `caf::optional` with `std::optional`
  libtenzir/builtins/operators/put_extend_replace_set.cpp
  libtenzir/builtins/operators/sort.cpp
  libtenzir/builtins/operators/summarize.cpp
  libtenzir/include/tenzir/concept/convertible/data.hpp
  libtenzir/include/tenzir/concept/parseable/core/optional.hpp
  libtenzir/include/tenzir/concept/parseable/tenzir/pipeline.hpp
  libtenzir/include/tenzir/concept/parseable/tenzir/schema.hpp
  libtenzir/include/tenzir/detail/legacy_deserialize.hpp
  libtenzir/include/tenzir/detail/logger_formatters.hpp
  libtenzir/include/tenzir/detail/type_traits.hpp
  libtenzir/include/tenzir/legacy_type.hpp
  libtenzir/include/tenzir/optional.hpp
  libtenzir/include/tenzir/view.hpp
  libtenzir/src/concept/parseable/tenzir/expression.cpp
  libtenzir/src/concept/parseable/tenzir/legacy_type.cpp
  libtenzir/src/legacy_type.cpp
  libtenzir/test/convertible.cpp
  libtenzir/test/detail/legacy_deserialize.cpp
  libtenzir/test/printable.cpp
Labels: maintenance, engine

#4796 Restore the s3 and from_velociraptor plugins
  nix/tenzir/default.nix
Labels: bug

#4795 Implement `x[y]` record indexing
  changelog/next/features/4795--record-indexing.md
  libtenzir/src/tql2/eval_impl.cpp
  tenzir/integration/data/reference/expression/test_record_indexing/step_00.ref
  tenzir/integration/tests/expression.bats
Labels: feature, language

#4792 Implement `append`, `prepend`, and `concatenate`
  changelog/next/features/4792--append-prepend-concatenate.md
  libtenzir/builtins/functions/list.cpp
  web/docs/tql2/functions.md
  web/docs/tql2/functions/append.md
  web/docs/tql2/functions/concatenate.md
  web/docs/tql2/functions/prepend.md
Labels: feature

#4576 Add `parse_time` and `format_time` methods
  changelog/next/features/4576--parse-and-format-time.md
  libtenzir/builtins/functions/time.cpp
  libtenzir/builtins/operators/time.cpp
  tenzir/integration/data/reference/functions/test_parse-2d5ftime/step_00.ref
  tenzir/integration/data/reference/functions/test_parse-2d5ftime_with_bad_format_string/step_00.ref
  tenzir/integration/data/reference/functions/test_parse-2d5ftime_with_bad_input_string/step_00.ref
  tenzir/integration/tests/functions.bats
  web/docs/tql2/functions.md
  web/docs/tql2/functions/format_time.md
  web/docs/tql2/functions/parse_time.md
Labels: feature, engine

#4800 Prepare repository for Tenzir v4.23.1
  changelog/v4.23.1/bug-fixes/4742.md
  changelog/v4.23.1/bug-fixes/4749.md
  changelog/v4.23.1/bug-fixes/4760.md
  changelog/v4.23.1/bug-fixes/4761.md
  changelog/v4.23.1/bug-fixes/4774.md
  changelog/v4.23.1/bug-fixes/4777.md
  changelog/v4.23.1/bug-fixes/4785.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.23/contribution/code-of-conduct.md
  web/versioned_docs/version-v4.23/contribution/coding-style.md
  web/versioned_docs/version-v4.23/contribution/rfc.md
  web/versioned_docs/version-v4.23/contribution/security.md
  web/versioned_docs/version-v4.23/contribution/workflow.md
Labels: maintenance

#4801 Ignore whole line when NDJSON parser fails
  changelog/next/bug-fixes/4801--ndjson-parser-failure.md
  libtenzir/builtins/formats/json.cpp
Labels: bug

#4793 Another round of TQL2 docs
  web/docs/tql2/functions.md
  web/docs/tql2/functions/format_time.md
  web/docs/tql2/functions/join.md
  web/docs/tql2/functions/map.md
  web/docs/tql2/functions/parse_time.md
  web/docs/tql2/functions/split.md
  web/docs/tql2/functions/split_regex.md
  web/docs/tql2/functions/where.md
  web/docs/usage/collect-metrics.md
  web/docs/usage/shape-data/README.md
  web/docs/usage/shape-data/reshaping.excalidraw.svg
  web/docs/usage/shape-data/shaping.svg
  web/docs/usage/show-available-schemas.md
Labels: docs, improvement

#4809 Fix `str` function quotes
  changelog/next/bug-fixes/4809--str-function-quotes.md
  libtenzir/builtins/functions/string.cpp
Labels: bug

#4794 Implement `otherwise(<expr>, <expr>)`
  .gitignore
  changelog/next/features/4794--otherwise.md
  libtenzir/builtins/functions/otherwise.cpp
  tenzir/integration/data/reference/functions/test_otherwise/step_00.ref
  tenzir/integration/data/reference/functions/test_otherwise/step_01.ref
  tenzir/integration/data/reference/functions/test_otherwise/step_02.ref
  tenzir/integration/data/reference/functions/test_otherwise/step_03.ref
  tenzir/integration/data/reference/functions/test_otherwise/step_04.ref
  tenzir/integration/tests/functions.bats
  web/docs/tql2/functions/otherwise.md
Labels: feature, language

#4812 Fix potential lifetime issue in `compress` and `decompress`
  libtenzir/builtins/operators/compress_decompress.cpp
Labels: bug

#4814 Improve `otherwise` docs
  changelog/next/features/4794--otherwise.md
  libtenzir/builtins/functions/otherwise.cpp
  web/docs/tql2/functions/otherwise.md
Labels: docs

#4817 Make the argument of `distinct` and `count_distinct` positional again
  libtenzir/builtins/aggregation-functions/count_distinct.cpp
  libtenzir/builtins/aggregation-functions/distinct.cpp
Labels: bug

#4816 Fix ODR violation of `tenzir::socket` type
  changelog/next/bug-fixes/4816--sockets.md
  libtenzir/include/tenzir/os.hpp
  libtenzir/src/os.cpp
Labels: bug, operator

#4806 Implement `encode_base64` and `decode_base64`
  changelog/next/features/4806--base64.md
  libtenzir/builtins/functions/base64.cpp
  web/docs/tql2/functions.md
  web/docs/tql2/functions/decode_base64.md
  web/docs/tql2/functions/encode_base64.md
Labels: feature, language

#4787 Copy some metafunctions from `caf::detail::type_list`
  libtenzir/builtins/contexts/lookup_table.cpp
  libtenzir/include/tenzir/argument_parser2.hpp
  libtenzir/include/tenzir/bitmap.hpp
  libtenzir/include/tenzir/concept/printable/tenzir/json.hpp
  libtenzir/include/tenzir/concept/support/detail/variant.hpp
  libtenzir/include/tenzir/data.hpp
  libtenzir/include/tenzir/data_builder.hpp
  libtenzir/include/tenzir/detail/legacy_deserialize.hpp
  libtenzir/include/tenzir/detail/type_list.hpp
  libtenzir/include/tenzir/detail/type_traits.hpp
  libtenzir/include/tenzir/expression.hpp
  libtenzir/include/tenzir/legacy_type.hpp
  libtenzir/include/tenzir/series_builder.hpp
  libtenzir/include/tenzir/table_slice_builder.hpp
  libtenzir/include/tenzir/tql2/ast.hpp
  libtenzir/include/tenzir/tql2/eval_impl.hpp
  libtenzir/include/tenzir/type.hpp
  libtenzir/include/tenzir/variant.hpp
  libtenzir/src/configuration.cpp
  libtenzir/src/data_builder.cpp
  libtenzir/src/legacy_type.cpp
  libtenzir/src/series_builder.cpp
  libtenzir/src/table_slice_builder.cpp
  libtenzir/src/tql2/ast.cpp
  libtenzir/src/type.cpp
  libtenzir/test/data_builder.cpp
Labels: maintenance

#4821 Allow aggregation functions to be called on lists
  changelog/next/features/4821--aggregating-lists.md
  libtenzir/builtins/aggregation-functions/all.cpp
  libtenzir/builtins/aggregation-functions/any.cpp
  libtenzir/builtins/aggregation-functions/collect.cpp
  libtenzir/builtins/aggregation-functions/count_distinct.cpp
  libtenzir/builtins/aggregation-functions/distinct.cpp
  libtenzir/builtins/aggregation-functions/first_last.cpp
  libtenzir/builtins/aggregation-functions/mean.cpp
  libtenzir/builtins/aggregation-functions/min_max.cpp
  libtenzir/builtins/aggregation-functions/mode_value_counts.cpp
  libtenzir/builtins/aggregation-functions/stddev_variance.cpp
  libtenzir/builtins/aggregation-functions/sum.cpp
  libtenzir/builtins/functions/numeric.cpp
  libtenzir/builtins/operators/top_rare.cpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  libtenzir/src/tql2/plugin.cpp
Labels: feature, language

#4757 Implement `--limit` flag for the `chart` operator
  changelog/next/features/4757--chart-limit.md
  libtenzir/builtins/operators/chart.cpp
  libtenzir/src/version.cpp
  tenzir/integration/data/reference/pipelines_local/test_chart_arguments/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_arguments/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_arguments/step_04.ref
  tenzir/integration/data/reference/vast/test_bar_chart/step_01.ref
  tenzir/integration/data/reference/vast/test_bar_chart/step_03.ref
  tenzir/integration/data/reference/vast/test_line_chart/step_01.ref
  tenzir/integration/data/reference/vast/test_line_chart/step_03.ref
  web/docs/operators/chart.md
Labels: operator

#4807 Port `save_tcp`
  changelog/next/features/4716-4807--tql2-lps.md
  libtenzir/builtins/connectors/tcp.cpp
  web/docs/tql2/operators.md
  web/docs/tql2/operators/load_tcp.md
  web/docs/tql2/operators/save_tcp.md
Labels: feature, operator
