Repository tenzir/tenzir, pull requests merged in 2024-12, with the labels that each got.

#4815 Implement `encode_hex()` and `decode_hex()`
  changelog/next/features/4815--hex.md
  libtenzir/builtins/functions/hex.cpp
  tenzir/integration/data/reference/functions/test_hex/step_00.ref
  tenzir/integration/data/reference/functions/test_hex/step_01.ref
  tenzir/integration/tests/functions.bats
  web/docs/tql2/functions/decode_hex.md
  web/docs/tql2/functions/encode_hex.md
Labels: feature

#4833 Add missing `co_yield`s in `save_http`
  changelog/next/bug-fixes/4833--save-http-yield.md
  libtenzir/builtins/connectors/curl.cpp
Labels: bug

#4829 Add timeout to multiline syslog
  changelog/next/bug-fixes/4829--multiline-syslog.md
  libtenzir/builtins/connectors/udp.cpp
  libtenzir/builtins/formats/syslog.cpp
Labels: bug, format

#4826 Announce Tenzir Node v4.24
  changelog/next/features/4799--split-join.md
  web/blog/tenzir-node-v4.24/index.md
  web/blog/tenzir-node-v4.24/tenzir-node-v4.24.svg
Labels: docs

#4835 Port `unordered`, `local`, and `remote` to TQL2
  changelog/next/features/4835--local-remote-unordered.md
  libtenzir/builtins/operators/local_remote.cpp
  libtenzir/builtins/operators/unordered.cpp
  web/docs/tql2/operators.md
  web/docs/tql2/operators/local.md
  web/docs/tql2/operators/remote.md
  web/docs/tql2/operators/unordered.md
Labels: feature, operator

#4834 Prepare small fixes for release
  changelog/next/changes/4834--kafka-topic.md
  changelog/next/changes/4834--str-string.md
  libtenzir/builtins/functions/string.cpp
  libtenzir/src/argument_parser2.cpp
  plugins/kafka/include/kafka/operator.hpp
  plugins/kafka/src/plugin.cpp
  tenzir/integration/data/reference/expression/test_universal_function_call_syntax/step_02.ref
  tenzir/integration/data/reference/expression/test_universal_function_call_syntax/step_03.ref
  tenzir/integration/data/reference/functions/test_community-2d5fid/step_01.ref
  tenzir/integration/data/reference/functions/test_community-2d5fid/step_02.ref
  tenzir/integration/data/reference/functions/test_community-2d5fid/step_03.ref
  web/docs/tql2/functions.md
  web/docs/tql2/functions/float.md
  web/docs/tql2/functions/int.md
  web/docs/tql2/functions/ip.md
  web/docs/tql2/functions/string.md
  web/docs/tql2/functions/time.md
  web/docs/tql2/functions/uint.md
  web/docs/tql2/functions/where.md
  web/docs/tql2/operators/load_kafka.md
  web/docs/tql2/operators/save_kafka.md
Labels: maintenance

#4803 Introduce a `zip` function for merging lists
  changelog/next/features/4803--zip.md
  libtenzir/builtins/functions/list.cpp
  libtenzir/include/tenzir/optional.hpp
  tenzir/integration/data/reference/pipelines_local/test_zip/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_zip/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_zip/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_zip/step_03.ref
  tenzir/integration/data/reference/pipelines_local/test_zip/step_04.ref
  tenzir/integration/data/reference/pipelines_local/test_zip/step_05.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/tql2/functions.md
  web/docs/tql2/functions/zip.md
Labels: feature

#4827 Fix a segfault in the JSON parser
  libtenzir/builtins/formats/json.cpp
Labels: bug, format

#4838 Announce Tenzir Platform v1.5
  web/blog/authors.yml
  web/blog/tenzir-platform-v1.5/index.md
  web/blog/tenzir-platform-v1.5/tenzir-platform-v1.5.excalidraw.svg
Labels: docs

#4791 Add copy button to named language code blocks
  web/docusaurus.config.js
  web/package.json
  web/registerCopyButton.js
  web/src/css/custom.scss
  web/yarn.lock
Labels: bug, docs

#4841 Implement `ip in subnet` and `subnet in subnet`
  changelog/next/features/4841--ip-in-subnet.md
  libtenzir/src/tql2/eval_binary.cpp
  tenzir/integration/data/reference/expression/test_ip_in_subnet/step_00.ref
  tenzir/integration/data/reference/expression/test_subnet_in_subnet/step_00.ref
  tenzir/integration/tests/expression.bats
Labels: feature

#4845 Modernize CAF usage in `cache.cpp`
  libtenzir/builtins/operators/cache.cpp
Labels: refactoring

#4846 Fix a rare crash in the index actor on startup
  changelog/next/bug-fixes/4846--startup-index-crash.md
  libtenzir/src/index.cpp
Labels: bug, engine

#4847 Fix operator name for TQL2 `nics`
  changelog/next/bug-fixes/4847--nics.md
  plugins/nic/builtins/plugin.cpp
  plugins/nic/src/plugin.cpp
Labels: bug

#4844 Parse `x not in y` as `not x in y`
  changelog/next/features/4844--not-in.md
  libtenzir/src/tql2/parser.cpp
  tenzir/integration/data/inputs/json/lists.json
  tenzir/integration/data/reference/expression/test_in_list/step_00.ref
  tenzir/integration/data/reference/expression/test_in_list/step_01.ref
  tenzir/integration/tests/expression.bats
Labels: improvement

#4843 Add integration guide for Microsoft Defender Event Streaming
  web/docs/integrations/microsoft-defender/README.md
  web/docs/integrations/microsoft-defender/architecture.excalidraw.svg
Labels: docs

#4848 `save_email` cleanup
  changelog/next/bug-fixes/4848--save_email.md
  changelog/next/features/4848--email-tls.md
  libtenzir/builtins/connectors/email.cpp
  libtenzir/include/tenzir/transfer.hpp
  libtenzir/src/transfer.cpp
  web/docs/tql2/operators/save_email.md
Labels: bug, improvement

#4855 Fix `last` aggregation
  changelog/next/bug-fixes/4855--last.md
  libtenzir/builtins/aggregation-functions/first_last.cpp
Labels: bug

#4854 Implement `from_epoch(x:duration) -> time`
  libtenzir/builtins/functions/time.cpp
  web/docs/tql2/functions.md
  web/docs/tql2/functions/as_secs.md
  web/docs/tql2/functions/from_epoch.md
  web/docs/tql2/functions/from_epoch_ms.md
  web/docs/tql2/functions/now.md
  web/docs/tql2/functions/since_epoch.md
Labels: improvement

#4802 Allow preparing releases from release maintenance branches
  .github/workflows/tenzir.yaml
  scripts/prepare-release
Labels: improvement

#4859 Prepare repository for Tenzir v4.24.1
  changelog/v4.24.1/bug-fixes/4846.md
  changelog/v4.24.1/bug-fixes/4847.md
  changelog/v4.24.1/bug-fixes/4855.md
  python/pyproject.toml
  version.json
Labels: maintenance

#4860 Rotate versions and changelog for v4.24.1
  changelog/v4.24.1/bug-fixes/4846.md
  changelog/v4.24.1/bug-fixes/4847.md
  changelog/v4.24.1/bug-fixes/4855.md
  changelog/v4.24.1/bug-fixes/4856.md
  python/pyproject.toml
  version.json
Labels: maintenance, docs

#4861 Validate legacy expressions when splitting for predicate pushdown
  changelog/next/bug-fixes/4861--fix-export-where.md
  libtenzir/src/tql2/ast.cpp
Labels: bug

#4862 Fix required positional argument skipping
  libtenzir/src/argument_parser2.cpp
Labels: bug

#4850 Port `deduplicate` to TQL2
  changelog/next/features/4850--dedup.md
  libtenzir/builtins/operators/deduplicate.cpp
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_08.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_09.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_10.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_11.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_12.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/tql2/operators.md
  web/docs/tql2/operators/deduplicate.md
Labels: feature, operator

#4865 Add blog post for platform v1.6
  web/blog/tenzir-platform-v1.5/index.md
  web/blog/tenzir-platform-v1.6/index.md
  web/blog/tenzir-platform-v1.6/tenzir-platform-v1.6.png
Labels: docs, platform

#4811 Enhance HTTP connector controls
  changelog/next/features/4811--http-args.md
  libtenzir/builtins/connectors/curl.cpp
  tenzir/integration/data/reference/http2/test_load_http_post/step_00.ref
  tenzir/integration/data/reference/http2/test_load_http_post_form/step_00.ref
  tenzir/integration/data/reference/http2/test_save_http_post/step_00.ref
  tenzir/integration/data/reference/http2/test_save_http_post_add_header/step_00.ref
  tenzir/integration/data/reference/http2/test_save_http_post_delete_header/step_00.ref
  tenzir/integration/data/reference/http2/test_save_http_post_overwrite_header/step_00.ref
  tenzir/integration/data/reference/http2/test_save_http_put/step_00.ref
  tenzir/integration/tests/http2.bats
  web/docs/tql2/operators/load_http.md
  web/docs/tql2/operators/save_http.md
  web/docs/usage/enrich-with-threat-intel/README.md
Labels: connector, improvement

#4870 Add Zscaler NSS integration docs
  web/docs/integrations/microsoft/azure/log-analytics/README.md
  web/docs/integrations/zscaler/README.md
  web/docs/integrations/zscaler/zscaler-nss.svg
Labels: docs, improvement

#4858 Improve and expand expression documentation
  changelog/next/changes/4839--varying-expression-types.md
  web/docs/tql2/language/expressions.md
  web/docs/tql2/operators/context/erase.md
Labels: docs, improvement

#4872 Mark `{load,save}_http` as detached
  libtenzir/builtins/connectors/curl.cpp
Labels: bug, operator

#4871 Add `to_opensearch` and `to_elasticsearch` sink operators
  changelog/next/features/4871--opensearch.md
  libtenzir/builtins/operators/to_opensearch.cpp
  tenzir/integration/data/reference/from_to/test_to_failure/step_00.ref
  tenzir/integration/data/reference/opensearch/test_doc_param/step_00.ref
  tenzir/integration/data/reference/opensearch/test_doc_param/step_01.ref
  tenzir/integration/data/reference/opensearch/test_missing_id/step_00.ref
  tenzir/integration/data/reference/opensearch/test_missing_id/step_01.ref
  tenzir/integration/data/reference/opensearch/test_normal_case/step_00.ref
  tenzir/integration/tests/opensearch.bats
  web/docs/tql2/functions/otherwise.md
  web/docs/tql2/operators.md
  web/docs/tql2/operators/to.md
  web/docs/tql2/operators/to_opensearch.md
Labels: feature

#4874 Fix handling of empty records in `write_parquet`
  changelog/next/bug-fixes/4874--parquet-empty-records.md
  plugins/parquet/include/parquet/operator.hpp
  plugins/parquet/integration/data/reference/tests/test_empty_records/step_01.ref
  plugins/parquet/integration/data/reference/tests/test_empty_records/step_02.ref
  plugins/parquet/integration/data/reference/tests/test_empty_records/step_03.ref
  plugins/parquet/integration/data/reference/tests/test_empty_records/step_04.ref
  plugins/parquet/integration/tests/tests.bats
Labels: bug, operator

#4873 Add OpenSearch integration page
  web/docs/integrations/elasticsearch/README.md
  web/docs/integrations/elasticsearch/elasticsearch.svg
  web/docs/integrations/opensearch/README.md
  web/docs/integrations/opensearch/opensearch.svg
Labels: feature, docs

#4878 Add Snowflake integration page
  web/docs/integrations/snowflake/README.md
  web/docs/integrations/snowflake/snowflake.svg
  web/docs/tql2/operators/to_snowflake.md
Labels: feature, docs

#4877 Add `duration(string) -> duration`
  changelog/next/features/4877--duration.md
  libtenzir/builtins/functions/duration.cpp
  tenzir/integration/data/reference/functions/test_duration/step_00.ref
  tenzir/integration/tests/functions.bats
  web/docs/tql2/functions.md
  web/docs/tql2/functions/duration.md
  web/docs/tql2/functions/subnet.md
  web/docs/tql2/functions/time.md
Labels: feature

#4881 Make minor improvements to Snowflake integration
  web/docs/integrations/snowflake/README.md
Labels: docs, improvement
