Repository tenzir/tenzir, pull requests merged in 2024-05, with the labels that each got.

#4181 Add the `show index` aspect
  libtenzir/builtins/aspects/index.cpp
Labels: engine, improvement

#4186 Restrict magic-nix-cache to hosted runners
  .github/workflows/nix.yaml
Labels: ci

#4183 Bump nixpkgs to 94035b482
  .github/workflows/nix.nu
  CMakeLists.txt
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/tenzir/default.nix
Labels: maintenance

#4185 Add unordered batch optimization
  libtenzir/builtins/operators/batch.cpp
  libtenzir/builtins/operators/import.cpp
  tenzir/integration/data/reference/batching/test_unordered_batch/step_00.ref
  tenzir/integration/data/reference/batching/test_unordered_batch/step_01.ref
  tenzir/integration/data/reference/batching/test_unordered_batch/step_02.ref
  tenzir/integration/data/reference/batching/test_unordered_batch/step_03.ref
  tenzir/integration/tests/batching.bats
Labels: performance, operator

#4190 Improve error message for `--arrays-of-objects`
  libtenzir/builtins/formats/json.cpp
Labels: bug

#4169 Add `--precise` mode to JSON parser
  changelog/next/features/4169--json-precise.md
  libtenzir/builtins/formats/json.cpp
  libtenzir/include/tenzir/try.hpp
  libtenzir/include/tenzir/try_simdjson.hpp
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_04.ref
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_25.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_bad_ndjson/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_big_integer/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_broken_input/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_incomplete_input/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_list_type_conflict/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_overwrite_field/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_raw/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_precise_json_type_conflict/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/formats/gelf.md
  web/docs/formats/json.md
Labels: feature, connector

#4193 Update Tenzir diagram in docs
  web/docs/cribl-vs-tenzir-product.excalidraw.svg
Labels: docs, improvement

#4178 Add LEEF parser
  changelog/next/bug-fixes/4178--syslog.md
  changelog/next/features/4178--leef-parser.md
  libtenzir/builtins/formats/leef.cpp
  libtenzir/builtins/formats/syslog.cpp
  libtenzir/include/tenzir/format/syslog.hpp
  tenzir/integration/data/inputs/leef/leef1.log
  tenzir/integration/data/inputs/leef/leef2.log
  tenzir/integration/data/inputs/syslog/leef-over-syslog.log
  tenzir/integration/data/reference/leef/test_parse_leef/step_00.ref
  tenzir/integration/data/reference/leef/test_parse_leef/step_01.ref
  tenzir/integration/data/reference/leef/test_parse_leef_over_syslog/step_00.ref
  tenzir/integration/data/reference/leef/test_parse_leef_over_syslog/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_syslog_format/step_01.ref
  tenzir/integration/tests/leef.bats
  web/docs/formats/leef.md
Labels: feature, format

#4195 Fix CSV/XSV format printing the header once for each batch
  changelog/next/bug-fixes/4195--xsv-headers.md
  libtenzir/builtins/formats/xsv.cpp
  tenzir/integration/data/reference/pipelines_local/test_xsv_format/step_04.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug, format

#4197 Undocument fictive schema syntax
  web/docs/data-model/type-system.md
Labels: docs, improvement

#4192 Add `cron` operator
  changelog/next/features/4192--cron-operator-modifier.md
  libtenzir/builtins/operators/every.cpp
  libtenzir/builtins/operators/every_cron.cpp
  libtenzir/include/tenzir/detail/croncpp.hpp
  tenzir/integration/data/reference/cron/test_cron_errors/step_00.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_01.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_02.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_03.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_04.ref
  tenzir/integration/data/reference/cron/test_cron_modifier/step_00.ref
  tenzir/integration/data/reference/cron/test_cron_modifier/step_01.ref
  tenzir/integration/data/reference/cron/test_cron_with_remote/step_00.ref
  tenzir/integration/data/reference/cron/test_cron_with_remote/step_01.ref
  tenzir/integration/tests/cron.bats
  vendored.spdx
  web/docs/language/operator-modifiers.md
Labels: feature, operator

#4194 Fix a panic on shutdown
  libtenzir/src/node.cpp
Labels: bug, engine

#4198 Make tests independent of Accept-Encoding header
  tenzir/integration/data/misc/scripts/webserver.py
  tenzir/integration/data/reference/http/test_load_http_post/step_00.ref
  tenzir/integration/data/reference/http/test_load_http_post_form/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post/step_01.ref
  tenzir/integration/data/reference/http/test_save_http_post_add_header/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post_delete_header/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post_overwrite_header/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_put/step_00.ref
Labels: maintenance, ci

#4189 Make python venv creation independent from the user
  changelog/next/bug-fixes/4189--python-permission-issues.md
  libtenzir/builtins/operators/python.cpp
  libtenzir/src/configuration.cpp
Labels: bug

#4199 Add a blog post for Tenzir v4.13
  web/blog/tenzir-v4.10/index.md
  web/blog/tenzir-v4.11/index.md
  web/blog/tenzir-v4.12/index.md
  web/blog/tenzir-v4.13/import-reordering.excalidraw.svg
  web/blog/tenzir-v4.13/index.md
  web/blog/tenzir-v4.13/tenzir-v4.13.excalidraw.svg
  web/blog/tenzir-v4.8/index.md
  web/blog/tenzir-v4.9/index.md
  web/docs/cribl-vs-tenzir-routing.excalidraw.svg
  web/docs/formats/leef.md
Labels: maintenance, docs

#4200 Fix the lifetime tracking of node components
  libtenzir/include/tenzir/node.hpp
  libtenzir/src/node.cpp
Labels: bug, engine

#4212 Treat AMQP library exceptions as actual errors
  changelog/next/bug-fixes/4212-satta.md
  plugins/amqp/src/plugin.cpp
Labels: connector, improvement

#4213 Fix rendering of AMQP error code
  plugins/amqp/src/plugin.cpp
Labels: bug, connector

#4210 Improve `slice` with positive begin and negative end
  changelog/next/bug-fixes/4210--slice-negative-end.md
  libtenzir/builtins/operators/slice.cpp
Labels: bug, operator

#4215 Relax `transform_columns`
  changelog/next/bug-fixes/4215--transform-columns.md
  libtenzir/include/tenzir/arrow_table_slice.hpp
  libtenzir/src/arrow_table_slice.cpp
  libtenzir/src/table_slice.cpp
  tenzir/integration/data/reference/pipelines_local/test_empty_record_in_pipeline/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_empty_record_in_pipeline/step_02.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug, engine

#4204 Speed up the duration parser
  libtenzir/include/tenzir/concept/parseable/tenzir/time.hpp
Labels: performance, format

#4217 Prepare repository for Tenzir v4.13.1
  changelog/v4.13.1/bug-fixes/4210.md
  changelog/v4.13.1/bug-fixes/4212-satta.md
  changelog/v4.13.1/bug-fixes/4214.md
  changelog/v4.13.1/bug-fixes/4215.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-Tenzir v4.13/contribute/code-of-conduct.md
  web/versioned_docs/version-Tenzir v4.13/contribute/coding-style.md
  web/versioned_docs/version-Tenzir v4.13/contribute/rfc.md
  web/versioned_docs/version-Tenzir v4.13/contribute/security.md
  web/versioned_docs/version-Tenzir v4.13/contribute/workflow.md
Labels: maintenance

#4220 Add the `open_fds` metric to the docs
  web/docs/operators/metrics.md
Labels: docs

#4211 Change the syntax of the `slice` operator
  changelog/next/changes/4211--slice-syntax.md
  libtenzir/builtins/operators/head.cpp
  libtenzir/builtins/operators/slice.cpp
  libtenzir/builtins/operators/tail.cpp
  plugins/parquet/integration/tests/tests.bats
  tenzir/integration/tests/feather.bats
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/head.md
  web/docs/operators/slice.md
  web/docs/operators/tail.md
Labels: operator, improvement

#4221 Update flatbuffers version requirement and fix table
  web/docs/developer-guides/build-from-source.md
Labels: docs, improvement

#4222 Remove the superfluous path separators when using S3 or GS connectors
  changelog/next/bug-fixes/4222--remove-superfluous-path-separators.md
  libtenzir/builtins/connectors/s3.cpp
  plugins/gcs/src/plugin.cpp
Labels: bug

#4225 Make syslog parser more lenient
  changelog/next/bug-fixes/4225--syslog-hostname.md
  libtenzir/builtins/formats/syslog.cpp
  tenzir/integration/data/inputs/syslog/zscaler-nss.log
  tenzir/integration/data/reference/leef/test_parse_leef_over_syslog/step_02.ref
  tenzir/integration/tests/leef.bats
Labels: bug, format

#4226 Announce Tenzir v4.14
  web/blog/authors.yml
  web/blog/tenzir-v4.14/index.md
  web/blog/tenzir-v4.14/tenzir-v4.14.excalidraw.svg
Labels: maintenance, docs

#4188 Build an RPM package
  .github/workflows/nix.nu
  .github/workflows/nix.yaml
  changelog/next/features/4188--rpm-package.md
  cmake/TenzirPackage.cmake
  nix/tenzir/default.nix
  scripts/install.sh
  scripts/rpm/postinstall
  scripts/rpm/postuninstall
  scripts/rpm/preinstall
  scripts/rpm/preuninstall
  tenzir/services/systemd/tenzir-node.service.in
Labels: packaging

#4240 Update a few things in the docs
  web/docs/integrations/velociraptor.md
  web/docs/setup-guides/deploy-the-platform.md
  web/docusaurus.config.js
  web/src/pages/newsletter.tsx
Labels: bug, docs

#4235 Remove cached MMDB files
  .clang-tidy
  libtenzir/builtins/contexts/geoip.cpp
Labels: engine, improvement

#4238 Increase maximum JSON object size to 10MB
  libtenzir/builtins/formats/json.cpp
Labels: format, improvement

#4241 Add an RPM tab in the deploy-a-node documentation
  web/docs/setup-guides/deploy-a-node.md
Labels: docs

#4242 Support multiple fields in `sort`
  changelog/next/features/4242--multi-sort.md
  libtenzir/builtins/operators/sort.cpp
  tenzir/integration/data/reference/pipelines_local/test_sort/step_04.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/sort.md
Labels: operator, improvement

#4246 Minor installer improvements
  scripts/debian/postinst
  scripts/debian/postrm
  scripts/install.sh
  scripts/rpm/postinstall
  scripts/rpm/postuninstall
Labels: improvement

#4249 Add an option for writing JSON arrays of objects
  changelog/next/features/4249--write-arrays-of-objects.md
  libtenzir/builtins/formats/json.cpp
  web/docs/formats/json.md
Labels: format, improvement

#4251 Treat `publish`, `subscribe`, and `version` as internal
  libtenzir/builtins/operators/from_load_read.cpp
  libtenzir/builtins/operators/to_write_save.cpp
  libtenzir/builtins/operators/version.cpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/exec_pipeline.cpp
  plugins/zmq/src/plugin.cpp
Labels: operator, improvement

#4252 Avoid crash when Arrow's `sort_indices` fails
  libtenzir/builtins/operators/sort.cpp
Labels: bug, operator

#4253 Tune down ZMQ logging
  plugins/zmq/src/plugin.cpp
Labels: improvement

#4203 Add an option to `export` both past and future events
  changelog/next/bug-fixes/4203--export delay.md
  changelog/next/features/4203--export-past-and-live.md
  libtenzir/builtins/operators/diagnostics.cpp
  libtenzir/builtins/operators/export.cpp
  libtenzir/builtins/operators/metrics.cpp
  web/docs/operators/diagnostics.md
  web/docs/operators/export.md
  web/docs/operators/metrics.md
Labels: feature, bug, operator

#4257 Simplify and fix a changelog entry
  changelog/v4.15.0/bug-fixes/4203.md
  changelog/v4.15.0/features/4203.md
Labels: bug, docs

#4258 Fix the demo node Docker image's entrypoint
  Dockerfile
  changelog/next/bug-fixes/4258--demo-node-startup.md
  libtenzir/src/version.cpp
Labels: maintenance, bug

#4259 Prepare repository for Tenzir v4.15.1
  changelog/v4.15.1/bug-fixes/4258.md
  python/pyproject.toml
  version.json
Labels: maintenance, docs

#4262 Prepare repository for Tenzir v4.15.2
  changelog/v4.15.2/bug-fixes/4261.md
  python/pyproject.toml
  version.json
Labels: maintenance, docs
