Repository tenzir/tenzir, pull requests merged in 2024-06, with the labels that each got.

#4264 Fix a broken link in an old blog post
  web/blog/tenzir-v4.1/index.md
Labels: bug, docs

#4268 Evaluate `ip == subnet` predicates
  changelog/next/bug-fixes/4268--ip-equals-subnet.md
  libtenzir/src/evaluate.cpp
Labels: bug, engine

#4271 Fix the configured context load-related changelog entry
  changelog/next/bug-fixes/4224--configured-context-loading-precedence.md
Labels: docs

#4273 Add percentile aggregation functions
  changelog/next/changes/4273--approx-median.md
  changelog/next/features/4273--percentile.md
  libtenzir/builtins/aggregation-functions/quantile.cpp
  web/docs/operators/summarize.md
Labels: feature, operator

#4280 Make `ip == subnet` and `string == pattern` commutative
  changelog/next/bug-fixes/4280--commutative-comparison.md
  libtenzir/src/evaluate.cpp
Labels: bug, engine

#4279 Allow pip to write to stdout in venv creation
  changelog/next/features/4279--allow-pip-stdout.md
  libtenzir/builtins/operators/python.cpp
Labels: bug

#4283 Make submodules easier to work with
  .gitmodules
  nix/update-impl.sh
Labels: improvement, packaging

#4265 Print Operator
  changelog/next/features/4265.md
  libtenzir/builtins/formats/bitz.cpp
  libtenzir/builtins/formats/feather.cpp
  libtenzir/builtins/formats/json.cpp
  libtenzir/builtins/formats/lines.cpp
  libtenzir/builtins/formats/pcap.cpp
  libtenzir/builtins/formats/xsv.cpp
  libtenzir/builtins/formats/yaml.cpp
  libtenzir/builtins/formats/zeek_tsv.cpp
  libtenzir/builtins/operators/print.cpp
  libtenzir/include/tenzir/diagnostics.hpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/execution_node.cpp
  libtenzir/src/pipeline_executor.cpp
  plugins/parquet/parquet.cpp
  tenzir/integration/data/reference/cron/test_cron_errors/step_00.ref
  tenzir/integration/data/reference/every/test_every_errors/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_print_csv_in_cef/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_print_csv_in_cef/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_print_json_in_cef/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_print_json_in_cef/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_print_multiple_events/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_print_multiple_events/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_print_nested_data/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_print_nested_data/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_print_nested_data/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_print_nested_data/step_03.ref
  tenzir/integration/data/reference/pipelines_local/test_print_nested_data/step_04.ref
  tenzir/integration/data/reference/pipelines_local/test_print_non_utf8_string/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_print_non_utf8_string/step_01.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/parse.md
  web/docs/operators/print.md
Labels: feature, operator

#4285 Correct the URL for RPMs in the installer
  scripts/install.sh
Labels: bug, packaging

#4289 Fix using `summarize … by x` when `x` is of type `null`
  changelog/next/bug-fixes/4289--summarize-by-null.md
  libtenzir/builtins/operators/summarize.cpp
  libtenzir/src/table_slice.cpp
Labels: bug, operator

#4294 Publish Bala's internship reflection
  web/blog/an-interns-reflection/index.md
  web/blog/authors.yml
Labels: docs

#4296 Fix parquet file writer diagnostic
  plugins/parquet/parquet.cpp
Labels: bug, format

#4297 Tone down execution node backoff behavior
  changelog/next/bug-fixes/4297--backoff-changes.md
  libtenzir/src/execution_node.cpp
Labels: performance, engine

#4299 Remove built-in type aliases
  changelog/next/changes/4299--removed-type-aliases.md
  libtenzir/src/accountant.cpp
  libtenzir/src/detail/zeekify.cpp
  libtenzir/src/pcap.cpp
  libtenzir/test/schema.cpp
  plugins/parquet/integration/data/reference/tests/test_additional_write_options/step_00.ref
  plugins/parquet/integration/data/reference/tests/test_additional_write_options/step_03.ref
  plugins/parquet/integration/data/reference/tests/test_batch_sizes/step_00.ref
  schema/types/argus.schema
  schema/types/base.schema
  schema/types/suricata.schema
  schema/types/sysmon.schema
  schema/types/zeek.schema
  tenzir/integration/data/misc/schema/argus.schema
  tenzir/integration/data/misc/schema/zeek-conn.schema
  tenzir/integration/data/misc/schema/zeek-with-skip.schema
  tenzir/integration/data/reference/batching/test_unordered_batch/step_00.ref
  tenzir/integration/data/reference/batching/test_unordered_batch/step_01.ref
  tenzir/integration/data/reference/batching/test_unordered_batch/step_02.ref
  tenzir/integration/data/reference/batching/test_unordered_batch/step_03.ref
  tenzir/integration/data/reference/feather/test_additional_write_options/step_00.ref
  tenzir/integration/data/reference/feather/test_additional_write_options/step_03.ref
  tenzir/integration/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_04.ref
  tenzir/integration/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_07.ref
  tenzir/integration/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_08.ref
  tenzir/integration/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_09.ref
  tenzir/integration/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_10.ref
  tenzir/integration/data/reference/pipelines_local/test_zeek_tsv_pipeline_format/step_11.ref
  tenzir/integration/data/reference/tcp/test_saver_-2d_connect/step_00.ref
  tenzir/integration/data/reference/vast/test_node_suricata_alert/step_01.ref
  tenzir/integration/data/reference/vast/test_node_zeek_dns_log/step_01.ref
  tenzir/integration/tests/vast.bats
  tenzir/integration/tests/vast_server.bats
Labels: format, improvement

#4310 Reduce CPU usage of `summarize … [update-]timeout …`
  libtenzir/builtins/operators/export.cpp
  libtenzir/builtins/operators/summarize.cpp
  libtenzir/src/execution_node.cpp
Labels: performance, bug, engine

#4312 Fix HTTP header parsing logic
  libtenzir/src/http.cpp
Labels: bug, connector

#4313 Fix `offset{}.get(…)` for struct arrays and record batches
  libtenzir/src/offset.cpp
Labels: bug, engine

#4317 Add missing `-X` option for `kafka` saver
  changelog/next/bug-fixes/4317--kafka-args.md
  plugins/kafka/src/plugin.cpp
Labels: bug, connector

#4298 Remove multi-stage rebuilds
  libtenzir/builtins/commands/rebuild.cpp
Labels: bug, engine

#4316 Announce Tenzir v4.17
  web/blog/introducing-office-hours/index.md
  web/blog/tenzir-v4.17/index.md
  web/blog/tenzir-v4.17/tenzir-v4.17.excalidraw.svg
Labels: docs

#4321 Remove a superfluous word in the last blog post
  web/blog/tenzir-v4.17/index.md
Labels: docs

#4323 Prepare repository for Tenzir v4.17.1
  changelog/v4.17.1/bug-fixes/4322.md
  python/pyproject.toml
  version.json
  web/blog/tenzir-v4.17/index.md
Labels: maintenance

#4327 Prepare repository for Tenzir v4.17.2
  changelog/next/bug-fixes/4326--diagnostics-collector.md
  changelog/v4.17.2/bug-fixes/4295-4322-4325.md
  changelog/v4.17.2/bug-fixes/4326.md
  python/pyproject.toml
  version.json
Labels: maintenance

#4331 Prepare repository for Tenzir v4.17.3
  changelog/next/bug-fixes/4330--fix-deletion-of-configured-contexts.md
  changelog/next/features/4329--partitions-operator.md
  changelog/v4.17.3/bug-fixes/4330.md
  changelog/v4.17.3/features/4329.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v4.17/operators/partitions.md
  web/versioned_docs/version-v4.17/operators/show.md
Labels: docs

#4333 Fix two concurrency issues related to child process creation
  changelog/next/bug-fixes/4333--fix-bad-file-descriptor-in-python-operator.md
  libtenzir/builtins/operators/python.cpp
  libtenzir/builtins/operators/shell.cpp
Labels: bug

#4335 Prepare repository for Tenzir v4.17.4
  changelog/next/bug-fixes/4334--involuntary-pipeline-completion.md
  changelog/v4.17.4/bug-fixes/4333.md
  changelog/v4.17.4/bug-fixes/4334.md
  python/pyproject.toml
  version.json
Labels: maintenance
