Repository tenzir/tenzir, pull requests merged in 2024-04, with the labels that each got.

#4087 Fix JSON printer handling of `inf` and `nan`
  changelog/next/bug-fixes/4087--fix-json-printer-inf-nan.md
  libtenzir/include/tenzir/concept/printable/tenzir/json.hpp
  tenzir/integration/data/reference/pipelines_local/test_weird_json_floats/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug, format

#4086 Fix `python` deadlock for empty input
  changelog/next/bug-fixes/4086--python-operator-empty-input.md
  libtenzir/builtins/operators/python.cpp
  tenzir/integration/data/reference/python/test_python_operator_empty_input/step_00.ref
  tenzir/integration/tests/python.bats
Labels: bug, operator

#4085 Make `python` operator not discard fields that start with an underscore
  changelog/next/bug-fixes/4085--python-operator-underscore.md
  python/tenzir/tools/python_operator_executor.py
Labels: operator, improvement

#4092 Fix HTTP PUT with empty request body
  changelog/next/bug-fixes/4092--http-put-fix.md
  libtenzir/builtins/connectors/email.cpp
  libtenzir/include/tenzir/curl.hpp
  libtenzir/src/curl.cpp
  libtenzir/src/transfer.cpp
  libtenzir/src/version.cpp
Labels: bug, connector

#4093 Fix shutdown of connected pipelines alongside node
  changelog/next/bug-fixes/4093--node-shutdown.md
  libtenzir/include/tenzir/node.hpp
  libtenzir/src/node.cpp
  tenzir/integration/tests/shutdown.bats
Labels: bug, engine

#4099 Remove wrong EXPOSE in Dockerfile
  Dockerfile
  changelog/next/bug-fixes/4099--wrong-expose.md
  flake.nix
Labels: bug, packaging

#4095 Add a `--timeout <duration>` option to `batch`
  changelog/next/features/4095--batch-timeout.md
  libtenzir/builtins/operators/batch.cpp
  web/docs/operators/batch.md
Labels: operator, improvement

#4101 Move the `grok` format to the proper directory
  libtenzir/builtins/formats/grok-patterns/NOTICE.txt
  libtenzir/builtins/formats/grok-patterns/patterns.inc
  libtenzir/builtins/formats/grok.cpp
Labels: maintenance

#4102 Add targets to CMake for updating test references
  .cmake-format
  CMakeLists.txt
  cmake/TenzirRegisterPlugin.cmake
  tenzir/CMakeLists.txt
  tenzir/integration/README.md
Labels: improvement, packaging

#4080 Add multi-line syslog message support
  changelog/next/changes/4080--multiline-syslog.md
  changelog/next/features/4080--multiline-syslog.md
  libtenzir/builtins/formats/syslog.cpp
  tenzir/integration/data/inputs/syslog/multiline.log
  tenzir/integration/data/reference/pipelines_local/test_syslog_format/step_02.ref
Labels: feature, format

#4100 Add support for void-to-void operators
  libtenzir/builtins/operators/every.cpp
  libtenzir/src/execution_node.cpp
Labels: feature, engine

#4106 Add CMake targets for all individual test suites
  cmake/TenzirRegisterPlugin.cmake
  tenzir/CMakeLists.txt
Labels: improvement, packaging

#4104 Fix unflattening of empty records and `null` records
  changelog/next/bug-fixes/4104--unflatten-nulls-and-empty-record.md
  libtenzir/include/tenzir/arrow_table_slice.hpp
  libtenzir/src/arrow_table_slice.cpp
  libtenzir/src/table_slice.cpp
  tenzir/integration/data/reference/pipelines_local/test_read_from_suricata_file/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_unflatten_empty_record_and_empty_record_null/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug

#4089 Implement feather printer and parser
  .gitignore
  changelog/next/changes/4089--feather-format.md
  libtenzir/builtins/formats/bitz.cpp
  libtenzir/builtins/formats/feather.cpp
  libtenzir/builtins/formats/pcap.cpp
  libtenzir/builtins/operators/to_write_save.cpp
  libtenzir/builtins/stores/feather.cpp
  libtenzir/include/tenzir/make_byte_reader.hpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/chunk.cpp
  libtenzir/src/plugin.cpp
  tenzir/integration/data/reference/feather/test_additional_write_options/step_00.ref
  tenzir/integration/data/reference/feather/test_additional_write_options/step_01.ref
  tenzir/integration/data/reference/feather/test_additional_write_options/step_02.ref
  tenzir/integration/data/reference/feather/test_additional_write_options/step_03.ref
  tenzir/integration/data/reference/feather/test_additional_write_options/step_04.ref
  tenzir/integration/data/reference/feather/test_batch_sizes/step_00.ref
  tenzir/integration/data/reference/feather/test_file_roundtrip/step_00.ref
  tenzir/integration/data/reference/feather/test_file_roundtrip/step_02.ref
  tenzir/integration/data/reference/feather/test_invalid_format/step_00.ref
  tenzir/integration/data/reference/feather/test_truncated_input/step_01.ref
  tenzir/integration/data/reference/feather/test_truncated_input/step_02.ref
  tenzir/integration/tests/feather.bats
  web/docs/formats/feather.md
Labels: feature, operator

#4110 Document the new Tenzir Platform CLI
  web/docs/platform-cli.md
  web/docs/python-library.md
  web/docs/setup-guides/deploy-the-platform.md
  web/sidebars.js
Labels: docs, improvement

#4109 Generalize `every` to work with all operators
  changelog/next/features/4109--every-generalized.md
  libtenzir/builtins/operators/every.cpp
  libtenzir/builtins/operators/local_remote.cpp
  tenzir/integration/data/reference/every/test_every_modifier/step_01.ref
  tenzir/integration/data/reference/every/test_every_modifier/step_02.ref
  tenzir/integration/tests/every.bats
  web/docs/language/operator-modifiers.md
Labels: feature, engine

#4117 Support 0mq inproc sockets
  changelog/next/changes/4117--0mq-optional-monitoring.md
  changelog/next/features/4117--0mq-inproc-sockets.md
  plugins/zmq/src/plugin.cpp
  web/docs/connectors/zmq.md
Labels: feature, connector

#4091 Treat missing fields as nulls in `deduplicate`
  libtenzir/builtins/operators/deduplicate.cpp
  libtenzir/builtins/operators/put_extend_replace_set.cpp
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_08.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_09.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_10.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_11.ref
  tenzir/integration/data/reference/pipelines_local/test_deduplicate_operator/step_12.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/deduplicate.md
Labels: operator, improvement

#4120 Fix `every` operator when used as a source
  libtenzir/builtins/operators/every.cpp
Labels: bug

#4123 Fix a race condition in `/serve`
  changelog/next/bug-fixes/4123--serve-504.md
  libtenzir/builtins/operators/serve.cpp
Labels: bug, engine

#4115 Refactor platform CLI docs
  web/docs/platform-cli.md
Labels: docs

#4125 Fix Pipelines as Code examples
  web/blog/tenzir-v4.10/index.md
  web/versioned_docs/version-Tenzir v4.10/user-guides/run-pipelines/README.md
  web/versioned_docs/version-Tenzir v4.11/user-guides/run-pipelines/README.md
Labels: docs

#4127 Small fixups for the platform docs
  web/docs/setup-guides/deploy-the-platform.md
Labels: docs

#4131 Add `show schemas` to display all available schemas
  changelog/next/features/4131--show-schemas.md
  libtenzir/builtins/aspects/schemas.cpp
  web/docs/operators/show.md
Labels: operator, improvement

#4136 Fix the build with Arrow 16+
  libtenzir/builtins/connectors/s3.cpp
  libtenzir/include/tenzir/fwd.hpp
  libtenzir/src/detail/loader_saver_resolver.cpp
  libtenzir/src/socket.cpp
  plugins/gcs/src/plugin.cpp
Labels: maintenance, dependencies

#4137 Fix verification of large FlatBuffers tables
  changelog/next/bug-fixes/4137--large-lookup-table.md
  libtenzir/include/tenzir/fbs/utils.hpp
  libtenzir/include/tenzir/flatbuffer.hpp
  libtenzir/src/fbs/utils.cpp
Labels: bug, engine

#4145 Fix an off-by-one in the `slice` operator
  libtenzir/builtins/operators/slice.cpp
Labels: bug, operator

#4135 Add docs page that compares Tenzir to Cribl
  web/docs/cribl-vs-tenzir-dataflow.excalidraw.svg
  web/docs/cribl-vs-tenzir-datamodel.excalidraw.svg
  web/docs/cribl-vs-tenzir-deployment.excalidraw.svg
  web/docs/cribl-vs-tenzir-operators.excalidraw.svg
  web/docs/cribl-vs-tenzir-pipelines.excalidraw.svg
  web/docs/cribl-vs-tenzir-product.excalidraw.svg
  web/docs/cribl-vs-tenzir-routing.excalidraw.svg
  web/docs/tenzir-vs-cribl.md
  web/docs/why-tenzir.md
  web/docusaurus.config.js
Labels: feature, docs

#4134 Fix HTTP saver Content-Length computation
  changelog/next/bug-fixes/4134--http-saver-content-length.md
  libtenzir/src/transfer.cpp
  nix/tenzir/check.nix
  tenzir/integration/data/misc/scripts/webserver.py
  tenzir/integration/data/reference/http/test_load_http_post/step_00.ref
  tenzir/integration/data/reference/http/test_load_http_post_form/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post/step_01.ref
  tenzir/integration/data/reference/http/test_save_http_post_add_header/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post_delete_header/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_post_overwrite_header/step_00.ref
  tenzir/integration/data/reference/http/test_save_http_put/step_00.ref
  tenzir/integration/data/reference/python/test_python_operator_requirements_statement/step_00.ref
  tenzir/integration/data/reference/python/test_python_operator_requirements_statement/step_01.ref
  tenzir/integration/tests/http.bats
  tenzir/integration/tests/python.bats
Labels: bug, connector

#4148 Keep changelog .gitkeep files when cutting a release
  scripts/prepare-release
Labels: improvement, packaging

#4151 Remove invalid statement
  web/docs/tenzir-vs-cribl.md
Labels: bug, docs

#4150 Add the blog post for Tenzir v4.12
  web/blog/tenzir-v4.12/download-button.png
  web/blog/tenzir-v4.12/index.md
  web/blog/tenzir-v4.12/tenzir-v4.12.excalidraw.svg
  web/docs/operators/subscribe.md
  web/docs/operators/unroll.excalidraw.svg
  web/docs/operators/unroll.md
  web/src/css/custom.scss
Labels: docs

#4156 Fix a wrong key in the configured pipeline example
  web/docs/user-guides/run-pipelines/README.md
  web/versioned_docs/version-Tenzir v4.12/user-guides/run-pipelines/README.md
Labels: docs, improvement

#4162 Fix a misaligned code block in the API docs
  libtenzir/builtins/operators/openapi.cpp
  web/openapi/openapi.yaml
Labels: bug, docs

#4163 Correct chart y-axis docs
  web/docs/operators/chart.md
  web/versioned_docs/version-Tenzir v4.12/operators/chart.md
Labels: bug, docs

#4164 Make index flush timeouts more consistent
  libtenzir/include/tenzir/index.hpp
  libtenzir/src/index.cpp
Labels: bug, engine

#4166 Fix shutdown of `every <interval> <transformation|sink>`
  changelog/next/bug-fixes/4166--every-transformation-shutdown.md
  libtenzir/builtins/operators/every.cpp
Labels: bug, operator

#4165 Detach the index actor
  libtenzir/src/execution_node.cpp
  libtenzir/src/index.cpp
  libtenzir/src/spawn_index.cpp
Labels: engine, improvement

#4170 Fix reopening ports while subprocesses are open
  changelog/next/bug-fixes/4170--fix-port-reopen.md
  libtenzir/builtins/operators/python.cpp
  libtenzir/builtins/operators/shell.cpp
  libtenzir/include/tenzir/detail/preserved_fds.hpp
  libtenzir/src/detail/preserved_fds.cpp
  shell.nix
Labels: bug

#4173 Use consistent attributes for y-axis in `chart`
  changelog/next/bug-fixes/4173--chart-multiple-y-axis.md
  libtenzir/builtins/operators/chart.cpp
Labels: bug, operator

#4174 Render exceptions from operators as diagnostics
  libtenzir/src/execution_node.cpp
Labels: engine, improvement

#4175 Restore implicit `read json` in `from tcp`
  changelog/next/bug-fixes/4175--from-tcp-read-json.md
  libtenzir/builtins/operators/tcp-listen.cpp
Labels: bug, connector

#4172 Implement `unique` in terms of `deduplicate`
  libtenzir/builtins/operators/unique.cpp
Labels: operator, improvement

#4096 Minor cleanups and simplifications
  libtenzir/builtins/components/metrics_collector.cpp
  tenzir/integration/data/misc/scripts/csvstat.sh
  tenzir/integration/lib/bats-tenzir/src/fixtures.bash
  tenzir/integration/tests/setup_suite.bash
Labels: maintenance
