Repository tenzir/tenzir, pull requests merged in 2024-02, with the labels that each got.

#3887 Add more details to OpenWEC section
  web/docs/integrations/windows-event-logs.md
Labels: docs, improvement

#3898 Add the `openapi` operator
  .github/workflows/tenzir.yaml
  changelog/next/features/3898--openapi-operator.md
  libtenzir/builtins/operators/openapi.cpp
  plugins/web/include/web/specification_command.hpp
  plugins/web/src/plugin.cpp
  plugins/web/src/server_command.cpp
  plugins/web/src/specification_command.cpp
  web/docs/operators/openapi.md
  web/openapi/openapi.yaml
Labels: operator, improvement

#3899 Remove reader, writer, and language plugin types
  libtenzir/builtins/aspects/plugins.cpp
  libtenzir/builtins/components/metrics_collector.cpp
  libtenzir/builtins/contexts/lookup_table.cpp
  libtenzir/builtins/endpoints/status.cpp
  libtenzir/builtins/formats/cef.cpp
  libtenzir/builtins/metrics/cpu.cpp
  libtenzir/builtins/metrics/disk.cpp
  libtenzir/builtins/metrics/memory.cpp
  libtenzir/builtins/metrics/process.cpp
  libtenzir/builtins/operators/local_remote.cpp
  libtenzir/builtins/operators/to_write_save.cpp
  libtenzir/builtins/query-languages/tql.cpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/include/tenzir/metrics_collector.hpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/application.cpp
  libtenzir/src/format/reader_factory.cpp
  libtenzir/src/format/writer_factory.cpp
  libtenzir/src/metrics_collector.cpp
  libtenzir/test/metrics.cpp
  libtenzir/test/rest_api.cpp
  libtenzir_test/tenzir/test/utils.hpp
  plugins/sigma/CMakeLists.txt
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_08.ref
  tenzir/integration/data/reference/vast_server/test_yaml/step_03.ref
  tenzir/tenzir.cpp
Labels: maintenance

#3897 Introduce the shared diagnostics handler
  libtenzir/builtins/operators/shell.cpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/include/tenzir/detail/weak_handle.hpp
  libtenzir/include/tenzir/diagnostics.hpp
  libtenzir/include/tenzir/fwd.hpp
  libtenzir/include/tenzir/operator_control_plane.hpp
  libtenzir/include/tenzir/shared_diagnostic_handler.hpp
  libtenzir/src/detail/add_message_types.cpp
  libtenzir/src/diagnostics.cpp
  libtenzir/src/execution_node.cpp
Labels: bug, engine, improvement

#3874 Gracefully handle misaligned header and values in `xsv` parser
  changelog/next/bug-fixes/3874--xsv-leniency.md
  libtenzir/builtins/formats/xsv.cpp
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_25.ref
  tenzir/integration/data/reference/pipelines_local/test_read_xsv_auto_expand/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_read_xsv_auto_expand/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_read_xsv_auto_expand/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_read_xsv_auto_expand/step_03.ref
  tenzir/integration/data/reference/pipelines_local/test_read_xsv_auto_expand/step_04.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/formats/xsv.md
Labels: format, improvement

#3909 Improve the `export` operator
  changelog/next/bug-fixes/3909--exec-node-hang.md
  changelog/next/features/3909--export-low-prio.md
  libtenzir/builtins/operators/export.cpp
  libtenzir/src/execution_node.cpp
  libtenzir/src/index.cpp
  libtenzir/src/writer_command.cpp
  libtenzir/test/counter.cpp
  libtenzir/test/exporter.cpp
  libtenzir/test/index.cpp
  libtenzir/test/metrics.cpp
  tenzir/integration/data/reference/vast/test_optional_partition_indexes/step_00.ref
  tenzir/integration/data/reference/vast_server/test_process_query_for_field_with_skip_attribute/step_00.ref
  tenzir/integration/data/reference/vast_server/test_process_query_for_field_with_skip_attribute/step_01.ref
  tenzir/integration/tests/vast.bats
  tenzir/integration/tests/vast_server.bats
  web/docs/operators/export.md
Labels: bug, engine

#3900 Handle nested fields and integers as selectors in JSON parser
  changelog/next/features/3900--better-json-selector.md
  libtenzir/builtins/formats/json.cpp
  tenzir/integration/data/reference/pipelines_local/test_read_json_with_integer_selector/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_read_json_with_nested_selector_field/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
Labels: bug, format

#3905 Make FlatBuffers easier to use
  .cmake-format
  cmake/TenzirRegisterPlugin.cmake
  libtenzir/include/tenzir/diagnostics.hpp
  libtenzir/include/tenzir/flatbuffer.hpp
  libtenzir/include/tenzir/fwd.hpp
  libtenzir/include/tenzir/type.hpp
  libtenzir/src/catalog.cpp
  libtenzir/src/type.cpp
  plugins/amqp/CMakeLists.txt
  plugins/kafka/CMakeLists.txt
  plugins/sigma/CMakeLists.txt
  plugins/velociraptor/CMakeLists.txt
  plugins/web/CMakeLists.txt
  plugins/web/src/authenticator.cpp
  plugins/zmq/CMakeLists.txt
Labels: engine, improvement

#3907 Add 'area' chart type
  changelog/next/features/3866--chart-operator.md
  libtenzir/builtins/operators/chart.cpp
  libtenzir/src/type.cpp
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_06.ref
  web/docs/operators/chart.md
Labels: operator, app

#3911 Fix logger deadlock in python tests
  changelog/next/breaking-changes/3899--remove-start-command.md
  changelog/next/bug-fixes/3911--nonblocking-logger.md
  docker/compose/tenzir.yaml
  libtenzir/include/tenzir/defaults.hpp
  libtenzir/src/application.cpp
  libtenzir/src/logger.cpp
  libtenzir/test/configuration.cpp
  python/tests/test_tenzir.py
Labels: feature, bug

#3860 Run functional tests when building the static binary
  .github/workflows/nix.nu
  .github/workflows/tenzir.yaml
  flake.lock
  flake.nix
  libtenzir/CMakeLists.txt
  nix/fix-fluent-bit-install.patch
  nix/overlay.nix
  nix/pfs/default.nix
  nix/tenzir/check.nix
  nix/tenzir/default.nix
  plugins/fluent-bit/CMakeLists.txt
  plugins/fluent-bit/integration/tests/tests.bats
  plugins/web/integration/tests/rest.bats
  shell.nix
  tenzir/CMakeLists.txt
  tenzir/integration/tests/setup_suite.bash
  tenzir/integration/tests/tcp.bats
Labels: ci

#3903 Add support for commas in seconds in the time data parser
  changelog/next/bug-fixes/3903--time-comma.md
  libtenzir/include/tenzir/concept/parseable/numeric/real.hpp
  libtenzir/include/tenzir/concept/parseable/tenzir/time.hpp
  libtenzir/src/concept/parseable/numeric/real.cpp
  tenzir/integration/tests/vast.bats
Labels: format, improvement

#3918 Enhance node sizing docs
  web/docs/setup-guides/size-a-node.md
Labels: docs, improvement

#3901 Add new '--file' option to the python operator
  changelog/next/features/3901--file-flag.md
  libtenzir/builtins/operators/python.cpp
  tenzir/integration/data/reference/python/test_python_operator_file_option/step_00.ref
  tenzir/integration/tests/python.bats
  tenzir/integration/tests/setup_suite.bash
Labels: feature

#3924 Remove `table_slice_column`
  libtenzir/include/tenzir/framed.hpp
  libtenzir/include/tenzir/fwd.hpp
  libtenzir/include/tenzir/table_slice_column.hpp
  libtenzir/src/detail/add_message_types.cpp
  libtenzir/src/table_slice_column.cpp
  libtenzir/test/table_slice.cpp
Labels: refactoring

#3929 Prevent duplicate fields in schema
  changelog/next/bug-fixes/3929--duplicate-fields-in-schema.md
  libtenzir/src/concept/parseable/tenzir/legacy_type.cpp
  libtenzir/src/series_builder.cpp
Labels: bug

#3928 Rename donut chart to pie chart
  changelog/next/features/3866--chart-operator.md
  libtenzir/builtins/operators/chart.cpp
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_04.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_05.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_06.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/operators/chart.md
Labels: operator, app

#3913 Change data model of syslog `structured_data`
  libtenzir/builtins/formats/syslog.cpp
  libtenzir/include/tenzir/format/syslog.hpp
  libtenzir/src/format/syslog.cpp
  libtenzir/test/format/syslog.cpp
  tenzir/integration/data/reference/pipelines_local/test_syslog_format/step_00.ref
  tenzir/integration/data/reference/vast/test_import_syslog/step_00.ref
  web/docs/formats/syslog.md
Labels: format, improvement

#3919 Test binary package installation in every PR
  .github/workflows/nix.yaml
  docker/systemd-test/Dockerfile
  scripts/debian/postinst
  scripts/install.sh
Labels: ci

#3938 Fix non-records list path with use_simple_format
  libtenzir/src/type.cpp
Labels: app

#3944 Introduce a CI job to automatically update submodule main branch
  .github/workflows/bump-plugins-submodule.yaml
  .github/workflows/tenzir.yaml
Labels: ci

#3941 Test debian package install in the build job
  .github/workflows/nix.nu
  .github/workflows/nix.yaml
Labels: bug, ci

#3936 Run integration tests in parallel
  cmake/TenzirRegisterPlugin.cmake
  scripts/debian/install-dev-dependencies.sh
  scripts/macOS/install-dev-dependencies.sh
  tenzir/CMakeLists.txt
Labels: improvement

#3939 Check for contiguity and uniqueness of values in the `chart` operator
  libtenzir/builtins/operators/chart.cpp
  tenzir/integration/data/reference/pipelines_local/test_chart_arguments/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_arguments/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_arguments/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_00.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_02.ref
  tenzir/integration/data/reference/pipelines_local/test_chart_attributes/step_03.ref
  tenzir/integration/data/reference/vast/test_bar_chart/step_00.ref
  tenzir/integration/data/reference/vast/test_bar_chart/step_01.ref
  tenzir/integration/data/reference/vast/test_bar_chart/step_02.ref
  tenzir/integration/data/reference/vast/test_bar_chart/step_03.ref
  tenzir/integration/data/reference/vast/test_line_chart/step_00.ref
  tenzir/integration/data/reference/vast/test_line_chart/step_01.ref
  tenzir/integration/data/reference/vast/test_line_chart/step_02.ref
  tenzir/integration/tests/pipelines_local.bats
  tenzir/integration/tests/vast.bats
  web/docs/operators/chart.md
Labels: operator, improvement

#3952 Disable colors if `NO_COLOR` or not a terminal
  changelog/next/changes/3952--no-color.md
  libtenzir/builtins/commands/exec.cpp
  libtenzir/src/import_command.cpp
Labels: improvement

#3961 Fix the installer
  scripts/install.sh
Labels: bug

#3927 Support parsing numeric timestamps since epoch
  changelog/next/features/3927--parse-numeric-times.md
  libtenzir/src/series_builder.cpp
  tenzir/integration/data/reference/pipelines_local/test_parse_json_with_numeric_timestamp/step_00.ref
  tenzir/integration/tests/pipelines_local.bats
  web/docs/data-model/type-system.md
Labels: feature, format

#3959 Use numeric durations in serve with `use_simple_format`
  libtenzir/builtins/operators/serve.cpp
  web/openapi/openapi.yaml
Labels: engine, improvement

#3960 Build Fluent Bit as part of the Docker image
  .github/workflows/tenzir.yaml
  Dockerfile
  scripts/debian/build-fluent-bit.sh
  scripts/debian/install-dev-dependencies.sh
  scripts/debian/install-fluent-bit.sh
Labels: bug, ci

#3963 Add adaptive favicon logo
  web/docusaurus.config.js
  web/static/img/tenzir-logo-adaptive.svg
Labels: docs

#3962 Add a blog post for Tenzir v4.9
  changelog/next/changes/3899--remove-start-command.md
  web/blog/tenzir-v4.9/index.md
  web/blog/tenzir-v4.9/tenzir-v4.9.excalidraw.svg
Labels: docs

#3954 Use thread-safe `strerror` everywhere
  libtenzir/builtins/connectors/tcp.cpp
  libtenzir/src/chunk.cpp
  libtenzir/src/detail/env.cpp
  libtenzir/src/detail/posix.cpp
  libtenzir/src/detail/process.cpp
  libtenzir/src/file.cpp
  libtenzir/src/format/arrow.cpp
Labels: maintenance

#3970 Reintroduce the v-prefix in version tags
  .github/workflows/tenzir.yaml
Labels: bug

#3971 Correct the tarball URL in the installer
  scripts/install.sh
Labels: bug

#3969 Enable redundant move warnings
  CMakeLists.txt
  libtenzir/include/tenzir/cast.hpp
  libtenzir/include/tenzir/concept/parseable/tenzir/schema.hpp
  libtenzir/src/detail/posix.cpp
  libtenzir/src/format/arrow.cpp
  libtenzir/src/format/csv.cpp
Labels: maintenance

#3972 Add a helper to copy GHA cache entries
  .github/workflows/upload-cache-artifact.yaml
Labels: ci

#3964 Slightly relax rules for policy enforcement
  .github/workflows/bump-plugins-submodule.yaml
  .github/workflows/tenzir.yaml
Labels: ci

#3973 Fix upload cache artifact
  .github/workflows/upload-cache-artifact.yaml
Labels: bug, ci

#3974 Fix upload cache artifact more harder
  .github/workflows/upload-cache-artifact.yaml
Labels: bug, ci

#3979 Run the installer script more flexibly as root
  scripts/install.sh
Labels: improvement, packaging

#3983 Remove the macOS package upload
  .github/workflows/nix.nu
Labels: maintenance, packaging

#3982 Improve metrics collection
  changelog/next/changes/3982--metrics-collection.md
  libtenzir/builtins/components/metrics_collector.cpp
  libtenzir/builtins/metrics/memory.cpp
  libtenzir/include/tenzir/actors.hpp
  libtenzir/include/tenzir/detail/weak_run_delayed.hpp
  libtenzir/include/tenzir/metrics_collector.hpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/metrics_collector.cpp
  web/docs/operators/metrics.md
Labels: engine, improvement

#3975 Don't use head-ref-slug and base-ref-slug for cache keys
  .github/workflows/tenzir.yaml
Labels: ci

#3990 Count nulls and absent values in `top` and `rare`
  changelog/next/bug-fixes/3990--top-rare-count-nulls.md
  libtenzir/builtins/operators/top_rare.cpp
  tenzir/integration/data/reference/vast_server/test_top_and_rare_operators/step_10.ref
  tenzir/integration/data/reference/vast_server/test_yaml/step_01.ref
Labels: bug, operator
