Repository tenzir/tenzir, pull requests merged in 2025-08, with the labels that each got.

#5396 Document custom character trimming
  changelog/changes/field-trait-noted.md
  docs/functions/trim.md
  docs/functions/trim_end.md
  docs/functions/trim_start.md
  docs/operators/drop_null_fields.md
  tenzir/tests/exec/functions/string/trim.tql
  tenzir/tests/exec/functions/string/trim.txt
  tenzir/tests/exec/functions/string/trim_end.tql
  tenzir/tests/exec/functions/string/trim_end.txt
  tenzir/tests/exec/functions/string/trim_start.tql
  tenzir/tests/exec/functions/string/trim_start.txt
Labels: docs

#5399 Fix optimization of `delay` operator
  changelog/changes/follow-drink-avoid.md
  libtenzir/builtins/operators/delay.cpp
Labels: bug

#5393 Remove unneeded digest header include
  libtenzir/builtins/functions/ceil_round_floor.cpp
  libtenzir/builtins/functions/numeric.cpp
  libtenzir/include/tenzir/detail/tdigest.hpp
  libtenzir/src/detail/tdigest.cpp
Labels: dependencies

#5400 Remove caution aside from `from_file`
  docs/operators/from_file.md
Labels: docs

#5402 Preserve metadata in `ocsf::derive` and `ocsf::trim`
  changelog/changes/badge-server-street.md
  libtenzir/builtins/operators/ocsf.cpp
Labels: bug

#5403 Add is_empty function
  changelog/changes/attack-global-living.md
  docs/functions/has.md
  docs/functions/is_empty.md
  docs/functions/length.md
  libtenzir/builtins/functions/misc.cpp
  tenzir/tests/exec/functions/is_empty.tql
  tenzir/tests/exec/functions/is_empty.txt
Labels: feature

#5381 Improve Claude AI development experience
  .claude/agents/changelog-writer.md
  .claude/agents/compiler.md
  .claude/agents/integration-tester.md
  .claude/agents/plugin-engineer.md
  .claude/format-hook.sh
  .claude/settings.json
  AGENTS.md
Labels: feature

#5405 Remove extra quotes from series builder conflict resolution
  changelog/changes/theme-delay-absorb.md
  libtenzir/src/series_builder.cpp
  tenzir/bats/data/reference/pipelines_local/test_parse_operators/step_20.ref
  tenzir/bats/data/reference/pipelines_local/test_parse_operators/step_21.ref
  tenzir/bats/data/reference/pipelines_local/test_precise_json_list_type_conflict/step_00.ref
  tenzir/tests/exec/operators/fluent-bit/invalid_plugin.tql
  tenzir/tests/exec/type_conflict.tql
  tenzir/tests/exec/type_conflict.txt
Labels: improvement

#5408 Bump Docker image build to Arrow 21
  libtenzir/CMakeLists.txt
  libtenzir/include/tenzir/module.hpp
  libtenzir/src/pattern.cpp
  scripts/debian/build-arrow-package.sh
  tenzir/tenzir.cpp
Labels: packaging

#5413 Temporarily add additional assertions for `to_lower`
  libtenzir/builtins/functions/string.cpp
Labels: bug

#5418 Restore missing Tenzir logo images in README
  README.md
  assets/tenzir-black.svg
  assets/tenzir-white.svg
Labels: maintenance

#5319 Improve MSB diagnostics
  libtenzir/include/tenzir/data_builder.hpp
  libtenzir/src/data_builder.cpp
  libtenzir/src/multi_series_builder.cpp
  tenzir/bats/data/reference/pipelines_local/test_parse_operators/step_20.ref
  tenzir/bats/data/reference/pipelines_local/test_parse_operators/step_21.ref
  tenzir/bats/data/reference/pipelines_local/test_precise_json_list_type_conflict/step_00.ref
  tenzir/bats/data/reference/pipelines_local/test_read_from_zeek_json_file/step_00.ref
  tenzir/bats/data/reference/vast_server/test_yaml/step_02.ref
  tenzir/tests/exec/type_conflict.txt
Labels: improvement

#5375 Add `from_udp` operator
  changelog/changes/court-stands-bought.md
  docs/operators/from_udp.md
  libtenzir/builtins/operators/from_udp.cpp
Labels: feature

#5379 Add DNS lookup operator
  changelog/changes/crime-toured-delay.md
  cmake/Findc-ares.cmake
  docs/operators/dns_lookup.md
  libtenzir/CMakeLists.txt
  libtenzir/builtins/operators/dns_lookup.cpp
  nix/tenzir/default.nix
  scripts/debian/install-dev-dependencies.sh
  scripts/macOS/install-dev-dependencies.sh
  tenzir/tests/exec/operators/dns_lookup/batch_splitting.tql
  tenzir/tests/exec/operators/dns_lookup/batch_splitting.txt
  tenzir/tests/exec/operators/dns_lookup/default_field.tql
  tenzir/tests/exec/operators/dns_lookup/default_field.txt
  tenzir/tests/exec/operators/dns_lookup/error_cases.tql
  tenzir/tests/exec/operators/dns_lookup/error_cases.txt
  tenzir/tests/exec/operators/dns_lookup/forward_lookup.tql
  tenzir/tests/exec/operators/dns_lookup/forward_lookup.txt
  tenzir/tests/exec/operators/dns_lookup/localhost_reverse.tql
  tenzir/tests/exec/operators/dns_lookup/localhost_reverse.txt
  tenzir/tests/exec/operators/dns_lookup/localhost_test.tql
  tenzir/tests/exec/operators/dns_lookup/localhost_test.txt
  tenzir/tests/exec/operators/dns_lookup/nested_field.tql
  tenzir/tests/exec/operators/dns_lookup/nested_field.txt
  tenzir/tests/exec/operators/dns_lookup/reverse_lookup.tql
  tenzir/tests/exec/operators/dns_lookup/reverse_lookup.txt
  tenzir/tests/exec/operators/dns_lookup/structure_test.tql
  tenzir/tests/exec/operators/dns_lookup/structure_test.txt
Labels: feature

#5419 Implement `contains_null(x:any)`
  changelog/changes/indeed-fifty-spare.md
  docs/functions/contains_null.md
  docs/functions/is_empty.md
  libtenzir/builtins/functions/misc.cpp
  tenzir/tests/exec/functions/contains_null.tql
  tenzir/tests/exec/functions/contains_null.txt
Labels: feature

#5410 Upgrade `every` and `cron` to use proper subpipelines
  changelog/changes/comedy-events-become.md
  libtenzir/builtins/operators/every_cron.cpp
  libtenzir/builtins/operators/every_cron2.cpp
  libtenzir/include/tenzir/detail/similarity.hpp
  libtenzir/include/tenzir/ocsf.hpp
  libtenzir/src/argument_parser2.cpp
  tenzir/bats/data/reference/cron/test_cron_errors/step_01.ref
  tenzir/bats/data/reference/every/test_every_errors/step_00.ref
  tenzir/bats/data/reference/every/test_every_errors/step_01.ref
  tenzir/bats/data/reference/every/test_every_errors/step_02.ref
  tenzir/bats/data/reference/every/test_every_errors/step_03.ref
  tenzir/bats/data/reference/every/test_every_errors/step_04.ref
  tenzir/bats/data/reference/every/test_every_with_multiple_operators/step_01.ref
  tenzir/bats/tests/every.bats
  tenzir/tests/exec/every/modify.tql
  tenzir/tests/exec/every/modify.txt
  tenzir/tests/exec/every/modify_infinite.tql
  tenzir/tests/exec/every/modify_infinite.txt
  tenzir/tests/exec/every/sink.tql
  tenzir/tests/exec/every/sink.txt
  tenzir/tests/exec/every/source_delay.tql
  tenzir/tests/exec/every/source_delay.txt
  tenzir/tests/exec/every/source_infinite.tql
  tenzir/tests/exec/every/source_infinite.txt
Labels: bug, improvement

#5427 Remove `#ifdef` around abseil issue #1747 workaround
  plugins/from_velociraptor/src/plugin.cpp
Labels: maintenance

#5424 Fix weird segfault in `deduplicate` by materializing search key
  libtenzir/builtins/operators/deduplicate.cpp
Labels: bug

#5426 More lenient RFC 3164 Syslog parsing
  changelog/changes/passed-shell-bottle.md
  libtenzir/builtins/formats/syslog.cpp
  libtenzir/include/tenzir/arrow_table_slice.hpp
  libtenzir/include/tenzir/cast.hpp
  libtenzir/src/cast.cpp
  libtenzir/src/tql2/eval_impl.cpp
Labels: format

#5430 Handle invalid regex in `read_delimited_regex`
  libtenzir/builtins/formats/lines.cpp
Labels: bug

#5432 Prevent debug printing large chunks
  libtenzir/include/tenzir/chunk.hpp
  tenzir/bats/data/reference/from_to/test_from_deduction/step_05.ref
  tenzir/bats/data/reference/from_to/test_from_deduction/step_06.ref
  tenzir/bats/data/reference/from_to/test_to_deduction/step_05.ref
  tenzir/bats/data/reference/from_to/test_to_deduction/step_06.ref
Labels: bug

#5431 Deprecate `read_lines split_at_null=true`
  changelog/changes/lumber-guess-leave.md
  docs/operators/read_lines.md
  libtenzir/builtins/formats/lines.cpp
  tenzir/bats/data/reference/lines/test_parse_null_delimited_events/step_00.ref
Labels: improvement

#5428 Extract `from_file_state` from `from_to_2.cpp`
  libtenzir/builtins/operators/from_to_2.cpp
  libtenzir/include/tenzir/format_utils.hpp
  libtenzir/include/tenzir/from_file_base.hpp
  libtenzir/src/format_utils.cpp
  libtenzir/src/from_file_base.cpp
Labels: maintenance

#5434 Change `resolve_enumerations` to use new `replace`
  changelog/changes/screen-queen-strike.md
  libtenzir/src/table_slice.cpp
Labels: bug

#5441 Remove redundant `dns_lookup` test
  tenzir/tests/exec/operators/dns_lookup/structure_test.tql
  tenzir/tests/exec/operators/dns_lookup/structure_test.txt
Labels: maintenance

#5429 Implement `from_azure_blob_storage`
  changelog/changes/enough-launch-walked.md
  docs/operators/from_azure_blob_storage.md
  docs/operators/from_file.md
  libtenzir/include/tenzir/from_file_base.hpp
  libtenzir/src/from_file_base.cpp
  plugins/azure-blob-storage/builtins/from_abs.cpp
Labels: feature

#5438 Ignore missing S3 `PutObject` permissions for `from_file remove=true`
  changelog/changes/mount-booth-desert.md
  libtenzir/src/from_file_base.cpp
Labels: bug
