Repository tenzir/tenzir, pull requests merged in 2025-05, with the labels that each got.

#5168 Add `encode_url` and `decode_url` functions
  .clang-tidy
  changelog/next/features/5168--url-decode.md
  libtenzir/builtins/functions/url.cpp
  libtenzir/include/tenzir/curl.hpp
  libtenzir/src/curl.cpp
  tenzir/tests/exec/functions/url/decode.tql
  tenzir/tests/exec/functions/url/decode.txt
  tenzir/tests/exec/functions/url/encode.tql
  tenzir/tests/exec/functions/url/encode.txt
  web/docs/tql2/functions.md
  web/docs/tql2/functions/decode_url.md
  web/docs/tql2/functions/encode_url.md
Labels: feature, operator

#5171 Make `seconds()` and friends no-ops on durations
  libtenzir/builtins/functions/duration.cpp
Labels: improvement

#5179 Bump uv to v0.7.2
  python/uv-source-info.json
  web/docs/development/build-from-source.md
Labels: maintenance

#5180 Fix lifetime issues and small bugs in `write_syslog`
  changelog/next/bug-fixes/5180--syslog.md
  libtenzir/builtins/formats/syslog.cpp
  tenzir/tests/node/pubsub/mpmc.tql
  tenzir/tests/node/pubsub/mpsc.tql
  tenzir/tests/node/pubsub/spmc.tql
  tenzir/tests/node/pubsub/spsc.tql
Labels: bug

#5172 Add base58 and ECC cryptography primitives
  libtenzir/include/tenzir/detail/base58.hpp
  libtenzir/include/tenzir/ecc.hpp
  libtenzir/src/detail/base58.cpp
  libtenzir/src/ecc.cpp
  libtenzir/test/detail/base58.cpp
  libtenzir/test/ecc.cpp
  tenzir/CMakeLists.txt
Labels: feature

#5181 Fix a use-after-move in rebuild
  libtenzir/builtins/commands/rebuild.cpp
Labels: bug, engine

#5183 Do not ignore the `tenzir.zstd-compression-level` option
  changelog/next/bug-fixes/5183--zstd-compression-level.md
  libtenzir/builtins/formats/feather.cpp
Labels: bug, engine

#5186 Prepare repository for Tenzir v5.1.4
  changelog/v5.1.4/bug-fixes/5180.md
  changelog/v5.1.4/bug-fixes/5183.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v5.1/development/build-from-source.md
  web/versioned_docs/version-v5.1/tql2/functions.md
  web/versioned_docs/version-v5.1/tql2/language/expressions.md
  web/versioned_docs/version-v5.1/tql2/operators.md
  web/versioned_docs/version-v5.1/tql2/operators/to_azure_log_analytics.md
  web/versioned_docs/version-v5.1/tql2/operators/to_google_cloud_logging.md
Labels: bug, improvement

#5187 Support escape sequences in string literals
  changelog/next/features/5187--unicode-escape-sequence.md
  libtenzir/include/tenzir/tql2/tokens.hpp
  libtenzir/src/tql2/parser.cpp
  libtenzir/src/tql2/tokens.cpp
  tenzir/tests/exec/expr/escape/basic/empty_strings.tql
  tenzir/tests/exec/expr/escape/basic/empty_strings.txt
  tenzir/tests/exec/expr/escape/basic/good.tql
  tenzir/tests/exec/expr/escape/basic/good.txt
  tenzir/tests/exec/expr/escape/basic/incomplete_hex.tql
  tenzir/tests/exec/expr/escape/basic/incomplete_hex.txt
  tenzir/tests/exec/expr/escape/basic/incomplete_sequence.tql
  tenzir/tests/exec/expr/escape/basic/incomplete_sequence.txt
  tenzir/tests/exec/expr/escape/basic/invalid_hex.tql
  tenzir/tests/exec/expr/escape/basic/invalid_hex.txt
  tenzir/tests/exec/expr/escape/basic/invalid_sequence.tql
  tenzir/tests/exec/expr/escape/basic/invalid_sequence.txt
  tenzir/tests/exec/expr/escape/basic/out_of_range.tql
  tenzir/tests/exec/expr/escape/basic/out_of_range.txt
  tenzir/tests/exec/expr/escape/blob/binary_blob.tql
  tenzir/tests/exec/expr/escape/blob/binary_blob.txt
  tenzir/tests/exec/expr/escape/blob/hex_escapes.tql
  tenzir/tests/exec/expr/escape/blob/hex_escapes.txt
  tenzir/tests/exec/expr/escape/blob/invalid_utf8_byte.tql
  tenzir/tests/exec/expr/escape/blob/invalid_utf8_byte.txt
  tenzir/tests/exec/expr/escape/blob/overlong_encoding.tql
  tenzir/tests/exec/expr/escape/blob/overlong_encoding.txt
  tenzir/tests/exec/expr/escape/multi/multiline.tql
  tenzir/tests/exec/expr/escape/multi/multiline.txt
  tenzir/tests/exec/expr/escape/raw/named_escapes.tql
  tenzir/tests/exec/expr/escape/raw/named_escapes.txt
  tenzir/tests/exec/expr/escape/raw/raw_escapes.tql
  tenzir/tests/exec/expr/escape/raw/raw_escapes.txt
  tenzir/tests/exec/expr/escape/raw/unknown_escape.tql
  tenzir/tests/exec/expr/escape/raw/unknown_escape.txt
  tenzir/tests/exec/expr/escape/raw/unknown_escape_blob.tql
  tenzir/tests/exec/expr/escape/raw/unknown_escape_blob.txt
  tenzir/tests/exec/expr/escape/unicode/first_high_surrogate.tql
  tenzir/tests/exec/expr/escape/unicode/first_high_surrogate.txt
  tenzir/tests/exec/expr/escape/unicode/last_low_surrogate.tql
  tenzir/tests/exec/expr/escape/unicode/last_low_surrogate.txt
  tenzir/tests/exec/expr/escape/unicode/unicode_escapes.tql
  tenzir/tests/exec/expr/escape/unicode/unicode_escapes.txt
  web/docs/tql2/language/expressions.md
Labels: feature, language

#5182 Switch to nix2container for nix built docker images
  .github/workflows/nix.nu
  flake.lock
  flake.nix
  libtenzir/CMakeLists.txt
  libtenzir/src/detail/installdirs_relocatable.cpp.in
  nix/overlay.nix
  nix/tenzir/default.nix
  nix/tenzir/image.nix
  nix/tenzir/plugins/default.nix
  nix/tenzir/plugins/source.nix
  shell.nix
  tenzir/bats/tests/vast_server.bats
Labels: refactoring, improvement, packaging

#5191 Handle assert gracefully in `write_syslog`
  changelog/next/bug-fixes/5191--syslog.md
  libtenzir/builtins/formats/syslog.cpp
Labels: bug

#5190 Add `hour`, `minute`, and `second` time component extraction
  changelog/next/changes/5190--remove-deprecated-as-secs.md
  changelog/next/features/5190--time-component-extraction.md
  libtenzir/builtins/functions/time.cpp
  tenzir/tests/exec/functions/time/components.tql
  tenzir/tests/exec/functions/time/components.txt
  tenzir/tests/exec/functions/time/format_time.tql
  tenzir/tests/exec/functions/time/format_time.txt
  tenzir/tests/exec/functions/time/parse_time.tql
  tenzir/tests/exec/functions/time/parse_time.txt
  web/docs/tql2/functions.md
  web/docs/tql2/functions/as_secs.md
  web/docs/tql2/functions/day.md
  web/docs/tql2/functions/from_epoch.md
  web/docs/tql2/functions/hour.md
  web/docs/tql2/functions/minute.md
  web/docs/tql2/functions/month.md
  web/docs/tql2/functions/now.md
  web/docs/tql2/functions/second.md
  web/docs/tql2/functions/since_epoch.md
  web/docs/tql2/functions/year.md
Labels: feature, docs

#5196 Fix a hang in `if` for stalled inputs
  changelog/next/bug-fixes/5196--if-hang.md
  libtenzir/builtins/operators/if.cpp
  tenzir/tests/issues/5196/if_stalled_input.tql
  tenzir/tests/issues/5196/if_stalled_input.txt
Labels: bug, operator

#5194 Remove TQL1 loaders/savers
  libtenzir/builtins/connectors/curl.cpp
  libtenzir/builtins/connectors/email.cpp
  libtenzir/builtins/connectors/udp.cpp
  libtenzir/builtins/operators/to_hive.cpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  plugins/amqp/builtins/plugin.cpp
  plugins/amqp/include/operator.hpp
  plugins/amqp/src/plugin.cpp
  plugins/azure-blob-storage/builtins/load_plugin.cpp
  plugins/azure-blob-storage/builtins/save_plugin.cpp
  plugins/azure-blob-storage/include/loader.hpp
  plugins/azure-blob-storage/include/saver.hpp
  plugins/azure-blob-storage/src/plugin.cpp
  plugins/gcs/builtins/plugin.cpp
  plugins/gcs/include/operator.hpp
  plugins/gcs/src/plugin.cpp
  plugins/google-cloud-pubsub/builtins/load_plugin.cpp
  plugins/google-cloud-pubsub/builtins/save_plugin.cpp
  plugins/google-cloud-pubsub/include/loader.hpp
  plugins/google-cloud-pubsub/include/saver.hpp
  plugins/google-cloud-pubsub/src/plugin.cpp
  plugins/kafka/builtins/plugin.cpp
  plugins/kafka/include/kafka/operator.hpp
  plugins/kafka/src/plugin.cpp
  plugins/nic/builtins/plugin.cpp
  plugins/nic/include/operator.hpp
  plugins/nic/src/plugin.cpp
  plugins/s3/builtins/plugins.cpp
  plugins/s3/include/operator.hpp
  plugins/s3/src/plugin.cpp
  plugins/sqs/builtins/plugin.cpp
  plugins/sqs/include/operator.hpp
  plugins/sqs/src/plugin.cpp
  plugins/zmq/builtins/plugin.cpp
  plugins/zmq/include/operator.hpp
  plugins/zmq/src/plugin.cpp
  tenzir/bats/data/reference/from_to/test_to_failure/step_00.ref
  tenzir/bats/data/reference/pipelines_local/test_parse_operators/step_14.ref
  tenzir/bats/data/reference/pipelines_local/test_parse_operators/step_15.ref
  tenzir/bats/data/reference/pipelines_local/test_parse_operators/step_19.ref
  tenzir/bats/tests/udp.bats
  tenzir/tests/README.md
  tenzir/tests/run.py
  web/docs/tql2/operators/load_amqp.md
  web/docs/tql2/operators/save_amqp.md
  web/docs/tql2/operators/to.md
Labels: connector

#5198 Add blog post for Tenzir Platform 1.10
  web/docs/platform-cli.md
  web/releases/tenzir-platform-v1.10/index.md
  web/releases/tenzir-platform-v1.10/layout.png
  web/releases/tenzir-platform-v1.10/library.png
  web/releases/tenzir-platform-v1.10/tenzir-platform-v1.10.svg
Labels: docs

#5204 Fix URL check in `to_hive`
  changelog/next/bug-fixes/5204--to-hive.md
  libtenzir/builtins/operators/to_hive.cpp
Labels: bug

#5173 Add option to `load_tcp` for storing sender information
  changelog/next/features/5173--load-tcp-sender.md
  libtenzir/builtins/operators/load_tcp.cpp
  libtenzir/include/tenzir/tql2/eval.hpp
  libtenzir/src/tql2/eval.cpp
  web/docs/tql2/operators/load_tcp.mdx
Labels: feature, operator

#5205 Prepare repository for Tenzir v5.1.7
  changelog/v5.1.7/bug-fixes/5193.md
  changelog/v5.1.7/bug-fixes/5204.md
  changelog/v5.1.7/features/5173.md
  changelog/v5.1.7/features/5202.md
  python/pyproject.toml
  version.json
  web/versioned_docs/version-v5.1/platform-cli.md
  web/versioned_docs/version-v5.1/tql2/functions.md
  web/versioned_docs/version-v5.1/tql2/functions/keys.md
  web/versioned_docs/version-v5.1/tql2/operators/load_tcp.mdx
Labels: maintenance

#5210 Fix config parsing bug
  changelog/next/bug-fixes/5210--flatten-recursion.md
  libtenzir/src/data.cpp
Labels: bug, engine

#5208 Trace `eval` locations in panics
  changelog/v5.1.7/bug-fixes/5161.md
  changelog/v5.1.7/features/5161.md
  libtenzir/include/tenzir/location.hpp
  libtenzir/include/tenzir/panic.hpp
  libtenzir/src/diagnostics.cpp
  libtenzir/src/tql2/eval.cpp
Labels: engine, improvement

#5209 Remove usage of deprecated `fmt::localtime`
  libtenzir/builtins/connectors/email.cpp
Labels: maintenance

#5216 Explicitly mark whether functions are deterministic
  libtenzir/builtins/aggregation-functions/all.cpp
  libtenzir/builtins/aggregation-functions/any.cpp
  libtenzir/builtins/aggregation-functions/collect.cpp
  libtenzir/builtins/aggregation-functions/count_distinct.cpp
  libtenzir/builtins/aggregation-functions/distinct.cpp
  libtenzir/builtins/aggregation-functions/first_last.cpp
  libtenzir/builtins/aggregation-functions/mean.cpp
  libtenzir/builtins/aggregation-functions/min_max.cpp
  libtenzir/builtins/aggregation-functions/mode_value_counts.cpp
  libtenzir/builtins/aggregation-functions/once.cpp
  libtenzir/builtins/aggregation-functions/stddev_variance.cpp
  libtenzir/builtins/aggregation-functions/sum.cpp
  libtenzir/builtins/formats/cef.cpp
  libtenzir/builtins/formats/grok.cpp
  libtenzir/builtins/formats/json.cpp
  libtenzir/builtins/formats/kv.cpp
  libtenzir/builtins/formats/leef.cpp
  libtenzir/builtins/formats/syslog.cpp
  libtenzir/builtins/formats/xsv.cpp
  libtenzir/builtins/formats/yaml.cpp
  libtenzir/builtins/functions/abs.cpp
  libtenzir/builtins/functions/base64.cpp
  libtenzir/builtins/functions/bit.cpp
  libtenzir/builtins/functions/ceil_round_floor.cpp
  libtenzir/builtins/functions/community_id.cpp
  libtenzir/builtins/functions/config.cpp
  libtenzir/builtins/functions/cryptopan.cpp
  libtenzir/builtins/functions/duration.cpp
  libtenzir/builtins/functions/file_contents.cpp
  libtenzir/builtins/functions/float.cpp
  libtenzir/builtins/functions/hash.cpp
  libtenzir/builtins/functions/hex.cpp
  libtenzir/builtins/functions/int.cpp
  libtenzir/builtins/functions/ip.cpp
  libtenzir/builtins/functions/list.cpp
  libtenzir/builtins/functions/misc.cpp
  libtenzir/builtins/functions/numeric.cpp
  libtenzir/builtins/functions/ocsf.cpp
  libtenzir/builtins/functions/otherwise.cpp
  libtenzir/builtins/functions/path.cpp
  libtenzir/builtins/functions/secret.cpp
  libtenzir/builtins/functions/string.cpp
  libtenzir/builtins/functions/subnet.cpp
  libtenzir/builtins/functions/time.cpp
  libtenzir/builtins/functions/url.cpp
  libtenzir/builtins/operators/decapsulate.cpp
  libtenzir/builtins/operators/flatten.cpp
  libtenzir/builtins/operators/sort.cpp
  libtenzir/builtins/operators/unflatten.cpp
  libtenzir/builtins/operators/where_map.cpp
  libtenzir/include/tenzir/tql2/eval.hpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  libtenzir/src/tql2/eval.cpp
Labels: bug, engine

#5219 Fix hang for operators with infinite idle timeout
  changelog/next/bug-fixes/5219--cache-buffer-hang.md
  libtenzir/src/execution_node.cpp
Labels: bug, engine

#5203 Add `from_file` operator
  changelog/next/bug-fixes/5203--from-file.md
  changelog/next/features/5203--from-file.md
  libtenzir/builtins/connectors/file.cpp
  libtenzir/builtins/formats/lines.cpp
  libtenzir/builtins/operators/from_to_2.cpp
  libtenzir/builtins/operators/if.cpp
  libtenzir/include/tenzir/arrow_utils.hpp
  libtenzir/include/tenzir/file.hpp
  libtenzir/include/tenzir/glob.hpp
  libtenzir/include/tenzir/secret_resolution.hpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  libtenzir/include/tenzir/view.hpp
  libtenzir/src/argument_parser2.cpp
  libtenzir/src/arrow_utils.cpp
  libtenzir/src/file.cpp
  libtenzir/src/glob.cpp
  libtenzir/src/pipeline_executor.cpp
  libtenzir/src/tql2/eval_impl.cpp
  tenzir/tests/exec/operators/from_file/all.tql
  tenzir/tests/exec/operators/from_file/all.txt
  tenzir/tests/exec/operators/from_file/all2.tql
  tenzir/tests/exec/operators/from_file/all2.txt
  tenzir/tests/exec/operators/from_file/does_not_exist.tql
  tenzir/tests/exec/operators/from_file/does_not_exist.txt
  tenzir/tests/exec/operators/from_file/foo_json.tql
  tenzir/tests/exec/operators/from_file/foo_json.txt
  tenzir/tests/exec/operators/from_file/json.tql
  tenzir/tests/exec/operators/from_file/json.txt
  tenzir/tests/exec/operators/from_file/no_match.tql
  tenzir/tests/exec/operators/from_file/no_match.txt
  tenzir/tests/exec/operators/from_file/pipeline.tql
  tenzir/tests/exec/operators/from_file/pipeline.txt
  tenzir/tests/inputs/from_file/foo/bar/bar.csv
  tenzir/tests/inputs/from_file/foo/bar/bar.json
  tenzir/tests/inputs/from_file/foo/baz/baz.json
  tenzir/tests/inputs/from_file/foo/foo1.json
  tenzir/tests/inputs/from_file/foo/foo2.json
  web/docs/tql2/functions/encrypt_cryptopan.md
  web/docs/tql2/functions/file_contents.md
  web/docs/tql2/functions/hash_md5.md
  web/docs/tql2/operators.md
  web/docs/tql2/operators/chart_bar.md
  web/docs/tql2/operators/from_file.md
  web/docs/tql2/operators/from_fluent_bit.mdx
  web/docs/tql2/operators/from_http.md
  web/docs/tql2/operators/from_opensearch.md
  web/docs/tql2/operators/load_amqp.md
  web/docs/tql2/operators/load_kafka.md
  web/docs/tql2/operators/load_s3.md
  web/docs/tql2/operators/read_ndjson.mdx
  web/docs/tql2/operators/save_amqp.md
  web/docs/tql2/operators/save_email.mdx
  web/docs/tql2/operators/save_kafka.md
  web/docs/tql2/operators/save_s3.md
  web/docs/tql2/operators/to_fluent_bit.mdx
  web/docs/tql2/operators/to_google_secops.md
  web/docs/tql2/operators/yara.md
Labels: feature

#5217 Announce Tenzir Node v5.2
  web/releases/tenzir-node-v5.1/tenzir-node-v5.1.svg
  web/releases/tenzir-node-v5.2/index.md
  web/releases/tenzir-node-v5.2/tenzir-node-v5.2.svg
Labels: docs

#5223 Fix overflow warning for `-9223372036854775808`
  changelog/next/bug-fixes/5223--fix-overflow.md
  libtenzir/src/tql2/eval_unary.cpp
  tenzir/tests/exec/expr/negation_overflow.tql
  tenzir/tests/exec/expr/negation_overflow.txt
Labels: bug

#5227 Some backlog cleaning
  libtenzir/CMakeLists.txt
  libtenzir/builtins/connectors/email.cpp
  libtenzir/builtins/connectors/udp.cpp
  libtenzir/include/tenzir/variant_traits.hpp
  libtenzir/test/variant_traits.cpp
  plugins/azure-blob-storage/builtins/load_plugin.cpp
  plugins/azure-blob-storage/builtins/save_plugin.cpp
  plugins/gcs/include/operator.hpp
  plugins/google-cloud-pubsub/builtins/load_plugin.cpp
  plugins/google-cloud-pubsub/builtins/save_plugin.cpp
  plugins/kafka/include/kafka/operator.hpp
  plugins/nic/include/operator.hpp
  plugins/s3/include/operator.hpp
  plugins/sqs/include/operator.hpp
  plugins/zmq/include/operator.hpp
  web/docs/development/build-from-source.md
Labels: maintenance, connector

#5239 Fix problematic changelog entries
  .github/workflows/release.yaml
  changelog/changes/FNhJPgmS9N6vsRnmBjvgpTqRZa.md
  changelog/changes/NvltFrs9lD82yc1FLKe2UvNnqH.md
  changelog/changes/Q0ZDJnlerDwDcczxHixhYdSS99.md
  changelog/changes/RJcFq7DPLCQiI1TLZ4mpvI4EtN.md
  changelog/changes/iEyaOtpRkcOXn9qPsL533EF4j3.md
  changelog/changes/zJ0VKuNHuzaTMBiwxVlvGOimi8.md
  changelog/changes/zlcoCgxqEwItHNhJ17fjlfqyts.md
  changelog/releases/v5.0.0.yaml
  changelog/releases/v5.0.1.yaml
  changelog/releases/v5.1.0.yaml
  changelog/releases/v5.1.1.yaml
  changelog/releases/v5.1.2.yaml
  changelog/releases/v5.1.3.yaml
  changelog/releases/v5.1.4.yaml
  changelog/releases/v5.1.5.yaml
  changelog/releases/v5.1.6.yaml
  changelog/releases/v5.1.7.yaml
  changelog/releases/v5.1.8.yaml
  changelog/releases/v5.2.0.yaml
Labels: bug

#5241 Remove the old `prepare-release` script
  changelog/releases/v5.1.6.yaml
  scripts/prepare-release
Labels: maintenance

#5243 Fix OpenAPI spec sync
  .github/workflows/documentation.yaml
  .github/workflows/tenzir.yaml
  docs/openapi.node.yaml
Labels: bug

#5244 Fix URL in changelog comments
  changelog/add.py
Labels: bug

#5249 Fully qualify reference card titles
  docs/operators/context/create_bloom_filter.md
  docs/operators/context/create_geoip.md
  docs/operators/context/create_lookup_table.md
  docs/operators/context/enrich.md
  docs/operators/context/erase.md
  docs/operators/context/inspect.md
  docs/operators/context/list.md
  docs/operators/context/load.md
  docs/operators/context/remove.md
  docs/operators/context/reset.md
  docs/operators/context/save.md
  docs/operators/context/update.md
  docs/operators/package/add.md
  docs/operators/package/list.md
  docs/operators/package/remove.md
  docs/operators/pipeline/activity.md
  docs/operators/pipeline/detach.md
  docs/operators/pipeline/list.md
  docs/operators/pipeline/run.md
Labels: bug
