Repository tenzir/tenzir, pull requests merged in 2025-01, with the labels that each got.

#4890 Disable macOS Nix CI job
  .github/workflows/nix-config-base.json
Labels: bug

#4876 Split `compress`/`decompress` into separate operators
  changelog/next/changes/4876--new-compression.md
  libtenzir/builtins/operators/compress_decompress.cpp
  libtenzir/builtins/operators/from_to_2.cpp
  libtenzir/include/tenzir/tql2/plugin.hpp
  libtenzir/src/plugin.cpp
  tenzir/integration/data/reference/from_to/test_from_deduction/step_02.ref
  tenzir/integration/data/reference/from_to/test_from_deduction/step_03.ref
  tenzir/integration/data/reference/from_to/test_from_deduction/step_04.ref
  tenzir/integration/data/reference/from_to/test_from_deduction/step_05.ref
  tenzir/integration/data/reference/from_to/test_from_failure/step_01.ref
  tenzir/integration/data/reference/from_to/test_to_deduction/step_02.ref
  tenzir/integration/data/reference/from_to/test_to_deduction/step_03.ref
  tenzir/integration/data/reference/from_to/test_to_deduction/step_04.ref
  tenzir/integration/data/reference/from_to/test_to_deduction/step_05.ref
  tenzir/integration/data/reference/from_to/test_to_failure/step_01.ref
  tenzir/integration/data/reference/pipelines_local/test_legacy_operator/step_02.ref
  web/docs/tql2/operators.md
  web/docs/tql2/operators/compress.md
  web/docs/tql2/operators/compress_brotli.md
  web/docs/tql2/operators/compress_bz2.md
  web/docs/tql2/operators/compress_gzip.md
  web/docs/tql2/operators/compress_lz4.md
  web/docs/tql2/operators/compress_zstd.md
  web/docs/tql2/operators/decompress.md
  web/docs/tql2/operators/decompress_brotli.md
  web/docs/tql2/operators/decompress_bz2.md
  web/docs/tql2/operators/decompress_gzip.md
  web/docs/tql2/operators/decompress_lz4.md
  web/docs/tql2/operators/decompress_zstd.md
Labels: format, engine

#4884 Add user-defined operators to TQL2
  changelog/next/features/4884--tql2-udos.md
  libtenzir/include/tenzir/tql2/entity_path.hpp
  libtenzir/include/tenzir/tql2/registry.hpp
  libtenzir/src/tql2/registry.cpp
  libtenzir/src/tql2/resolve.cpp
  tenzir/integration/data/reference/user_defined_operators/test_shadowing_udo/step_00.ref
  tenzir/integration/data/reference/user_defined_operators/test_unknown_udo/step_00.ref
  tenzir/integration/data/reference/user_defined_operators/test_valid_udo/step_00.ref
  tenzir/integration/tests/user_defined_operators.bats
  tenzir/tenzir.cpp
  web/docs/integrations/zeek/README.md
Labels: feature

#4891 Revert "Disable macOS Nix CI job"
  .github/workflows/nix-config-base.json
Labels: maintenance

#4837 Custom quotes and doubled quote escaping
  changelog/next/features/4837--custom-quotes.md
  libtenzir/builtins/formats/cef.cpp
  libtenzir/builtins/formats/kv.cpp
  libtenzir/builtins/formats/leef.cpp
  libtenzir/builtins/formats/xsv.cpp
  libtenzir/include/tenzir/argument_parser2.hpp
  libtenzir/include/tenzir/detail/string.hpp
  libtenzir/src/argument_parser2.cpp
  libtenzir/src/detail/string.cpp
  libtenzir/test/quote_finding.cpp
  tenzir/integration/data/reference/from_to/test_from_deduction/step_03.ref
  tenzir/integration/data/reference/from_to/test_to_deduction/step_03.ref
  tenzir/integration/data/reference/pipelines_local/test_parse_operators/step_25.ref
  tenzir/integration/data/reference/pipelines_local/test_read_xsv_auto_expand/step_02.ref
  web/docs/tql2/functions.md
  web/docs/tql2/functions/parse_grok.md
  web/docs/tql2/functions/parse_json.md
  web/docs/tql2/functions/parse_leef.md
  web/docs/tql2/operators/read_csv.md
  web/docs/tql2/operators/read_kv.md
  web/docs/tql2/operators/read_ssv.md
  web/docs/tql2/operators/read_tsv.md
  web/docs/tql2/operators/read_xsv.md
Labels: format

#4901 Add docs for `pipeline::list`
  web/docs/tql2/operators.md
  web/docs/tql2/operators/pipeline/list.md
Labels: docs

#4900 Fix overeager fallback in `any` and `all`
  libtenzir/builtins/aggregation-functions/all.cpp
  libtenzir/builtins/aggregation-functions/any.cpp
Labels: bug

#4903 Fix up changelog entry for parenthesis continutation
  changelog/next/bug-fixes/4885--operator-parenthesis-continuation.md
Labels: bug, docs

#4887 Port `cron` operator
  libtenzir/builtins/operators/every_cron.cpp
  libtenzir/builtins/operators/local_remote.cpp
  tenzir/integration/data/reference/cron/test_cron_errors/step_00.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_01.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_02.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_03.ref
  tenzir/integration/data/reference/cron/test_cron_errors/step_04.ref
  tenzir/integration/tests/cron.bats
  web/docs/tql2/operators/cron.md
Labels: operator

#4899 Follow up for quotes
  changelog/next/features/4837--custom-quotes.md
  libtenzir/builtins/formats/cef.cpp
  libtenzir/builtins/formats/kv.cpp
  libtenzir/builtins/formats/leef.cpp
  libtenzir/include/tenzir/detail/string.hpp
  libtenzir/src/detail/string.cpp
  libtenzir/test/quote_finding.cpp
  web/docs/tql2/functions.md
  web/docs/tql2/functions/parse_cef.md
  web/docs/tql2/functions/parse_json.md
  web/docs/tql2/functions/parse_leef.md
  web/docs/tql2/operators/from.md
  web/docs/tql2/operators/read_csv.md
  web/docs/tql2/operators/read_ssv.md
  web/docs/tql2/operators/read_tsv.md
  web/docs/tql2/operators/read_xsv.md
  web/docs/tql2/operators/to.md
Labels: format

#4905 Fix argument check in prepare-release script
  scripts/prepare-release
Labels: bug

#4893 Add blog post for Tenzir Platform v1.7 release
  web/blog/tenzir-platform-v1.7/index.md
  web/blog/tenzir-platform-v1.7/tenzir-platform-v1.7.png
Labels: docs

#4909 Enable TQL2-only mode for demo nodes
  Dockerfile
Labels: bug

#4907 Update "unknown UDO" test to only emit the first line
  tenzir/integration/data/reference/user_defined_operators/test_unknown_udo/step_00.ref
  tenzir/integration/tests/user_defined_operators.bats
Labels: maintenance, ci

#4912 Fix serialization of `where` and `assert`
  libtenzir/builtins/operators/where_map.cpp
Labels: bug

#4913 Port demo node setup to TQL2
  Dockerfile
  scripts/install-demo-node-package.tql
Labels: bug

#4914 Prepare repository for Tenzir v4.25.1
  python/pyproject.toml
  version.json
Labels: packaging

#4908 Fix diff-integration targets
  cmake/TenzirRegisterPlugin.cmake
  tenzir/CMakeLists.txt
  tenzir/integration/data/reference/opensearch/test_doc_param/step_01.ref
  tenzir/integration/data/reference/opensearch/test_missing_id/step_01.ref
Labels: ci

#4897 Introduce CAF metrics
  CMakeLists.txt
  changelog/next/features/4897--caf-metrics.md
  libtenzir/CMakeLists.txt
  libtenzir/builtins/components/metrics_collector.cpp
  libtenzir/builtins/functions/misc.cpp
  libtenzir/builtins/metrics/caf.cpp
  libtenzir/builtins/metrics/cpu.cpp
  libtenzir/builtins/metrics/disk.cpp
  libtenzir/builtins/metrics/memory.cpp
  libtenzir/builtins/metrics/process.cpp
  libtenzir/include/tenzir/plugin.hpp
  libtenzir/src/configuration.cpp
  libtenzir/test/metrics.cpp
  web/docs/tql2/functions.md
  web/docs/tql2/functions/merge.md
  web/docs/tql2/operators/metrics.md
Labels: engine, improvement

#4853 Unify the AWSSDK packages in the dependency closure
  .github/workflows/tenzir.yaml
  CMakeLists.txt
  Dockerfile
  libtenzir/CMakeLists.txt
  plugins/sqs/CMakeLists.txt
  scripts/debian/build-arrow-package.sh
  scripts/debian/build-aws-sdk-cpp-package.sh
  scripts/debian/build-fluent-bit-package.sh
  scripts/debian/build-google-cloud-cpp-package.sh
  scripts/debian/install-aws-sdk.sh
  scripts/debian/install-dev-dependencies.sh
  scripts/debian/install-fluent-bit.sh
  scripts/debian/install-google-cloud.sh
Labels: packaging

#4917 Implement `match_regex`
  changelog/next/features/4917--more-string-functions.md
  libtenzir/builtins/functions/string.cpp
  web/docs/tql2/functions.md
  web/docs/tql2/functions/match_regex.md
  web/docs/tql2/functions/replace.md
  web/docs/tql2/functions/replace_regex.md
  web/docs/tql2/operators/read_kv.md
Labels: feature

#4923 Make finding cppzmq required
  plugins/zmq/CMakeLists.txt
Labels: bug, packaging

#4927 Update uv from 0.3.0 to 0.5.21
  python/uv-source-info.json
Labels: maintenance, packaging

#4926 Fix GCS plugin for Arrow 19+
  libtenzir/builtins/formats/cef.cpp
  libtenzir/builtins/formats/leef.cpp
  libtenzir/include/tenzir/detail/make_io_stream.hpp
  libtenzir/include/tenzir/detail/system.hpp
  libtenzir/src/detail/make_io_stream.cpp
  libtenzir/src/detail/pid_file.cpp
  libtenzir/src/detail/system.cpp
  plugins/gcs/src/plugin.cpp
  scripts/debian/build-arrow-package.sh
Labels: maintenance, operator

#4924 Document the `sort` function
  web/docs/tql2/functions.md
  web/docs/tql2/functions/sort.md
Labels: feature, docs

#4904 Ensure that `let` resolving phase fails when `let` expression errors
  libtenzir/src/tql2/exec.cpp
Labels: bug

#4922 Document how to run a Node in Azure Container Instances
  web/docs/faqs/README.md
  web/docs/glossary.md
  web/docs/installation/deploy-a-node.md
  web/docs/installation/deploy-a-node/README.md
  web/docs/installation/deploy-a-node/ansible.md
  web/docs/installation/deploy-a-node/azure/README.md
  web/docs/installation/deploy-a-node/azure/advanced.png
  web/docs/installation/deploy-a-node/azure/basics.png
  web/docs/installation/deploy-a-node/azure/networking.png
  web/docs/installation/deploy-a-node/docker.md
  web/docs/installation/deploy-a-node/linux.md
  web/docs/installation/deploy-a-node/macos.md
  web/docs/installation/size-a-node.md
  web/docs/installation/update-a-node.md
  web/docs/troubleshooting.md
  web/docs/tutorials/quickstart/README.md
  web/docs/usage/import-into-a-node/README.md
Labels: docs

#4932 Hide build directory paths in source location
  CMakeLists.txt
  cmake/TenzirRegisterPlugin.cmake
Labels: packaging

#4939 Fix CONVERSION part for GROK patterns
  changelog/next/bug-fixes/4939--grok-quickfix.md
  libtenzir/builtins/formats/grok.cpp
Labels: bug, format

#4931 Avoid compiling twice in the static binary packaging
  nix/tenzir/default.nix
Labels: packaging

#4937 Add blog post for Tenzir Node v4.26
  web/blog/tenzir-node-v4.26/index.md
  web/blog/tenzir-node-v4.26/tenzir-node-v4.26.excalidraw.svg
  web/docs/integrations/amazon/security-lake/README.md
  web/docs/tql2/functions.md
Labels: docs

#4943 Follow ups for #4931
  nix/tenzir/check.nix
  nix/tenzir/default.nix
Labels: maintenance

#4934 Implement `unroll` for records
  changelog/next/features/4934--unroll-records.md
  changelog/v4.26.0/bug-fixes/4939.md
  libtenzir/builtins/operators/unroll.cpp
  libtenzir/src/arrow_table_slice.cpp
  tenzir/bats/data/reference/pipelines_local/test_unroll_operator/step_04.ref
  tenzir/bats/data/reference/pipelines_local/test_unroll_operator/step_05.ref
  tenzir/bats/data/reference/pipelines_local/test_unroll_operator/step_06.ref
  tenzir/bats/data/reference/pipelines_local/test_unroll_operator/step_07.ref
  tenzir/bats/tests/pipelines_local.bats
  web/docs/tql2/operators/unroll.md
Labels: operator, improvement

#4944 Implement AWS MSK IAM Authentication Mechanism for `{load,save}_kafka`
  libtenzir/src/plugin.cpp
  plugins/kafka/builtins/plugin.cpp
  plugins/kafka/include/kafka/configuration.hpp
  plugins/kafka/include/kafka/operator.hpp
  plugins/kafka/src/configuration.cpp
  web/docs/tql2/operators/load_kafka.md
  web/docs/tql2/operators/metrics.md
  web/docs/tql2/operators/save_kafka.md
Labels: feature

#4946 Link the kafka plugin against AWSSDK
  plugins/kafka/CMakeLists.txt
Labels: packaging

#4948 Fix `pipeline::list` docs
  web/docs/tql2/operators/pipeline/list.md
Labels: bug, docs

#4947 Update OCSF mapping tutorial
  web/docs/integrations/amazon/README.md
  web/docs/tutorials/map-data-to-ocsf/README.md
Labels: docs, improvement

#4953 Fix broken Discord link
  web/src/pages/discord.tsx
Labels: docs

#4955 Fix the Zscaler integration docs
  web/docs/integrations/zscaler/README.md
  web/versioned_docs/version-v4.25/integrations/zscaler/README.md
  web/versioned_docs/version-v4.26/integrations/zscaler/README.md
Labels: bug, docs

#4950 Add syntax highlighting to TQL files on GitHub
  .gitattributes
Labels: feature

#4958 Use actor traits for `exec_node_actor`
  libtenzir/include/tenzir/actors.hpp
  libtenzir/src/execution_node.cpp
  web/docs/tql2/operators/cron.md
Labels: refactoring

#4888 Implement `chart_line`, `chart_area`, `chart_bar` and `chart_pie`
  changelog/next/features/4888--chart.md
  libtenzir/builtins/aggregation-functions/once.cpp
  libtenzir/builtins/functions/string.cpp
  libtenzir/builtins/operators/chart2.cpp
  libtenzir/fbs/aggregation.fbs
  libtenzir/include/tenzir/argument_parser2.hpp
  libtenzir/include/tenzir/tql2/resolve.hpp
  libtenzir/src/argument_parser2.cpp
  libtenzir/src/tql2/resolve.cpp
  tenzir/tests/exec/chart_group.tql
  tenzir/tests/exec/chart_group.txt
  tenzir/tests/exec/chart_limit.tql
  tenzir/tests/exec/chart_limit.txt
  tenzir/tests/exec/chart_line.tql
  tenzir/tests/exec/chart_line.txt
  tenzir/tests/exec/chart_min_max.tql
  tenzir/tests/exec/chart_min_max.txt
  tenzir/tests/exec/chart_null_break.tql
  tenzir/tests/exec/chart_null_break.txt
  tenzir/tests/exec/chart_resolution.tql
  tenzir/tests/exec/chart_resolution.txt
  tenzir/tests/run.py
  web/docs/tql2/operators.md
  web/docs/tql2/operators/chart_area.md
  web/docs/tql2/operators/chart_bar.md
  web/docs/tql2/operators/chart_line.md
  web/docs/tql2/operators/chart_pie.md
Labels: feature, operator

#4956 Remove Magic Nix Cache
  .github/workflows/nix.yaml
Labels: ci

#4960 Add blog post for Tenzir Node v4.27
  changelog/next/bug-fixes/4944--config-read.md
  changelog/next/features/4944--msk.md
  web/blog/tenzir-node-v4.27/index.md
  web/blog/tenzir-node-v4.27/tenzir-node-v4.27.excalidraw.svg
  web/docs/integrations/amazon/msk/README.md
  web/docs/integrations/amazon/msk/amazon-msk.svg
  web/docs/integrations/amazon/security-lake/README.md
  web/docs/tql2/operators/load_kafka.md
  web/docs/tql2/operators/save_kafka.md
Labels: docs

#4957 Add blog post for Tenzir Platform v1.8
  web/blog/tenzir-platform-v1.8/add-to-dashboard.png
  web/blog/tenzir-platform-v1.8/index.md
  web/blog/tenzir-platform-v1.8/node-load.png
  web/blog/tenzir-platform-v1.8/schema-pie.png
  web/blog/tenzir-platform-v1.8/tenzir-platform-1.8.png
Labels: docs

#4964 Reword pipeline explanations slighty
  web/blog/tenzir-platform-v1.8/index.md
Labels: docs

#4959 Simplify timeouts in `delay`, `every`, `cron`, and `throttle`
  libtenzir/builtins/operators/delay.cpp
  libtenzir/builtins/operators/every_cron.cpp
  libtenzir/builtins/operators/throttle.cpp
  libtenzir/include/tenzir/detail/alarm_clock.hpp
Labels: refactoring, operator
