Repository tenzir/tenzir, pull requests merged in 2025-07, with the labels that each got.

#5307 Make `load_kafka` and `save_kafka` automatically set `sasl.mechanism`
  changelog/changes/differ-phrase-first.md
  plugins/kafka/builtins/plugin.cpp
  plugins/kafka/src/configuration.cpp
Labels: improvement

#5312 Add option to disable JSON stringification in `ocsf::apply`
  changelog/changes/tribe-hockey-talent.md
  docs/operators/ocsf/apply.md
  libtenzir/builtins/operators/ocsf.cpp
  libtenzir/include/tenzir/series.hpp
  schema/types/ocsf/v1_0_0.schema
  schema/types/ocsf/v1_1_0.schema
  schema/types/ocsf/v1_2_0.schema
  schema/types/ocsf/v1_3_0.schema
  schema/types/ocsf/v1_4_0.schema
  schema/types/ocsf/v1_5_0.schema
  schema/types/ocsf/v1_6_0_dev.schema
  scripts/ocsf-schemas.py
  tenzir/tests/ocsf/preserve_variants.tql
  tenzir/tests/ocsf/preserve_variants.txt
  tenzir/tests/ocsf/preserve_variants_empty.tql
  tenzir/tests/ocsf/preserve_variants_empty.txt
  tenzir/tests/ocsf/preserve_variants_string.tql
  tenzir/tests/ocsf/preserve_variants_string.txt
  tenzir/tests/ocsf/string_unmapped.tql
  tenzir/tests/ocsf/string_unmapped.txt
  tenzir/tests/ocsf/wrong_type_unmapped.tql
  tenzir/tests/ocsf/wrong_type_unmapped.txt
Labels: feature

#5316 Checkout the release tag to publish when running manually
  .github/workflows/marketplace-release.yaml
Labels: integration

#5300 Implement format and compression inference from URIs for HTTP
  changelog/changes/itself-large-create.md
  docs/operators/from_http.md
  docs/operators/http.md
  libtenzir/builtins/operators/http.cpp
Labels: feature

#5325 Fix metadata series length in `from_http_server_operator`
  changelog/changes/poetry-almost-mobile.md
  libtenzir/builtins/operators/http.cpp
Labels: bug

#5097 Add `uuid()` function
  changelog/changes/tempo-trunk-series.md
  changelog/next/features/5097--uuid-function.md
  docs/functions/random.md
  docs/functions/uuid.md
  libtenzir/CMakeLists.txt
  libtenzir/builtins/functions/uuid.cpp
  libtenzir/include/tenzir/detail/boost_uuid_generators.hpp
  tenzir/tests/exec/functions/uuid/formats.tql
  tenzir/tests/exec/functions/uuid/formats.txt
  tenzir/tests/exec/functions/uuid/nil.tql
  tenzir/tests/exec/functions/uuid/nil.txt
Labels: feature, engine

#5331 Fix `uuid` docs
  docs/functions/random.md
  docs/functions/uuid.md
Labels: bug, docs

#5332 Fix bug in `http` operator pagination
  changelog/changes/talked-editor-horse.md
  libtenzir/builtins/operators/http.cpp
  scripts/clang-format-diff.py
Labels: bug

#5313 Change `kv` parser not create keys without a value
  changelog/changes/sixth-worlds-enzyme.md
  docs/functions/parse_kv.mdx
  docs/operators/read_kv.mdx
  libtenzir/builtins/formats/kv.cpp
  tenzir/bats/data/reference/pipelines_local/test_parse_kv/step_00.ref
  tenzir/bats/data/reference/pipelines_local/test_parse_kv/step_01.ref
  tenzir/bats/data/reference/pipelines_local/test_parse_kv/step_02.ref
  tenzir/bats/tests/pipelines_local.bats
  tenzir/tests/exec/functions/parse/parse_kv.tql
  tenzir/tests/exec/functions/parse/parse_kv.txt
  tenzir/tests/exec/operators/read_kv/read_kv.tql
  tenzir/tests/exec/operators/read_kv/read_kv.txt
  tenzir/tests/exec/operators/read_kv/read_kv_broken.tql
  tenzir/tests/exec/operators/read_kv/read_kv_broken.txt
  tenzir/tests/inputs/txt/key_value_pairs.txt
Labels: format

#5334 Remove noise in `update-ocsf-schemas` CI workflow
  .github/workflows/update-ocsf-schemas.yaml
Labels: improvement

#5337 Fix a few typos in the reference
  docs/functions/hash_md5.md
  docs/operators/cache.md
  docs/operators/fork.md
Labels: bug, docs

#5339 Improve warning and example config comment
  libtenzir/builtins/operators/cache.cpp
  tenzir.yaml.example
Labels: improvement

#5342 Fix serializer roundtrips of empty non-null chunks
  changelog/changes/steep-prize-prompt.md
  libtenzir/include/tenzir/chunk.hpp
  libtenzir/test/chunk.cpp
  libtenzir/test/data.cpp
  libtenzir/test/detail/legacy_deserialize.cpp
  libtenzir/test/expression.cpp
  libtenzir/test/flatbuffer.cpp
  libtenzir/test/schema.cpp
  tenzir/bats/data/reference/from_to/test_from_deduction/step_05.ref
  tenzir/bats/data/reference/from_to/test_from_deduction/step_06.ref
  tenzir/bats/data/reference/from_to/test_to_deduction/step_05.ref
  tenzir/bats/data/reference/from_to/test_to_deduction/step_06.ref
Labels: bug, engine

#5343 Support void sinks in parsing pipelines
  changelog/changes/enable-steer-bases.md
  libtenzir/builtins/operators/http.cpp
Labels: improvement

#5352 Fix subpipeline handling in `from_http`
  libtenzir/builtins/operators/http.cpp
Labels: bug

#5348 Allow newlines before `else` keyword
  changelog/changes/reveal-barely-trust.md
  libtenzir/src/tql2/parser.cpp
  tenzir/tests/ast/newline_else.tql
  tenzir/tests/ast/newline_else.txt
Labels: bug

#5353 Guard against enum lists in `ocsf::derive`
  libtenzir/builtins/operators/ocsf.cpp
Labels: bug

#5356 Handle `list<null>` in `join` and improve warnings
  changelog/changes/eager-lawyer-trend.md
  libtenzir/builtins/functions/string.cpp
  tenzir/tests/exec/functions/string/join_bad_type.tql
  tenzir/tests/exec/functions/string/join_bad_type.txt
  tenzir/tests/exec/functions/string/join_basic.tql
  tenzir/tests/exec/functions/string/join_basic.txt
  tenzir/tests/exec/functions/string/join_null.tql
  tenzir/tests/exec/functions/string/join_null.txt
Labels: bug

#5349 Bump nixpkgs to a commit from 2025-07-14
  flake.lock
  flake.nix
  libtenzir/builtins/operators/serve.cpp
  libtenzir/include/tenzir/detail/function.hpp
  nix/caf/default.nix
  nix/fluent-bit/default.nix
  nix/overlay.nix
  nix/overrides/apache-orc.nix
  nix/overrides/arrow-cpp.nix
  nix/overrides/google-cloud-cpp-tenzir.nix
  nix/overrides/llhttp.nix
  nix/overrides/rdkafka.nix
  nix/tenzir/default.nix
  nix/tenzir/plugins/generic.nix
  shell.nix
  vendored.spdx
Labels: maintenance, packaging

#5361 Disable pipeline subprocesses by default
  changelog/changes/center-carpet-useful.md
  libtenzir/include/tenzir/defaults.hpp
Labels: bug

#5362 Optimize `export | where …` with `this["foo.bar"]` fields
  changelog/changes/charge-father-comply.md
  libtenzir/src/tql2/ast.cpp
Labels: improvement

#5359 Attempt to make CI a bit faster
  .github/workflows/tenzir.yaml
Labels: ci

#5357 Fix incorrect name for `list_separator` option
  changelog/changes/should-never-ticket.md
  libtenzir/builtins/formats/xsv.cpp
  tenzir/tests/exec/functions/print/print_csv.tql
  tenzir/tests/exec/functions/print/print_csv.txt
Labels: format

#5370 Add `drop_null_fields` operator
  .clang-format
  .claude/README.md
  .claude/format-hook.sh
  .claude/settings.json
  AGENTS.md
  CLAUDE.md
  changelog/changes/sequel-larger-double.md
  docs/operators/drop_null_fields.md
  libtenzir/builtins/operators/drop_null_fields.cpp
  tenzir/tests/exec/drop_null_fields/all_nulls.tql
  tenzir/tests/exec/drop_null_fields/all_nulls.txt
  tenzir/tests/exec/drop_null_fields/list_records_specific.tql
  tenzir/tests/exec/drop_null_fields/list_records_specific.txt
  tenzir/tests/exec/drop_null_fields/lists_with_records.tql
  tenzir/tests/exec/drop_null_fields/lists_with_records.txt
  tenzir/tests/exec/drop_null_fields/nested_nulls.tql
  tenzir/tests/exec/drop_null_fields/nested_nulls.txt
  tenzir/tests/exec/drop_null_fields/nested_specific_field.tql
  tenzir/tests/exec/drop_null_fields/nested_specific_field.txt
  tenzir/tests/exec/drop_null_fields/nested_specific_multiple.tql
  tenzir/tests/exec/drop_null_fields/nested_specific_multiple.txt
  tenzir/tests/exec/drop_null_fields/no_nulls.tql
  tenzir/tests/exec/drop_null_fields/no_nulls.txt
  tenzir/tests/exec/drop_null_fields/non_null_fields.tql
  tenzir/tests/exec/drop_null_fields/non_null_fields.txt
  tenzir/tests/exec/drop_null_fields/specific_fields.tql
  tenzir/tests/exec/drop_null_fields/specific_fields.txt
  tenzir/tests/exec/drop_null_fields/this_selector.tql
  tenzir/tests/exec/drop_null_fields/this_selector.txt
Labels: feature

#5377 Fix changelog titles
  changelog/changes/sequel-larger-double.md
Labels: bug

#5374 Keep alive connection in `to_clickhouse`
  plugins/clickhouse/builtins/to_clickhouse.cpp
  plugins/clickhouse/include/clickhouse/easy_client.hpp
  plugins/clickhouse/src/easy_client.cpp
Labels: connector

#5385 Fix return type of `map` when the input list is empty
  changelog/changes/prompt-factor-future.md
  libtenzir/builtins/operators/where_map.cpp
  tenzir/tests/exec/functions/list_map/empty_list.tql
  tenzir/tests/exec/functions/list_map/empty_list.txt
Labels: bug
