Repository tenzir/tenzir, pull requests merged in 2025-09, with the labels that each got.

#5454 Fix `weak_handle` behavior for `nullptr` actors
  libtenzir/include/tenzir/detail/weak_handle.hpp
Labels: bug

#5448 Hackathon: Claude.md experimentation
  .claude/agents/integration-tester.md
  .claude/commands/tenzir-figure-out-build-command.md
  .claude/commands/tenzir-implement-task-agentic.md
  .claude/commands/tenzir-implement-task-manual.md
  .claude/commands/tenzir-setup-build.md
  .claude/commands/tenzir-with-integration-test-context.md
  .claude/contexts/build-system.md
  .claude/contexts/cpp-writing.md
  .claude/contexts/integration-tests.md
  .gitignore
  AGENTS.md
Labels: maintenance, improvement

#5477 Disable secret resolution failure test
  tenzir/tests/node/secrets/resolution_failure.tql
  tenzir/tests/node/secrets/resolution_failure.txt
Labels: bug, ci

#5476 Add default `Accept` header to `from_http` and `http`
  libtenzir/builtins/operators/http.cpp
Labels: improvement

#5461 Don't autocast zeek TSV logs to predefined schemas
  changelog/changes/series-vessel-grand.md
  libtenzir/builtins/formats/zeek_tsv.cpp
  plugins/parquet/bats/data/reference/tests/test_additional_write_options/step_00.ref
  plugins/parquet/bats/data/reference/tests/test_additional_write_options/step_01.ref
  plugins/parquet/bats/data/reference/tests/test_additional_write_options/step_02.ref
  plugins/parquet/bats/data/reference/tests/test_additional_write_options/step_03.ref
  plugins/parquet/bats/data/reference/tests/test_additional_write_options/step_04.ref
  plugins/parquet/bats/data/reference/tests/test_batch_sizes/step_00.ref
  tenzir/bats/data/reference/feather/test_additional_write_options/step_00.ref
  tenzir/bats/data/reference/feather/test_additional_write_options/step_01.ref
  tenzir/bats/data/reference/feather/test_additional_write_options/step_03.ref
  tenzir/bats/data/reference/feather/test_truncated_input/step_02.ref
  tenzir/bats/data/reference/vast/test_line_chart/step_02.ref
  tenzir/bats/data/reference/vast/test_multi_addr_query/step_00.ref
  tenzir/bats/data/reference/vast/test_node_type_query/step_00.ref
  tenzir/bats/data/reference/vast/test_node_zeek_conn_log/step_00.ref
  tenzir/bats/data/reference/vast/test_node_zeek_conn_log/step_01.ref
  tenzir/bats/data/reference/vast/test_node_zeek_conn_log/step_02.ref
  tenzir/bats/data/reference/vast/test_node_zeek_conn_log/step_03.ref
  tenzir/bats/data/reference/vast/test_node_zeek_conn_log/step_05.ref
  tenzir/bats/data/reference/vast/test_node_zeek_http_log/step_00.ref
  tenzir/bats/data/reference/vast/test_node_zeek_snmp_log/step_00.ref
  tenzir/bats/data/reference/vast_server/test_expressions/step_00.ref
  tenzir/bats/data/reference/vast_server/test_expressions/step_01.ref
  tenzir/bats/data/reference/vast_server/test_query_operators/step_00.ref
  tenzir/bats/data/reference/vast_server/test_query_operators/step_01.ref
  tenzir/bats/data/reference/vast_server/test_query_operators/step_02.ref
  tenzir/bats/data/reference/vast_server/test_query_operators/step_03.ref
  tenzir/bats/data/reference/vast_server/test_query_operators/step_04.ref
  tenzir/bats/data/reference/vast_server/test_query_operators/step_05.ref
  tenzir/tests/exec/operators/shell/trafo.txt
Labels: bug

#5472 Improved Syslog Output Schema
  changelog/changes/laugh-differ-london.md
  changelog/changes/signal-whose-alter.md
  changelog/changes/sketch-baker-wheel.md
  docs/operators/read_syslog.mdx
  libtenzir/builtins/formats/syslog.cpp
  tenzir/bats/data/reference/pipelines_local/test_syslog_format/step_00.ref
  tenzir/bats/data/reference/vast/test_import_syslog/step_00.ref
  tenzir/bats/tests/vast.bats
  tenzir/tests/exec/operators/read_syslog/octet.tql
  tenzir/tests/exec/operators/read_syslog/octet.txt
  tenzir/tests/inputs/syslog/syslog.log
Labels: format, integration

#5452 Add a clang based static binary variant
  flake.nix
  nix/caf/default.nix
  nix/empty-libgcc_eh/default.nix
  nix/overlay.nix
  nix/overrides/apache-orc.nix
  nix/overrides/jemalloc.nix
  nix/package.nix
  nix/tenzir/default.nix
  nix/tenzir/plugins/default.nix
  nix/update.sh
Labels: packaging

#5484 Fix CAF running actor metrics
  docs/operators/metrics.md
  libtenzir/builtins/metrics/caf.cpp
Labels: engine

#5487 Handle whitespace after pipeline frontmatter
  libtenzir/src/package.cpp
Labels: improvement

#5490 Extract diagnostics from librdkafka logs
  changelog/changes/brand-remedy-meadow.md
  plugins/kafka/include/kafka/configuration.hpp
  plugins/kafka/include/kafka/consumer.hpp
  plugins/kafka/src/configuration.cpp
Labels: improvement

#5497 Remove deprecated --tql2 flag from CLI
  libtenzir/builtins/commands/exec.cpp
  libtenzir/src/application.cpp
Labels: improvement
